[2020-09-28 15:51] tonic889 commented on #2225
Community app PR #3310 and Fineract pull request #1356 submitted for this issue.

[2020-09-29 10:21] bharathcgowda opened #3311 "Bulk Import issue"
The bulk import client from bulk import feature is not working.- throwing 500 internal server Error.

Tested on Fineract.dev instance, which is working as expected, whereas on the dev.mifos.io instance it is not.

Steps to reproduce,
1. go to admin->organization->bulk import
2.select client and download the client template for import(parameters for download: office: head office, Legal form: person

[2020-10-01 18:23] Mancancode commented on #2832
I will like to fix the open issue of  "Cursor not changing to hand on links"

[2020-10-03 05:51] rak108 commented on #3211
@edcable 404 error accessing the page

[2020-10-03 11:10] airsay opened #3312 "Unable to Create Fixed Deposit and Recurring Deposit Products as Period Type in Interest Chart Cannot be set"
## Description

With the most recent version of the Community-app, I am unable to create a RD or FD product as the **period Type** field in the Interest Chart Screen cannot be set

## Steps to Reproduce

## Expected Behaviour

Able to set one of possible options under Period Types

## Actual Behaviour

Unable to set one of possible options under Period Types
## Settings

- Mifos X version: Finerac

[2020-10-08 09:18] saifromeo opened #3314 "Error while accessing the application"
Team

I forked up the community app, built it successfully. No issues reported. After running 'grunt serve' the application keeps loading with the animation logo. No errors were shown in console (tried debug mode), no errros reported on the fineract server side as well.

While Inspecting the browser, I got the following errors

require.js:1961 GET http://172.105.39.59:9002/scripts/controllers/loan

[2020-10-08 10:47] saifromeo commented on #2951
where do I get the 19.12 release? Neither do I see branch, nor tag, pls help

[2020-10-08 11:26] saifromeo commented on #3193
I am also facing similar issues, I checked out 18.x version community app, fineract 1.4 resulting in same error

[2020-10-13 09:34] awasum commented on #1867
See backend issue on Fineract: https://issues.apache.org/jira/browse/FINERACT-556 and PR already merged: https://github.com/apache/fineract/pull/428
I dont know if the backend side is already complete.

[2020-10-15 07:37] awasum commented on #3314
This is probably due to a name mismatch exception. The path name been used in a config declaration does not match the files on system. I will send a PR for this.

[2020-10-15 07:46] awasum commented on #3314
PR has been sent: https://github.com/openMF/community-app/pull/3315, will merge soon. Anyone wants to review and merge?

[2020-10-15 08:11] #3314 closed, assigned to nobody

[2020-10-15 09:59] bharathcgowda commented on #3312
I am able to reproduce the issue, @spider0061  can you help us in fixing this?

[2020-10-19 16:56] spider0061 commented on #3312
@bharathcgowda sure Sir I will have a look over it but currently I am really busy with my ongoing semester work. I may take some time.

[2020-10-21 16:05] vorburger commented on #3309
I thought further about this, and have a new thought: Inspired by how https://github.com/openMF/web-app#getting-started-using lives at https://openmf.github.io/web-app/ (waiting for https://github.com/openMF/web-app/pull/1256 BTW...), why even have a https://cui.fineract.dev at all?!

Thinking about this again in retrospect, I now think setting it up like that was actually a mistake I made (one le

[2020-10-26 20:15] Abhirup-99 opened #3320 "Default credentials don't work on localhost"
## Description

## Steps to Reproduce

## Expected Behaviour

## Actual Behaviour

## Settings

- Mifos X version:
- Browser used:
- OS:

## Screenshots

[2020-10-28 14:07] spider0061 commented on #3080
@BLasan can you work on it please?

[2020-10-28 14:10] spider0061 commented on #3308
@BLasan can you please have a look at it.

[2020-10-28 15:32] BLasan commented on #3080
Sure. I'll work on this

[2020-10-30 00:03] Abhirup-99 commented on #3183
@awasum this issue is still there even with demo.mifos.io. Can you suggest an alternative?

[2020-11-02 17:52] spider0061 commented on #3311
@BLasan can you have a look at it?

[2020-11-02 18:00] BLasan commented on #3311
Sure :+1:

[2020-11-03 21:01] vorburger opened #3323 "Docker build is broken"
Building the Docker image for this project, following our documentation on https://github.com/openMF/community-app#docker, currently fails.

Locally for me, trying right now, the error is (I'm using `podman` instead of `docker` so your error could be slightly different):

[code]

On Docker Hub it also fails right now, the error there is:

[code]

[2020-11-03 21:03] vorburger commented on #3323
I've figured out what's causing this... it's an issue that's not completely trivial to spot in the `timbru31/ruby-node:2.7` base image.

I'll open an issue with details about it in that project. It needs to either be fixed there - or we change our base image.

[2020-11-03 21:10] vorburger commented on #3309
#3323 blocks this, and needs to be fixed, first.

[2020-11-03 21:32] vorburger commented on #3323
This problem was just fixed in https://github.com/timbru31/docker-ruby-node/issues/564 (very, impressive; thanks again @timbru31)

[2020-11-03 21:32] #3323 closed, assigned to vorburger

[2020-11-03 21:58] vorburger commented on #3309
Actually this project has had https://openmf.github.io/community-app serving https://github.com/openMF/community-app/tree/gh-pages for years, but it was last manually updated 3 years ago by @botraunak and before that 7 years ago by @Nayan. What I'll do in this issue is to have the `gh-pages` branch auto-updated after every commit.

PS: I've enabled _Enforce HTTPS_ on https://github.com/openMF/comm

[2020-11-03 22:31] #3309 closed, assigned to nobody

[2020-11-03 23:37] vorburger commented on #3309
FTR: The https://docs.travis-ci.com/user/deployment/pages/ which I've added in e8eb09d, inspired by https://github.com/openMF/web-app/blob/master/.travis.yml, initially failed with:

This is because no `GITHUB_TOKEN` env var was configured yet in Travis' Settings for this repo. But I obviously cannot publish a [Personal Access Token](https://docs.github.com/en/free-pro-team@latest/github/authentic

[2020-11-03 23:38] vorburger commented on #3112
FTR: I've re-used the https://github.com/mifos-bot originally created here for #3309.

[2020-11-04 16:20] Fuseteam opened #3325 "Dutch Localisation"
## Description

I would like to contribute a dutch localisation to mifosx, what is the process to do so?
## Steps to Reproduce

## Expected Behaviour
dutch being selectable as a language in the interface

## Actual Behaviour
dutch is missing from the list

[2020-11-05 14:31] Fuseteam commented on #3325
found the answer at the [translatewiki project page](https://translatewiki.net/wiki/Translating:Mifos#Exports) the [commits](https://github.com/openMF/community-app/commit/bf1c4070bc0298a9be95b4b57cdcd976cca8adea) are handled by translatewiki staff every monday and thursday for all languages that are at least 20% translated

[2020-11-05 17:51] Fuseteam commented on #3325
this [commit](https://github.com/openMF/community-app/commit/bf1c4070bc0298a9be95b4b57cdcd976cca8adea) however doesn't make the language assessible in the interface

[2020-11-05 17:58] Fuseteam commented on #3320
are you sure your fineract server is running?

[2020-11-07 12:49] BLasan commented on #3311
@spider0061  Is this a valid endpoint? I checked the doc under clients APIs. But didn't find an API

[2020-11-09 05:41] sohamsshah commented on #3125
Is this still open to work? I would like to work and contribute actively for Open MF organization. Just I am kind of new to this organization, was looking for some beginner friendly issues

[2020-11-09 12:54] BLasan commented on #3311
@bharathcgowda Sir, is this a valid end point? In docs I couldn't find this end point.

[2020-11-09 13:21] BLasan commented on #3311
@bharathcgowda Fill the necessary details in the xl sheet. It would work fine. Try the below file. It worked for me!

[CLIENTS_PERSON2020-11-09.xlsx](https://github.com/openMF/community-app/files/5510756/CLIENTS_PERSON2020-11-09.xlsx)

[2020-11-09 13:24] BLasan commented on #3311
Also there's an error with Entity type as when the file is going to be downloaded it will be saved as 'ENTTTTY'. Not 'ENTITY'. So cannot upload this type of files. Type will be assigned as null for those types of files @bharathcgowda

[2020-11-10 14:08] bharathcgowda commented on #3311
@BLasan  I tested on the latest instance and it is working as expected.
I guess the issue is with the dev.mifos.io instance only.
I am closing this ticket as I am able to successfully create bulk clients

[2020-11-10 14:08] #3311 closed, assigned to nobody

[2020-11-10 14:24] bharathcgowda opened #3327 "Unable to Edit the Shares Product"
Unable to Modify the already created shares product. Submit button is not working

You can try out here:
https://openmf.github.io/community-app/?baseApiUrl=https%3A%2F%2Fdemo.fineract.dev&tenantIdentifier=default#/editshareproduct/2

![issue](https://user-images.githubusercontent.com/65952533/98686311-69114600-238e-11eb-9ce7-5dd208cc5a6b.png)

[2020-11-14 09:26] malnozily opened #3328 "rtl localization and support Arabic language"
We will start working on the right to left direction to support the Arabic language.

What is the best way to start working on it? and
How can we push it as a contribution?

Any comments or suggestions will be appreciated ...

[2020-11-14 18:06] BLasan commented on #3308
@bharathcgowda Shall we close the issue?

[2020-11-14 18:11] BLasan commented on #3191
@bharathgowda27 Can I work on this?

[2020-11-16 10:47] spider0061 commented on #3191
@BLasan go ahead!

[2020-11-17 10:57] bharathcgowda commented on #3308
Thanks @BLasan

[2020-11-17 10:57] #3308 closed, assigned to spider0061

[2020-11-22 23:27] tonic889 commented on #3327
I am able to reproduce this in my local repo as well, I will investigate and try to fix.

[2020-11-23 13:53] bharathcgowda commented on #3327
thank you for taking this up @tonic889

[2020-12-09 09:55] masmos opened #3330 "Change from Welcome, Mifos to Welcome, First Name Last Name"
## Description
How do change from diplaying Welcome, username to Welcome firstname lastname

## Steps to Reproduce

## Expected Behaviour

## Actual Behaviour

## Settings

- Mifos X version:
- Browser used:
- OS:

## Screenshots

[2020-12-10 20:07] francisguchie commented on #3206
This is the case for Loan Transactions Tab too

[2020-12-11 15:20] francisguchie commented on #3206
Some dates show and others do not
Loan transactions do not show dates
Yet Loan Repayment Schedule Shows

![image](https://user-images.githubusercontent.com/22683654/101920732-0f39b100-3bc4-11eb-8221-2bd1edf53f30.png)

Loan Repayment Schedule

![image](https://user-images.githubusercontent.com/22683654/101921012-663f8600-3bc4-11eb-985d-894faaac8667.png)

[2020-12-11 15:31] francisguchie commented on #3206
IMHO
the fix #3196 needs to be re-visited

[2020-12-28 16:36] akshatsaxena11 commented on #3330
Can I work on this one...?

[2020-12-29 15:39] masmos commented on #3330
Yes please. You would have helped me a lot.

On Mon, Dec 28, 2020, 7:36 PM akshatsaxena11 <notifications@github.com>
wrote:

[2020-12-29 20:49] francisguchie opened #3333 "GLIM application failure if loan product has charge that requires linked savings account"
When the user makes a GLIM Application for a loan product with a loan charges whose payment type is "Account Transfer" see image below,
![image-2020-12-17-12-12-25-068](https://user-images.githubusercontent.com/22683654/103311495-92179400-4a2b-11eb-9407-2bf83e08a57b.png)
The Application hangs

## Description
![image-2020-12-10-15-41-37-515](https://user-images.githubusercontent.com/22683654/103311

[2020-12-30 08:04] awasum commented on #3333
PR https://github.com/openMF/community-app/pull/3334 has been merged for this issue. I am closing this now. Re-open it if this problem still occurs.

[2020-12-30 08:04] #3333 closed, assigned to nobody

[2020-12-30 10:34] akshatsaxena11 commented on #3330
I am new to this community....so I need to know that  where I have to change it from Welcome ,username to Welcome first-name lastname . Do I have to change it on any particular page or something where's the link of that page , from where will I be able to access that page to work on it....?

[2020-12-30 11:45] masmos commented on #3330
You have to get into code because its not provided on the front end.

Those pages to edit are found here
community-app/app/views/private/

But i was stack in the way the I don't know the dependent controllers to edit

On Wed, Dec 30, 2020 at 1:34 PM akshatsaxena11 <notifications@github.com>
wrote:

--
------------------------------------------------

*Kind Regards*
*Moses Masaba*

[2020-12-30 14:15] akshatsaxena11 commented on #3330
Description : Changing Welcome, username to Welcome firstname lastname
                     I hope this is right..!?

Steps to Reproduce:

`<div class="content-container">
    <div class="card well" id="expertsearch" data-ng-controller="ExpertSearchController">
    <div class="toolbar">
        <h3 class="paddedleft"><strong>{{'label.heading.welcome' | translate}}, {{currentSession.first.name}} {{

[2020-12-30 15:18] #3080 closed, assigned to santoshconflux, abhi40308, spider0061

[2020-12-30 16:09] masmos commented on #3330
Did you find a work around for it?

On Wed, Dec 30, 2020, 5:16 PM akshatsaxena11 <notifications@github.com>
wrote:

[2021-01-03 07:24] BLasan opened #3335 "Change default baseAPIUrl"
## Description
Cannot login to community app by using the default baseAPIUrl

## Steps to Reproduce
Change the baseApiUrl to https://dev.mifos.io in Gruntfile.js

## Expected Behaviour
Query parameter baseApiUrl will get changed to https://dev.mifo.io

## Screenshots
![communityapp-issue](https://user-images.githubusercontent.com/43112139/103473824-c049fa80-4dc2-11eb-9d32-cd47f8bb9fb2.gif)

[2021-01-03 07:25] BLasan commented on #3335
@spider0061 Shall we change the default baseApiUrl as I suggested for development purposes? From demo.mifos.io server, we cannot login to the system

[2021-01-04 05:43] masmos commented on #3330
I did not work out.

On Wed, Dec 30, 2020 at 7:09 PM Masaba Moses <masmoss08@gmail.com> wrote:

--
------------------------------------------------

*Kind Regards*
*Moses Masaba*

[2021-01-04 13:08] bharathcgowda opened #3336 "Client address fields are not coming"
Enable client address configuration and try adding the address for a client.

When you click on the add address, the screen is blank and there are no fields to do the data entry(like address 1, state, city, etc)

check below screenshot for reference
![image](https://user-images.githubusercontent.com/65952533/103538163-b821b600-4ebb-11eb-8bc6-d6704e899d90.png)
![image](https://user-images.githubuse

[2021-01-06 18:38] raghu0812199 commented on #3186
hi @spider0061 i want to work on this issue if its still open can you please guide me

[2021-01-06 18:40] raghu0812199 commented on #3189
hi @abhi40308 if this issue still open i want to work on this can you please guide me

[2021-01-07 03:14] spider0061 commented on #3186
@raghu0812199 sure go ahead!

[2021-01-08 11:07] masmos commented on #2930
Even this Issue |The issue is fixed with - 2964|  directs shows that the issue was already asked here. I'm now getting confused because I have not seen the clear fix for this, Can someone kindly help Thanks

[2021-01-08 13:13] Abhirup-99 commented on #3335
use https://www.fineract.dev instead.

[2021-01-10 16:45] raghu0812199 commented on #3336
hi @bharathcgowda i want to work on this issue can you please guide me

[2021-01-10 16:48] raghu0812199 commented on #3186
@spider0061 can you please give me a hint  of the i  am unable to find the it in view client file

[2021-01-10 17:47] chinmaym07 commented on #3330
Hey @masmos Can I try this ..?

[2021-01-11 06:29] masmos commented on #3330
@chinmaym07 Yes please do.

[2021-01-11 12:33] bharathcgowda commented on #3336
@raghu0812199  Thank you for taking initiative, did you try reproducing the issue by following the description provided?

login to https://openmf.github.io/community-app/?baseApiUrl=https%3A%2F%2Fdemo.fineract.dev&tenantIdentifier=default#/
username: mifos
password: password

click on create client ->try to add address (you will not get any fields to enter apart from address type selection dropdow

[2021-01-12 14:34] bharathcgowda commented on #3238
@BLasan  @spider0061  can any one of you investigate if this is fixed, if not can you pick this ticket for the release?

[2021-01-12 14:55] bharathcgowda commented on #2832
Hi @Mancancode  would you be interested in fixing this issue?

@spider0061  @BLasan  would be able to check this small issue?

[2021-01-12 15:31] BLasan commented on #3238
np sir, we'll investigate

[2021-01-12 17:29] bharathcgowda commented on #3191
@BLasan  is this fixed?

[2021-01-12 17:44] BLasan commented on #3191
Let me check this sir

[2021-01-12 18:17] BLasan commented on #3191
@bharathcgowda This is fixed. Button hits the API

[2021-01-12 18:50] utkarsh-ls commented on #2832
Hi, I would like to work on this issue. Is it still open ?

[2021-01-12 19:10] BLasan commented on #2832
go ahead

[2021-01-13 07:58] BhaskarJoshi-01 commented on #2881
I would like to work on this issue, is it still open?

[2021-01-13 12:46] bharathcgowda commented on #3191
@BLasan  Ok is the code merged? can we close this ticket then?

[2021-01-13 14:37] bharathcgowda opened #3337 "Tax field Edit/Add option not available on the Edit charge"
when you try to add a new tax group to the existing charge, the tax mapping field is disabled currently

steps to reproduce
1. create a tax group
2. create a loan charge (without tax mapping)
3. edit the charge and try to add the tax group ( it doesn't allow to map as the field is disabled)

expected behaviour,
the system should allow changing the tax group on charge edits.

In practical scenarios

[2021-01-13 17:29] BLasan commented on #3191
Yuh. We shall close this issue sir. Button works fine in the develop branch

[2021-01-13 18:05] bharathcgowda commented on #3191
Thank you for the confirmation @BLasan

[2021-01-13 18:05] #3191 closed, assigned to nobody

[2021-01-14 08:31] ErezArbell commented on #3112
Hello @vorburger,
I also have this issue right now. I want o allow Docker Hub to build a docker image from Dockerfile in GitHub.
But the only option they give is to give them read and write access to all my GitHub acount.
I want to be sure that I understood how you solved this.
I understand that you created another regular GitHub account `mifos-bot` (I guess using a different email address) and ga

[2021-01-14 11:11] vorburger commented on #3112
@ErezArbell correct

[2021-01-18 05:55] sankha555 commented on #3337
@bharathcgowda may I please take this up?

[2021-01-18 06:00] sankha555 commented on #3307
@vorburger is this issue still open for contribution? If yes, could you please assign it to me, I would like to work on it. Thanks!

[2021-01-18 09:18] vorburger commented on #3307
@sankha555 I think so (but I'm not an active maintainer on this project myself). You should be able to self assign the issue? You can go ahead and raise a PR.

[2021-01-18 09:21] vorburger commented on #3307
@sankha555 I can't assign you the issue either, it looks like Assignee has to be a Committer.. doesn't matter, just go ahead.

[2021-01-18 09:23] sankha555 commented on #3307
@vorburger sure, I'll start working on it. Thanks!

[2021-01-18 14:52] bharathcgowda commented on #3337
Hi, Yes you can, Thank you @sankha555

[2021-01-21 13:03] renovate[bot] opened #3340 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 15:09] #3340 closed, assigned to nobody

[2021-01-23 03:03] BLasan commented on #3337
@sankha555 Are you working on this?

[2021-01-23 03:50] BLasan opened #3341 "Default Login Credentials are not working"
## Description
Cannot login to the Mifos platform by entering default credentials (username=mifos, password=password). This error occurs in both `dev.mifos.io` and `demo.mifos.io` baseAPIUrls.

## Steps to Reproduce

## Expected Behaviour
Should be able to login using default credentials

## Actual Behaviour
Cannot login to the system using the above mentioned credentials.

[2021-01-23 05:26] sankha555 commented on #3337
Hey @BLasan , yep I am still working on it and have made some changes to the code. But I am not able to test it since the login isnt working for me, could you please help me out with the login. It would be great help.

![image](https://user-images.githubusercontent.com/54751139/105569628-2f36c580-5d69-11eb-8541-179770d2dbdd.png)

As can be seen here, the fineract uri returns that the server could

[2021-01-23 05:36] BLasan commented on #3337
There's an issue with the login. I have already opened an issue for that. I'll try to get a response from @bharathcgowda sir as soon as possible regarding this issue.

[2021-01-23 07:45] BLasan commented on #3336
@bharathcgowda Sir, I would like to work on this issue. Before that we need to resolve the login issue.

[2021-01-25 05:00] BLasan commented on #3341
@bharathcgowda Sir, would you mind to take a look? Due to this developers cannot login to the system in order to validate their changes made.

[2021-01-25 14:38] bharathcgowda commented on #3341
Thank you for reporting this @BLasan
It could be an infra issue, let me check with the respective team and get back
demo.mifos.io seems to be working, please check once

[2021-01-25 14:53] bharathcgowda commented on #3336
@BLasan  I have informed the respective team to look into the log in issue.

[2021-01-25 14:59] BLasan commented on #3336
Thank you sir

[2021-01-25 15:01] bharathcgowda commented on #3337
Hello Team,

From the screenshot below, it looks like the front end is running
locally and trying to connect to fineract.dev server.
which gives me the feeling that the issue may not be because of the
community app and you are not connecting to the right server.

the correct server is
https://openmf.github.io/community-app/?baseApiUrl=https%3A%2F%2Fdemo.fineract.dev&tenantIdentifier=default#/

whi

[2021-01-26 04:58] sankha555 commented on #3337
@bharathcgowda Thanks a lot for the update. Also, could you please instruct me as to how I can login to the dashboard while testing it locally? Do I need to create a new user or are there some other procedures to be followed? Thanks!

[2021-01-26 05:27] BLasan commented on #3337
I think you could use the default credentials for logging. mifos:password. Please re-correct this if I'm wrong @bharathcgowda

[2021-01-27 15:41] bharathcgowda commented on #3336
Hi @BLasan, the login issue has been resolved :)
Let me know if you need any help on this issue.

[2021-01-27 15:47] BLasan commented on #3336
Sorry for being late. I'm taking a look now :)

[2021-01-27 16:00] bharathcgowda commented on #2832
Hi @utkarsh-ls  Let us know if you need any help in resolving this issue

[2021-01-27 16:08] BLasan commented on #3336
@bharathcgowda Address fields will be receiving after the button click
![Screenshot from 2021-01-27 21-35-11](https://user-images.githubusercontent.com/43112139/106018867-022b3f80-60e8-11eb-965f-0b303c19e4b4.png)

[2021-01-27 16:14] BLasan commented on #3336
This gives a validation error in address field.
![Screenshot from 2021-01-27 21-41-36](https://user-images.githubusercontent.com/43112139/106019551-c775d700-60e8-11eb-96e2-856127409802.png)

Payload for address field
[code]

[2021-01-27 16:15] BLasan commented on #3336
@bharathcgowda Perhaps this validation issue is with the FINERACT server.

[2021-01-27 18:21] bharathcgowda commented on #3336
@BLasan  as we tested out, connection to dev.mifos.io would work from the latest community-app, but the issue persists on the latest codebase, we shall try locally and figure out if the issue is on the fineract first.
Thank you for all the digging  and support :)

[2021-01-27 18:34] BLasan commented on #3336
np sir :)  I'll fix this issue

[2021-01-27 20:00] BLasan commented on #3341
Issue has been resolved

[2021-01-27 20:01] #3341 closed, assigned to nobody

[2021-01-27 20:03] BLasan opened #3343 "Address Street Field not showing"
## Description
Street field is mandatory when adding an address

## Steps to Reproduce
Add form field for the street input

## Expected Behaviour
No errors should be returned after submitting

## Actual Behaviour (Screenshots)
![Screenshot from 2021-01-27 21-41-36](https://user-images.githubusercontent.com/43112139/106046839-ca80bf80-6108-11eb-8c99-3d91f6f325f3.png)

[2021-01-30 03:20] utkarsh-ls commented on #2832
I am not able to log in to the server at "https://openmf.github.io/community-app/?baseApiUrl=https%3A%2F%2Fdemo.fineract.dev&tenantIdentifier=default#/" using the credentials given in README.
The response is "Invalid authentication details were passed in api request". Can someone verify the credentials?

[2021-01-30 03:41] BLasan commented on #2832
You can use dev.mifos.io as the baseApiUrl. And the default credentials are mifos:password. Else if you want to run the fineract server locally please follow the guidelines mentioned in [README.md](https://github.com/apache/fineract/blob/develop/README.md)

[2021-02-04 13:02] ghost opened #3346 "Login to default mifos.io domain strange/incorrect behaviour"
## Steps to Reproduce
We have mifos fineract backend deployments on azure, running under rhino.mifos.io:{backend-port} subdomain and when logging in with the community app by addressing this baseApiUrl:
`rhino.mifos.io:{community-app-port}/?baseApiUrl=https://rhino.mifos.io:{backend-port}&tenantIdentifier={anyTenant}`
the actual call is executed against this address:
`OPTIONS https://rhino.mifos.i

[2021-02-10 07:19] #3335 closed, assigned to nobody

[2021-02-11 13:54] sakshi-1604 commented on #3205
I am on it

[2021-02-12 10:38] sakshi-1604 opened #3347 "Make a good Getting Started doc and add it to README"
Getting Started doc
https://docs.google.com/document/d/1oXQ2mNojyDFkY_x4RBRPaqS-xhpnDE9coQnbmI3Pobw/edit#heading=h.vhgp8hu9moqn
![image](https://user-images.githubusercontent.com/65847879/107758220-96cea800-6d4c-11eb-8e7a-bfc9acca2d8a.png)

[2021-02-12 12:21] sakshi-1604 commented on #3347
and add it in README

[2021-02-14 08:48] #3336 closed, assigned to nobody

[2021-02-14 08:51] #3343 closed, assigned to nobody

[2021-02-18 10:15] davidlevy commented on #3328
Hi @malnozily  did you succeed ? I am also interested in RTL support
thanks

[2021-02-21 10:42] Siddhant-K-code commented on #3209
Maintainers, I guess,  We Can Close this issue.

[2021-02-24 10:42] BLasan commented on #3337
If you are not working on this @sankha555 can I take up this issue ? @bharathcgowda

[2021-02-25 06:58] bharathcgowda commented on #3337
Yes you can :) @BLasan

[2021-02-25 08:39] BLasan commented on #3337
Will start fixing this tomorrow :)

[2021-02-26 02:27] Argez commented on #3193
Has anyone been able to solve this? I am also having the same error

[2021-03-03 02:47] Argez commented on #1820
Has someone got this error when registering a client?
{
  "developerMessage":"The request was invalid. This typically will happen due to validation errors which are provided.",
  "httpStatusCode":"400",
  "defaultUserMessage":"Validation errors exist.",
  "userMessageGlobalisationCode":"validation.msg.validation.errors.exist",
  "errors":[
    {
      "developerMessage":"The parameter email is inv

[2021-03-03 03:55] BLasan commented on #3337
@edcable Sir, I think we can close this issue once @bharathcgowda sir or @spider0061 reviewed and approved the PR. (No drastic changes were added)

[2021-03-05 08:21] VampireNaeem opened #3355 "When we run command grunt prod --force, it changes file names but don`t update in the index.html page"
## Description

## Steps to Reproduce
When we Run the command for production environment, it renames all the file like css and js files so it should be change in index.html page too with the mifosStyle.js
## Expected Behaviour
It should changes the name in the index.html too, like style.asd22as32.css
## Actual Behaviour
when i run the minified version then it gives me the error of style.css not fo

[2021-03-05 08:41] #3122 closed, assigned to nobody

[2021-03-05 08:41] VampireNaeem commented on #3122
this is not the bug

[2021-03-05 18:18] #3337 closed, assigned to nobody

[2021-03-05 19:24] #2777 closed

[2021-03-05 20:26] #2899 closed

[2021-03-05 20:54] shrunk3 commented on #3320
@Abhirup-99 Please let us know if your still facing this

[2021-03-09 05:39] #3203 closed, assigned to nobody

[2021-03-17 07:47] elirehema opened #3360 "Travis CICD to automcatically update gh-pages branch"
## Description
As we know Mifosx community app is available both in mifos servers and [Github pages](http://openmf.github.io/community-app/) and community-app repositories use to be updated regularly. It may take some time to update mifos live servers but for development reasons i think the gh-pages which is currently a branch hosted in github servers should be updated automatically anytime a new

[2021-03-22 08:30] BLasan opened #3361 "Some mandatory fields in creating a FD product are not marked properly"
## Description
$title

## Steps to Reproduce
Create a Loan Product without taxGroupId, annualInterestRate & FD description

## Expected Behaviour
Above fields are not marked as mandatory ones. Hence the FD product needs to get created

## Actual Behaviour
Getting a validations issues when submitting

## Settings

- Mifos X version: MIFOSX-18.03.01.RELEASE
- Browser used: Firefox
- OS: Linux

## Sc

[2021-03-22 08:32] BLasan commented on #3361
@bharathcgowda will work on this

[2021-03-26 14:53] #3361 closed, assigned to nobody

[2021-03-26 14:57] bharathcgowda opened #3365 "Loan creation Disbursement date - calendar validation Issue"
When we create a loan, we cannot set the Expected disbursement date to a future date as the calendar disables all the dates after the current date.

system should allow to create the loan with future excepted disbursement date
refer screenshot for reference
![image](https://user-images.githubusercontent.com/65952533/112650720-ad027480-8e71-11eb-8eee-9b4371083c1b.png)

[2021-03-26 14:58] bharathcgowda commented on #3365
@BLasan  @spider0061  When you are free, can any one of you look at this minor issue, it would be really helpful.

[2021-03-26 15:02] bharathcgowda opened #3366 "Not able to create a FD account"
Unable to create a fixed deposit account,
Issue is there is no option to select the Interest chart for the account.

to reproduce
1. create a FD product
2. create a FD account at client level

Refer screen shot for more detail

![image](https://user-images.githubusercontent.com/65952533/112651386-58132e00-8e72-11eb-84cd-4faee2b99428.png)

[2021-03-26 15:02] bharathcgowda commented on #3366
@BLasan  I was refering to this issue which I feel is linked to https://issues.apache.org/jira/browse/FINERACT-1089

[2021-03-26 18:10] BLasan commented on #3365
Will have a look :)

[2021-03-26 18:13] BLasan commented on #3366
Will start fixing asap

[2021-03-27 17:49] BLasan commented on #3365
@bharathcgowda I think this has been fixed from a previous commit. Please rebase the branch and try again sir. Would be fine.

[2021-03-28 10:28] BLasan commented on #3366
Seems like there's no issue in selecting FD product sir. Would you mind rebase the code and try again?

[2021-03-28 11:12] BLasan commented on #3366
![Screenshot from 2021-03-28 16-42-26](https://user-images.githubusercontent.com/43112139/112750181-9c264000-8fe4-11eb-99ad-f32fc45291a1.png)

@bharathcgowda Hope there's no issue

[2021-03-29 13:53] bharathcgowda commented on #3365
Thanks @BLasan closing this as it is not an issue on latest build

[2021-03-29 13:53] #3365 closed, assigned to nobody

[2021-04-03 15:38] BLasan commented on #3366
@bharathcgowda Sorry, this issue still occurs. Hope the charts are not loading as expected

[2021-04-03 16:38] BLasan commented on #3366
@bharathcgowda btw I'm gettig an error when trying to activate the FD account
![Screenshot from 2021-04-03 22-07-30](https://user-images.githubusercontent.com/43112139/113485019-1e24d600-94c9-11eb-94e1-45070ede8621.png)

[2021-04-06 14:52] bharathcgowda commented on #3366
as we discussed offline there is an issue where we are not able to create a FD product, because of which I am unable to test or investigate the problem at the FD account level.

[2021-04-15 12:55] BLasan opened #3380 "Not able to view Journal Entries"
## Description
When trying to view the Journal Entries for a transaction in Loan Account, it doesn't show up the necessary data. But the data will get fetched from the server. This might be valid for transactions in other accounts too.

## Screenshots
![Screenshot from 2021-04-15 18-22-15](https://user-images.githubusercontent.com/43112139/114872407-f2361880-9e17-11eb-91cf-b20fd70aa988.png)

[2021-04-15 12:56] BLasan commented on #3380
@bharathcgowda Please confirm this with the latest code base. If you face for the same issue please let me know

[2021-04-16 13:15] #2802 closed

[2021-04-19 08:23] bharathcgowda commented on #3380
@BLasan  I was not able to find this issue on the Loan account, could you tell me the scenario or steps to reproduce?

[2021-04-19 08:58] BLasan commented on #3380
Ok, will provide the steps :)

[2021-04-19 10:40] BLasan commented on #3380
@bharathcgowda  Here are the screenshots of the loan product
![Screenshot from 2021-04-19 16-02-44](https://user-images.githubusercontent.com/43112139/115223117-1603a200-a129-11eb-96c7-9a5d0cf041b9.png)
![Screenshot from 2021-04-19 16-02-54](https://user-images.githubusercontent.com/43112139/115223123-17cd6580-a129-11eb-9e0e-23e5c4149996.png)

Charge product screenshot
![Screenshot from 2021-04-19

[2021-04-26 09:31] bonnydeal opened #3384 "Account Transfers Account Dropdown is empty in Chrome browser."
## Description

In Account Transfers /accounttransfers/fromsavings/<accountId>
After selecting Office, Client and Account Type, the Account dropdown is empty.

## Steps to Reproduce

1. Log in to Community app.
2. Click on Clients
3. Click on required Client
4. Click on Required Savings Account
5. Click on More
6. Click on Transfer Funds
7. Select Office from Dropdown
8. Select Client from Dropdow

[2021-05-01 04:36] BLasan commented on #3384
@bonnydeal Hi!! Are you using the `dev.mifos.io` as the baseAPIURL? If so would you mind using the latest code bases for bth community and fineract ?

[2021-05-01 08:20] bharathcgowda commented on #3380
Hi Benura,
As per the tagged screenshot, the accounting is "NONE" at the product level, hence you are not able to get the JEs. This is not an issue. hence closing it.
Please select he accounting as CASH or ACCRUAL to enable accounting at loan level.

[2021-05-01 08:20] #3380 closed, assigned to nobody

[2021-05-01 08:23] bharathcgowda commented on #3312
NOTE: support@habile.in . Habile team is currently working on this Issue.

[2021-05-01 08:27] bharathcgowda commented on #3312
similar to issue https://github.com/openMF/community-app/issues/3366.

Please check this issue for more information if required.

[2021-05-01 08:28] bharathcgowda commented on #3366
NOTE: support@habile.in . Habile team is currently working on this Issue.

[2021-05-01 08:31] bharathcgowda commented on #3069
NOTE: support@habile.in . Habile team is currently working on this Issue.

[2021-05-01 08:35] bharathcgowda commented on #2712
this issue is fixed, hence closing this
![image](https://user-images.githubusercontent.com/65952533/116776486-48e15a80-aa86-11eb-81a6-02b8be0ecdad.png)

[2021-05-01 08:35] #2712 closed

[2021-05-01 08:41] bharathcgowda commented on #3239
closing this ticket as it is fixed already

[2021-05-01 08:41] #3239 closed, assigned to nobody

[2021-05-01 08:47] bharathcgowda commented on #3249
this issue is fixed but a new has been raised where no field is being listed when we select to add a client address
![image](https://user-images.githubusercontent.com/65952533/116776758-ea1ce080-aa87-11eb-82d2-0d918652d960.png)

[2021-05-01 08:49] bharathcgowda commented on #3206
closing this ticket as the issue is already fixed
![image](https://user-images.githubusercontent.com/65952533/116776820-3ff18880-aa88-11eb-96c0-a5e66e6f091e.png)

[2021-05-01 08:49] #3206 closed, assigned to angelboxes

[2021-05-01 08:50] bharathcgowda commented on #3204
closing this ticket as this issue doesnt exists

[2021-05-01 08:50] #3204 closed, assigned to nobody

[2021-05-03 15:28] bonnydeal commented on #3384
I am using the codebase from here https://github.com/mobidevke/mifos-docker

[2021-05-04 13:34] bharathcgowda commented on #3327
NOTE: support@habile.in . Habile team is currently working on this Issue.

[2021-05-04 13:34] bharathcgowda commented on #3249
NOTE: support@habile.in . Habile team is currently working on this Issue.

[2021-05-04 13:34] bharathcgowda commented on #3238
NOTE: support@habile.in . Habile team is currently working on this Issue.

[2021-05-06 17:12] Austin-Mislevy commented on #1623
I will take this issue  if nobody is currently on it. I see the grammar still needs to be corrected.

[2021-06-02 13:57] bharathcgowda commented on #3249
Hi Ramesh/ Charulatha, address addition to the client is working from the client view page, however, it is not working from "create client screen".

State and country dropdown are not getting values, because of which the client creation is not happening, could you please check again

To reproduce.
Create a client, add address while creating client as shown in the screenshot.

![image](https://user

[2021-06-02 13:58] bharathcgowda commented on #3249
@habile-technologies

[2021-06-02 14:04] bharathcgowda commented on #3327
closing this as the issue is fixed

[2021-06-02 14:04] #3327 closed, assigned to bharathcgowda

[2021-06-26 02:54] BLasan opened #3401 "Enhance the UI and routing functionalities in collateral module"
## Description
Please consider $Title

## Steps to Reproduce
See [PR](https://github.com/openMF/community-app/pull/3398)

[2021-06-26 02:56] BLasan opened #3402 "Enhance the UI in "Undoing a Waived Charge Transaction""
## Description
Please refer to $Title

## Steps to Reproduce
See [PR](https://github.com/openMF/community-app/pull/3399)

[2021-07-02 06:37] BLasan opened #3406 "Repayment With Post Dated Checks"
## Description
Available in [Issue-493](https://issues.apache.org/jira/browse/FINERACT-493)

[2021-07-02 06:39] BLasan opened #3407 "Enhance UIs of Repayment With Post Dated Checks"
## Description
Refer to the [PR-3405](https://github.com/openMF/community-app/pull/3405)

[2021-07-27 04:48] mnzava06 opened #3409 "Savings Accounts Transaction Template shows Whitelabel Error Page"
## Description
Am getting this error "Whitelabel Error Page
This application has no explicit mapping for /error, so you are seeing this as a fallback.

Tue Jul 27 07:21:04 EAT 2021
There was an unexpected error (type=Internal Server Error, status=500).

Before open saving account I was been able to download the template, but after open many savings account this error happen .
## Steps to Reproduce

[2021-07-29 00:01] iolufemi commented on #3182
Add waitSeconds to the loader config at `/community-app/app/scripts/loader-build.js` and `/community-app/app/scripts/loader.js`. The value should be 0, so requireJs will wait until all the modules are fully loaded.

Example.

[code]

[2021-08-06 02:25] mnzava06 opened #3410 "error on viewing saving receipt"
## Description
I entered saving transaction, when am trying to print receipt error appear as shown on attachment.
I tried also to export the transaction report error again appear as shown on attachment
## Steps to Reproduce

## Expected Behaviour

## Actual Behaviour

## Settings

- Mifos X version: 21
- Browser used: Mozilla
- OS: Windows 10 Pro

## Screenshots
[error once I click receipt button.

[2021-08-06 21:43] IOhacker commented on #2921
In the latest version it is already fixed.

And you can check it ridht now at:

https://demo.mifos.io/#/home

[2021-08-06 23:04] noelbejarano commented on #2591
Hi, this issue still open or is already resolved?

[2021-08-07 09:17] bharathcgowda commented on #2591
@noelbejarano  This UI issue goes with backed issue https://issues.apache.org/jira/browse/FINERACT-784.
and both are still open

[2021-08-07 09:20] bharathcgowda commented on #2921
closing this ticket as it already fixed in the latest release version.

[2021-08-07 09:20] #2921 closed

[2021-08-10 09:11] bharathcgowda commented on #1802
merged, thank you @lizeth9797

[2021-08-10 09:11] #1802 closed

[2021-08-10 10:35] bharathcgowda opened #3412 "Pentaho reports are not visible on the UI"
Pentaho reports are not visible on the UI.
The application is returning the Pentaho report, but UI is not showing the output.

The application is returning the Pentaho report, but UI is not showing the output.
when we run the Pentaho report by selecting any format type(pdf or normal or excel)
the Fineract is sending the response properly but the UI is not showing the output

## Steps to Reproduce

[2021-08-13 15:29] juan-manuel-open commented on #3412
@edcable @francisguchie any solution?

[2021-08-16 13:13] bharathcgowda opened #3415 "Login screen load issue on a slow network availability"
Login screen load issue on a slow network availability
## Description
when there is low network bandwidth, the system will not load the login screen even after several hard refreshes or private mode browsing.

This issue is with the latest release, 18.03 was loading properly
find the below screenshot of the network issue and log file for more information

## Steps to Reproduce
try to login with lo

[2021-08-18 20:28] eroemma opened #3416 "System picks incorrect GLs for Loan Disbursement Entries"
Hello, I have a situation with how the system makes System Entries at disbursement
I have the GLs configured and mapped respectively for all Loan products and Savings products
**Loan product Configuration;**
Accounting = ACCRUAL UPFRONT
Fund source = Till Cash (Account Type) Asset GL

**_Scenario:_**

At loan disbursement
**Expected Entries**
Loan product (individual Business Loan)/Asset GL = **De

[2021-08-19 21:08] francisguchie commented on #3416
Kindly mention the version of Fineract you are using

[2021-08-19 21:13] francisguchie commented on #3416
@eroemma

This could be a fineract issue as I have had this kind of issue before but i have not seen this again see this link https://issues.apache.org/jira/browse/FINERACT-1308

[2021-08-19 21:44] eroemma commented on #3416
@francisguchie
Fineract Release Apache Fineract v1.5.0

Running on Version 17.07.01.RELEASE, then I restored the DB and upgraded it to Version 18.03.01.RELEASE and still the issue has not persisted.

[2021-08-19 22:59] francisguchie commented on #3416
@eroemma
I think you are confusing these releases with fineract versions. They tease me too sometimes

Kindly stick to the latest release which is 21.07.01 (i.e Fineract v1.5.0)  see https://github.com/apache/fineract/releases and the latest release files in zip folder here https://sourceforge.net/projects/mifos/files/

Just follow instructions here https://mifosforge.jira.com/wiki/spaces/docs/pag

[2021-08-20 07:02] eroemma commented on #3416
@Francis Guchie ***@***.***> thank you for throwing more light
on the versions and release.
I will focus on the latest and test it.

Best regards.

On Fri, Aug 20, 2021 at 1:59 AM Guchie ***@***.***> wrote:

[2021-08-20 17:46] noelbejarano commented on #3330
Hi everyone, this problem is still open, can I work on it?

[2021-08-20 19:02] noelbejarano commented on #3186
Hi everyone, this problem is still open, can I work on it?

[2021-08-20 20:32] eroemma commented on #3416
@francisguchie, I finally got the root of the issue and it was **Financial Activity mapping**, once the changes were done, all was something worth to smile about. cheers and thanks for guidance.

Best regard.

[2021-08-20 20:33] eroemma commented on #3416
The issue is sorted out

[2021-08-20 20:33] #3416 closed, assigned to nobody

[2021-08-25 04:49] renovate[bot] opened #3417 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/openMF/community-app).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

These dep

[2021-08-30 14:05] xprimate opened #3418 "Error o on running "grunt serve""
## Description
Good day everyone
I get the the bellow error after running : grunt serve
/home/user/.nvm/versions/node/v8.0.0/lib/node_modules/grunt-cli/node_modules/micromatch/index.js:44
    let isMatch = picomatch(String(patterns[i]), { ...options, onResult }, true);
                                                   ^^^

SyntaxError: Unexpected token ...
    at createScript (vm.js:74:10)
    at

[2021-09-07 12:32] SubhamPramanik opened #3420 "Create closing entry - API request not passing closing date"
## Description

When creating closing entry, we get an error "validation.msg.GLClosure.closingDate.cannot.be.blank" even when closing date is selected.

![Screen Shot 2021-09-07 at 5 18 04 PM](https://user-images.githubusercontent.com/22225798/132343773-9fb07e28-aa1a-4d4c-98b9-c251f78a912f.png)

## Steps to Reproduce

Accounting -> Closing Entries -> Create Closure -> Fill details and submit

## E

[2021-10-04 14:20] iolufemi commented on #3412
Adding this error to give more context.

![image](https://user-images.githubusercontent.com/4224136/135867753-22dc57d6-8fb5-42dc-9848-b68caad557d8.png)

[2021-10-04 14:20] iolufemi commented on #3412
The income statement report is also broken.

![image](https://user-images.githubusercontent.com/4224136/135868148-411ac57b-5445-4e5c-b0e5-7e55cf83325c.png)

[2021-10-04 14:27] iolufemi commented on #3412
https://github.com/openMF/community-app/blob/1faf4ae08460644c39ed12260aa56de0efe3e022/app/scripts/controllers/reports/RunReportsController.js#L343 Might be due to this line

[2021-10-04 14:56] iolufemi commented on #3412
https://code.angularjs.org/1.5.0/docs/api/ng/service/$http

`.success` was deprecated in version 1.5.0 and was removed after. The AngularJS update broke the code.

***The $http legacy promise methods success and error have been deprecated. Use the standard then method instead. If $httpProvider.useLegacyPromiseExtensions is set to false then these methods will throw $http/legacy error.***

Fixed in

[2021-10-04 15:00] juan-manuel-open commented on #3412
What do you think is the solution?

El El lun, 4.10.2021 a las 16:56, Olanipekun Femi ***@***.***>
escribió:

[2021-10-04 16:40] iolufemi commented on #3412
I sent a PR that fixes the issue with the report not displaying. There is another issue with the income statement report. I think that might be from the report parameters as configured when building the reports in Pentaho.

I will take a look at that later need to move on to other things for now.

[2021-10-05 07:18] bharathcgowda commented on #3412
Thank you @iolufemi

[2021-10-05 22:32] francisguchie commented on #3412
@iolufemi  Thanks  me too i will test and revert

[2021-10-06 21:06] francisguchie commented on #3412
@iolufemi  I will look at this report and create a PR for it on https://github.com/openMF/fineract-pentaho

[2021-10-09 02:10] francisguchie commented on #3412
@iolufemi  @bharathcgowda  I have done a functional test am good

[2021-10-09 02:13] francisguchie commented on #3415
@bharathcgowda  this is a real problem ever since i started using the latest builds it was not the case with release 17.07.01 and 18.03.01

[2021-10-09 07:37] juan-manuel-open commented on #3412
Hi Guchie,

you were able to resolve the issue in income statement report? can you
share that solution with me?

El El sáb, 9.10.2021 a las 4:10, Guchie ***@***.***> escribió:

[2021-10-11 10:04] francisguchie commented on #3412
@juan-manuel-open
I plan to be looking at all Pentaho starting this week. In the last PR all i did was to convert them from Pentaho RB 3.9.1 to 7.0.0.xx

Some pentahos are not displaying because of the SQL code in them having lines that are not compatible with mySQL 5.7 e.g. 5.7 needs to see a FULL_GROUP_BY etc etc

[2021-10-11 10:52] itsPrajapat commented on #3409
Hello Sir,
Could You Please assign it to me

[2021-10-11 10:55] itsPrajapat commented on #3205
Hello Sir,
I want to work on this. Could You please assign it to me

[2021-10-11 10:56] itsPrajapat commented on #3172
Could You please assign it to me.
Thanks

[2021-10-11 13:25] bharathcgowda commented on #3412
PR merged, Thank you for the collective efforts everyone @francisguchie @juan-manuel-open @iolufemi @BLasan   :)

[2021-10-11 13:25] #3412 closed, assigned to nobody

[2021-10-11 17:56] ondurk commented on #3412
Thank you Francis the changes have worked for me thanx again

[2021-10-11 21:07] francisguchie commented on #3205
@devtechnocode , @bharathcgowda
How does this help, this is a Core Banking Application User interface. Would you like new users to "sign-up", We have this on the Self service web app and Mifos Mobile

[2021-10-11 21:09] francisguchie commented on #3409
@mnzava06
Kindly provide some screen shots on this issue, your issue is not clear. Give us some steps to reproduce the error

[2021-10-11 21:20] francisguchie commented on #3172
@muskankhedia, @itsPrajapat

Kindly do not use Mifos X version: 19.12.01(Unreleased) - there is a released version of 21.07.01. Probably this has already been fixed. Also share an image showing where you would like the edit button to be aligned

[2021-10-20 21:57] BruceTushabe opened #3431 "Is the project to integrate with Stellar still ongoing? I am interested in it"
## Description

## Steps to Reproduce

## Expected Behaviour

## Actual Behaviour

## Settings

- Mifos X version:
- Browser used:
- OS:

## Screenshots

[2021-10-20 22:37] francisguchie commented on #3431
@BruceTushabe
what is Stellar??

[2021-10-20 22:50] BruceTushabe commented on #3431
Stellar is a blockchain network that makes it possible to create, send, and trade digital representations of all forms of money: dollars, pesos, bitcoin, pretty much anything. It’s designed so all the world’s financial systems can work together on a single network.

Back in 2018, there was an initiative to build a stellar connector for mifos . I was following up on the same

[2021-10-27 22:58] airsay opened #3437 "Possible Error with Rates Definition UI"
## Description
So I see that there is a lot of similarity between the Charge Definition Module (Admin-->Products-->Charges) and the Rates Definition Module (Addmin-->Products-->Rates)

![image](https://user-images.githubusercontent.com/7488892/139153791-71d105ea-24a1-42a1-98cb-007f36c88613.png)

When I want to create a new charge, I notice that I can select either Loans, Savings, Client or Shares

[2021-10-27 22:59] airsay commented on #3437
So I am not 100% sure if this is an issue on exactly how the Rate module was designed to work

[2021-10-27 23:35] francisguchie commented on #3415
@bharathcgowda
I found the problem i think -
after installing SSL certificate (Domain Validation) on my server, the page loads in matters of seconds

@ibrahim

[2021-10-28 05:04] bharathcgowda commented on #3415
@francisguchie  That is not the root cause I feel, I have noticed this issue among production servers with proper SSL certificates and high-end instances.
We would need some core developers to help us on investigating this issue

[2021-10-28 07:08] bharathcgowda commented on #3249
fixed, thanks to @josehernandezfintecheandomx

[2021-10-28 07:08] #3249 closed, assigned to bharathcgowda

[2021-10-28 11:30] francisguchie commented on #3415
@bharathcgowda
It will be nice for u to use the latest build on these servers. I believe that this was solved **(either unknowingly or due to updates)** - I used the latest code of fineract and the UI and as soon as I got the SSL installed (from let's encrypt) it worked just fine

[2021-10-30 15:32] juan-manuel-open commented on #3412
Hi all,

@iolufemi @bharathcgowda I have just reinstalled Mifos 21 and the same error persists. Pentaho does not work for me.

[2021-11-01 12:19] francisguchie commented on #3412
@juan-manuel-open
Did you copy the pentaho lib files after re-installation? (have you done all the steps)?

[2021-11-01 13:27] juan-manuel-open commented on #3412
Yes, I did. @francisguchie maybe you can help me... maybe I'm not doing something right.

[2021-11-01 13:49] francisguchie commented on #3412
Yes i would like to know what the challenge is

[2021-11-01 21:42] juan-manuel-open commented on #3412
@francisguchie I think the problem is the following:  The ZIP of the app (https://sourceforge.net/projects/mifos/) was last updated on 2021-07-16 but Pentaho's correction was barely made less than a month ago (https://github.com/openMF/community-app/pull/3426. In other words, the ZIP of the app does not yet have the Pentaho correction published.

Is it possible to update https://sourceforge.net/pr

[2021-11-01 23:03] francisguchie commented on #3412
Dear @Bharath Gowda ***@***.***>

Please let's get the release updated as soon as possible

On Mon, Nov 1, 2021, 9:43 PM juan-manuel-open ***@***.***>
wrote:

[2021-11-02 11:11] bharathcgowda commented on #3412
@francisguchie  @juan-manuel-open  thank you for sharing your inputs.
this fix is on develop branch and not tested on Fineract 1.5 for any issues.
We need to have atlease one sanity QA done through community-app (dev branch ) on 21.07 (fineract 1.5) before releasing the artifacts.
If any one of you could help with sanity testing, it would be great to speed the process of release.

[2021-11-02 11:37] juan-manuel-open commented on #3412
@bharathcgowda thank you.

Can you share with me the ZIP file with the East development branch that has this fix?

[2021-11-02 23:21] francisguchie commented on #3412
Ok  @Bharath Gowda ***@***.***>

I will let me get it ready and share

My Kind Regards

Francis Guchie Kirago
*Skype:* francisguchie
*Telegram: *232 79 19 44 07
*Whatsapp: *232 79 19 44 07
*LINKEDIN:* https://www.linkedin.com/in/francis-guchie-kirago-a4379617/
twitter: @FrancisGuchie

On Tue, Nov 2, 2021 at 11:37 AM juan-manuel-open ***@***.***>
wrote:

[2021-11-05 22:17] iolufemi commented on #3412
@francisguchie  Were you able to work on a fix for the broken reports?

[2021-11-08 14:24] bharathcgowda commented on #3412
Hi @francisguchie @juan-manuel-open  we have done the patch release for this fix and the download link for the artifact is
https://sourceforge.net/projects/mifos/files/latest/download

for any specific report issue, please report [here ](
https://github.com/openMF/fineract-pentaho/issues)

[2021-12-17 13:52] bowenjnr opened #3449 "Group Loan Application is not working"
Description
When setting  the loan period and repay to have the same frequency as the meeting frequency there are errors that appear when applying for a group loan,

For example: When a loan has a period of 10 months while the repay is after every 1 month and has meetings scheduled for every 2 weeks thus the frequency should be weeks since that is the meeting date frequency. where the months shoul

[2021-12-21 23:48] iolufemi commented on #3420
I just tested the fix in PR #3424, and it works. Can it be merged into the main branch?

[2022-01-08 08:32] er-prince commented on #3420
I have tested it & it works. Thanks

[2022-01-08 19:02] rrpawar96 commented on #3449
Hi @bowenjnr, I tried to reproduce your issue on the latest Fineract and Community-App, and my application got successfully submitted.
Please check my screenshots and you can let me know if there is any mistake in my settings.

Creating Loan Application:
![createloan](https://user-images.githubusercontent.com/20750973/148656228-4a2add70-8a86-4a62-b47b-0e81d4c16e2b.PNG)

LoanProduct Configuration (

[2022-01-08 19:04] rrpawar96 commented on #3449
@bowenjnr I submitted loan application with both configurations 1 month and 4 weeks in loan Product, meanwhile, you can check your loan product settings.

[2022-01-08 19:17] rrpawar96 commented on #3449
The Next Meeting Date should Match with Disbursement Date:
If next Meeting date is suppose on 18th January (Tuesday) then the disbursement date also should be the 'same' otherwise it is throwing this error probably that is missing in your Red Bar.

![image](https://user-images.githubusercontent.com/20750973/148656864-3a5e7c15-7bbd-47c0-9e71-43486197e7ba.png)

[2022-01-10 17:12] er-prince opened #3452 "Edit Charge Dosent show previous entered Data"
Create a Charge , Edit that Charge again , no value will show

## Steps to Reproduce

1. Login to Mifos Community APP
2. Go to Admin - Products - Charges
3. Create a Charge
4. Edit that same Charge

## Expected Behaviour

Customer / Admin should be able to edit or modify the charge
## Actual Behaviour

Cant Edit Charge
## Settings

- Mifos X version: Latest ( using today's merged version . https:/

[2022-01-10 18:23] er-prince commented on #3452
also if we select specified due date there no option to write date

![image](https://user-images.githubusercontent.com/31768108/148818270-58e29ba7-cf53-40ff-b50c-bde1f3e23cd6.png)

This three options already turned on
![image](https://user-images.githubusercontent.com/31768108/148818511-4e8ab2f4-b3ee-404e-b858-bdd08d49c0f1.png)

![image](https://user-images.githubusercontent.com/31768108/148818572

[2022-01-21 08:14] #3452 closed, assigned to nobody

[2022-01-27 16:05] sangeetds opened #3455 "Question: Any getting started guide on Mifos Fineract APIs"
This is just a question and not any issue related to the community app. Couldn't find a better place to ask this. I was going through the Fineract API docs and I was trying to test them but I couldn't really start properly because there was no proper getting started guide. Is it possible to use any existing API to interact with financial bodies and if yes is there any document regarding the same t

[2022-01-30 20:11] lincolndidon1 opened #3456 "Having a problem installing - where for I find the fineract logs. Nothing is showing in the catalina logs"

[2022-03-03 20:45] andersan commented on #2969
hey, is this still relevant and would it be useful to fix?

Looking for an open source project to contribute to over the next couple months and Mifos looks interesting!

[2022-04-07 10:23] pete10200 opened #3468 "Possible issues with table m_loan_charge_paid_by"
## Description
i noticed that the table m_loan_charge_paid_by --> column loan_charge_id is incrementing instead of recording the charge id. is this a bug?

## Steps to Reproduce

look in the table m_loan_charge_paid_by, when a transaction with a charge is applied this table should store the charge id. instead it appears the column is storing an increamental number such that when i try to map this

[2022-04-09 11:18] francisguchie commented on #3468
@pete10200 ,

please share the version of MifosX used

[2022-04-09 12:33] pete10200 commented on #3468
Hi,

I am now on Mifos X 21.07.01

On Sat, Apr 9, 2022, 13:18 Guchie ***@***.***> wrote:

[2022-04-09 13:56] pete10200 commented on #3468
Actually now on  21.07.02

On Sat, Apr 9, 2022, 13:18 Guchie ***@***.***> wrote:

[2022-04-18 07:41] er-prince opened #3469 "Create Client not working in Fineract Develop version"
Create Customer not working in Fineract Develop version

## Steps to Reproduce
1) Deploy Fineract Develop
2) Try to create a Client
it will throw error 500

## Expected Behaviour
It Should create Client
## Actual Behaviour

## Settings

- Mifos X version:  Develop
- Browser used: Chrome
- OS: Mac

## Screenshots
Updating Soon , its not working after EclipseLink Upgrade

[2022-04-24 06:40] er-prince commented on #3469
issue moved to [](url)https://issues.apache.org/jira/browse/FINERACT-1593

Closing here

[2022-04-24 06:40] #3469 closed, assigned to nobody

[2022-05-19 10:03] francisguchie opened #3476 "Edit Charge Dosent show previous entered Data"
Create a Charge , Edit that Charge again , no value will show

**Steps to Reproduce**
Login to Mifos Community APP
Go to Admin - Products - Charges
Create a Charge
Edit that same Charge
Expected Behaviour
Customer / Admin should be able to edit or modify the charge

**Actual Behaviour**
Cant Edit Charge

**Settings**
Mifos X version: Latest ( using today's merged version . https://github.com/openM

[2022-05-19 10:08] francisguchie commented on #3476
@rrpawar96  I also dont see the settings mentioned https://github.com/openMF/community-app/issues/3452

![image](https://user-images.githubusercontent.com/22683654/169269086-e821003d-ba01-4750-9578-3100dde2baaa.png)

[2022-05-19 10:24] rrpawar96 commented on #3476
On Which version this issue persist? @francisguchie

[2022-05-19 12:40] rrpawar96 commented on #3476
As per this comment https://github.com/openMF/community-app/pull/3454#issuecomment-1016673930, it is broken in the 21.07 release
but later was fixed after that PR got merged.

[2022-05-19 13:00] francisguchie commented on #3476
@rrpawar96  thanks a lot for this  it means i have to use the UI for 21.07.01

[2022-05-24 07:25] sujanpgowda commented on #3311
Could you please share Any update on this @bharathcgowda facing this same issue. Thank you.

[2022-05-26 17:34] v3ss0n commented on #3431
I think you have to ask at apache/fineract
not on communityweb.

[2022-05-26 17:35] v3ss0n commented on #3415
wrong information .
It is due to reqiuirjs not loading module within 7 seconds.
put `waitSeconds:0` in `app/scripts/loader.js`

[2022-05-27 14:46] francisguchie commented on #3431
@BruceTushabe
kindly close this issue as per @v3ss0n 's advise

[2022-05-28 09:03] v3ss0n commented on #3431
Thanks , steller is a crypto currency and blockchain  trying to make international payments easy..
As it is cryptocurrency we have to be careful when adding into an opensource project , steller also is quite volatile.

[2022-05-28 10:01] BruceTushabe commented on #3431
Thank you all for the feedback. Issue closed.

[2022-05-28 10:01] #3431 closed, assigned to nobody

[2022-05-31 13:37] v3ss0n commented on #3415
it is beause of caching from browser.
When the js and assets are cached , they load fast.
When they aren't , timeout happens.
Regardless or HTTP or SSL , if the module cannot load without 7second it will cause timeout error.

Solution is to out waitSeconds:0 in requirejs config.

[2022-06-01 12:56] v3ss0n commented on #3455
Source is the best form of documentation , `Use the source , Luke`

[2022-06-04 09:54] v3ss0n commented on #1678
The bug is still there , There is error after linking saving account.

[2022-06-07 04:30] mohitsinha opened #3479 "npm install giving error"
## npm install giving error both while executing command and in Docker build

## Steps to Reproduce
Follow the steps and when `npm install` you will get error.

Even `docker build -t community-app .` will give the same error.

## Expected Behaviour
`npm install` should run without errors.

## Actual Behaviour
Getting error
```npm ERR! Invalid Version: 0.0.3a```

## Settings

- Mifos X version: Lat

[2022-06-15 11:10] Nikerabbit opened #3480 "Trailing whitespace in many translatable strings"
## Description

I am reviewing list of messages whose definition differ in translatewiki.net and in the source code repo to ensure everything is in sync.

Everything seems okay, except the following list of messages which contain trailing whitespace (spaces or new lines). Trailing whitespace is not supported in translatewiki.net. It's always stripped when saving a translations.

The trailing white

[2022-06-17 09:54] v3ss0n opened #3481 "All transactions are Allowed on Holidays"
## Description

I had tested with latest commit of the community-app and 1.7 version of finearct.
## Steps to Reproduce

1  - setup holidays
2 - Activate it
3 - Try transactions (deposit , withdrawl , funds transfer)
## Expected Behaviour

It shouldn't work , UI Should show error or those functionality should be disabled at the UI level.
## Actual Behaviour

It let tru , and all are working on UI

[2022-06-17 22:33] 44a6z22 commented on #3479
i downgraded my Node all the way down to [v10.18.0 ](https://nodejs.org/en/blog/release/v10.18.0/) and it worked for me .

[2022-06-18 12:44] tapaswenipathak opened #3482 "[repo docs][github wiki][readme] Standardize documentation"
This looks nearly apt:

<img width="1532" alt="Screenshot 2022-06-18 at 6 13 06 PM" src="https://user-images.githubusercontent.com/4143778/174438180-eb84f7e6-f44c-491f-ba36-d0327fc090a6.png">

Still see for:

1. https://github.com/openMF/android-client/issues/1876
2. https://github.com/openMF/mobile-wallet/issues/1331

Redirect to developer documentation:

1. delete/archive: https://docs.google.co

[2022-06-18 12:48] tapaswenipathak opened #3483 "[demo] Update user and developer information entry points"
1. Fix dead links.
   - https://mifosforge.jira.com/wiki/display/MIFOS/User+Manual
   - Developer zone: https://mifosforge.jira.com/wiki/display/MDZ/Welcome+in+the+Zone
   - User group/developer group: sourceforge mailing list.
2. Archive related wiki pages and add a redirect.
   - https://mifosforge.jira.com/wiki/spaces/MIFOSX/pages/14712842/Mifos+X+Functional+Specifications

<img width="1532" al

[2022-06-20 07:10] francisguchie commented on #3481
@v3ss0n
did you override the settings with this image below?
![image](https://user-images.githubusercontent.com/22683654/174544948-6c25ab61-6c34-4e98-ad71-7e56d11f2d8e.png)

[2022-06-21 11:06] v3ss0n commented on #3481
![image](https://user-images.githubusercontent.com/419606/174785187-b0087557-ab22-4046-ad8e-f3b88785ed86.png)

[2022-06-21 11:06] v3ss0n commented on #3481
all disabled. I am checking here first to make sure this problem exist on server side too or not.

[2022-06-22 15:14] mohitsinha commented on #3479
This should also work properly with Dockerfile which isn't happening.

[2022-07-10 12:21] rahul-gill opened #3485 "Uploading documents doesn't work"
## Description
When uploading client documents, server error is received

## Steps to Reproduce
- go to clients from tabs at the top
- choose any client
- Go to documents tab
- Click on upload button
- fill in the details, and submit
- you'll this response
[code]

[2022-07-12 06:21] francisguchie commented on #3485
@rrpawar96  @ikimbra have you noticed this before?

[2022-08-17 18:46] josephgodwinkimani opened #3492 "Some requests for Groups and Centers do not work"
## Description

1. Retrieving a center I just created does'nt work
2. Listing all centers doesn't work
3. Retrieving a group i just created doesn't work
4. Listing all groups doesn't work

Tested all requests on postman and i get this error:

[code]

## Steps to Reproduce

1. [Build from source]( https://github.com/openMF/community-app#building-from-source)
2. [Setup MifosX platform](https://mifos

[2022-08-22 21:09] htakawira opened #3493 "Failing to lononto Mifos demo site"
Hello Mifos

I am trying to log onto the Mifos demo site

https://openmf.github.io/community-app/?baseApiUrl=https://demo.fineract.dev&tenantIdentifier=default#/

I am able to get the site open but i input the credentials :
Username : mifos
Password : password

I am getting the error message "Please try again, your credentials are not valid."

[2022-08-24 15:36] francisguchie commented on #3493
Hello htakawira,

I guess someone changed the password,  i would advise that you run your own
server

My Kind Regards

Francis Guchie Kirago

*Mobile:*

+232 79 194407

+256 70  5011852

*Skype:* francisguchie

*twitter*: @francisguchie

*Telegram: *232 79 19 44 07

*Whatsapp: *232 79 19 44 07
*LINKEDIN:* https://www.linkedin.com/in/francis-guchie-kirago-a4379617/
*Website: *https://guchietech.com

[2022-10-05 10:23] francisguchie opened #3494 "Transfer Transaction from Savings to Loan appears as a regular repayment"
[FINERACT-1752](https://issues.apache.org/jira/browse/FINERACT-1752)

## Steps to Reproduce
Select a client who has a savings account and make a transfer from their savings to a loan account ( does not matter if its their own loan or any other

## Expected Behaviour
User should be able to see the payment details on both sides showing that this is a transfer payment to loan and a withdrawal by tran

[2022-10-05 10:36] ikimbra commented on #3494
Thanks @francisguchie for the observation. We even need to change the withdrawal Should be something like Transfer instead of withdrawal
![image](https://user-images.githubusercontent.com/69110649/194041229-c1705999-5155-4401-a3ba-14aadcd8fad3.png)

[2022-10-05 11:23] kmaureen commented on #3494
just asking
How soon can we have this solved?- we need it to work as described. Thabks for bringing this out @francisguchie

[2022-11-12 08:18] multicloudlabs opened #3497 "Port Apache fineract to s390x"

[2022-11-12 08:19] #3497 closed, assigned to nobody