[2018-02-02 12:34] ankit01ojha opened #2862 "New Form wizard missing in "New Fixed Deposit" and "New Recurring Deposit" forms."
## Description
Form wizard is missing in the listed forms.

## Steps to Reproduce
Clients>>Select any client>>More>>New Fixed Deposit
Clients>>Select any client>>More>>New Recurring Deposit

## Expected Behaviour
Form wizard should be present

## Actual Behaviour
Form wizard missing

## Settings
- Mifos X version:  17.07.01.RELEASE
- Browser used: Google-Chrome

## Screenshots, if any
![screenshot

[2018-02-02 12:35] mbj36 commented on #2862
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-02-02 12:35] ankit01ojha commented on #2862
I am working on this.

[2018-02-04 08:27] abhaychawla commented on #2373
@mbj36 @gkrishnan724 Is the issue still open? Can I work on it?

[2018-02-04 09:10] abhaychawla opened #2863 "UI of Tax Configurations not consistent with the app"
## Description
The UI of tax configurations is not consistent with other places of the app. The card class has not been applied here.

## Steps to Reproduce
Admin -> Products -> Manage Tax Configurations

## Expected Behaviour
The UI of tax configurations should be consistent with the UI of the app.

## Actual Behaviour
The UI of tax configurations is not consistent with other places of the app.

[2018-02-04 09:11] mbj36 commented on #2863
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-02-04 09:11] abhaychawla commented on #2863
I'll work on this issue.

[2018-02-04 12:15] gkrishnan724 commented on #2373
Go ahead @abhaychawla

[2018-02-04 12:40] abhaychawla commented on #2373
Okay!

[2018-02-04 13:23] ankit01ojha opened #2865 "Next and Previous button should be hidden untill product is selected in the Application forms(listed):-"
## Description
Next and Previous buttons should be hidden the listed forms until the product is selected. And a cancel button should be present at the product selection page.

## List:-
- [x] New loan account form
- [x] Saving Application
- [x] Shares Application

## Steps to Reproduce
Clients>>Select any Client>>New Loan
Clients>>Select any Client>>New Savings
Clients>>Select any Client>>New Shar

[2018-02-04 13:23] mbj36 commented on #2865
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

Possibly related issues are #2350 ( Previous and Next month calendar dates must be dimmed in selected month), #2503 (View Journal Entries button does not work from individual transaction), and #1967 (Reskin:Drop-down menus are not getting compressed after selecting the appropriate parameter).

[2018-02-04 13:24] ankit01ojha commented on #2865
I am working on this.

[2018-02-04 18:15] shubhshrma opened #2866 "Return to top button not working properly in Products"
## Description
The return to top button inside Products is not scrolling to complete top of page and also doesn't function more than once.

## Steps to Reproduce
Go to:
1. Products> Loan Products> select any product > go to bottom and click ```top```
2. Products> Savings Products> select any product > go to bottom and click ```top```

## Settings
- Mifos X version: 17.07.01.RELEASE
- Browser used:

[2018-02-04 18:16] mbj36 commented on #2866
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

Possibly related issues are #2503 (View Journal Entries button does not work from individual transaction), and #2350 ( Previous and Next month calendar dates must be dimmed in selected month).

[2018-02-04 18:16] shubhshrma commented on #2866
I'll work on this.

[2018-02-05 09:08] anweshknayak commented on #2866
duplicate of #2777

[2018-02-05 11:03] shubhshrma commented on #2866
@anweshknayak In #2777 you've mentioned pages where return to top button is not present  but in ```Products``` it is present but not working properly. I think these issues aren't duplicate.

[2018-02-05 11:04] anweshknayak commented on #2866
#2742 then

[2018-02-05 11:12] shubhshrma commented on #2866
Yes, closing as duplicate.

[2018-02-05 11:12] #2866 closed

[2018-02-05 12:48] abhaychawla commented on #2041
@mbj36 @gkrishnan724 Can I take up this issue?

[2018-02-05 12:50] mbj36 commented on #2041
Yes @abhaychawla

[2018-02-05 12:52] abhaychawla commented on #2041
Okay!

[2018-02-05 16:08] iknoorjobs commented on #2854
@anweshknayak Which form has to be done ?

[2018-02-05 17:28] abhaychawla opened #2870 "UI Bugs in Audit Trails Section of System"
## Description
1) The Audit Trails table has a horizontal scrollbar which keeps on reducing in width showing continuous movement dynamically. (It is not required)
2) Blue color is not shown on hover in the records of the table.
3) Unnecessary horizontal scroll bar while viewing any of audit entry details.

## Steps to Reproduce
Admin -> System -> Audit Trails -> Click any entry in table

## Expect

[2018-02-05 17:28] mbj36 commented on #2870
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-02-05 17:29] abhaychawla commented on #2870
I'll work on this issue.

[2018-02-06 12:29] ankit01ojha commented on #2854
@anweshknayak  and @iknoorjobs please see the comment in https://github.com/openMF/community-app/issues/2795 .  The user should be free to fill any part of the form in any sequence he desires. And the for the case if mandatory fields are not filled, the progress bar displays that the mandatory fields are not filled in that part of the form.

[2018-02-09 11:04] anweshknayak commented on #2777
Have implemented most of it. What is left I will add to the checklist.

[2018-02-09 11:06] anweshknayak commented on #2775
thanks @iml-v You have just completed a part of it. I will take it from here

[2018-02-09 13:23] abhaychawla commented on #2768
Ctrl + Shift + q also closes all the windows of chrome/mozilla instead of opening the create center page. ctrl + n and ctrl + p for going to the next and previous pages does not work at some places.
@mbj36 @gkrishnan724 Can I work on this issue?

[2018-02-09 15:25] abhaychawla opened #2874 "Inconsistency in Button Colours/Icons/Font"
## Description
Various buttons like edit, delete, view exist in the app and are inconsistent in their colour and/or icon/font at some places which is not a good user experience. (A few example screenshots are attached below)

The following is a list of those places where the inconsistency exists:
- [x] View User
- [x] Manage Offices
- [x] View Holiday
- [x] Standing Instructions History
- [x] View

[2018-02-09 15:25] mbj36 commented on #2874
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

A possibly related issue is #2742: Scroll to top button not working .

[2018-02-09 15:26] abhaychawla commented on #2874
@mbj36 @gkrishnan724 I would like to work on this if it seems a valid issue?

[2018-02-09 17:50] #2558 closed

[2018-02-09 17:50] #2723 closed

[2018-02-09 18:02] #2386 closed

[2018-02-09 18:03] #2693 closed

[2018-02-09 18:08] gkrishnan724 commented on #2707
Fixed as per #2711

[2018-02-09 18:08] #2707 closed

[2018-02-09 18:16] #2097 closed

[2018-02-09 18:17] #2733 closed

[2018-02-09 18:17] #2743 closed

[2018-02-09 18:18] #2760 closed

[2018-02-09 18:19] #2763 closed

[2018-02-09 18:47] anweshknayak opened #2876 "Capture client from web-cam not working"
## Description
Capture client image from web-cam not working

## Steps to Reproduce
Checker Inbox & Tasks ->Client approval -> Select a user -> Upload picture using webcam

## Expected Behaviour
Should upload and capture

## Actual Behaviour
Cannot capture

## Settings
- Mifos X version:
- Browser used:

## Screenshots, if any
![screenshot from 2018-02-10 00-13-40](https://user-images.githubuserco

[2018-02-09 18:48] mbj36 commented on #2876
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

Possibly related issues are #1676 (Details displayed in "Waiting For Checker Approval" page after creating Fixed Deposit is not proper), #566 (Need to capture clients mobile number), #679 (In clients - Mobile number should only allow numbers), and #2859 (Future joining dates possible while creating emp

[2018-02-09 18:49] anweshknayak opened #2877 "Feature for uploading signature in Client approval view"
## Description
Feature for uploading signature in Client approval view

## Steps to Reproduce
Checker Inbox & Tasks ->Client approval -> Select a user -> Upload signature(missing)

## Expected Behaviour

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used:

## Screenshots, if any

![screenshot from 2018-02-10 00-18-57](https://user-images.githubusercontent.com/8139783/36044254-0dcd1

[2018-02-09 18:50] mbj36 commented on #2877
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-02-09 19:06] jervis446 commented on #2877
Hi, @anweshknayak Can you define What is actual and Expected Behaviour ?

[2018-02-10 12:56] ankit01ojha commented on #2877
@anweshknayak , feature for uploading signature is already present. When you click View Client Signature then a pop up comes which gives the option for uploading the signature.
![screenshot at 2018-02-10 18 21 34](https://user-images.githubusercontent.com/21126132/36062301-b03fbd3e-0e8f-11e8-88f1-4976e7ebd7bb.png)

[2018-02-10 13:06] anweshknayak commented on #2877
Yes Im aware of that

[2018-02-10 13:09] anweshknayak commented on #2877
Moreover as per UX aspects it should be nearby view signature. Makes it easily accessible

[2018-02-10 13:09] anweshknayak commented on #2877
@jervis446 Um working currently on it

[2018-02-10 18:36] anweshknayak commented on #2876
Its an issue on firefox side. Working fine with Chrome

[2018-02-10 19:02] anweshknayak opened #2878 "UX enhancements for menu items"
## Description
Implement active selector throughout codebase

## Steps to Reproduce
something like
[code]

will enhance the colour after clicking which lacks now.
Example : http://jsfiddle.net/Behseini/NsQ2a/

## Expected Behaviour
active selector throughout missing items

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used: Chrome

## Screenshots, if any

![active](https://user-ima

[2018-02-10 19:03] mbj36 commented on #2878
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-02-11 05:54] ankit01ojha opened #2879 "Newly added fixed deposit application and recurring deposit applications are not being displayed in the client page"
## Description
Newly added fixed deposit application and recurring deposit applications are not being displayed in the client page( like the loan, shares, savings etc).

## Steps to Reproduce
Clients>>New Fixed Deposits>>Fill the details>>submit
Clients>>New recurring Deposits>>Fill the details>>submit

## Expected Behaviour
Newly added fixed deposit and recurring deposit applications should be di

[2018-02-11 05:55] mbj36 commented on #2879
[GitMate.io](https://gitmate.io) thinks a possibly related issue is #458: Closed loans (Closed (obligations met), Closed (rescheduled) etc) are displayed under active loan accounts tab.

[2018-02-11 05:55] ankit01ojha commented on #2879
I am working on it.

[2018-02-11 08:53] iml-v commented on #2775
ok sure go ahead @anweshknayak . 👍

[2018-02-11 10:20] #2745 closed

[2018-02-11 10:42] #2740 closed

[2018-02-11 11:59] anweshknayak opened #2881 "hide unwanted scroll bar in firefox"
## Description
hide unwanted scroll bar in firefox. Doesn't fit with UI.

## Steps to Reproduce
Scroll bar to the left menu.

## Expected Behaviour
Scroll bar shouldn't appear, the default one only should

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used: Firefox

## Screenshots, if any

![scrollbar](https://user-images.githubusercontent.com/8139783/36073106-122b0866-0f51-11e8-98

[2018-02-11 11:59] mbj36 commented on #2881
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-02-11 14:57] ankit01ojha commented on #2878
@anweshknayak , rather than creating a separate PRs for each part, you should send the whole fix in one PR. (i.e., rather than creating #2882 you could have fixed that part and sent the PR #2880 )

[2018-02-11 15:05] ankit01ojha commented on #2881
@anweshknayak , I don't see any scrollbar.
![screenshot at 2018-02-11 20 32 18](https://user-images.githubusercontent.com/21126132/36074770-df60ec6a-0f6a-11e8-937e-1edcf1c47089.png)

[2018-02-11 15:31] abhaychawla commented on #2881
Actually, this issue does not occur every time. When I left the developer tools open in google chrome as well (basically when the viewport became short) it happened sometimes in Google Chrome as well.

[2018-02-11 16:19] anweshknayak commented on #2881
** in Firefox **

[2018-02-11 16:20] anweshknayak commented on #2881
Firefox Quantum

[2018-02-11 16:37] ankit01ojha opened #2883 "Greyish form does not match with the new UI"
## Description
There are certain forms which are grey in colour and they don't match up with the recent UI. And because of the grey colour, the required field message is not shown in red colour.

## Steps to Reproduce
1. Edit any loan account
2. Edit any fixed deposit account
3. Edit any recurring deposit account

## Expected Behaviour
Forms should be white colour as per the new UI ( eg:- Edit any

[2018-02-11 16:37] mbj36 commented on #2883
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-02-11 17:34] abhaychawla commented on #2881
What I meant to add is that it is not specific to Firefox it happened a couple of times with me in Google Chrome as well. :sweat_smile:

[2018-02-12 04:45] anweshknayak commented on #2878
@mbj36 @gkrishnan724 please check the boxes after both PRs are merged. I have kept it separate so as it will be easy for you people to check it. :smiley: :tada:

[2018-02-12 04:48] #2749 closed

[2018-02-12 09:39] anweshknayak opened #2885 "Redirect to start page"
## Description
Since there is nothing in start page. It gets redirected there sometimes after you restart grunt manually.

## Steps to Reproduce

## Expected Behaviour
Should go to home page instead of showing start page

## Actual Behaviour
Shows start page

## Settings
- Mifos X version:
- Browser used:

## Screenshots, if any
![screenshot from 2018-02-12 15-07-54](https://user-images.githubuser

[2018-02-12 09:40] mbj36 commented on #2885
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-02-12 09:46] anweshknayak opened #2887 "Setup Deploy to Heroku option"
## Description
Create a deploy to heroku button https://devcenter.heroku.com/articles/heroku-button

## Steps to Reproduce

## Expected Behaviour

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used:

[2018-02-12 09:46] mbj36 commented on #2887
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-02-12 10:16] mbj36 commented on #2887
Why do you want to deploy to heroku ?

[2018-02-12 10:26] mbj36 commented on #2887
We don't have any heroku setup -  this app is independent with Fineract backend, so there is no point of this button!

[2018-02-12 10:26] #2887 closed

[2018-02-12 16:04] #2742 closed

[2018-02-12 17:14] abhaychawla opened #2888 "Incorrect placement of Tooltips in some places of the app"
## Description
On hovering over the question mark icon at some places in the app, the tooltip (message) is displayed at an incorrect place. The following is a list of those places:
- [x] Create Share Product
- [x] Edit Share Product
- [x] Create Savings Product
- [x] Edit Savings Product
- [x] Create Loan Product (Accounting)
- [x] Edit Loan Product (Accounting)
- [x] Create Fixed Deposit Product

[2018-02-12 17:15] abhaychawla commented on #2888
I am working on the issue.

[2018-02-12 17:22] abhaychawla opened #2889 "Tooltip label is not being replaced with the corresponding message at Penalties Receivable"
## Description
The tooltip is displaying the label of the message and not its corresponding text at Penalties Receivable (Accounting Section of Loan Products - Create/Edit)

## Steps to Reproduce
Admin -> Products -> Loan Products -> Create loan products
Admin -> Products -> Loan Products -> Select any product -> Edit

## Expected Behaviour
The tooltip label must be replaced with the correct corre

[2018-02-12 17:23] abhaychawla commented on #2889
I am working on this issue.

[2018-02-12 18:07] ankit01ojha commented on #2889
@abhaychawla , did you updated your branch??  I guess its fixed already, I am not getting this issue in create loan products :)
![screenshot at 2018-02-12 23 33 58](https://user-images.githubusercontent.com/21126132/36111846-832076a8-104d-11e8-9a60-172b3f0ec2e5.png)

[2018-02-12 19:03] abhaychawla commented on #2889
Yes its fixed I'll close the issue.

[2018-02-13 06:38] ankit01ojha opened #2890 "Column name missing in Incentives"
## Description
Column name is missing in the Incentives

## Steps to Reproduce
Although there are many ways to reproduce this issue, here is one of the way:-

Client>>Fixed Deposit>>select incentives(in the interest rate chart form).

## Expected Behaviour
Column name should be present
## Actual Behaviour
Column name is not there

## Settings
- Mifos X version: 17.07.01.RELEASE
- Browser used: Goo

[2018-02-13 06:39] ankit01ojha commented on #2890
I am working on it.

[2018-02-14 05:26] ashish1500616 commented on #2881
Instead of removing the scroll-bar we should make some changes to the existing scroll-bar,fitting to the UI.

![miff](https://user-images.githubusercontent.com/19726282/36188970-a5716d7e-1175-11e8-8e48-ca49187252a5.gif)

[2018-02-14 16:59] sarthak-sehgal opened #2893 "Missing validation when restricted dates are entered (Parent issue #2859)"
## Description
In the "Joined on" section which is mandatory to be filled while creating an employee, restricted dates are disabled on the calendar which pops up but can be manually typed and are successfully validated.

## Steps to Reproduce
Mifos Menu Bar >> Admin >> Organization >> Manage Employees >> Create Employee >> Enter all the required fields >> In the joining date, enter a restricted da

[2018-02-14 17:00] sarthak-sehgal commented on #2859
Parent issue #2893 has been created. Hence, closing.

[2018-02-14 17:00] #2859 closed

[2018-02-14 18:14] abhaychawla commented on #2889
I found a similar issue at another place so updated the same.

[2018-02-15 06:57] anweshknayak opened #2897 "Navbar enhancement"
## Description
Navbar's colour should be similar to the sidebar.
Too much contrast is not good as per UX standards

## Steps to Reproduce

## Expected Behaviour

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used:

## Screenshots, if any

[2018-02-15 06:58] anweshknayak opened #2898 "Fliter by name not working properly in navigation"
## Description
Fliter by name is not working properly in navigation.

## Steps to Reproduce
Sidebar -> Navigation -> Search by name(or filter by name)

## Expected Behaviour

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used: Firefox Quantum

## Screenshots, if any

[2018-02-15 07:41] abhaychawla opened #2899 "Inconsistency in the UI of the app"
## Description
At the following places, the white card container has not been implemented for the content instead it resides in the old grey container which is inconsistent with the new UI:
- [x] Create GL Account
- [x] Edit GL Account
- [x] AdHoc Query
- [x] Create AdHoc Query

## Steps to Reproduce
Accounting -> Chart of Accounts -> Add Account
Accounting -> Chart of Accounts -> Select any accou

[2018-02-15 07:42] abhaychawla commented on #2899
I'll work on the issue.

[2018-02-15 07:46] abhaychawla commented on #2898
Hi, @anweshknayak what issue are you exactly facing? It seems to work properly on my side.

[2018-02-15 07:49] anweshknayak commented on #2898
It's working? You sure. I have not checked the develop branch. Just the one hosted

[2018-02-15 07:50] anweshknayak commented on #2898
Just it was not matching cases with the keyword. As in other filters. It shows different varieties of unwanted results. Not sure if it has been fixed

[2018-02-15 07:59] abhaychawla commented on #2898
You mean uppercase/lowercase text is not matched? While filtering the offices if I try to search for an office say Katuba, all the offices having Katuba as its Parent Office are also shown. Not sure if it is a bug though 😅  Otherwise, it is working fine with Loan Officers, Centers etc.

[2018-02-15 11:33] #1723 closed

[2018-02-15 11:37] #2757 closed

[2018-02-15 12:46] ankit01ojha commented on #2898
@anweshknayak , It's working fine on my side too :)

[2018-02-15 13:30] ankit01ojha commented on #2897
@anweshknayak , could you please provide any links to the UX standards you are referring to because, as a user, I don't find the contrast troublesome rather it makes it a little attractive  :)

[2018-02-15 13:40] anweshknayak commented on #2897
Yeah sure I will. In gsoc proposal.

[2018-02-15 13:52] ankit01ojha opened #2900 "Default value of Transaction Date for the repayments of Approved loans is not correct."
## Description
The default value of Transaction Date for the repayments of Approved loans is not correct. The default value of the date is of future and when the form is submitted, it is showing the error message that future dates are not allowed.

## Steps to Reproduce
Clients>>Slect any client>>select any approved loans>>Click  Make Repayment

## Expected Behaviour
Either the default date should

[2018-02-15 13:52] ankit01ojha commented on #2900
I am working on this.

[2018-02-15 16:43] #2898 closed

[2018-02-15 19:17] sarthak-sehgal opened #2901 "Inconsistent UI of buttons and checkbox"
## Description
The UI of a few buttons (screenshots below) and a checkbox is not consistent with that of the app.

## Steps to Reproduce
Mifos Menu Bar >> Admin >> System >> Manage Codes >> Click on any code in the list (or create a new one and then select it)

## Expected Behaviour
The UI should be consistent with that of other elements of the app and only one checkbox should be displayed instead

[2018-02-15 19:19] sarthak-sehgal commented on #2901
Working on this.

[2018-02-16 14:30] sarthak-sehgal opened #2904 ""Filter by name" field missing in "Manage Roles and Permissions""
## Description
The Filter by name (search field) is not there in the "Manage Roles and Permissions" (view roles) section. It is difficult for the administrator to search for a name amongst hundreds of names in the list.

## Steps to Reproduce
Mifos Menu Bar >> Admin >> System >> Manage Roles and Permissions

## Expected Behaviour
There should be a "Filter by name" field present for simplifying the

[2018-02-17 10:54] gkrishnan724 commented on #2874
Seems like a valid issue @abhaychawla, please make a checklist in the issue, regarding all the places where this inconsitensy exists and send a PR

[2018-02-17 11:01] gkrishnan724 commented on #2897
@anweshknayak I honestly feel the existing navbar colors match nicely. We could re-open this based on opinions of more contributors.

[2018-02-17 11:01] #2897 closed

[2018-02-17 11:04] anweshknayak commented on #2897
Sure no issue. 😃 I plan to put that in proposal.

[2018-02-17 13:52] abhaychawla commented on #2874
Okay!

[2018-02-19 04:14] #2766 closed

[2018-02-19 04:19] #2769 closed

[2018-02-19 04:35] #2764 closed

[2018-02-19 04:58] #2781 closed

[2018-02-19 06:33] sarthak-sehgal commented on #2901
@gkrishnan724
I have fixed this. Please have a look.

[2018-02-19 07:56] #2789 closed

[2018-02-20 09:05] anweshknayak commented on #2881
@ashish1500616 feel free to send a PR for the same :tada:

[2018-02-21 09:52] sarthak-sehgal opened #2907 "No restriction on dates in "Search Journal Entries""
## Description
There is no restriction on "From date" and "To date" in "Search Journal Entries."

## Steps to Reproduce
Accounting >> Search Journal Entries

## Expected Behaviour
Future dates should be disabled in the "From date" and "To date" popup for a better user experience.

## Actual Behaviour
Future dates are not disabled in the "From date" and "To date" popup which doesn't really make muc

[2018-02-22 07:10] sarthak-sehgal opened #2909 ""Filter by name" searching across extra fields"
## Description
The "Filter by name" search box present in the list of users is searching across the fields other than the name of the user. I think this problem is also present in other pages and is a fundamental issue with the search fields.

## Steps to Reproduce
Admin >> Users >> Search for a user using "Filter by name"

## Expected Behaviour
As mentioned in the placeholder of the input field,

[2018-02-22 07:22] sarthak-sehgal commented on #2909
@gkrishnan724
The contributers (@anweshknayak @abhaychawla @ankit01ojha) think that this issue needs to be resolved. Shall I work on this if this is an appropriate issue?

[2018-02-22 07:24] anweshknayak commented on #2909
@sarthak-sehgal sounds like a good idea. This feature will be handy for user

[2018-02-22 08:12] abhaychawla commented on #2909
Do have a look at other places as well where this issue might exist. Then you could make a list and send a single PR.

[2018-02-23 17:31] anweshknayak opened #2910 "Revamp UI to use material design"
## Description
Revamp UI to use material design

## Steps to Reproduce

As done in https://github.com/openMF/web-self-service-app

@gkrishnan724 @gauravsaini03 @mbj36 @avikganguly01

Would it be a good idea? :smile:  Would love to hear from you guys

[2018-02-23 17:39] mbj36 commented on #2910
@anweshknayak It's not possible to completely change UI in 3 months of GSoC, we have been adding features and improving existing UI in every GSoC, UI changes takes time, if you see, we have 100s of file in views which will be very difficult to change. so there will be no material design thing, but we can certainly improve the existing UI

[2018-02-23 17:39] #2910 closed

[2018-02-23 17:40] anweshknayak commented on #2910
@mbj36 I understand. Thanks :)

[2018-02-23 21:18] ankit01ojha commented on #2833
@Agnessy are you working on this issue? If not, I would like to work on this.

[2018-02-25 11:14] anweshknayak opened #2911 "Improve UI for dashboard"
## Description
Improve UI for dashboard

## Steps to Reproduce
Click on Home button(blue) on homepage

## Expected Behaviour

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used:

## Screenshots, if any

![screenshot from 2018-02-25 16-42-41](https://user-images.githubusercontent.com/8139783/36640767-21d0abe0-1a4b-11e8-8d91-58d3f7ffcc83.png)

[2018-02-26 09:13] anweshknayak opened #2912 "New lightweight datepicker to support responsiveness"
## Description
New lightweight date picker to support responsiveness
https://720kb.github.io/angular-datepicker/

## Screenshots, if any

![gsoc_datepicker](https://user-images.githubusercontent.com/8139783/36662085-48628ba8-1b03-11e8-839a-ed2677cf0eef.gif)

[2018-02-26 09:14] anweshknayak commented on #2912
@mbj36 @gkrishnan724 @gauravsaini03  sounds good?

[2018-02-27 13:35] ankit01ojha opened #2913 "Deactivate button in Manage Surveys not working properly"
## Description
The deactivate button in Manage Surveys is not working properly, rather than deleting the survey when clicked it is redirecting to view the survey.

## Steps to Reproduce
Admin >> System >> Manage Surveys >> Click on deactivate on any of the surveys.

## Expected Behaviour
The survey which is selected to be deleted should be removed from the list.
## Actual Behaviour
When clicked it

[2018-02-27 13:36] ankit01ojha commented on #2913
I am working on it.

[2018-02-27 13:39] #1872 closed

[2018-02-27 13:44] ankit01ojha opened #2914 "Unable to submit the survey form."
## Description
Even after filling all the required details in the survey form, the form is not getting submitted. And no error is shown.
## Steps to Reproduce
Admin >> System >> Manage Surveys >> Create new survey >> Fill all the required details

## Expected Behaviour
New survey should be created
## Actual Behaviour
The form is not getting submitted and no error is shown.
## Settings
- Mifos X ve

[2018-02-27 13:45] ankit01ojha commented on #2914
I am working on it.

[2018-02-27 13:46] ankit01ojha commented on #2914
@gkrishnan724 @abhaychawla @anweshknayak Do you all face the same issue??

[2018-03-01 11:00] #2776 closed

[2018-03-01 16:10] elisepope96 commented on #2767
@mbj36 @MYKatz If this is still open, I would like to work on it.

[2018-03-01 16:48] ankit01ojha commented on #2767
@elisepope96 yes, this issue is still open.

[2018-03-01 17:17] abhaychawla commented on #2914
@ankit01ojha I am able to create the survey form. Rather there seems to be a different issue after it gets submitted the review page I was redirected had no data and was blank. Although a new entry was created and I was able to review it by clicking on it from Manage Surveys page. Could you recheck at your side as well?

[2018-03-01 17:19] abhaychawla commented on #2913
Don't you think rather than deleting the survey from the list when the user deactivates it you could just make it inaccessible? In this way, the user will be able to reactivate it in case he needs the same in future rather than recreating it.

[2018-03-01 20:07] abhaychawla opened #2916 "Error log message overflows out of modal in Scheduler jobs"
## Description
The error log message overflows out of the modal in scheduler jobs.

## Steps to Reproduce
Admin -> System -> Scheduler Jobs -> Click on error log for any job

## Expected Behaviour
The error log message should completely fit inside the modal for the user to read.

## Actual Behaviour
The error log message overflows out of the modal.

## Settings
- Mifos X version: 17.07.01.RELEASE

[2018-03-01 20:07] abhaychawla commented on #2916
I am working on the issue.

[2018-03-02 05:44] #2808 closed

[2018-03-02 06:03] #2813 closed

[2018-03-02 06:05] #2800 closed

[2018-03-02 06:08] #2821 closed

[2018-03-02 06:15] #2824 closed

[2018-03-02 06:20] #2825 closed

[2018-03-02 06:24] #2816 closed

[2018-03-02 06:29] #2836 closed

[2018-03-02 06:32] #2839 closed

[2018-03-02 10:57] ankit01ojha commented on #2914
@abhaychawla yeah, that happened to me earlier, but now its not getting submitted.

[2018-03-02 10:58] ankit01ojha commented on #2913
@abhaychawla yeah, I was also thinking the same :)

[2018-03-08 04:53] santoshmath commented on #2914
We are able to create survey but if we make any mistake, it won't throw any error or validation message.

[2018-03-08 04:55] santoshmath commented on #2913
Related issue is raised here for platform side:
https://issues.apache.org/jira/browse/FINERACT-530

[2018-03-08 06:10] santoshmath commented on #2828
@anweshknayak , Could you give more details on this?

[2018-03-08 06:13] santoshmath commented on #2826
@Hersan1962 , I am able to select currencies from drop-down.
![w3](https://user-images.githubusercontent.com/23022667/37136057-f63abff6-22c5-11e8-9ce7-e62b6d10ac09.png)

[2018-03-08 10:50] anweshknayak commented on #2828
@santoshmath as you see here https://github.com/openMF/community-app/blob/develop/app/scripts/modules/datepicker.js#L212

the html template is embedded in the javascript file. By refactoring I meant to make something like
template: "path_to_html_file" . Creating a separate directory for html templates so that it is easily readable and can be modified with ease.

Also it may solve this https://gith

[2018-03-08 14:56] ankit01ojha commented on #2914
@santoshmath ,ok, then i should close this issue.

[2018-03-08 14:56] #2914 closed

[2018-03-10 04:31] #2841 closed

[2018-03-10 04:37] #2823 closed

[2018-03-10 04:48] #2847 closed

[2018-03-10 05:41] #2784 closed

[2018-03-11 11:18] anweshknayak opened #2921 "Ununiform spacing below header"
## Description
Ununiform spacing below header you see some white space. It shouldn't be there

## Screenshots, if any
![header](https://user-images.githubusercontent.com/8139783/37252709-0074e7d4-254c-11e8-824f-fbb97840680b.jpg)

It is after this https://github.com/openMF/community-app/pull/2727
@abhaychawla @gkrishnan724

[2018-03-11 17:56] abhaychawla commented on #2921
Its a minor issue with the number of pixels. It can be fixed by making the value of top: 51px/50px for mifos-reskin-ui-container. @gkrishnan724 Shall I resend the pull request?

[2018-03-14 16:39] #2846 closed

[2018-03-14 16:41] #2827 closed

[2018-03-14 17:21] #2817 closed

[2018-03-14 17:44] #2842 closed

[2018-03-15 05:46] #2863 closed

[2018-03-15 05:51] #2373 closed

[2018-03-15 05:57] #2865 closed

[2018-03-15 16:09] anweshknayak commented on #2854
@santoshmath @mbj36 @pranjal-goswami @edcable can you confirm if this is a workable issue? I think we should follow this feature as it reduces confusion amongst users.

As per mifos org's mission

I think most of the users would not have proper idea of how to prooceed. We can make things simple  and hassle free for them by following the feature above.

[2018-03-15 16:10] anweshknayak commented on #2876
@santoshmath can you add this one to `GSOC enhancements` .  This is not a bug. Just it needs feature enhancement.

[2018-03-16 06:21] santoshmath commented on #2854
@anweshknayak , it's simple, when you go to next step , the current page mandatory filelds must be filled.

[2018-03-16 06:25] anweshknayak commented on #2775
@gkrishnan724 there is more to work on this

[2018-03-16 06:26] anweshknayak commented on #2854
Closing this then

[2018-03-16 06:26] #2854 closed

[2018-03-16 08:47] anweshknayak commented on #2775
@gkrishnan724 looks like I referenced wrong PR here. Sorry

[2018-03-16 08:49] anweshknayak commented on #2755
@gkrishnan724 close this one instead of #2775 . Changed the title of PR here https://github.com/openMF/community-app/pull/2918

[2018-03-17 08:39] #2755 closed

[2018-03-19 12:55] monikamaheshwari commented on #2885
Wanted to work on this issue.

[2018-03-19 13:00] monikamaheshwari commented on #2832
I am working on this issue.

[2018-03-19 13:37] monikamaheshwari opened #2923 "Improper UI display in individual collection sheet"
## Description
The due save collections table is not displayed properly.

## Steps to Reproduce
Go to Individual Collection sheet tab > Change the max-width of tables.

## Expected Behaviour
Table should display all column data properly.

## Actual Behaviour
Not displaying column data properly.

## Settings
- Mifos X version: 17.07.01.RELEASE
- Browser used: Google-Chrome

## Screenshots, if any
!

[2018-03-19 13:37] monikamaheshwari commented on #2923
I am working on it.

[2018-03-19 13:49] anweshknayak commented on #2923
@monikamaheshwari this is already a part of **GSOC Idea List** for this project. Check here https://mifosforge.jira.com/wiki/spaces/RES/pages/225411076/Google+Summer+of+Code+2018+Ideas#GoogleSummerofCode2018Ideas-AngularJSWebAppEnhancements.

I don't think it is relevant to open issue for same. Rather you can provide your ideas in proposal.

[2018-03-19 17:12] abhaychawla commented on #2845
@gkrishnan724 I have investigated further into this issue and it turns out that there is some problem with the limit parameter in the request, which is giving an internal server error on exceeding a particular threshold as well as when 0 or -1 is specified to retrieve all the data. Currently, 1000 limit is specified in the code which when reduced to 200 works fine. Has this issue been raised at th

[2018-03-21 07:54] anweshknayak opened #2925 "New loader animation"
## Description
Loader animation for community-app when it starts.

## Steps to Reproduce
Please add as much detail as possible to reproduce the error/issue.
Don't assume the reader knows anything about the Mifos X Web App.

**Old design:**
![screenshot from 2018-03-06 10-13-50](https://user-images.githubusercontent.com/8139783/37698911-0fb542fe-2d0b-11e8-8df2-9bb64ab89980.png)

**New design**

htt

[2018-03-21 07:54] anweshknayak commented on #2925
@santoshmath @mbj36 @gkrishnan724 Please check

[2018-03-21 07:56] mbj36 commented on #2925
@anweshknayak This looks really cool

[2018-03-21 10:48] monikamaheshwari opened #2926 "Ununiform alignment in Groups and Centers"
## Description
In groups and centers tab the form alignment is not proper with buttons.

## Steps to Reproduce
Doing by changing the grid and making it consistent with Clients tab.

## Expected Behaviour
They form and buttons should be properly aligned and displayed.

## Actual Behaviour
The display is breaking.

## Settings
- Mifos X version: 17.07.01.RELEASE
- Browser used: Google-Chrome

## Scr

[2018-03-21 10:48] monikamaheshwari commented on #2926
I am working on it.

[2018-03-21 11:04] anweshknayak commented on #2926
Already an issue here https://github.com/openMF/community-app/issues/2775

[2018-03-21 11:13] monikamaheshwari commented on #2926
Is the issue was solved

[2018-03-21 11:14] anweshknayak commented on #2926
No

[2018-03-21 11:14] monikamaheshwari commented on #2926
okay then I will do it.

[2018-03-22 09:06] gkrishnan724 commented on #2925
@anweshnayak Looks nice!, please send a PR regarding the same.

[2018-03-22 13:39] monikamaheshwari opened #2928 "Bar button at the top corner"
## Description
The button at the top corner of the page.

## Steps to Reproduce
Either this button should execute some function like open menu else it should not have clicking option.

## Expected Behaviour
It has an click option but not doing anything

## Actual Behaviour
Should open menu.

## Settings
- Mifos X version: 17.07.01.RELEASE
- Browser used: Google-Chrome

## Screenshots, if any
![scr

[2018-03-22 13:58] monikamaheshwari commented on #2928
Working on it.

[2018-03-22 15:05] ankit01ojha commented on #2928
@monikamaheshwari, there is already an issue opened for this https://github.com/openMF/community-app/issues/2714 and a PR for this https://github.com/openMF/community-app/pull/2803.

[2018-03-22 15:19] monikamaheshwari commented on #2928
okay.

[2018-03-22 15:19] #2928 closed

[2018-03-24 11:18] Mallikarjuncfsl opened #2929 "Tax is not working for charges in loan disbursement"
## Description
When disbursing amount only charges are calculating but tax for charges is not calculating
does anyone know the solution

[2018-03-25 11:58] pratyush1687 opened #2930 "edit group option not working on local systems"
## Description
after creating a new group and viewing it, if I click on edit blank screen appears

## Steps to Reproduce
click on add group
add details
view your group
click on edit

## Expected Behaviour
should show edit options as seen on demo.openmf.org
![image](https://user-images.githubusercontent.com/25077017/37874712-e1f2377e-3051-11e8-9620-9f0e7b2495e9.png)

## Actual Behaviour
doesn't sho

[2018-03-25 16:58] pratyush1687 opened #2931 "client approval tab in pending tasks needs optimization"
## Description
The page shows all the data instantaneously for all the branches, it would be a better UX if we could show only branches at first and then on clicking a branch respective data is shown.

## Steps to Reproduce
side nav > click checker inbox & tasks > click on client approval tab

## Expected Behaviour
show only branches at first and then on clicking a branch respective data is shown.

[2018-03-31 06:09] ankit01ojha opened #2932 "Preview is not showing the default value(in drop down fields) of required fields."
## Description
Preview is not showing the default value(in drop-down fields)of required fields until they are changed to some other value.

List of forms with this errors:-
1. Loan Products
2. Savings Products
3. Shares Products
4. Fixed Deposit Products
5. Recurring Deposit Products
6. New Loan Application
7. New Savings Applications
8. New Shares Applications
9. New Fixed Deposit Applications
10

[2018-03-31 06:09] ankit01ojha commented on #2932
I am working on this issue :)

[2018-03-31 15:27] sharecodekzc commented on #2653
@santoshmath @Agnessy
still looking for support on this issue, tax on charges for savings and charges and interests loans.
Tax configuration seems correct, but is not taken into account when validating the charges ; no withhold tax calculated in the accounting.
Ready to give more details on our request, and looking for technical support to address this issue which is blocking for one of our custom

[2018-04-01 08:13] ghost opened #2933 "Create Template display text of buttons in clients or loans tab"
## Description
Provide a brief overview of the enhancement or issue.

## Steps to Reproduce
Go to CreateTemplateController.js and see what is the issue .

## Expected Behaviour
There should be proper display text instead of ((value))

## Actual Behaviour
The buttons text is showing ((value)).

## Settings
- Mifos X version: 17.07.01.RELEASE
- Browser used: Google-Chrome

## Screenshots, if any
![s

[2018-04-01 08:13] ghost commented on #2933
Working on it.

[2018-04-05 05:58] santoshconflux opened #2934 "Logo is not getting updating even the logo is changed in logo.json file"
In login page  , the logo next to MifosX (check the screenshot) is not getting updated even the logo is changed in logo.json file.

![screenshot from 2018-04-05 11-22-53](https://user-images.githubusercontent.com/23022667/38349236-b96e88b4-38c3-11e8-9621-a4b2e79a8705.png)

[2018-04-10 10:02] #2041 closed

[2018-04-17 13:34] AgnessMeena commented on #2833
Hi, @ankit01ojha am not working on it,, go on with it.

[2018-04-20 04:43] edcable opened #2935 "UI for editing submitted on date for groups"
## Description
This ticket is to implement the UI screen to allow for the submitted on date to be edited for a group that has already been created as requested in Apache Fineract at https://issues.apache.org/jira/browse/FINERACT-618

[2018-04-20 12:31] MexinaD opened #2936 "Error in approving the added mapping and approving the editing."
## Description
When maker checker is enable, when you add a mapping and approve it in checker, it throws an error and also when you edit existing one it throws an error

## Steps to Reproduce
Go to Admin->Systems->Entity to Entity mapping-> Office - Loan product
1. Add a mapping by filling necessary fields and submit, then follow the detail button and "approve"
2. Also try to edit the already avai

[2018-04-21 19:35] Nenge1 commented on #2475
The pull request regarding to this issues was merged
https://github.com/openMF/community-app/pull/2476

[2018-04-21 19:36] #2475 closed

[2018-04-30 06:28] santoshconflux opened #2938 "'Submit' button not working in 'Migrate Opening Balances' in Accounting and throwing improper error"
1. Define financial activity for migrate opening balances(Accounting>Accounts linked to financial activity) )
2. Go to Accounting>Migrate opening balances, select the offiece.
3. provide and debit and credit amount same.
Check the  attached screenshot.
![w2](https://user-images.githubusercontent.com/23022667/39416829-b0b1129c-4c6d-11e8-9a3d-b68f49579e36.png)

[2018-04-30 06:51] MexinaD commented on #2938
Hello @santoshmath i don't think if that is improper error
Can one account have a debit side and credit side at the same time?

[2018-04-30 10:37] MexinaD opened #2939 "Disbursement date when entered at first it gives "Required field""
## Description
During loan account application, when you enter the disbursement date at first, it still say the field is required until you enter the second time.

## Steps to Reproduce
Create a loan product from Admin->Product->Loan Product
Create an active client from clients->Create clients
Go to that active client and apply a loan "New Loan" and enter the disbursement date in the field "Disbur

[2018-05-03 08:22] AgnessMeena opened #2940 "Loan Product start date can be earlier than the Head office Opening date"
**Description**
When Creating Loan Product, you can set start date earlier than head office opening date.

**Steps to Reproduce**
Create the Head office with certain date, then create loan product set start date earlier than Head office opening date, submit.

 **Expected Behavior**
I be-leave the products are created soon after opening the office.
it should produce error like 'Loan Product Start d

[2018-05-03 09:29] AgnessMeena opened #2941 ""View Maker Checker Settings" link doesn't work when edit Maker Checker"
**Steps to Reproduce**
Admin >> Setting >> Configure Maker Checker >> edit >> open View Maker Checker Settings link
![maker checker 2018-05-03 12-22-27](https://user-images.githubusercontent.com/13551795/39569048-b83855d2-4ecc-11e8-9d5b-60b4a2e4166c.png)

[2018-05-03 13:19] AgnessMeena opened #2942 "Selecting Reccuring brings Fixed Deposit Product"
**Description**
Selecting Rec-curing deposit Products brings Fixed Deposit Products during loan application to the client.

**Steps to Reproduce**
Go to client >> More >> Create Rec-curing Deposit Product >> The drop-down list are fixed deposit products
That means Rec-curing application is not possible.

 **Expected Behavior**
The drop-down list should be Rec-curing Deposit products.

[2018-05-04 09:27] santoshconflux commented on #2941
It's breadcomb issue.

[2018-05-04 09:41] santoshconflux commented on #2925
@mbj36 , @anweshknayak ,Is this enhancement done? PR merged?

[2018-05-04 09:54] muddlebee commented on #2925
@santoshfinflux not yet. will send a PR soon

[2018-05-06 08:38] muddlebee opened #2945 "grunt compass error"
## Description
[code]

## Steps to Reproduce
[code]

## Screenshots, if any

[2018-05-07 10:26] Nenge1 opened #2948 "All actions on share account actions are not working on Mifos 18.03.01"
## Description
All actions on share account actions except submission.  Actions not working are share approval, rejection, applying additional share,reject additional shares, redeem shares, close share

## Steps to Reproduce
Go to
1. client,
2. Browse client profile, Goto More->New share account, submit and then try to perform any action in the share account created.

## Expected Behaviour

## Act

[2018-05-07 10:46] MexinaD opened #2949 "Unapproved and not disbursed loan with color of closed loan when reversed"
## Description
For the loan which was reversed from disbursal back to unapproved, it shows the color of inactive loan instead of unapproved loan.

## Steps to Reproduce
Create an active client: Client -> Create Client
Create a loan product: Admin->Product->Loan Product
Apply a loan of the product created to the created client: Clients -> View the client profile -> New Loan
Approve, disburse and ma

[2018-05-07 14:34] muddlebee commented on #2911
fixed with #2869

[2018-05-09 10:32] chandaaparna opened #2950 "Tooltips not working for Pie chart in dashboard page"
We have upgraded mifos to Version 18.03 and charts are not displayed in dashboard page. We have followed the below pull request:
https://github.com/openMF/community-app/pull/2869
After changing the above pull changes, we are able to see the charts on dashboard but the issue is we are not able to see the tooltips for pie chart.
And the other issue is, we are able to see tooltips for bar charts but

[2018-05-09 13:39] abiyats commented on #2934
Both the text and logo are in the same image.
If you with to change it, you will need to go to our tomcat --> ROOT --> images --> /images/mifos-logo-flat.png
Create your own image and rename it like "mifos-logo-flat.png" Delete the old one.
Clear cache of your browser. (Ctrl + Shift + Delete).

Then you will see the effect.

[2018-05-09 13:45] santoshconflux opened #2951 "Unable to approve share account which is already submitted."
Try to approve following share account.

https://staging.openmf.org/#/shareaccount/20/approve

username/password : mifos/password

[2018-05-09 13:47] santoshconflux commented on #2934
Thank you @abiyats

[2018-05-09 14:33] Nenge1 commented on #2951
@santoshfinflux , this is a duplicate of the issue [issue #2948](https://github.com/openMF/community-app/issues/2948)

[2018-05-09 15:11] libinmjacob opened #2952 "Admin can uncheck "ALL FUNCTION" permission checkbox which removes the admin privilages"
## Description
Admin user is allowed to uncheck "ALL FUNCTION" permission on Permissions:  Special screen. It drops the admin privileges for all the other admin user as well.
 Is there any way by which we can get the admin privileges back.

## Steps to Reproduce
Login to community app as admin.
Navigate to Admin>>System>>Manage Roles And Permissions and select an admin user. Then on Permission:Spe

[2018-05-10 05:42] chandaaparna commented on #2950
@smontanari, @frankmt @Nayan @amaehrle @siebrand : Can any of you look into this issue and help me in resolving this issue.

[2018-05-11 11:20] muddlebee opened #2953 "Logging in everytime on grunt serve restart"
## Description
We have to log in everytime we run command `grunt serve`
becomes quite hectic in development

@santoshfinflux @mbj36 @gkrishnan724 @gauravsaini03 any fix for this?

[2018-05-12 14:46] edcable opened #2954 "Can't Submit Single Row Data Table without Putting in Name for Second Column"
## Description
Can't submit single row data table unless a column name is put in for second column.

## Steps to Reproduce
Create a new data table and name the data table
Leave multi-row unchecked.

Add a row to the data table by filling in the fields and clicking the plus sign.

## Expected Behaviour
Should be able to successfully submit data table.

## Actual Behaviour

Can't submit data table b

[2018-05-15 16:57] muddlebee commented on #2950
@chandaaparna thanks for raising the issue. I will fix it asap.

Thanks

[2018-05-15 17:25] abhaychawla commented on #2950
@anweshknayak let me know if I could help as well as the issue is a continuation
of the PR made by me which fixed the dashboards.
Ref: https://github.com/openMF/community-app/pull/2869#issuecomment-387694756

[2018-05-15 17:31] muddlebee commented on #2950
@abhaychawla sure you can take this one if you want to. I am into other issues as of now.

[2018-05-15 18:40] abhaychawla commented on #2950
Okay!

[2018-05-16 05:20] santoshconflux commented on #2952
@libinmjacob, Permissions are given to roles and the roles assigned to users. If specific role permissions are modified, it would change the permission for all users who assigned with same role.

[2018-05-16 05:22] santoshconflux commented on #2953
@anweshknayak , In my case it's not happening. Looks it's permission thing which is not given to you?

[2018-05-16 09:37] muddlebee commented on #2953
@santoshinflux I posted in the gitter group. Looks like it is the problem for anyone. Can you tell me about what permission you talking about?

Also can you give access to me. I will be working this summer(GSOC) on this project. Things will be easy for me

[2018-05-17 06:40] botraunak commented on #2945
Resolved with #2946

[2018-05-17 06:40] #2945 closed, assigned to nobody

[2018-05-17 06:45] botraunak opened #2957 "Add app.css to .gitignore"
## Description
We don't need to track the app.css file as it's a generated file from .scss and is causing unnecessary diff in the commits

## Steps to Reproduce
On every change that relates to changing .scss files the whole generated css file diff is committed along with it

## Expected Behaviour
app.css will be generated on every grunt serve and is not required to track anymore

## Actual Behavio

[2018-05-17 08:59] muddlebee commented on #2953
@santoshconflux

[2018-05-18 13:16] AgnessMeena opened #2960 "Edit Product Mix"
**Description**
When Edit product Mix , you can remove all Restricted Products back to Allowed Products and submit successfully.

 **Steps to Reproduce**
Create Product Mix, edit , remove all restricted products, submit,,,
In the list of product Mix , the edited one disappear.

 **Expected Behaviour**
Should give an error message  **field is required
validation.msg.productmix.restrictedProducts.ca

[2018-05-19 18:52] muddlebee opened #2961 "Optimize web page performance"
## Description
Desktop version rating for speed by Google : 56 / 100

- [x] Optimize images

- [ ] Add CDN for static resources

- [ ] Minify JS

- [ ] Minify css/html

- [ ] Use browser caching

- [ ] Eliminate render-blocking JavaScript and CSS in above-the-fold content

- [ ] Optimize images

Detailed performance analysis :

 - [webpagetest.org](http://www.webpagetest.org/performance_optimizati

[2018-05-20 06:47] muddlebee commented on #2897
@gkrishnan724 please open this issue. It has been approved by my mentors.

[2018-05-21 08:10] #2916 closed

[2018-05-21 08:14] #2957 closed, assigned to nobody

[2018-05-22 10:48] AgnessMeena opened #2962 "Employee- Mobile Number for SMS Should only allow numeric"
**Steps to Produce**
Create/Edit Employee, Fill Mobile Number for SMS with any characters > Submit
![employee2018-05-22 13-42-34](https://user-images.githubusercontent.com/13551795/40357835-09709600-5dc6-11e8-960f-affc61bb9c43.png)
.
**Expected Behavior**
Should behave like client mobile number field
![client 2018-05-22 13-38-19](https://user-images.githubusercontent.com/13551795/40357602-70b4a046

[2018-05-22 12:32] AgnessMeena commented on #2668
@mbj36 @shubhshrma @gkrishnan724 Hi, Can you consider even  in the Modification of loan account.
![fund-from 2018-05-22 15-29-26](https://user-images.githubusercontent.com/13551795/40362360-f748a6e8-5dd4-11e8-9b82-cd30c99063ce.png)

[2018-05-22 12:36] muddlebee commented on #2668
@Agnessy it has been fixed in #2851 . Please check that once. Let me know if this still exists

[2018-05-22 13:31] muddlebee commented on #2668
sure looks like I missed this. Will update today itself @Agnessy.

[2018-05-24 10:41] AgnessMeena opened #2963 "Drop-down calendar is not displaying properly when creating Fixed Deposit Product"
**Steps to Reproduce**
Create FDP >  Interest Rate Chart > select End Date
 ![fd from 2018-05-24 13-35-10](https://user-images.githubusercontent.com/13551795/40480483-5874bcee-5f57-11e8-9b7c-cff333f41634.png)

**Expected Behavior**
It should be aligned like, when editing Fixed Deposit Product
![fddfrom 2018-05-24 13-38-24](https://user-images.githubusercontent.com/13551795/40480696-f62d0324-5f57-1

[2018-05-24 12:33] AgnessMeena commented on #2446
@mdew192837 @santoshconflux @aks681 @mbj36 @edcable  Hi, Thanks for Resolving this issue in the FDProduct Creation side
But i am still facing the same issue when editing Interest Rate Chart in both ways
1. When editing Product
![irc 2018-05-24 13-21-27](https://user-images.githubusercontent.com/13551795/40480084-1af8ac78-5f56-11e8-8d4c-e1ebb437c6fc.png)
2. And when editing itself(Not through edit

[2018-05-29 05:58] #2874 closed

[2018-05-29 06:55] #2870 closed

[2018-05-29 11:25] AgnessMeena opened #2964 "Unable to edit Group"
**Description**
Create Group > Edit

**Expected Behavior**
Should allow to edit, like
![edit](https://user-images.githubusercontent.com/13551795/40655873-4b2a054c-634b-11e8-96c4-3c26063816ec.png)

 **Actual Behavior**
It opens blank page

![edit3](https://user-images.githubusercontent.com/13551795/40656179-3eb484e4-634c-11e8-840f-5d1f0dd0f900.png)

Can someone check this issue

[2018-06-04 05:34] MexinaD opened #2965 "On employee creation, "joined on" field has no sign of showing it mandatory"
## Description
When creating an employee, a joined on filled has no sign of showing its mandatory

## Steps to Reproduce
Go to Admin, then Organisation, then manage employee, create employee, fill all the fields except the "joined on" field, when you submit you will get an error that the filed can not be blank

## Expected Behaviour
The field should have the sign to show that it should not be left

[2018-06-04 07:32] MexinaD opened #2966 "Account Usage is empty when editing the chart of account"
## Description
When editing the chart of account, the field of account usage do not come with the previous filled value

## Steps to Reproduce
Go to Account -> Chart of Account -> Create by filling all necessary fields including "Account Usage"
Then view the chart of account you created and edit, the "account usage" comes without the previous filled value

## Expected Behaviour
The field to have a

[2018-06-08 06:06] MexinaD opened #2968 "Allow to specify transfer date when transferring client from one branch to another"
## Description
System should allow a user to input a date of transfer

## Steps to Reproduce
To to a client profile Clients, then click a button of "Transfer client" and go through the process

## Expected Behaviour
The system should be improved to request for the date of transfer

## Actual Behaviour
No place to fill the date and hence take current data as a transfer date

## Settings
- Mifos X v

[2018-06-14 06:10] MexinaD opened #2969 "Ability to delete the uploaded document (failed or succeded) in bulkimport"
## Description
There should be an action to delete the uploaded document or history of the failed one

## Steps to Reproduce
Go to Admin -> Organisation -> Bulkimport, then choose any category to import
After importation, under documents, besides the imported document there should be an action to delete when you want.

## Expected Behaviour
An action to delete a document or an history of failed on

[2018-06-20 10:20] chandaaparna commented on #2964
@santoshconflux : Could you please try to resolve this?

[2018-06-20 11:58] santoshconflux commented on #2964
Already reported here: https://github.com/openMF/community-app/issues/2930

[2018-06-20 11:59] #2964 closed, assigned to nobody

[2018-06-21 08:20] chandaaparna commented on #2930
@gkrishnan724 : Could you please look into this issue.

[2018-06-29 09:12] santoshconflux commented on #2843
@ankit01ojha , this issue  is no longer reproducible. https://staging.openmf.org

[2018-06-29 09:13] #2843 closed

[2018-06-29 09:16] santoshconflux commented on #2801
Not reproducible

[2018-06-29 09:16] #2801 closed

[2018-07-02 17:43] #2950 closed, assigned to nobody

[2018-07-09 12:03] santoshconflux opened #2972 "Some Fields still show 'Required field' even after inputting the value."
And if you again click on disbursement date then the error 'Required Field' error goes. It happens in other  date picker scenarios as well. Most of the time, this issue arises  when data picker field is empty, ie.. not filled by the system.

![1_loanapplicationpage](https://user-images.githubusercontent.com/23022667/42449757-83d6b178-839f-11e8-9a7e-7212fb9a01ac.png)

![2_shareapplicationpage](http

[2018-07-09 15:31] ankit01ojha commented on #2972
Related issue https://github.com/openMF/community-app/issues/2701

[2018-07-09 15:33] ankit01ojha commented on #2972
@santoshconflux It is not limited to creating loan application, this is present in other places too.

[2018-07-12 12:07] #2536 closed

[2018-07-12 22:11] abhaychawla opened #2974 "Unable to create a new user despite of valid email address when Auto Generate Password is enabled"
## Description
Unable to create a new user despite providing a valid email address, when auto-generate password is enabled. The server returns a validation error although the email provided is correct. The same email is accepted while editing another user.

## Steps to Reproduce
Admin -> Users -> Create user -> Fill all required details and Submit

## Expected Behaviour
The server should not retur

[2018-07-16 08:41] santoshconflux opened #2976 "Unable to Edit Group: Clicking on 'Edit' button in Group page leading to blank page."
1. Go to any group which is on Submitted or Activated state.
2. Click on Edit button in the group page.
3. The navigated page is showing blank page.

[2018-07-16 11:38] santoshconflux opened #2977 "Not able to approve Additional share purchase request."
I am able to apply additional shares but not able to approve them . Check here:

https://demo.openmf.org/#/shareaccount/108/approveadditionalshares (mifos/password)

[2018-07-17 11:32] ShruthiRajaram commented on #2976
@santoshconflux  fix is available with this PR - https://github.com/openMF/community-app/pull/2978

[2018-07-17 12:13] santoshconflux opened #2980 "Unable to Approve or Reject Share account application which is already submitted."
YOu can try here:

https://staging.openmf.org/#/viewshareaccount/22

Fineract ticket: https://issues.apache.org/jira/browse/FINERACT-640

[2018-07-17 12:15] santoshconflux opened #2981 "Not able to create new datatable"
Related Fineract ticket: https://issues.apache.org/jira/browse/FINERACT-635

[2018-07-19 09:16] santoshconflux opened #2984 "Unable to go to next page"
Reported  by May Myint at https://issues.apache.org/jira/browse/FINERACT-619

Original Description:
On the All Reports, Users and Configurations pages, I am unable to browse the pages as clicking on the page numbers does not work.

If I sign out, refresh a few times and log back in, it will work for a few minutes and then stop working.

Tested in https://demo.openmf.org/#/home.

[2018-07-20 02:47] ankit01ojha commented on #2984
@santoshconflux ,its already been fixed  https://github.com/openMF/community-app/pull/2943,
issue similar to https://github.com/openMF/community-app/pull/2861 (please see the comments for the issue).

[2018-07-21 06:14] mbj36 commented on #2976
@santoshconflux  this can be tested and closed

[2018-07-23 04:23] santoshconflux commented on #2984
@ankit01ojha , Thanks. Closing  now.

[2018-07-23 04:30] santoshconflux commented on #2976
@ShruthiRajaram , @mbj36 , Unable to fetch latest code from develop branch to test this. I also sent mail regarding this.

[2018-07-23 06:00] mbj36 commented on #2976
What error are you getting ? or may be you can try to clone and rebuild it ?

On Mon, 23 Jul 2018 at 10:00, Santosh Math <notifications@github.com> wrote:

[2018-07-24 02:46] santoshconflux opened #2985 "loan product is accepting nominal interest rate as whole number"

[2018-07-24 13:33] mbj36 commented on #2976
@santoshconflux Did you get time to test this out on your machine ?

[2018-07-24 13:41] santoshconflux commented on #2976
@mohit, No. I am still not able to 'grunt serve'

[2018-07-24 14:02] mbj36 commented on #2976
Can you show me the error ?

CC - @ShruthiRajaram

[2018-07-24 14:28] santoshconflux commented on #2976
@mbj36, Forwarded mail to u

[2018-07-25 08:02] santoshconflux opened #2987 "Not able to open account number preferences"
Go to Admin>System> account number preferences,
If you click on it , it's continuously loading.

[2018-07-25 10:21] santoshconflux opened #2988 "In staging server, UI is continuously loading, not able to login"

[2018-07-25 10:22] santoshconflux commented on #2987
It  was happening  in particular tab of browser. After restarting the browser, its' working fine.

[2018-07-25 10:22] #2987 closed, assigned to nobody

[2018-07-25 11:00] santoshconflux commented on #2976
Tested it on staging. This issue  is fixed.

[2018-07-25 11:00] #2976 closed, assigned to nobody

[2018-07-25 11:41] mbj36 commented on #2988
@santoshconflux this should be fixed now, can be tested and closed

[2018-07-25 11:42] santoshconflux commented on #2988
@ShruthiRajaram , Closing this.

[2018-07-25 11:42] #2988 closed, assigned to nobody

[2018-07-25 12:45] santoshconflux commented on #2980
Related ticket:
https://github.com/openMF/community-app/issues/2948

[2018-07-25 12:45] santoshconflux commented on #2948
Related ticket: https://github.com/openMF/community-app/issues/2980

[2018-07-28 08:51] abhaychawla opened #2994 "Incorrect account options while adding financial activity account mapping for activityId 101-103"
## Description
Incorrect account options may be displayed for activityId 101-103 while creating a financial activity account mapping as these IDs have not been configured in the code.

## Steps to Reproduce
For Example:
Accounting -> Accounts linked to financial activities -> Define new mapping
First select Liability Transfer in Financial Activity, Liability account options will be displayed for a

[2018-07-30 09:55] ShruthiRajaram commented on #2930
The issue is fixed with - 2964

[2018-08-03 05:38] ShruthiRajaram opened #2997 "Creation of sub rates"
related to enhancement mentioned below,
https://issues.apache.org/jira/browse/FINERACT-614

[2018-08-06 19:29] abhaychawla opened #2998 "Redundant component present in Accounting"
## Description
A redundant controller AccOGMController is present in the accounting section and is not being used anywhere.

## Steps to Reproduce
Please see the project:
community-app/app/scripts/controllers/accounting/AccOGMController.js

## Expected Behaviour
The redundant code should be removed.

## Actual Behaviour
Redundant code (AccOGMController) is present.

## Settings
- Mifos X version:

[2018-08-10 17:36] terencemo opened #3001 "DataTable date fields: datepicker disables dates before 1st Jan of this year"
## Description
When editing a datatable having date fields, the date field may need to have values of previous years, e.g for a Next of Kin datatable, the date of birth of the next of kin can be several years before. Hence we need to be able to select dates of previous years. Currently, the datepicker only enables dates from 1st Jan, 2018 (as 2018 is the current year).

## Steps to Reproduce
Creat

[2018-08-14 07:40] ShruthiRajaram commented on #2900
@santoshconflux can you verify this bug. I think its not an issue.
As per my understanding, when the loan repayment screen is loaded by default it shows the next repayment date for the loan, this date can be either in past or future.  But if we override this functionality  and show only the current date it will mislead the data operator.

[2018-08-14 08:34] santoshconflux commented on #2900
@ShruthiRajaram , that's  correct. @ankit01ojha , the application always picks the  next repayment date in repayment page rather than current date. The current date  and repayment  date are always  matching if the repayment transaction is done on same date.

[2018-08-14 08:34] #2900 closed

[2018-08-16 12:26] AgnessMeena opened #3002 "Repayment Schedule Alignment"
**Description**
Repayment Schedule Alignment when the applied amount is large.
**Steps to Reproduce**
Apply loan to a client with a high amount of principle, submit
view repayment schedule.
the outstanding amount is not seen clearly(fully).

**Screenshots**
![repayment](https://user-images.githubusercontent.com/13551795/44207663-c3e37500-a166-11e8-95c5-0e6790b153c5.png)

[2018-08-16 12:52] AgnessMeena opened #3003 "Penalties Receivable tooltip translation in Loan product"
**Steps to Reproduce**
Create loan Product with Accrual Accounting, submit
then edit product
Penalties Receivable  tool-tip under Asset  is not translated.

 **Screenshots**, if any
![penalty](https://user-images.githubusercontent.com/13551795/44209169-538b2280-a16b-11e8-892b-66af3a1c4d5c.png)

[2018-08-17 07:25] AgnessMeena opened #3004 "Activation date field should throw error when edit center"
**Steps to Reproduce**
Create center, then edit
empty activation date, submit, nothing happen
**Expected Behaviour**
should show error which shows its mandatory, like when creating center
![activation 2018-08-17 10-14-41](https://user-images.githubusercontent.com/13551795/44253300-d8c41500-a207-11e8-97a6-6e6669226089.png)

[2018-08-17 08:59] santoshconflux commented on #3004
Its throwing 500  internal server error.

[2018-08-28 11:40] santoshconflux opened #3005 "ADDING TRANSFER DATE WHEN A CLIENT IS TRANSFERED FROM ONE BRANCH TO ANOTHER"
Related fineract ticket:
https://issues.apache.org/jira/browse/FINERACT-627

We need this feature in Mifosx. The current scenario is, when you want to transfer a client from one branch to another you do not need to choose which date the transfer was made, Mifos x picks the current date of the transfer. so for us we find it to be a big need to have a place to select a date when we are transferring

[2018-08-30 09:49] #2901 closed

[2018-08-30 10:06] #2948 closed, assigned to nobody

[2018-09-01 20:10] terencemo opened #3009 "Template calls IP address instead of domain on multi-domain setup"
## Description
On multi-domain multi-tenant setup, client/loan template calls default server IP address instead of calling the domain.

## Steps to Reproduce

Setup mifosx with multiple tenants, each with a different domain sharing a common IP address using a front-end server like Nginx or Apache, with reverse proxy to Tomcat. Setup also a default server when no domain is called (plain IP address)

[2018-09-01 20:33] terencemo commented on #3009
On further testing with the exact curl command from inspecting the network request called, was able to replicate this issue without CommunityApp so need to check further if it is a fineract issue.

[2018-09-01 20:39] terencemo commented on #3009
Able to replicate with the following command:
`curl -k -u mifos:password -X POST 'https://testdomain/fineract-provider/api/v1/templates/1?clientId=6' --data-binary '{}' -H 'Content-Type: application/json;charset=UTF-8'`

This should be sufficient evidence that the issue is with Fineract platform. It is tracked by https://issues.apache.org/jira/browse/FINERACT-650

[2018-09-05 05:09] MexinaD commented on #3005
Hello @santoshconflux
This is a dublicate of #2968

[2018-09-05 05:11] santoshconflux commented on #2968
Duplicate of https://github.com/openMF/community-app/issues/3005

[2018-09-05 05:11] #2968 closed, assigned to nobody

[2018-09-05 05:11] santoshconflux commented on #3005
@MexinaD , That issue is closed.

[2018-09-05 10:00] santoshconflux commented on #2653
@kazacube-hsmaiti , I just referred the following documentation about using tax with savings/FD/
RD while posting the interest.

https://mifosforge.jira.com/wiki/spaces/docs/pages/129957925/Manage+Tax+configuration

There is no information regarding how to use taxes with charges. We can add tax group to the charge product but it doesn't show any results in account level.
If it's working before 17.

[2018-09-05 10:05] santoshconflux commented on #2653
I am able to use tax group for 'With Hold Tax' when interest is posted to the savings account. 1% of interest posted is debited as withhold tax.
You can check here:
https://staging.openmf.org/#/viewsavingaccount/48
username: mifos
password: password

[2018-09-12 04:45] santoshconflux commented on #2939
Duplicate https://github.com/openMF/community-app/issues/2972

[2018-09-12 04:45] #2939 closed, assigned to nobody

[2018-09-12 04:46] santoshconflux commented on #2701
Duplicate https://github.com/openMF/community-app/issues/2972

[2018-09-12 04:46] #2701 closed

[2018-09-21 05:52] #2826 closed

[2018-09-26 09:31] santoshconflux opened #3010 "Permission for Post Interest As On for savings"
Moved from  : https://issues.apache.org/jira/browse/FINERACT-610

Currently, Post Interest As On is only available when User is given ALL FUNCTION permission. However, this is needed by many Users who should not be given the ALL FUNCTION (loan officers etc). This function is used when a client leaves the MFI and all their Savings are posted up to date and withdrawn. It would be ideal to have a sep

[2018-09-27 06:39] santoshconflux commented on #2767
fixed.

[2018-09-27 06:39] #2767 closed

[2018-09-27 11:53] #2888 closed

[2018-10-06 16:29] Rupeshiya commented on #2153
@gkrishnan724  should I replace `+` with Add Column button ? I would like to fix this .

[2018-10-06 17:45] Rupeshiya commented on #3004
@santoshconflux  @Agnessy   It's working fine in my case , I have tried as you have done ,getting expected output  that is
[code]
I think there is no issue ,please check it again.

[2018-10-06 18:12] Rupeshiya commented on #2965
@MexinaD  I would like to fix this issue. Can I go ahead ?

[2018-10-09 19:35] DanCarl857 commented on #1864
Hi openMF/community-app,
A message from Daniel Carlson was left on IQ Elite for you.
Click here https://a.iqelite.com/j/NHVo5Q/cnk/ to read your message

The IQ Elite Team

---------------------------------------------------------------------------
This message was meant for reply@reply.github.com. If you do not want to continue receiving such mails from IQ Elite, please click on this link: https:

[2018-10-09 23:35] DanCarl857 commented on #1864
Hello,

Jack Ryan  started using IQ Elite. He  wrote you a message.

To read the message before it expires, just click on this link: https://a.iqelite.com/entry/new_message/2beaa04b7aa20f5827489c2d3fda9e1f544b80bfb/320c612f7502e5151899083b0bec48975a860af52af91b6828abd6ec5c466585f60b0af896682588acb59b7cb8959a867b66eccb7cb829060b7cb51515151515151585874588aa85f83cb9060a8587b91b7c452b67491c4899090c320

[2018-10-16 09:09] MexinaD commented on #2965
Yes @Rupeshiya

[2018-10-16 23:35] DanCarl857 commented on #1864
Hello,

Your friend Jack Ryan sent you a message 36h days ago, which is still unread.

Within 24 hours the message will be deleted.

If you are curious to what Jack Ryan wrote you click here: https://a.iqelite.com/entry/new_message/2beaa04b7aa20f5827489c2d3fda9e1f544b80bfb/320c612f7502e5151899083b0bec48975a860af52af91b6828abd6ec5c466585f60b0af896682588acb59b7cb8959a867b66eccb7cb829060b7cb515151515

[2018-10-20 17:34] Jov03 opened #3013 "Readme File Typo"
## Description
In project Readme Documentation Bundler installation command Typo.
## Given
bundler install

## Expected Command
bundle install

I'll send in a PR with the correct command.

[2018-10-30 09:28] elirehema commented on #3002
@santoshconflux  can i work on this issue?

[2018-10-30 17:11] #3013 closed, assigned to nobody

[2018-11-01 11:44] abiyats opened #3017 "Nominal Interest Rate is not updating for all saving accounts after Changes has been made in Saving Product’s “ Nominal Annual Interest Rate”"
## Description
This is the scenario I need to report.

Lets say I have created a Saving Account #000001 with Saving Product “Mandatory Saving”. Initially, The Nominal Annual Interest Rate for Mandatory Saving was 5%.

After change of management or other reasons by the operation, one may need to increase the Interest Rate to 7%.

The error is :

 The saving accounts created before the amendment of

[2018-11-02 07:42] santoshconflux opened #3019 "Country is not showing in Client's address page"
Please check the attached screenshot - After the State, there should be Country with drop-down

![client address](https://user-images.githubusercontent.com/23022667/47899863-eac96180-dea0-11e8-96e6-c3ac27cc4b79.png)

[2018-11-02 08:48] ShruthiRajaram opened #3020 "Bulk import of client when address enabled is not working"
## Description
https://issues.apache.org/jira/browse/FINERACT-656

[2018-11-04 06:55] raakeshtomarnew opened #3022 "Fixed Deposit Maturity Value Wrong Display"
## Description
When we create FD for 36 Month @12% Per Year Amount of 1,00,000.00 its show wrong maturity value.

## Steps to Reproduce
Client-Create Fixed Deposit
Amount 100000
Rate of Interest - 12%
Period - 36 Month
Compounding - Quarterly
## Expected Behaviour
![ris_fd_calculater](https://user-images.githubusercontent.com/12490618/47961212-8a672b00-e02c-11e8-8e70-62a3d2ecf50a.png)
![ris_mifos]

[2018-11-05 11:59] #2890 closed

[2018-11-06 07:49] jshokoor commented on #3003
I would like to work on this issue as my contribution for the Outreachy internship application. I will submit my application with a link to this page for now, until further instruction.

[2018-11-06 13:58] elirehema commented on #2962
Resolved this in #3026

[2018-11-06 20:29] m-sameer commented on #2913
@ankit01ojha This doesn't happen to me. The survey gets deactivated and the button becomes `Activate` but the button doesn't activate the survey when clicked.
Could explain more and give screenshots, please?

[2018-11-07 03:45] santoshconflux commented on #2913
@m-sameer , Did you check here? It's working fine.

https://staging.openmf.org/#/surveys (mifos/password)

If you  still have doubts, ping me  on Skype: santoshmath99

[2018-11-07 08:01] elirehema commented on #2926
Am working on it. But the List of clients have the same issue, Button are both aligned with search boxes, Both client and center changes will be under same commit.
![clie](https://user-images.githubusercontent.com/29277048/48118137-6863e780-e27c-11e8-9de1-3964dffca79c.PNG)

[2018-11-07 12:46] elirehema commented on #2966
Fix #3025

[2018-11-07 14:35] bauripalash commented on #2963
@Agnessy @santoshconflux I think I was able to fix this issue with the above mentioned PR. Please Check!

[2018-11-08 03:46] santoshconflux commented on #2963
@abhaychawla or @ShruthiRajaram will review the PR shortly.

[2018-11-08 04:14] #2963 closed, assigned to nobody

[2018-11-08 04:54] bauripalash commented on #3003
@Agnessy @santoshconflux I think the PR mentioned above solves this issue. Take a look

[2018-11-08 05:54] #3003 closed, assigned to nobody

[2018-11-08 09:42] bauripalash opened #3036 "Weird Page Shown When Accessing Demo Via HTTP"
## Description
I was trying to access the demo of the Mifos X WebApp. As usual I typed <http://demo.openmf.org> , I was presented with a weird **It Works!** Page.

I again used `curl` to verify and it gave same result.

## Steps to Reproduce
### With Browser :
* Open Up Your Browser
* Visit <http://demo.openmf.org/>
* You'll see a similar Message as shown on in screenshot
* Again Try Visiting <htt

[2018-11-08 10:42] elirehema commented on #3036
Fix #3036  Use Secure Connection @bauripalash **[HTTPS](https://www.instantssl.com/ssl-certificate-products/https.html)** instead of **HTTP**
 https://demo.openmf.org/#/

[2018-11-08 10:50] bauripalash opened #3037 "☰ Button at Top Left Corner Does Nothing"
## Description
I tried clicking ☰ button at top left corner beside the MifosX logo , but it actually does nothing but wasting space.

## Steps to Reproduce
* Open MifosX Web App
* Login
* Try Clicking ☰ button at top left corner
* Nothing Happens

## Expected Behaviour
Do Something

## Actual Behaviour
Does Nothing

## Settings
- Mifos X version:  18.03.01.RELEASE
- Browser used: Firefox Quantum o

[2018-11-08 11:08] bauripalash opened #3038 "Create Closure Button In Accounting Closures Needs More Padding"
## Description
Create Closure button in Account Closure needs a more padding

## Steps to Reproduce
* Open and Login MifosX Web App
* Visit Account Closure `/accounts_closure`

## Expected Behaviour
Create Closure button should be with padding to look good

## Actual Behaviour
Create Closure button is touching borders of container

## Settings
- Mifos X version:  18.03.01.RELEASE
- Browser used: F

[2018-11-08 11:37] bauripalash opened #3039 "Indian Currency in Currency field in Frequent Postings Not Showing Properly"
## Description
Indian Currency in Currency field of Frequent Postings Not Showing Properly

## Steps to Reproduce
* Open and Login in MifosX
* Visit <https://demo3.openmf.org/#/freqposting>
* Take a Look in Currency field

## Expected Behaviour
Indian Currency Symbol Should be shown as ₹

## Actual Behaviour
Indian Currency Symbol is showing some weird characters

[**Extra Information**](https://w

[2018-11-08 11:50] elirehema commented on #3038
Fixed #3042

[2018-11-08 13:22] bauripalash commented on #3036
@elirehema  server should force https

[2018-11-08 16:47] abhaychawla commented on #3037
@bauripalash This is a duplicate of https://github.com/openMF/community-app/issues/2714 and a PR has already been sent. Kindly have a look at existing issues before creating a new one. Close this.

[2018-11-08 16:49] abhaychawla commented on #3039
Similar to https://github.com/openMF/community-app/issues/2440, this is a backend issue.

[2018-11-08 17:16] bauripalash commented on #3037
Apologise.
I tried searching for that kind of issue in issue searchbar, but as no results were showing so opened this issue.
Apologise!

[2018-11-08 17:16] #3037 closed, assigned to nobody

[2018-11-08 20:53] abhaychawla commented on #3003
@bauripalash From next time please ensure that no one else is working on the issue before sending a PR directly. Comment and ask before you start working on the issue.

[2018-11-09 01:18] bauripalash commented on #3003
I apologise for any inconvenience made.

@abhaychawla but it was a task in Google Code-in that's why I didn't asked anybody! I apologise

[2018-11-09 03:59] bauripalash commented on #2460
I don't think this is a problem. User IDs shouldn't be case-sensitive.

Assume, I have username `palash`
And now you'll not be able to have username `palaSH` , that's why we don't need to validate usernames this way.

Even GitHub allows me logging in with `BauriPalash` , where my username is `bauripalash`

[2018-11-09 05:11] santoshconflux commented on #2460
@bauripalash , In banking login, username may be case sensitive in some cases.

[2018-11-09 05:15] abhaychawla commented on #3003
@bauripalash Its okay, it wasn't a mistake. Looks like we had a miscommunication here as the `GCI 2018` label was absent. You may go ahead and work on the specific issues freely if it is a GCI task once you claim it on its portal.

[2018-11-09 05:42] bauripalash commented on #3003
Thank You

[2018-11-09 06:40] santoshconflux opened #3043 "Need a new permission for Assign Staff and Unassign Staff for Loans & Savings"
If We go to System>Manage Roles and  Permissions ,  There is no choice of permission for Assign Staff & Unassign Staff under 'Loan Transactions' and 'Savings Transactions Category'.

Same must be added.

Fineract ticket:

https://issues.apache.org/jira/browse/FINERACT-654

[2018-11-09 07:32] elirehema commented on #3019
Fixed #3044

[2018-11-09 07:54] raakeshtomarnew commented on #3022
Please help

[2018-11-09 08:19] ShruthiRajaram commented on #3043
For Loan - UPDATELOANOFFICER_LOAN and REMOVELOANOFFICER_LOAN for assign and unassign respectively. They come under he Loan Transactions
For Savings - UPDATESAVINGSOFFICER_SAVINGSACCOUNTand REMOVESAVINGSOFFICER_SAVINGSACCOUNT respectively for assign and unassign. These permissions are present under portfolio.

[2018-11-09 09:15] santoshconflux commented on #3022
@raakeshtomarnew , could you  share the excel sheet with calculations?

[2018-11-09 12:33] ShruthiRajaram commented on #2951
@santoshconflux  I was able to approve the application. Can you retest and close if issue is resolved?

[2018-11-09 12:36] ShruthiRajaram commented on #2938
@santoshconflux  kindly check and close the issue.

[2018-11-09 12:51] ShruthiRajaram commented on #2954
@santoshconflux it looks like duplicate of #2981. Kindly test and close.

[2018-11-09 12:56] ShruthiRajaram commented on #2974
@abhaychawla I am unable to reproduce this issue. I created a user in demo and gave a valid email address (auto-generate password enabled). On click of submit I received a mail on given address.

[2018-11-09 12:57] #2930 closed

[2018-11-09 12:58] abiyats commented on #2951
This fix has worked for me. I have checked it.

[2018-11-09 13:04] abiyats commented on #2951
Dear All,

I have found the fix here.

https://github.com/openMF/community-app/pull/2982/files

Regards,
Abiy A.

On Fri, Nov 9, 2018 at 3:33 PM ShruthiRajaram <notifications@github.com>
wrote:

[2018-11-09 13:38] raakeshtomarnew commented on #3022
I already sent image.
Thanks

Rakesh Tomar

*Team Lead*

*8923306463*
*8859127643*
*EMail:-raakeshtomar@gmail.com <EMail%3A-raakeshtomar@gmail.com>*
*website:-www.bnkbiz.com <http://www.santoshfinlease.com>*

On Fri, Nov 9, 2018 at 2:45 PM Santosh Math <notifications@github.com>
wrote:

[2018-11-09 13:59] abhaychawla commented on #2974
@ShruthiRajaram Yes, I am able to create the user now with my email. Maybe the issue was at the fineract side and got resolved, we could close this.

[2018-11-10 00:14] jonathanzhang53 opened #3046 "Unnecessary errors with 'field is required'"
## Description
When you get an error, you always get a 'field is required' error, even if all the fields are filled in. This is given along with the actual error.

## Steps to Reproduce
[THIS CAN BE REPRODUCED IN MANY PARTS OF THE APP WITH INPUT FIELDS]
One Example:
- Open [https://demo.openmf.org](url)
- Click Accounting
![image](https://user-images.githubusercontent.com/41968151/48308601-70e3490

[2018-11-10 00:24] jonathanzhang53 opened #3047 "# Staff under Navigation should be integrated with table right above"
## Description
When you select an office to navigate to its details with the navigation tool, the '# staff' is not aligned with the above table, and when taking a look at the html, is not even in the same table tag. It should be in the table to look better with same font size. Also, the number of staff is disproportionate and out of place.

## Steps to Reproduce
- Open https://demo.openmf.org
- Ho

[2018-11-10 01:10] jonathanzhang53 commented on #1718
This still persists for me on the demo server.
![reject error](https://user-images.githubusercontent.com/41968151/48295611-29d45580-e453-11e8-9192-3179f5e9cf50.gif)

[2018-11-10 01:15] jonathanzhang53 opened #3048 "Notifications are not showing up when requesting 'show all notifications'"
## Description
When you click on the bell icon at the top and select show all notifications, no notifications are shown and an error is thrown by console (use inspect).

## Steps to Reproduce
- Open [https://demo.openmf.org](url)
- Hover over the bell at top right
![image](https://user-images.githubusercontent.com/41968151/48308659-2a421e80-e52f-11e8-9bf0-ee7a7bd20720.png)
- Click 'Show all notifi

[2018-11-10 07:07] bauripalash commented on #3047
I found the problem. I hope I'll be able to fix it within few hours

[2018-11-10 11:21] bauripalash commented on #3047
I think this issue is solved by #3049

[2018-11-10 18:03] jonathanzhang53 commented on #3022
I don't think the maturity is incorrect. The maturity amount is shown in Rs on the mifos client as 142,576.09
The screenshot of the maturity calculator you showed had 1.4 lakh as the expected value. 1 lakh = 100,000 Rs and the amounts are equals.

[2018-11-10 18:05] jonathanzhang53 commented on #3022
On the same note, the interest earned is also correct. 0.4 lakh is about equal to the amount that is shown by the client.

@santoshconflux this should be closed.

[2018-11-10 18:07] jonathanzhang53 commented on #3047
@bauripalash thanks. was going to fix it myself but I guess you beat me to it :)

[2018-11-10 18:13] jonathanzhang53 commented on #3036
I will try and work on this.

[2018-11-11 01:39] bauripalash commented on #3036
@jonathanzhang53  I think this is backend or server configuration related problem!

[2018-11-11 02:13] jonathanzhang53 commented on #3036
@bauripalash thanks for the heads up

[2018-11-11 15:15] bauripalash commented on #3039
https://issues.apache.org/jira/plugins/servlet/mobile#issue/FINERACT-547

[2018-11-11 15:15] #3039 closed, assigned to nobody

[2018-11-12 05:37] #2974 closed, assigned to nobody

[2018-11-12 06:38] #3022 closed, assigned to nobody

[2018-11-12 06:42] santoshconflux commented on #1718
Please check you fetched latest code from Community App develop branch.

[2018-11-12 07:04] santoshconflux commented on #2954
@ShruthiRajaram , Yes. Closing this one.

[2018-11-12 07:34] #2938 closed, assigned to nobody

[2018-11-12 09:49] santoshconflux opened #3050 "Correcting Checker Inbox Labels"
If we go to Checker Inbox menu, there are 3 buttons. Approve, Delete and Reject. If we click on the button, it should show 'Confirm Approve?', 'Confirm Delete?' and 'Confirm Reject?' texts respectively in the pop menu.
In stead of 'Confirm' and 'Cancel' button , 'Yes' and 'No'  buttons needed.

![ss](https://user-images.githubusercontent.com/23022667/48339295-e3b70600-e68d-11e8-95e0-abbd33a16c73.p

[2018-11-12 11:02] #3047 closed, assigned to nobody

[2018-11-13 05:28] #2965 closed, assigned to nobody

[2018-11-15 04:34] raakeshtomarnew commented on #3022
On the same note, Why this not calculate Rs.142576.

[2018-11-15 04:45] jonathanzhang53 commented on #3022
@raakeshtomarnew what do you mean?

[2018-11-15 11:52] santoshconflux commented on #2981
Tested on https://staging.openmf.org/#. Fixed.

[2018-11-15 11:52] #2981 closed, assigned to nobody

[2018-11-15 12:03] santoshconflux commented on #2980
@ShruthiRajaram , Able to reject  share application, but not able to approve. Showing the error:

validation.msg.sharesaccount.shares.requested.can.not.be.approved.exceeding.totalshares.issuable

Showing above error even total shares are not exceeding.

[2018-11-15 12:42] santoshconflux commented on #2980
Fineract issue - Closed here and moved to https://issues.apache.org/jira/browse/FINERACT-664

[2018-11-15 12:42] #2980 closed, assigned to nobody

[2018-11-15 14:47] bauripalash commented on #3050
Seems to work fine!
What's the problem with `Confirm` and `Cancel` buttons. Please Clarify!

[2018-11-16 05:51] raakeshtomarnew commented on #3022
How to calculate right maturity.

On Thu, Nov 15, 2018, 10:15 Jonathan Zhang <notifications@github.com wrote:

[2018-11-16 17:07] edcable commented on #3043
@santoshconflux Are we moving these or just leaving as is?

[2018-11-16 23:09] santoshconflux commented on #3043
@edcable, I didn't get you. This is already fixed and PR is sent by Shruthi. Waiting to be someone review it

[2018-11-17 01:28] jonathanzhang53 commented on #2540
Does this issue still exist? I am unable to replicate it.

[2018-11-17 01:32] jonathanzhang53 commented on #2913
This is working fine for me.

![survey](https://user-images.githubusercontent.com/41968151/48654901-67e2f380-e9d6-11e8-83b7-2048b105b405.gif)

[2018-11-17 01:38] jonathanzhang53 commented on #2779
This is working correctly for me on Windows Chrome.

![scroll](https://user-images.githubusercontent.com/41968151/48654967-24d55000-e9d7-11e8-8ecd-ee5822d428d3.gif)

[2018-11-17 06:20] m-sameer commented on #2913
@santoshconflux Yeah, this is working fine. Thank you.

[2018-11-18 04:45] ankit01ojha commented on #2913
@santoshconflux , It is working fine for me too now. I think the issue can be closed.

[2018-11-18 04:47] #2913 closed

[2018-11-20 05:38] santoshconflux commented on #2540
Yes, it's fixed. Closing now.

[2018-11-20 05:38] #2540 closed

[2018-11-20 06:21] santoshconflux commented on #2779
Fixed.

[2018-11-20 06:21] #2779 closed

[2018-11-20 06:36] santoshconflux opened #3052 "In share Product, clicking on Add button for 'Market Price Period' Moving Wizard to the next step"
1) Go to Admin>Products>Share Products and click on 'Create Share Product'.
2) Navigate to the step market price and click on 'Add' button against  'Market Price Periods'

[2018-11-24 01:35] raakeshtomarnew commented on #3020
Very slow data importing. its take around 1 minutes for 1 client.

[2018-11-24 15:21] jonathanzhang53 commented on #2951
@luckyman20 This is also one of the fixed issues that is GCI task.

[2018-11-24 15:33] luckyman20 commented on #2951
@jonathanzhang53 Took the task down, thanks for informing.

@santoshconflux Can we close this issue now?

[2018-11-24 15:33] jonathanzhang53 commented on #2938
@santoshconflux Just a notice, this is still up on GCI task list :)

[2018-11-27 11:09] santoshconflux opened #3053 "Mifos Pentaho Reports not showing Charts due to some jar files are missing"
The following jar file is missing.

pentaho-reporting-engine-classic-extensions-3.7.0-ga.jar

[2018-11-28 12:12] santoshconflux commented on #1863
Related Fineract ticket: https://issues.apache.org/jira/browse/FINERACT-667

[2018-11-29 05:17] ShruthiRajaram commented on #2934
@abiyats  and @santoshconflux the logo which is currently displayed is an approved one. I believe the issue is with having client specific logo which was supported in earlier version and in current version this feature is not available.
@santoshconflux  kindly check with support team. @edcable correct me if I am wrong

[2018-12-03 08:38] #2335 closed

[2018-12-03 13:03] elirehema commented on #3050
Can i work on this?....

[2018-12-04 12:40] santoshconflux opened #3056 "Transaction 'Notes' should be displayed in summary of transaction"
Whenever we make Transactions like Loan Repayments, we can capture Notes. But currently,  after transaction is done ,these notes can be seen in Loan Account page rather than in Transaction Details.

Expected: Notes should be shown in Transaction details page.

Fineract Side Ticket: https://issues.apache.org/jira/browse/FINERACT-670

[2018-12-07 11:55] santoshconflux opened #3057 "Need a report Group Wise and Center Wise Accounting"
The following reports needed Groupwise and Centerwise for accounting:
1) Balance Sheet
2) Trial Balance

[2018-12-07 12:05] santoshconflux opened #3058 "Issue with Balance sheet and Trial Balance when product is enabled is with Advanced Accounting"
There is an issue in Advanced Accounting Rule.
In the loan product setting, two charges (e.g., Servie charge and Loan Fees) are applied. One of the charges is linked to Accounts Payable (by using Advanced Accounting Rule).
When we run Balance Sheet/Trial Balance, the amount doesn't show up in the respective COA (Accounts Payable). But, the expected amount is showing in other COA (which is Fee Inco

[2018-12-07 12:07] santoshconflux commented on #3057
Moved from https://issues.apache.org/jira/browse/FINERACT-534

[2018-12-08 07:12] raakeshtomarnew commented on #3057
Sir

Not Update and find.

i want center wise and group wise

balance sheet and trial balance

[2018-12-09 18:48] abhaychawla commented on #2658
@santoshconflux @ShruthiRajaram @gkrishnan724 I think the issue is no longer reproducible. I tested on the demo server and got a validation error. Can you please check and close this? This is also present as a GCI task and a student tried to attempt it here but was unable to reproduce it as well: https://codein.withgoogle.com/dashboard/task-instances/5266254341341184/

[2018-12-10 05:37] gkrishnan724 commented on #2658
@abhaychawla @santoshmath, I believe the error exists. I tried submitting it for the  same loan account and charge as given in santosh's screenshot i.e : `https://staging.openmf.org/#/addloancharge/50 ` and select the charge as `sew` when you hit submit without  giving the date. It gives an internal server error.

This is the response if you see it in the network tab: `{"timestamp":1544418611664,"

[2018-12-10 05:46] ShruthiRajaram commented on #2658
Issue is fixed . Closing the issue

[2018-12-10 07:38] santoshconflux commented on #3057
@raakeshtomarnew , the report will be developed soon.

[2018-12-10 07:52] ShruthiRajaram commented on #2658
@gkrishnan724 agreed.
@santoshconflux  it is a null pointer exception, so kindly create an issue in Fineract Jira as well.

Due date is a mandatory field and it is not handled properly in front end. It is allowing null as well. So @abhaychawla I too believe this should be fixed in community-app. So for this issue, making due-date go through mandatory check(not just the asterisk symbol)  should be

[2018-12-10 08:00] santoshconflux commented on #2658
@ShruthiRajaram , sure

[2018-12-10 08:42] raakeshtomarnew commented on #3057
if it is possiable
please give some hint for time period.
Thanks

Rakesh Tomar

*Team Lead*

*8923306463*
*8859127643*
*EMail:-raakeshtomar@gmail.com <EMail%3A-raakeshtomar@gmail.com>*
*website:-www.bnkbiz.com <http://www.santoshfinlease.com>*

On Mon, Dec 10, 2018 at 1:08 PM Santosh Math <notifications@github.com>
wrote:

[2018-12-10 16:19] abhaychawla commented on #2658
Yes, I agree with you. @ShruthiRajaram @gkrishnan724  But I am not sure why when I tried it here I didn't get a null pointer exception just this error:

![screenshot 362](https://user-images.githubusercontent.com/16948598/49746219-bb3f1d80-fcc6-11e8-9364-6cc802f8529d.png)

[2018-12-13 12:58] AgnessMeena commented on #1718
@santoshconflux @mbj36 Hi, still persists for me even after fetched the latest code,
Can you share with me the PR id of this issue.

[2018-12-13 13:59] AgnessMeena opened #3061 "Cancel button for Reschedule Loan in Checker Inbox & Tasks Do Nothing"
## Description
Go to Checker Inbox & Tasks >> Reschedule Loan >> Approve Then Cancel, Nothing happen
It suppose  to cancel the page
![res](https://user-images.githubusercontent.com/13551795/49941983-10607680-fef5-11e8-809f-388560215bfd.png)

## Screenshots

[2018-12-13 14:00] AgnessMeena opened #3062 "Cancel Button in Bulk Loan Reassignment should not navigate to Manage Offices"
## Description

Admin >> Organization >> Bulk Loan Reassignment >> then cancel
the it should navigate back to Organization not to Manage Offices

[2018-12-13 16:14] m-sameer commented on #2935
@edcable @santoshconflux This issue can be closed.

[2018-12-14 07:10] #2984 closed, assigned to nobody

[2018-12-14 07:18] #2951 closed, assigned to nobody

[2018-12-14 07:31] #2954 closed, assigned to nobody

[2018-12-14 07:38] santoshconflux commented on #2935
@m-sameer , we close the ticket after testing.

[2018-12-14 07:43] santoshconflux commented on #2934
@ShruthiRajaram , this ticket can be closed.

[2018-12-14 07:43] #2934 closed, assigned to nobody

[2018-12-14 07:55] #2885 closed

[2018-12-14 09:09] #2739 closed

[2018-12-14 09:21] #2721 closed

[2018-12-14 09:59] santoshconflux commented on #2658
Fineract side ticket: https://issues.apache.org/jira/browse/FINERACT-671

[2018-12-14 10:05] santoshconflux commented on #2653
Not able to reproduce.

[2018-12-14 10:05] #2653 closed

[2018-12-14 10:06] santoshconflux commented on #2652
Tested on staging. Working fine.

[2018-12-14 10:06] #2652 closed

[2018-12-14 10:50] santoshconflux commented on #3017
@abiyats , any changes made in product level (loan,savings, etc) will affect those accounts which are created after the change. It should not affect the existing accounts. It's correct behaviour.

[2018-12-14 10:54] santoshconflux commented on #1718
We have created another ticket for this in order to make it generalization

[2018-12-14 11:04] santoshconflux commented on #2567
Invalid.

[2018-12-14 11:04] #2567 closed

[2018-12-14 11:07] santoshconflux commented on #2528
Fixed and closed from Back end.:

https://issues.apache.org/jira/browse/FINERACT-623

[2018-12-14 11:07] #2528 closed

[2018-12-14 11:09] santoshconflux commented on #2468
Fixed.

[2018-12-14 11:09] #2468 closed

[2018-12-14 11:16] abiyats commented on #3017
Hello Santosh,

Okay. I understand brother, But what if the bank wants to increase interest
rates for all accounts? That was my question.

BTW, I have done it in database level. Selected all loans with activation
date less than the interest rate increment date, updated the nominal annual
interest field with the new rate.

And can we add a check box under the loan product page, to alow the change
f

[2018-12-14 11:22] santoshconflux commented on #2410
Not able to reproduce in recent version.

[2018-12-14 11:22] #2410 closed

[2018-12-14 11:26] santoshconflux commented on #2181
Duplicate.

[2018-12-14 11:27] santoshconflux commented on #2169
Fineract side issue: https://issues.apache.org/jira/browse/FINERACT-439.

Closed here.

[2018-12-14 11:29] santoshconflux commented on #2168
Fixed from Fineract side.  https://issues.apache.org/jira/browse/FINERACT-439

[2018-12-14 11:31] santoshconflux commented on #1732
@ShruthiRajaram , we will see whether it's Fineract side issue.

[2018-12-14 11:37] santoshconflux commented on #1667
Not able to reproduce.

[2018-12-14 11:37] #1667 closed

[2018-12-14 11:45] abiyats commented on #3017
Dear Santosh,

I was updating the contracts using the following sql command.

For Saving:
Assume, previous interest rate was 5%, and wanted to change to 7%.

UPDATE `mifostenant-default`.`m_savings_account` SET
`nominal_annual_interest_rate`='7.000000' WHERE  `activatedon_date` <
20181214;

For Loans:
Assume, previous interest rate was 10%, and wanted to change to 15%.

UPDATE `mifostenant-default

[2018-12-14 12:03] santoshconflux commented on #3017
@abiyats , Consider the one real scenario , you have already posted the interest 13% to the client's savings account after 1st quarter. Now you're updating product to the new interest at 15% and you made effective from savings activation date. Now all the transactions related to it must be updated and every journal entries as well. I think lot of tables get affected. I don't think it's easy  job.

[2018-12-14 12:13] abiyats commented on #3017
@Santosh,

Yeah you are right, we need to make it take an effect from the Rate
increment Date, not the saving activation date, because in that case it
will have to do backdate transactions which will affect journal entries.
(This must be done by local development by the client, and the system
should not be accountable for such actions) I agree with you.

But if these changes take effect right afte

[2018-12-14 14:11] m-sameer commented on #2935
@santoshconflux Okay. :)

[2018-12-17 10:41] brago opened #3065 "Cashier Recap Does Not Display Groups Operations"
## Description
when a cashier does a cashier operation for the groups it does not appear in his details of his day's operation. but the other operations outside the group appear well. then your tasks would be to make them appear and calculate the net balance.

## Actual Behaviour
example the cashier makes deposit and withdrawal transactions for individual customers and when you go to the Admin ->

[2018-12-17 14:49] Rupeshiya commented on #3061
@santoshconflux  I would love to fix this .
Can I proceed ahead ?

[2018-12-17 18:19] edcable commented on #3061
@Rupeshiya please go ahead. I'll assign you to the issue.

[2018-12-17 18:37] Rupeshiya commented on #3061
Hi edcable,

Thanks for assigning me the issue.
Will fix it now.

On Mon, 17 Dec 2018, 11:49 pm edcable, <notifications@github.com> wrote:

[2018-12-18 11:28] santoshconflux opened #3066 "Issue in Address section of Client creation page"
Multiple addresses are created during client creation. Please try to get validation error during client creation. It will create multiple addresses.
Client (Test Client 12334 Client #: 000003272) created in Demo site has 4 times Address created.

This issue is from the current version of demo site (Version 17.07.01.RELEASE).

![address issue](https://user-images.githubusercontent.com/23022667/5015

[2018-12-18 11:29] santoshconflux commented on #3066
Moved from https://issues.apache.org/jira/browse/FINERACT-532

[2018-12-18 11:50] Rupeshiya commented on #3061
@edcable  plz review .

[2018-12-18 12:36] Rupeshiya commented on #3046
@jonathanzhang53  I found that there is error on handling POST request of api .That's why unable to post the data .

[2018-12-18 13:14] Rupeshiya opened #3069 "Create Client doesn't giving error on submit without filling form"
## Description

On submiting the Create Client without filling  form ,client is  created.

## Steps to Reproduce

Go to Clients (on header) --> Clients --> Create Client --> now click Proceed -->Again Proceed.

## Expected Behaviour

Mandatory field should give error.

## Actual Behaviour

It's not giving error now.
## Settings

- Browser used: chrome
- OS: Windows 10
- OS: Ubuntu 18.04

[2018-12-19 01:33] jonathanzhang53 commented on #3046
@Rupeshiya Does that relate to the error handling? Not sure what you are referring to.

[2018-12-19 03:36] santoshconflux commented on #3069
@Rupeshiya , Looks like workflow is enabled. Let me which  entity data tables are enabled for create client by checking in Admin>Organization>Entity Data table checks.

[2018-12-19 05:46] ShruthiRajaram commented on #3046
@Rupeshiya , getting field is required message when all fields are entered is not good (Displaying what went wrong is enough).@jonathanzhang53 agreed. this needs to be handled in ApiValidationDirective

[2018-12-19 05:53] #3061 closed, assigned to nobody

[2018-12-19 10:12] #2465 closed

[2018-12-19 10:23] santoshconflux commented on #2445
Backend ticket: https://issues.apache.org/jira/browse/FINERACT-680

[2018-12-20 06:24] ShruthiRajaram commented on #1695
@santoshconflux can you help me in understanding this issue? . Number is stored as INT type  with length 11.  And also it can take up-to value -2147483648. So definitely 16 digit can not be stored in INT for a number. Why can't we use String instead of number in such cases or give one more data type of BigDecmal type?

[2018-12-20 06:30] santoshconflux commented on #1695
@ShruthiRajaram , In  recent version it's showing ""` invalid integer."  which is correct. Closing this ticket.

[2018-12-20 06:30] #1695 closed

[2018-12-20 06:33] ShruthiRajaram commented on #1710
Note: I believe  the breadcrumb should start at least from client or 'viewclient' page. Currently they are starting from loan account

[2018-12-20 13:48] Rupeshiya commented on #3046
Yes @jonathanzhang53  @ShruthiRajaram  this needs to be handled in ApiValidationDirective.

[2018-12-24 09:45] santoshconflux opened #3070 "Searching for groups while creating center is displaying groups which are already member of other center"
1) Go to centers and create a center.
2) While creating center search for existing groups and select the group which is already part of other center.

Expected: The application should not show the groups which are part of other centers.

Moved from: https://issues.apache.org/jira/browse/FINERACT-589

[2018-12-25 05:53] ShruthiRajaram commented on #2977
@santoshconflux  this issue is not reproducible in staging (https://staging.openmf.org/#/shareaccount/4/approveadditionalshares). Looks like already fixed. Kindly retest.

[2018-12-25 11:02] ShruthiRajaram opened #3073 "Submit operation is done twice in edit share product"
## Description
 On clicking the submit button in edit share product, update share product API is called twice.

## Steps to Reproduce
Step 1. Go to Admin->Products -> Share products->select any existing share product->edit
Step 2. Open inspect mode  - > click on submit. You will see that update API (Put request) is called twice. Or  add market price and submit. Though you added 1 market price, you

[2018-12-26 06:02] #3062 closed, assigned to nobody

[2018-12-26 13:35] ShruthiRajaram commented on #1722
@santoshconflux why do we require a date field in weekly charge? . When when I add a weekly charge without date I am able to submit the application.https://staging.openmf.org/#/viewsavingaccount/68
Kindly clarify.

[2018-12-27 06:15] ShruthiRajaram commented on #1722
@santoshconflux it looks like I took the wrong charge. my mistake. As discussed kindly retest again

[2018-12-27 06:25] ShruthiRajaram commented on #2445
@santoshconflux  kindly close this issue. The fix is available in https://github.com/apache/fineract/pull/503

[2018-12-27 06:45] ShruthiRajaram commented on #2414
@santoshconflux  it looks like @Ippezrobert  has developed this feature. Kindly test

[2018-12-27 07:21] ShruthiRajaram commented on #1732
@santoshconflux  I am looking into old journal entries and can see specific currency symbols displayed.
![image](https://user-images.githubusercontent.com/26407376/50470327-10bd3f00-09d6-11e9-92e0-918788c8bda7.png)
Kindly check and confirm

[2018-12-27 08:48] santoshconflux commented on #1732
Not able to reproduce in recent version.

[2018-12-27 08:48] #1732 closed

[2018-12-27 08:59] santoshconflux commented on #1722
Not able to reproduce in recent version.

[2018-12-27 08:59] #1722 closed

[2018-12-27 09:11] #2445 closed

[2018-12-27 09:12] #2414 closed

[2018-12-27 09:21] #2977 closed, assigned to nobody

[2018-12-29 19:59] Jov03 opened #3077 "Travis Build Failing"
## Description

In recent PRs while testing travis is unable to register grunt karma task where as when tests are executed locally they work fine.

## Expected Behaviour

task should register successfully so that travis can execute tests.

## Actual Behaviour

Unable to register grunt karma task while building project.

## Screenshot from a failed build logs
![screenshot from 2018-12-30 01-16-18](

[2019-01-02 06:04] santoshconflux commented on #2942
Tested on staging. Fixed.

[2019-01-02 06:04] #2942 closed, assigned to nobody

[2019-01-03 08:37] santoshconflux commented on #3073
Fixed.

[2019-01-03 08:37] #3073 closed, assigned to ShruthiRajaram

[2019-01-04 05:28] santoshconflux commented on #3066
Fixed.

[2019-01-04 05:28] #3066 closed, assigned to nobody

[2019-01-04 05:57] santoshconflux commented on #3052
Fixed.

[2019-01-04 05:57] #3052 closed, assigned to nobody

[2019-01-04 06:02] santoshconflux opened #3080 "In share Product creation process, after entering all mandatory values for 'Terms' step , the navigation wizard indicates that all mandatory values are not added for 'Terms' step"
1) Go to Admin>Products>Share Products> Create Share Product.
2) Go step by step and enter all the values in 'Terms' step and go to next step:

![share product creation](https://user-images.githubusercontent.com/23022667/50675467-6025ef80-1014-11e9-91d9-92ce17baedf8.png)

[2019-01-04 06:21] santoshconflux commented on #3020
Fixed from backend side and front end side.

[2019-01-04 06:21] #3020 closed, assigned to ShruthiRajaram

[2019-01-04 07:41] santoshconflux commented on #3019
Fixed.

[2019-01-04 07:41] #3019 closed, assigned to nobody

[2019-01-04 07:45] santoshconflux commented on #3010
#fixed.

[2019-01-04 07:45] #3010 closed, assigned to nobody

[2019-01-04 07:50] santoshconflux commented on #3004
Fixed.

[2019-01-04 07:50] #3004 closed, assigned to nobody

[2019-01-04 08:07] #2994 closed, assigned to nobody

[2019-01-04 12:15] santoshconflux commented on #2935
Tested on staging. Fixed.

[2019-01-04 12:15] #2935 closed, assigned to nobody

[2019-01-07 06:49] santoshconflux commented on #2985
Tested on Staging. Fixed.

[2019-01-07 06:49] #2985 closed, assigned to nobody

[2019-01-07 06:51] santoshconflux commented on #2889
Fixed.

[2019-01-07 06:51] #2889 closed

[2019-01-07 07:05] #2795 closed

[2019-01-07 07:10] santoshconflux commented on #2794
In terms, there is still no validation.

![terms](https://user-images.githubusercontent.com/23022667/50753842-5fda5e00-1279-11e9-967e-3e2e7fa51047.png)

[2019-01-07 08:45] abhaychawla commented on #2794
@santoshconflux there is an existing PR for this: https://github.com/openMF/community-app/pull/3071

[2019-01-07 09:52] Jov03 commented on #2794
@santoshconflux i have fixed this issue in PR #3071 the changes have been approved by both @abhaychawla and @ShruthiRajaram but @ShruthiRajaram asked to get successful travis build before she could merge the PR. Now Travis builds are failing due to issue explained in #3077 . I even raised this problem on mailing list looking forward for some help.

[2019-01-07 10:00] santoshconflux commented on #2794
Ok. Got your point.

[2019-01-07 10:53] santoshconflux commented on #2765
Tested on Staging. Fixed.

[2019-01-07 10:53] #2765 closed

[2019-01-07 10:59] santoshconflux commented on #2718
Tested on https://mobile.openmf.org, Fixed.

[2019-01-07 10:59] #2718 closed

[2019-01-07 11:00] santoshconflux commented on #2668
Fixed.

[2019-01-07 11:00] #2668 closed

[2019-01-07 11:06] santoshconflux commented on #2656
Tested on staging . Fixed.

[2019-01-07 11:06] #2656 closed

[2019-01-07 11:14] santoshconflux commented on #2587
Fixed.

[2019-01-07 11:14] #2587 closed

[2019-01-07 11:18] santoshconflux commented on #2439
Fixed. Notes field is removed while undoing approval.

[2019-01-07 11:18] #2439 closed

[2019-01-08 13:53] aaryan01 commented on #3002
@santoshconflux Can I work on this issue? I think I might have a possible solution to it.
![screenshot from 2019-01-08 19-18-29](https://user-images.githubusercontent.com/31697449/50834725-cf844200-137a-11e9-9e5b-853572a83f1f.png)

[2019-01-09 09:33] santoshconflux commented on #3002
Thank for PR, @aaryan01

[2019-01-10 11:24] santoshconflux commented on #3043
Tested on Staging. Fixed.

[2019-01-10 11:24] #3043 closed, assigned to ShruthiRajaram

[2019-01-10 11:24] santoshconflux commented on #2651
Tested on Staging . Fixed.

[2019-01-17 11:31] #3005 closed, assigned to nobody

[2019-01-19 10:56] MehulGoel1 commented on #2931
I want to work on this issue, please assign this to me.

[2019-01-19 11:00] i-am-g2 commented on #1802
is it still open? I want to work on this.

[2019-02-06 17:01] aashish-ak commented on #2717
Hey @santoshconflux  @edcable  I tried reproducing this issue and i set the scheduled date to `6thFeb` i.e today's date and i was able to create the campaign but when i tried editing the campaign, the uneditable scheduled date was visible as `7thFeb` which is after the submission date i.e `6thFeb` which is correct, that's why we're able to create a campaign successfully without any problem, I'm in

[2019-02-11 10:28] BalaVignesh18 opened #3084 "[Mifos-User]- Unable to create or Add user and client in Mifos Multi-tenant"
## Description

## Steps to Reproduce

## Expected Behaviour

## Actual Behaviour

## Settings

- Mifos X version:
- Browser used:
- OS:

## Screenshots

[2019-02-11 10:29] BalaVignesh18 commented on #3084
I have installed Mifos 18.03.01 and also created Multi-tenant , but unable to add user and client in Multi-tenant

[2019-02-16 06:53] aashish-ak commented on #2717
@edcable @santoshconflux  A little help needed here!

[2019-02-18 07:18] santoshconflux commented on #2717
@aashish-ak , let me know.

[2019-02-21 06:35] raakeshtomarnew opened #3085 "Not Required Group and Center"
Not required Group and Center
## Description
The Institution Not Required Group and center

## Steps to Reproduce
Hide Group in menu
Hide Center in menu

## Expected Behavior
Group and center in menu

## Actual Behavior
Not want center and group

## Settings

- Mifos X version: 18.0.3
- Browser used:google chrome
- OS:win7

## Screenshots

[2019-02-22 03:31] santoshconflux commented on #3085
@raakeshtomarnew , Can we create user with no permissions - 'Read Group', and 'Read Center'?

[2019-02-22 03:32] santoshconflux commented on #3084
I am not able to understand. Could you give some more details?

[2019-03-11 08:21] debenick17 commented on #3048
I will like to work on this issue

[2019-03-11 12:06] debenick17 commented on #3056
I will like to work on this issue

[2019-03-11 12:21] debenick17 commented on #3046
Can I work on this issue?

[2019-03-11 13:08] abhaychawla commented on #3056
@debenick17 You can work on a single issue at a time only. Please do not try to claim multiple issues at once.

[2019-03-11 13:38] debenick17 commented on #3056
Ok @abhaychawla well understood. Thanks for the information.

[2019-03-12 15:13] fonlawrence commented on #3084
Please could you give the steps to reproduce for a start?

[2019-03-13 17:41] debenick17 commented on #3056
Hello @abhaychawla please I am facing dificulties on this issue. I can locate the transaction details page.

[2019-03-13 18:26] abhaychawla commented on #3056
@santoshconflux Can you please help locate the specified page?

[2019-03-14 04:09] santoshconflux commented on #3056
Go to this loan account page
https://staging.openmf.org/#/viewloanaccount/184

Click on 'Transactions' Tab and then click on Repayment  on 1 March 2019 which leads to:

https://staging.openmf.org/#/viewloantrxn/184/trxnId/16615

We want to display 'Notes' in the above page. Currently it's diplaying in 'Notes' tab. Check the Notes tab in the loan account:

[2019-03-14 11:22] SupreethSudhakaranMenon commented on #3084
![Select  Clients](https://user-images.githubusercontent.com/45706852/54352913-b8164d80-4678-11e9-8568-7dbcded71a6d.png)
![CreateClient](https://user-images.githubusercontent.com/45706852/54352921-c06e8880-4678-11e9-890a-58ecfd073573.png)
![Form](https://user-images.githubusercontent.com/45706852/54352929-c49aa600-4678-11e9-9382-d688a8ea86bd.png)

Select the "Clients" dropdown menu and select the

[2019-03-14 17:15] SupreethSudhakaranMenon opened #3090 "Missing Information in Navigation page"
## Description
There is no information provided in the labels of Navigation Page

## Steps to Reproduce
You can use the demo version of the app provided https://demo.openmf.org/#/ or clone the repo into your local system and follow the instructions given in the page to how to run it locally on your machine.
Move the Cursor towards the side bar which comes across the screen and click on the Navigat

[2019-03-15 06:01] SupreethSudhakaranMenon commented on #2832
As per the second screenshot i have met the required solution for that , and i hope i have fixed it.
Below will be attaching the screenshot of the same.
![Cursor](https://user-images.githubusercontent.com/45706852/54411547-d8481a00-4715-11e9-9d7c-b0cca9ea8acb.png)

[2019-03-15 19:51] fonlawrence commented on #3069
Am not able to reproduce this. I think you should recheck it and maybe close this PR

[2019-03-16 04:40] SupreethSudhakaranMenon commented on #2752
As per the issue raised by @anweshknayak , i hope i have solved the issue by meeting the required solution by aligning the run report button.
![#2752](https://user-images.githubusercontent.com/45706852/54470770-bb721c00-47d3-11e9-9200-f189019d73a5.png)

[2019-03-16 04:57] SupreethSudhakaranMenon opened #3091 "Play button alongside Run report button in Reports Section"
## Description
There should be a play button beside the Run report button which would help it look more interactive to the user.

## Steps to Reproduce
You can use the demo version of the app provided https://demo.openmf.org/#/ or clone the repo into your local machine and follow the instructions given in the page to how to run it locally on your machine.
After the setup is done ,  hover on the to

[2019-03-16 05:24] SupreethSudhakaranMenon commented on #2729
As per the issue , @anweshknayak  , i have fixed the issue by properly aligning the edit button.
Below will be attaching the screenshot of the same.
![#2729](https://user-images.githubusercontent.com/45706852/54471111-e2cbe780-47d9-11e9-9df2-d61dbbfcb0dd.png)

[2019-03-16 06:11] SupreethSudhakaranMenon commented on #2182
I found this , when i was going across this issue , when i checked this issue in the demo version of the app a pop-up appeared which had two options giving to the user "cancel" and "confirm". I think the issue was fixed and its working fine properly now.
![#2182](https://user-images.githubusercontent.com/45706852/54471528-5b35a700-47e0-11e9-8193-18563ff145ce.png)

[2019-03-16 09:58] abhaychawla commented on #3090
@SupreethSudhakaranMenon This is how it is meant to work. It is not an issue. Please read the manual.
https://mifosforge.jira.com/wiki/spaces/docs/pages/82706692/Navigation+Tool
Kindly close the issue.

[2019-03-16 10:02] abhaychawla commented on #3091
The issue was already fixed by the PR https://github.com/openMF/community-app/pull/2922. Please close the issue if it cannot be reproduced on the `develop` branch of the repository when you clone it.

[2019-03-16 10:04] abhaychawla commented on #3077
Fixed via https://github.com/openMF/community-app/pull/3087

[2019-03-16 20:35] souvik3333 commented on #3053
Hi, can I work on this?

[2019-03-21 00:08] debenick17 commented on #3056
I have been having difficulties understanding the codebase. For some days I have tried to grasp some of it while trying to figure out how specific files and folders for the controllers, directives, views and the others are been arranged. It's quite tedious but a good experience and I am loving it.
I have seen a file `app/views/loans/view_loan_transaction.html` and wanted to know if this is where m

[2019-03-23 02:46] loveloud commented on #2949
Hello, I would love to fix this. Any guidance on where I can start?

[2019-03-23 06:42] pbhagade0 commented on #3036
Hi,

I am a GSOC aspirant.
Can I be assigned this issue?

Thanks

[2019-03-24 00:26] jonathanzhang53 commented on #3036
@pbhagade0 since you are not in gsoc yet, you can simply comment on this issue that you are working on it and submit a PR. I never got around to working on it so it's all yours.

[2019-03-25 01:46] pbhagade0 commented on #3036
I was expecting it to be broken on my local box as well. But the content is vended correctly on local. The local URL I tested is
http://localhost:9002/?baseApiUrl=http://demo.openmf.org#/

Any hints as to what direction I should look next

[2019-03-25 04:58] santoshconflux commented on #2949
@Hackingforlife , Did you set up Community app by fetching the code and following the instructions from below link?

https://github.com/openMF/community-app

[2019-03-25 06:07] santoshconflux commented on #3036
Try this one as well.. http://localhost:9002/?baseApiUrl=http://staging.openmf.org#/

[2019-03-25 13:24] loveloud commented on #2949
@santoshconflux, Yes, I have finished setting up the community app...Though i need further guidance  on actually working on this issue

[2019-03-25 18:15] loveloud commented on #3046
Hello, I would like to fix this, any guidance on where I can start?

[2019-03-25 18:56] loveloud commented on #3001
hello, I'm an applicant for outreachy, I would love to fix this.i have already set up the community app locally.I seek further guidance on how to solve this issue

[2019-03-26 03:43] santoshconflux commented on #2949
@Hackingforlife , Did you follow the description? Which step you didn't understand?

[2019-03-26 03:54] santoshconflux commented on #3046
@Hackingforlife , Go to accounting section and follow the steps given in description.

[2019-03-26 07:20] loveloud commented on #2949
On the steps to reproduce, right from the first step, I'm not sure where to make the changes in the code?

[2019-03-26 18:53] loveloud commented on #3046
@santoshconflux,  I'm on it.

[2019-03-27 06:54] terencemo opened #3092 "DataTable date+time fields: datepicker disables dates before 1st Jan of this year"
## Description

This is similar to issue #3001 but is for a different data type and I believe merits to be a separate issue. When editing a datatable having date & time fields, the date field may need to have values of previous years, e.g for a Next of Kin datatable, the date of birth of the next of kin can be several years before. Hence we need to be able to select dates of previous years. Curren

[2019-03-27 06:57] terencemo commented on #3001
@Hackingforlife this has already been fixed by PR https://github.com/openMF/community-app/pull/3008 but there is a related issue https://github.com/openMF/community-app/issues/3092 which I suggest you can fix instead. Otherwise you can copy-paste the changes from the above PR and add changes that fix both issues 3008 and 3092 since the reviewer of the above PR stated desire was that fixes for both

[2019-03-27 18:48] pbhagade0 commented on #2921
Hey,

I am a gsoc aspirant.
I am working on fixing this issue.

[2019-03-27 18:50] pbhagade0 commented on #3036
Not reproducible on that URL either

[2019-03-27 20:09] loveloud commented on #3046
@santoshconflux, Hello, I was able to reproduce the error but then I have been trying to troubleshoot, but I'm still not sure where to find the API Validation Directive code, I have not used Angular before. I'm stuck here.

[2019-03-28 03:43] santoshconflux commented on #3046
@Hackingforlife , Please send mail to dev mailing list. or enquire in Gitter.

[2019-03-28 06:48] loveloud commented on #3046
Alright.Thanks

[2019-03-28 06:53] loveloud commented on #3046
@santoshconflux, Kindly help me with a link to the mailing list.Thanks

[2019-03-28 07:15] santoshconflux commented on #3046
@Hackingforlife ,To subscribe, send a blank email to dev-subscribe@fineract.apache.org.

[2019-03-28 08:24] loveloud commented on #3046
@santoshconflux , Thanks

[2019-03-28 08:55] loveloud commented on #3046
@santoshconflux ,i did send the email,but looks like this email address doesnot work anymore.I was not successful

[2019-03-29 16:43] muarachmann commented on #2807
@mbj36 , @santoshconflux could i have a peek at this and get it assigned to me

[2019-04-09 13:47] sanmitraD opened #3093 "Adding Telugu Language"
## Adding Telugu Language Support for the web site

I want to add Language language support to the application

## Expected Behaviour

We can provide access to a large number of Telugu people (90 million) in the world. In their native language
## Actual Behaviour

Currently there is no Telugu Language support

[2019-04-09 13:47] sanmitraD commented on #3093
I made a file called locale-te.json by following the other language fies

[2019-04-09 14:21] sanmitraD commented on #3093
``
![mifos X telugu](https://user-images.githubusercontent.com/22276652/55808025-e4e74480-5b00-11e9-9103-780702c15d93.png)

[2019-04-09 14:24] sanmitraD commented on #3093
This is the view of the homepage in the Telugu language
![mifos X telugu](https://user-images.githubusercontent.com/22276652/55808198-40193700-5b01-11e9-9f98-a0b966e712df.png)

[2019-04-09 14:31] sanmitraD commented on #3093
Here is the commit
[https://github.com/sanmitraD/community-app/commit/b3324bed122dd70e30ea615e7d3850402f3370b4](https://github.com/sanmitraD/community-app/commit/b3324bed122dd70e30ea615e7d3850402f3370b4)

[2019-04-09 14:32] sanmitraD commented on #3093
Please allow me to pull request

[2019-04-10 12:59] santoshconflux commented on #1820
Related PR yet to b reviewed and merged.
https://github.com/openMF/community-app/pull/2139

[2019-04-24 11:17] awasum opened #3097 "Add Getting Started Doc to help new contributors to understand the code base"
Transfer this doc: https://docs.google.com/document/d/1oXQ2mNojyDFkY_x4RBRPaqS-xhpnDE9coQnbmI3Pobw/edit#heading=h.vhgp8hu9moqn to a Getting-Started.md file at the root of the source code for easy update and access.

[2019-04-29 04:13] SupreethSudhakaranMenon commented on #3097
Please refer to this one https://github.com/openMF/community-app/pull/3098

[2019-04-29 10:21] awasum commented on #3097
Thanks @SupreethSudhakaranMenon . @santoshconflux , there is a PR already for this issue: #3098

[2019-05-10 09:45] sidharthGrab opened #3099 "Master branch not in sync with backend master branch"
## Description

The front end master code is not in sync with the fineract back end code. (https://github.com/apache/fineract)
## Steps to Reproduce

you can create a product from the front end but when you try to update it the put API fails because the front end sends a few parameters which fails validation in the backend.

## Expected Behaviour

Both the front end and back end master branches sh

[2019-05-10 18:59] maektwain opened #3100 "This line of code is erroneous"
https://github.com/openMF/community-app/blob/a7b8f39c86f3ee19fa66d957d7bfe0ec2a799989/app/scripts/controllers/client/CreateClientController.js#L106

API does not return ARRAY with indexes it simply puts object which can be accessed via '.' aka dot operators

Would suggest to change the [0] to . only
thanks

[2019-06-05 04:53] santoshconflux opened #3103 "Dropdowns are using values directly from API instead of using translation"
Reported by Chandrika at https://mifosforge.jira.com/browse/MIFOSX-2081

Original Description:
For example, the below dropdown uses documenttype.name from API (which is by default in English language).Instead we should use translate(documenttype.name) so that the values will be in sync with the respective language selected by user.
<select id="documentTypeId" ng-model="formData.documentTypeId"
ng-

[2019-06-05 04:55] santoshconflux commented on #3103
Fineract side ticket : https://issues.apache.org/jira/browse/FINERACT-305

[2019-06-05 05:05] santoshconflux opened #3104 "Add Note/Comment fields to Share Account Transactions"
As a cashier at a teller, i would like to add custom transaction description to share account transactions e.g Share Dep - Robert

[2019-06-05 05:08] santoshconflux commented on #3104
Fineract ticket: https://issues.apache.org/jira/browse/FINERACT-442

[2019-06-05 05:20] santoshconflux opened #3105 "Need an option to filter provisioning entries by date"
Go to Accounting>Provisioning Entries
There is no option to filter provisioning entries by date.

[2019-06-05 05:22] santoshconflux commented on #3105
Fineract ticket: https://issues.apache.org/jira/browse/FINERACT-462

[2019-06-21 16:08] awasum opened #3106 "Dockerize Community Web App"
Build docker image for Web App to ease deployment

[2019-06-25 09:54] awasum opened #3108 "Report Role and permission not working"
## Description
When a user is created and assigned just report permission in their role, one cannot log in and see just the reports as specified in permissions. The user wont be able to see any reports
## Steps to Reproduce
Create a new role.
Assign only reporting permission to this role.
Create a user and assign this new role to that user.
Log out and login with the newly created user.
You will n

[2019-06-25 09:56] awasum opened #3109 "Auto create staff when creating user"
We should be able to create a new staff/employee automatically when creating a new user on the system. We could have field which when selected will make the system to auto create a staff/employee on creating a new system user.

[2019-06-25 10:00] awasum commented on #3053
@souvik3333 go ahead.

[2019-07-01 07:25] awasum commented on #3108
Looks like it was a problem with lack of right permissions. The UI uses the "READ_REPORT" permission and not the permissions shown under reports.

Closing this now.

[2019-07-01 07:25] #3108 closed, assigned to nobody

[2019-07-11 07:19] vorburger opened #3111 "Broken Build on Travis"
E.g. #3110 currently fail to build on Travis due to:

[code]

[2019-07-11 07:19] vorburger commented on #3077
Closing (but note, new/separate #3111)

[2019-07-11 07:19] #3077 closed, assigned to nobody

[2019-07-11 07:40] vorburger opened #3112 "Publish dockerized Community Web App on Docker Hub"
Once #3106 contributes a Dockerfile which can deliver a containerized (AKA dockerized) community app, it would be nice to have it available (via CI/CD, not manually pushed) on https://hub.docker.com.

I can see that there is a https://hub.docker.com/u/mifos, but given that this is https://github.com/openMF/community-app/, IMHO it would be clearer to have https://hub.docker.com/u/openmf - so I just

[2019-07-11 08:16] vorburger commented on #3112
So, if I understand things correctly, on Docker Hub you have to give a user account (your main personal account or a new bot service GitHub account) full read/write acess to everything that user has, on GitHub - according to e.g. https://github.com/docker/hub-feedback/issues/552, https://github.com/docker/hub-feedback/issues/873, https://github.com/docker/hub-feedback/issues/967 ... and https://do

[2019-07-11 08:27] vorburger commented on #3112
no, it's the same - it also wants t ohave read and write to EVERYTHING on a GitHub accout - how dumb.

I'll just create a new GitHub user account, only for this purpose.

[2019-07-16 07:07] vorburger commented on #3111
https://travis-ci.com/openMF/community-app/builds/118725850

[2019-07-16 07:24] vorburger commented on #3111
@ShruthiRajaram do you happen to know how to fix this, or know someone who does?

[2019-07-16 09:11] awasum opened #3113 "Link Getting-Started.md to be accessed from README.md for new contributors."
See also issue #3097

See PR #3098

In README.md, Add link to Getting-started.md.

[2019-07-16 09:43] ShruthiRajaram commented on #3111
@vorburger I am not sure about the fix. But https://github.com/openMF/community-app/pull/3087 might help.

[2019-07-16 18:15] #3111 closed, assigned to nobody

[2019-07-17 06:13] santoshconflux commented on #3085
Closing this ticket as per my above comment.

[2019-07-17 06:13] #3085 closed, assigned to nobody

[2019-07-17 06:18] santoshconflux commented on #3109
The enhancement could be - if you don't select 'Staff' from drop-down menu while creating user, the staff should also be created with same First name and Last name and 'Is Loan Officer?' tick.

[2019-07-26 15:00] alvarojimenez99 commented on #2980
Hi,  I have created a share product, with a very basic configuration and when assigned to a client it does not let approve, reject or delete, and does not return any errors.
Could you help me ?.
Thank you.

![image](https://user-images.githubusercontent.com/8192253/61960926-20acf980-af8c-11e9-9a52-82cfd449aa64.png)

![image](https://user-images.githubusercontent.com/8192253/61960965-328e9c80-af8c-

[2019-07-30 19:31] abhaychawla commented on #2591
@santoshconflux Is the description supposed to be mandatory or should there be an issue created for this on the fineract side?

[2019-07-31 04:04] santoshconflux commented on #2591
@abhaychawla , https://issues.apache.org/jira/browse/FINERACT-784

On Community app side, need to remove Asterisk sign once 784 is resolved.

[2019-07-31 14:24] abhaychawla commented on #2591
@santoshconflux For the new web app should I keep the asterisk sign for now as the issue is unresolved or remove it?

[2019-08-01 04:13] santoshconflux commented on #2591
@abhaychawla , please remove the asterisk sign. Anyhow, ticket at Fineract side will be resolved soon.

[2019-08-09 21:01] vorburger commented on #3112
As per https://developer.github.com/v3/guides/managing-deploy-keys/#machine-users, I've just created https://github.com/mifos-bot for this purpose, and invited it to this repo.

[2019-08-09 21:12] vorburger commented on #3112
I've just done so (contacted GitHub Support Ticket ID: 343929, let's see).

BTW: I'll likely also re-use this as a service account for https://github.com/apache/fineract/, e.g. to hook it up to Google Cloud Source Repository and Container Registry.

[2019-08-23 17:46] vorburger commented on #3106
A first version of this has been merged in #3117, based on #3107. What's left is this, quote:

[2019-08-23 18:01] awasum commented on #3106
You can close this. I will send a separate PR for this last part soon.

[2019-08-23 18:02] awasum commented on #3106
Ohh...sorry..this is an issue...made a mistake.. thought it was the PR. I see you already closed the old PR. My bad.

[2019-08-26 19:04] vorburger commented on #3112
GitHub Support has unlocked https://github.com/mifos-bot, and it's now a regular account.

I've added @mifos-bot to this repo (openMF/community-app), accepted the invitation on behalf of that user, and configured https://cloud.docker.com/u/openmf/repository/registry-1.docker.io/openmf/community-app/builds/edit to build containers for this repo.

**So https://cloud.docker.com/u/openmf/repository/do

[2019-08-26 19:04] #3112 closed, assigned to nobody

[2019-08-26 19:08] vorburger commented on #3112
PS: bd9c3fcc0f3dd9c19aca25e46b6adba8ff98afac adds badges for this to the README.

[2019-08-26 19:12] vorburger commented on #3106
Just for future record: I've added deployment to Docker Hub; see details in #3112.

[2019-08-26 19:14] vorburger commented on #3100
you could raise a Pull Request (PR) for this?

[2019-08-27 10:17] santoshconflux commented on #3090
Closing this ticket.

[2019-08-27 10:17] #3090 closed, assigned to nobody

[2019-08-27 10:18] santoshconflux commented on #3091
Closing this ticket.

[2019-08-27 10:18] #3091 closed, assigned to nobody

[2019-08-27 16:18] conradsp commented on #3112
Thanks for your work on this Michael! I like it a lot!

On Mon, Aug 26, 2019 at 2:08 PM Michael Vorburger ⛑️ <
notifications@github.com> wrote:

[2019-08-31 09:58] urstrulykkr commented on #3113
Hi there,
I would like to work on this.

[2019-08-31 09:58] urstrulykkr commented on #3113
Hi,
I would like to work on this issue.

[2019-08-31 10:02] awasum commented on #3113
Sorry. This has been fixed with this PR: https://github.com/openMF/community-app/pull/3098

Please pick another issue which does not link to a PR.

Let me close this to avoid confusion.

[2019-08-31 10:02] #3113 closed, assigned to awasum

[2019-08-31 10:02] urstrulykkr commented on #3113
Sure.

[2019-08-31 10:03] awasum commented on #3113
Can you try this? https://github.com/openMF/community-app/issues/3104

It also involves a backend fix on Fineract

[2019-08-31 10:06] urstrulykkr commented on #3113
I will.

[2019-09-02 14:47] julianmojico commented on #1867
I'm wondering what is the status of this.

[2019-09-02 17:14] awasum commented on #1867
@cepix  Go ahead and work on this if you want. I dont think anyone is working on it.
 @santoshconflux  ?

[2019-09-03 05:37] santoshconflux commented on #1867
@awasum , @cepix , Yes, no one is working on it. It will be very good feature once it is implemented. Currently, we are configuring it in database level.

[2019-09-03 06:19] santoshconflux commented on #3097
The PR https://github.com/openMF/community-app/pull/3098 already merged. Closing this ticket.
@awasum

[2019-09-03 06:19] #3097 closed, assigned to nobody

[2019-09-03 06:31] santoshconflux commented on #3002
@awasum , Could you please review this PR?
https://github.com/openMF/community-app/pull/3081

[2019-09-06 10:09] basstone40 opened #3118 "Reports connected with Loan Arrears are not working in MIfos x 18.03 Release"
Hi all, we have errors in our Mifosx 18..03 release. The Loan Arrears, Aging summary reports and all of the same kind are not working in this release of MIfos x 18.03, but into Mifos x 17 release all the same are working without a problem.
I am reporting this issue to be known to all Mifos x developers that they can will to make changes so as to solve this issue.
I have attached here some print sc

[2019-09-09 05:50] santoshconflux commented on #3118
@edcable , This issue is related to sql injections - It is throwing the following error:

{"developerMessage":"The request was invalid. This typically will happen due to validation errors which are provided.","httpStatusCode":"400","defaultUserMessage":"Unexpected SQL Commands found","userMessageGlobalisationCode":"error.msg.found.sql.injection"}

[2019-09-09 05:51] santoshconflux commented on #3118
Though, Fineract doesn't support Pentaho due to licensing, this regression is caused by some code changes in Fineract. Need this to be resolved before Fineract 1.3.1 and Mifos release.

[2019-09-10 11:48] SMtetwa commented on #3118
I concur. This issue needs to be resolved ASAP

[2019-10-02 18:46] awasum opened #3119 "Enable Hidden Fields When Creating and Updating a Loan Account"
By default, when creating a loan account for a client, some/most loan details are missing.
Use the following to send a PR which fixes the issue so that hidden fields can be used when creating a new loan.

Details on mailing list here: https://sourceforge.net/p/mifos/mailman/message/36775622/

This involves modifying this file: https://github.com/openMF/community-app/blob/develop/app/scripts/config

[2019-10-03 00:46] junbetterway commented on #3119
Let me take this one @awasum. Thanks

[2019-10-03 12:31] #3119 closed, assigned to junbetterway

[2019-10-03 20:10] franco-ignacio-cifuentes commented on #3048
Are there any news about this??

[2019-10-08 14:51] lkmandy commented on #2451
Hi, @santoshconflux @edcable may I work on this issue?

[2019-10-09 03:30] santoshconflux commented on #2451
@lkmandy Sure .

[2019-10-09 05:39] santoshconflux opened #3121 "Fields are missing in new loan application page and edit loan application page in recent code"
New Screen:
![new screen](https://user-images.githubusercontent.com/23022667/66454316-268f8280-ea85-11e9-9aac-8b6df33033aa.png)

Old Screen with Missing Fields , highlighted:

![old screen](https://user-images.githubusercontent.com/23022667/66454339-35763500-ea85-11e9-9a45-aad131f275f7.png)

[2019-10-09 06:21] awasum commented on #3121
Hi, Please check this commit: https://github.com/openMF/community-app/commit/906fb21cb33be9cb212d845dff6d24fb69161c89

It may already solve this issue. here is PR: https://github.com/openMF/community-app/pull/3120

[2019-10-09 13:41] lkmandy commented on #2451
ok

[2019-10-17 12:00] VampireNaeem opened #3122 "Landing page Loading issues"
The login page is taking so much time in loading,

if we clear cache then it takes too long, often it crashes

[2019-10-17 15:30] jonathanzhang53 opened #3123 "More Clear Installation Instructions"
#  Description
I was reinstalling Community App and I realized that there was a missing command in the download instructions (README). Before `bundle install` there should be another command `gem install bundler` I was on this for quite a bit since I hadn't ever used ruby before.

## Expected Behaviour
Includes all commands that need to be executed in the download docs.

## Actual Behaviour
Missin

[2019-10-18 15:40] #3123 closed, assigned to nobody

[2019-10-22 05:14] santoshconflux commented on #3122
@VampireNaeem , where did you try, locally or?

[2019-10-22 06:58] VampireNaeem commented on #3122
Yeah locally and on Demo server too

[2019-10-26 22:19] jonathanzhang53 commented on #3053
How is this issue replicated?

[2019-10-27 17:58] edcable opened #3125 "Test Issue"
## Description

## Steps to Reproduce

## Expected Behaviour

## Actual Behaviour

## Settings

- Mifos X version:
- Browser used:
- OS:

## Screenshots

[2019-10-29 20:21] awasum commented on #3053
@santoshconflux please can u help @jonathanzhang53 ?

[2019-10-30 06:01] santoshconflux commented on #3053
@jonathanzhang53 , Currently we don't have any pentaho reports included in Mifos which display charts. Last year, Andrew (andrew.kenana@bridgeanalytics.co.ke)  developed a pentaho report displaying charts and when he tried to include in Mifos, charts were not displaying.

Give me your mail id and I will forward that mail thread where discussion was going on.

[2019-11-07 11:40] Rupeshiya opened #3126 "UIConfig file not found in app/scripts/services/UIConfigService.js."
## Description

UIConfig file not found in app/scripts/services/UIConfigService.js, giving "Configuration file not found" in console but UIConfig exists in config folder

## Steps to Reproduce

Move to http://openmf.github.io/community-app/#/ and check console

## Expected Behaviour

Should not give that error.
## Actual Behaviour

Giving error message in console

## Settings

- Mifos X version: 1

[2019-11-08 09:58] lelouchB opened #3127 "Missing Description, Author, Repository and Homepage from package.json"
## Description
Add description, author, repository, homepage, to the package.json of the Mifos Community App.

## Steps to Reproduce
Add the above-mentioned information to the package.json file. Refer to [npm-package.json](https://docs.npmjs.com/files/package.json).

## Expected Behaviour

Package.json should have all the necessary information like description, author, repository and homepage.

##

[2019-11-12 20:05] Rupeshiya commented on #3127
Thanks for opening this issue @lelouchB

[2019-11-12 20:14] Rupeshiya opened #3128 "Add more language support using i18 internationalization"
## Description

For now, there is 10-11 language support, but more can be added.
Look at the files https://github.com/openMF/community-app/tree/develop/app/angular/i18n

## Steps to Reproduce

Open your browser and move to http://openmf.github.io/community-app/ and check language supports

## Expected Behaviour

There will be more language support for this community app.

## Actual Behaviour

For

[2019-11-12 20:34] Rupeshiya opened #3129 "Add some helpful docs like docs in web-app project to help newbies to get started"
## Description

Add some helpful docs like docs in the web-app project to help newbies to get started. It will be helpful for GCI candidates or refer this link (https://github.com/openMF/web-app/tree/master/docs)
in readme.md

## Steps to Reproduce

Move to https://github.com/openMF/web-app/tree/master/docs and look at the docs, which may be fruitful for the newbies.

## Expected Behaviour

There

[2019-11-13 04:10] lelouchB commented on #3127
@Rupeshiya , this is for upcoming GCI, so if you can also add that label,
I am waiting for the access otherwise I would have added label already,
Thanks

[2019-11-14 10:19] VampireNaeem opened #3131 "Web Cam Issue"
The following error occured:  DOMException: Could not start video source
Steps to Reproduce
1)Sign in to mifos
https://demo.openmf.org/#/

Credentials:
Username: mifos
Password: password

2) Go to clients from top nav bar
3)Click any client
4)On the left below the image,Click on Camera icon

Expected Behaviour
It show allow the user to take the picture through laptop Camera

Actual Behaviour
It sh

[2019-11-14 10:39] awasum commented on #3002
@santoshconflux  I am on it.

[2019-11-14 14:57] luckyman20 commented on #3127
@lelouchB Please be specific what details you want to be included.

[2019-11-14 15:01] lelouchB commented on #3127
@luckyman20  will do, can you add gci label to this issue

[2019-11-14 18:59] #3002 closed, assigned to nobody

[2019-11-14 20:46] Rupeshiya commented on #3127
@lelouchB plz keep patience, will do that.

[2019-11-15 09:17] awasum commented on #3131
This is caused by URL.createObjectURL been deprecated in Chrome or Firefox.
See:
https://stackoverflow.com/questions/51101408/deprecation-of-createobjecturl-and-replace-with-the-new-htmlmediaelement-srcobje
https://github.com/jonashartmann/webcam-directive/pull/74
https://github.com/jonashartmann/webcam-directive/issues/77

We can solve this by updating  webcam-directive to version: "3.2.1" in bow

[2019-11-15 09:27] awasum commented on #3131
@VampireNaeem  check the PR: https://github.com/openMF/community-app/pull/3134

[2019-11-15 15:32] awasum commented on #3131
PR #3134 merged. Closing this.

[2019-11-15 15:32] #3131 closed, assigned to nobody

[2019-11-17 13:20] luckyman20 commented on #3127
@lelouchB I have done my work, please do yours.

[2019-11-17 13:36] lelouchB commented on #3127
@luckyman20 Is this okay now?

[2019-11-18 06:33] santoshconflux commented on #1820
Related backend(Fineract) Ticket: https://issues.apache.org/jira/browse/FINERACT-787 and it's PR: https://github.com/apache/fineract/pull/649

[2019-11-20 14:27] Nayan commented on #2794
@santoshconflux @edcable related PR is already merged, so moving to ready for testing

[2019-11-21 03:22] santoshconflux commented on #2794
Thanks @Nayan

[2019-11-21 03:32] Nayan commented on #1820
@edcable  @santoshconflux I have merged the PR, it has dependency from Fineract, please test the same once it is ready, if any issues, I will help you to get it fixed.

[2019-11-21 03:42] Nayan commented on #2899
@edcable @santoshconflux  please mention the PR for the this issue

[2019-11-21 03:56] santoshconflux commented on #2899
@Nayan , Fyi
https://github.com/openMF/community-app/pull/2902

[2019-11-21 04:59] santoshconflux commented on #1820
@Nayan , Thanks. It was pending for long time.
@edcable, now if someone can review and merge https://github.com/apache/fineract/pull/642 and https://github.com/apache/fineract/pull/649 , I can update staging with latest code from Fineract and Community App.  However, this feature testing requires at least one to two days.

[2019-11-25 08:07] awasum commented on #1820
backend issue now merged on Fineract... this can be tested.

[2019-11-25 10:45] #3050 closed, assigned to nobody

[2019-11-25 10:45] #2966 closed, assigned to nobody

[2019-11-25 10:46] #2879 closed

[2019-11-25 10:47] #2658 closed

[2019-11-25 10:48] #3038 closed, assigned to nobody

[2019-11-25 10:53] #2794 closed

[2019-11-26 05:20] vorburger commented on #3118
I'm assuming this ^^^ error appears on the community-app UI / browser console (client side) - is there also a matching error log shown in the fineract-provider (backend server side)? That could help to understand this problem better... because personally I don't understand what this means, yet. If others do, please elaborate... how could a Pentaho report possibly cause an SQL injection?

[2019-11-26 05:27] santoshconflux commented on #3118
@vishwasbabu, referring above comment by @vorburger, I think Sql injection issue is Fineract side, right?

[2019-11-26 05:51] santoshconflux opened #3136 "No Validations for username and password length while creating self-service user"
**Summary:**
Self service mobile app expects minimum 5 characters for username and 6 characters for password. But while creating self service user on Web, there is no validation for username and password length

**Steps to Reproduce**
1) Go to client page> click on 'More' button.
2) In 'More' menu, click on 'Create Self Service user'
3) In next navigation page - create self service user page - pro

[2019-11-26 07:07] awasum commented on #3118
Fineract itself does not really contain the implementation for the pentaho service handler and also does not contain the dependencies jars for pentaho.

I understand Mifos Initiative usually have a complementary backend ontop of a Fineract Release(which adds the pentaho dependencies and reporting command and service handlers) before Mifos X can be released. This is how even for profit companies wo

[2019-11-26 07:35] santoshconflux opened #3137 "No validation(500 Internal Server Error) if we use username which is already taken"
## Steps to Reproduce
1) Go to client page> click on 'More' button.
2) In 'More' menu, click on 'Create Self Service user'
3) In next navigation page - create self service user page - provide username which is already used and uncheck 'Auto Generate password'.
4) Provide password and then click on 'Activate Self Service User' button.

## Expected Behaviour
Should throw validation, "Username is alr

[2019-11-26 07:51] santoshconflux opened #3138 "The client can have two different usernames to login as self service user"
## Steps to Reproduce
1) Go to client page> click on 'More' button.
2) In 'More' menu, click on 'Create Self Service user'
3) In next navigation page - create self service user page - provide unique username.
4) Provide password and then click on 'Activate Self Service User' button.
5) Again in 'More' menu, click on 'Create Self Service user' and follow 3rd and 4th steps.

## Expected Behaviour
Ap

[2019-11-26 07:56] santoshconflux commented on #3138
Backend issue,, moved to https://issues.apache.org/jira/browse/FINERACT-802

[2019-11-26 07:56] #3138 closed, assigned to nobody

[2019-11-26 08:00] santoshconflux commented on #3137
Fineract ticket, moved to https://issues.apache.org/jira/browse/FINERACT-803

[2019-11-26 08:00] #3137 closed, assigned to nobody

[2019-11-26 08:12] santoshconflux opened #3139 "Need meaningful tooltip for help link in 'Create Self user page'"
## Steps to Reproduce
1) Go to client page> click on 'More' button.
2) In 'More' menu, click on 'Create Self Service user'
3) Observe the label against the button "Activate Self Service User".

## Expected Behaviour
Need meaningful label, "Activate Self Service User Help"

## Actual Behaviour
Refer the screenshot.
## Settings
 Mifos X version: 19.12.01 (Unreased)
- Browser used: Google Chrome
- OS

[2019-11-26 08:26] santoshconflux opened #3140 "In 'Create Self Service User page', Tooltip of "Override password expiry policy" is flashing if we hover mouse on it"
## Steps to Reproduce
1) Go to client page> click on 'More' button.
2) In 'More' menu, click on 'Create Self Service user'
3) In next navigation page - create self service user page - hover the mouse on tooltip of "Override password expiry policy" .

## Expected Behaviour
Tooltip should not flash and should be still when mouse is hovered on it.
## Actual Behaviour
Refer the screenshot.

## Setting

[2019-11-26 08:43] santoshconflux commented on #3136
@botraunak , Could you look into this ticket?

[2019-11-26 21:23] Afadzie commented on #2930
how do i find and use it please help

[2019-11-27 11:13] botraunak commented on #3136
@santoshconflux Sure, I'll look into this!

[2019-11-28 17:27] muskankhedia opened #3141 "Keys defined multiple times in local-en.json"
## Description
The keys in the file local-en.json in the global-translations folder has been defined multiple times which only creates complexity and increased the length of the file.

#### Points to be kept in mind:
The keys starting with # are meant for identification within the file for a particular section and need not be considered as redundant. Please don't remove those. Only remove redundan

[2019-11-30 09:55] awasum opened #3147 "Use correct release version on develop branch"
Make release version and time to point to the develop branch and current date to avoid confusion.

By default, release date at the moment shows Mifos X 17.07.01 which is not correct as we are on the develop branch.

![image](https://user-images.githubusercontent.com/15528032/69898925-de436100-135f-11ea-8723-672eeb90828e.png)

[2019-11-30 11:17] #3147 closed, assigned to nobody

[2019-12-02 09:41] abhaychawla commented on #2182
@santoshconflux I see that the popup is showing in the demo server. Is this issue still present?

[2019-12-02 13:23] santoshconflux commented on #2182
Yes. This issue no longer exists. Closing it.

[2019-12-02 13:23] #2182 closed

[2019-12-03 09:16] luckyman20 commented on #1688
@santoshconflux Since IE is now deprecated, does this still exists in Edge?

[2019-12-03 12:23] OussEmaDevCode commented on #2932
Hi : ) I just fixed this issue in [this](https://github.com/openMF/mifos-mobile/pull/1234) pull request.

[2019-12-03 12:34] abhaychawla commented on #2932
Hi @OussEmaDevCode, you have commented on the wrong issue. Please check.

[2019-12-03 12:57] OHassini commented on #2932
Hi, yeah sorry...

[2019-12-03 13:43] awasum commented on #3109
I dont think this is very important.

[2019-12-03 13:43] #3109 closed, assigned to nobody

[2019-12-03 20:31] abhaychawla commented on #1688
@luckyman20 actually, some people using the application might still be using IE

[2019-12-03 21:28] OHassini commented on #3139
Hi, I just fixed this issue, please have a look at my PR and any feedback will be welcome 😄 .

[2019-12-04 11:57] abhaychawla commented on #3141
@muskankhedia Please completely specify details under all the headings of the issue and remove the part about #Button from the entire description. Also, specify the settings/screenshot as N/A if those are not applicable for this issue.

[2019-12-04 12:23] muskankhedia commented on #3141
@abhaychawla I have updated it and will surely keep this in mind.

[2019-12-04 14:56] #3139 closed, assigned to nobody

[2019-12-05 07:48] #3141 closed, assigned to nobody

[2019-12-05 11:10] OHassini opened #3154 "UI inconsistency in README.md file"
## Description
All steps under "Building from source" section in the README.md file have the same layout except the last and first step.

## Steps to Reproduce

open the README.md file in this repository.
## Expected Behaviour

All the steps should have the same layout in the Building from source section
## Actual Behaviour

Some steps do not follow the same UI pattern.
## Settings

- Mifos X vers

[2019-12-06 10:51] #3154 closed, assigned to nobody

[2019-12-08 09:33] #2350 closed

[2019-12-08 10:03] OHassini opened #3157 "Some titles in the login page do not get translated"
## Description
Some titles in the login page do not change when the language of the website is changed.

## Steps to Reproduce

Visit the login page of the Mifos X app and change the language via the dropdown in the top right corner.
## Expected Behaviour

The titles should change when the language is changed.
## Actual Behaviour

The titles remain the same when the language is changed.
## Setting

[2019-12-08 14:46] abhaychawla commented on #3157
@OussEmaDevCode Please update the description part under the Settings heading.

[2019-12-08 14:57] #3157 closed, assigned to nobody

[2019-12-08 16:42] OHassini opened #3159 "UI inconsistency in the side navbar"
## Description
The cursor's image changes when it highlights every item on the side navigation bar except the help item (the last item).

## Steps to Reproduce

Sign in the Mifos X app (it should get you to the home page), then move the cursor over every item on the side navigation bar.
## Expected Behaviour

The cursor image should change like on every other item.
## Actual Behaviour

The cursor

[2019-12-11 07:33] henagirish opened #3161 "Probable error on package-lock.json"
Probably there is an error on the package-lock.json, where the community app cannot be compiled, while npm install the code kicks back with an error below log explains it.
"
5303 warn mifosx-community-app@0.0.0 No repository field.
5304 warn mifosx-community-app@0.0.0 No license field.
5305 verbose stack Error: EPERM: operation not permitted, rename 'D:\mifosui\community-app\node_modules\tap\node_

[2019-12-11 20:45] OHassini commented on #2932
Hi, I just fixed this issue please have a look !!

[2019-12-13 12:19] OHassini commented on #2932
@abhaychawla Hi, I updated the "New Loan Application" form and the "Saving Application" form

[2019-12-13 18:03] punwai opened #3163 ""Filter by Name" searching across extra fields in many components"
## Description
This issue is stemming on from #2909. Many components have a problem where the "Filter By Name" box filters items by ALL its attributes apart from name, even including attributes which are not shown in the table. As it is important for users to still be able to filter by other attributes apart from name, my suggestion to fix this is not to limit all search by name, but to limit it t

[2019-12-13 20:28] punwai opened #3164 "Multiple Components do not have filter by name boxes"
## Description
Roles and Permissions, Tax Groups and Tax Component components do not have filter by name boxes.

## Steps to Reproduce
Products > Manage Tax Configurations > Manage Tax Components
Products > Manage Tax Configurations > Manage Tax Groups
Systems > Roles and Permissions

## Expected Behaviour
Should have a "filter by name" box

## Actual Behaviour
Does not have a "filter by name" box

[2019-12-15 21:05] abhaychawla commented on #3163
@punwai Good work on the issue. Let us ensure the filtering is possible with all possible attributes of the data which are visible within the table instead of just name. The text of search fields can be generalized as just `Filter`.

[2019-12-15 21:32] abhaychawla commented on #2717
@santoshconflux It seems this issue is already resolved as pointed out by @punwai. I checked the previous dates are no longer selectable. I think we should close. Please verify.

[2019-12-16 04:03] #3163 closed, assigned to nobody

[2019-12-16 08:20] abhaychawla commented on #2932
@luckyman20 Please reopen this issue. It got closed by mistake.

[2019-12-19 20:27] abhaychawla commented on #1654
@santoshconflux It seems the issue is resolved. Please verify and close.

[2019-12-20 05:36] laxyapahuja opened #3168 "Field check taking place only when submitting"
## Description
When filling a new form for anything, the errors that I do while filling the form show up only on the last submit page. So, it's pretty inconvenient when the user has to go back 2-3 pages back to change their entry. Also, the errors show up one at a time which wastes a lot of time.

## Steps to Reproduce

Clients -> Any client -> New Loan -> Don't fill anything in the fields and kee

[2019-12-20 12:52] santoshconflux commented on #2717
@edcable , while you were testing before raising this ticket, was there any business rule 'Active loans' as you mentioned in the description?  I can only see 'Active Loan Clients'  in business rule drop-down.
Anyway, we will close this ticket as 'Proceed' button is working fine for other business rules.
Cc: @abhaychawla , @punwai

[2019-12-20 12:52] #2717 closed

[2019-12-20 12:57] santoshconflux commented on #1654
@abhaychawla, thanks for pointing it out. This ticket is indeed resolved. As this ticket is not tagged with the PR, I don't know when it was resolved.  Closing it.

[2019-12-20 12:57] #1654 closed

[2019-12-21 15:00] #3140 closed, assigned to nobody

[2019-12-22 07:06] SanaJahan commented on #3168
Hi, can I take this issue?

[2019-12-28 13:13] muskankhedia opened #3172 "Edit buttons not aligned properly in the recurring deposits page"
## Description

Edit buttons not aligned properly in the recurring deposit webpage

## Steps to Reproduce

Admin -> Products -> Recurring Deposit Products

## Expected Behaviour

The edit button should be properly aligned in the webpage as shown below.
![71328082-4f1a0b00-2511-11ea-9cde-dbc368b27eef](https://user-images.githubusercontent.com/36980003/71544167-9e44bd80-29a1-11ea-81b4-0a2707b94cbb.p

[2019-12-29 07:04] shivanshxyz commented on #3136
This issue is still open. Can I work on it?

[2019-12-29 08:53] abhaychawla commented on #3136
@thefossguy this issue is reserved for GCI students.

[2019-12-29 10:59] shivanshxyz commented on #2921
This issue is still open. If its not resolved can I start working on it?

[2019-12-29 11:25] shivanshxyz commented on #3172
Can I start working on this?

[2019-12-29 11:28] shivanshxyz commented on #3122
The local setup fetches the API from demo server so when the demo server remains down then the local setup doesn't work either.

[2019-12-29 11:30] shivanshxyz commented on #3122
@VampireNaeem its not a bug so please close the issue

[2019-12-29 21:17] airsay opened #3173 "Feature Request: Simple Interest for Fixed Deposit Products"
## Description
We need to enable Simple Interest functionality for Fixed Deposit products. Currently, Interest Compounding period is one of (Daily, Monthly, Quarterly, Semi-Annual and Annually). However, having looked within the source code (SavingsCompoundInterestType.java), there is a NO_COMPOUNDING_SIMPLE_INTEREST Interest Period Type which was commented out. How can this be enabled for a produ

[2019-12-29 22:06] airsay opened #3174 "Feature Request: Deposit (and withdrawal) for Fixed Deposit Account"
I understand Fixed Deposit products. Is it however possible to Deposit (and maybe withdraw) funds in midway through the tenure of a Deposit account?

So for example 2 months into the account, a client wants to add more funds (we call them top-ups) to an existing fixed deposit account is it possible to allow for this? If so how?

I know a possible work around would be to liquidate the existing Fixe

[2019-12-30 00:22] airsay opened #3175 "Fixed Deposit Product Feature Request: Post Flat "Monthly" Interest on the date of the month that FD Account was activated"
## Description
This is a two-in one Fixed Deposit product feature request.
1) We would like "monthly" Interest to be a fixed/flat percentage of Balance irrespective of the number of days in the "month". So for example if we have an annual interest rate of 18% which breaks down to 1.5% monthly, we would like this interest of 1.5% of account balance to be posted irrespective of the number of days th

[2020-01-07 11:40] #2729 closed

[2020-01-07 11:40] #3070 closed, assigned to nobody

[2020-01-08 04:58] ake1976 opened #3176 "Repayment Date same as Disbursement Date on MifosX / Fineract"
We would like to make the Repayment Date the same as Disbursement Date, is there a way to do it? Please help?

## Steps to Reproduce

## Expected Behaviour

We would like the repayment date would be on the 7th of every month after the disbursement date is on the 7th of previous month.

## Actual Behaviour

Everytime we have a disbursement on that date...ex. 7th Jan......the repayment date is by de

[2020-01-08 07:22] airsay commented on #3176
We would want something similar for Fixed Deposit Products. We would want the interest posted on the same date as when the account was activated. If that date doesn't exist in that month (eg Feb 30 or September 31) then interest should be posted on the last date of the month (Feb 28/29 or September 30)

Sent from my iPhone

[2020-01-14 08:32] TercioPedro opened #3177 "Monthly Quotas"
I need help with deposits, it is possible for a customer to make normal deposit in their own account without applying fees, monthly customers make deposits in your account, we call quotas, is mandatory for those who want to make a loan.

[2020-01-14 17:36] Jummadon opened #3178 "Need help"
We have been using Mifos X since December 18 without any major hassle. Last December 2019, we took internet connection in the office. Then on the last week of December 2019, we noticed that the list of loan products and savings products on the admin panel of Mifos was not show up and we could not open the new accounts of the members of these products. It should be noted that apart from the MySQL d

[2020-01-28 02:33] boyuan12 commented on #3127
Hi, may I try to working on this issue?

[2020-01-28 02:50] lelouchB commented on #3127
Yeah, sure

[2020-01-28 04:30] boyuan12 commented on #3127
Please take a look on this PR I just created: https://github.com/openMF/community-app/pull/3181

Thanks.

[2020-01-28 20:54] OHassini commented on #3159
@abhaychawla Hi : ), please have a look at the PR.

[2020-01-30 02:15] jannomeister opened #3182 "Cant access community app using ngrok url"
## Description
I want to expose my local community app to the internet using ngrok.

## Steps to Reproduce
- run mifosX using the commands stated in the documentation
- open a separate terminal and run ngrok http 9002 (the port where community app is running)
- access using the given ngrok https url.

## Expected Behaviour
I can access the community app using the ngrok url

## Actual Behaviour
- I

[2020-01-31 03:51] jannomeister opened #3183 "https://demo.openmf.org/ not working"

[2020-01-31 12:36] OHassini commented on #3183
@jannomeister That's not an issue with the community app itself, it's just a server issue. You can use https://demo.mifos.io/ to prevent that.

[2020-01-31 15:37] awasum commented on #3183
Hi,

New demo server instance located here: https://demo.mifos.io/

API Doc instance: https://demo.mifos.io/api-docs/apiLive.htm

On Fri, Jan 31, 2020 at 4:51 AM Janno De Jesus <notifications@github.com>
wrote:

[2020-02-25 07:45] xtanma opened #3184 "mifos login fails on debian 9"
I am setting up Apache Fineract and Mifos on my laptop using docker. The Fineract is from https://github.com/apache/fineract.git and the mifos is from https://github.com/openMF/community-app; Fineract works just fine and I can issue RESTful API commands to localhost:8443. However, the community-app login fails when I use mifos:password as the credential. The same credential was used in my test of

[2020-03-04 22:02] mathekaJosef commented on #3183
my url "http://localhost:9002/?baseApiUrl=https://demo.openmf.org#/" not working, please help.

[2020-03-04 22:16] awasum commented on #3183
http://localhost:9002/?baseApiUrl=https://demo.mifos.io/

[2020-03-04 22:16] #3183 closed, assigned to nobody

[2020-03-12 15:58] spider0061 opened #3186 "Closure list in clients is empty"
## Description
Closure reason is not shown in close client.

The field is marked as required whereas the list of closure reason is empty. Either it should have proper options or it should be a text field in which user can write proper reason.

## Steps to Reproduce

Go to clients, click on any active client. Now, click on close. Now, you can see that the closure reason list is empty.

## Expected

[2020-03-14 08:53] #3127 closed, assigned to nobody

[2020-03-21 09:47] bmunyoki opened #3188 "Question - Changing Base API URL"
On the Web App READ ME (https://github.com/openMF/web-app), there is a section for changing the baseAPIUrl as below:

"For connecting to server running elsewhere update the base API URL and/or tenant identifier property in the environments/environment.ts file and environments/environment.prod.ts file for development and production use respectively."

Is there a way to accomplish the same in the co

[2020-03-21 13:23] abhi40308 opened #3189 "Bug: Redundant code for incentives in Create FD account controller"
## Description
The code for "incentives" in CreateFixedDepositAccountController.js is taken from CreateFixedDepositProductController.js which has "add" and "remove" incentive option, which is not needed while creating FD account.

## Steps to Reproduce
Go to https://staging.mifos.io . Create a new FD account. See "incentives" column in interest rate chart part. The code for this is redundant. (mor

[2020-03-25 05:34] bharathgowda27 opened #3191 "BUG:not able to approve a shares account."
take the code base of 18.03.01 latest release

To reproduce the issue

approve button is not hitting any APIs and hence not able to proceed further.

find below screenshot for reference
![image](https://user-images.githubusercontent.com/11355789/77505157-6823b680-6e88-11ea-8371-7010ee7683a5.png)

[2020-03-25 13:10] fidelsam1992 commented on #3184
Fineract new authentication doesn't accept query params anymore : https://issues.apache.org/jira/browse/FINERACT-726

The new request format is using Json Body
{
"username":"mifos",
"password":"password"
}

[2020-03-29 17:01] stdunbar opened #3193 "CORS errors prevent running locally"
When running against an against a local server, CORS error prevent the application from doing anything.

## Steps to Reproduce
1. Checkout fineract 1.4.0 or develop branch from github.com/apache/fineract
2. docker run --name mysql-5.5 -p 3306:3306 -e MYSQL_ROOT_PASSWORD=mysql -d mysql:5.5
3. ./gradlew createDB -PdbName=fineract_tenants
4. ./gradlew createDB -PdbName=fineract_default
5. ./gradlew t

[2020-04-04 11:20] vishwasbabu commented on #3193
@stdunbar : The platform server should be running on port 8443. Please try the following URL http://localhost:9002/?baseApiUrl=http://localhost:8443#/ instead

[2020-04-12 13:00] awasum commented on #2432
We should have a disable or deactivate button instead of delete. Finance data is sensitive and should never be deleted even if for a non actual financial case like this. What do you think?

[2020-04-15 17:09] airsay opened #3195 "Modification to Mifos X User Interface to allow Deposits and Withdrawals on Fixed Deposit Products"
## Description

The current functionality of Fixed Deposit needs to be slightly modified to meet our need. Currently FD accounts can not be deposited or withdrawn from. However I have observed on the Musoni modification that FD's allow Deposits. we would want to take this a bit further by allowing deposits and withdrawals for FD products. Deposits can only occur within a specified time frame after

[2020-04-21 23:14] vorburger commented on #3112
I just looked back at this (in the context of https://www.fineract.dev), and wanted to record that the public Docker Hub URL is https://hub.docker.com/r/openmf/community-app/ (the ones shown above need login).  I've just raised #3197 to add a link to Docker Hub to the README.

[2020-04-29 22:16] airsay opened #3200 "Mifos Community App does not allow the creation of new Clients on Fineract 1.4 when Address is enabled"
## Description
With the Mifos Community App installed on top of Fineract 1.4 and Address enabled, creating a new client fails with an error message

validation.msg.Address.street.cannot.be.blank

## Steps to Reproduce

I am running on Windows 10 with the following
Tomcat 7.0.103
MySQL: v5.5.62 (Windows x64 Version)
Java: Oracle JDK 1.8.241.

So I have built and installed installed Fineract 1.4 as

[2020-04-29 22:19] #3174 closed, assigned to nobody

[2020-04-29 22:21] airsay commented on #3176
So I got mine resolved personally. has yours been resolved?

[2020-05-06 00:33] subsnrao opened #3202 "In Create GL Account page under Chart of Accounts (In Accounting), the Account usage should be displayed as 'Detail' by default"
Observed in https://demo.mifos.io/#/createglaccount,
Under Account usage, nothing is displayed in the dropdown. Once the user submit the page after entering all other fields it is considering 'Details'

It would be good if the Details is displayed as a default in Account usage rather displaying blank

[2020-05-06 01:00] subsnrao opened #3203 "In New loan application page, even after entering valid Disbursement date under 'Disbursement on' field error message dispalyed as 'Required Field'"
![image](https://user-images.githubusercontent.com/26272738/81129703-d321dc00-8f62-11ea-9a66-be5301d83b38.png)

[2020-05-06 01:05] subsnrao commented on #3203
Observed in https://demo.mifos.io/#/createglaccount,

[2020-05-06 01:06] subsnrao opened #3204 "Not able to submit new loan application with the submitted date as current system date (today's date)"
Observed in https://demo.mifos.io/#/createglaccount,
![image](https://user-images.githubusercontent.com/26272738/81130045-f600c000-8f63-11ea-999b-e299f441c03b.png)

[2020-05-06 09:52] devtechnocode opened #3205 "Feature : Add a new user login button similar to sign in to register for new user."
## Description
Adding a new user login button similar to sign in to register for new user as someone want to join the organisation.

## Screenshots
![Screenshot from 2020-05-06 15-19-08](https://user-images.githubusercontent.com/52890488/81164053-523c0200-8fad-11ea-947f-a7ef011ff446.png)

[2020-05-09 07:33] Shivam7-1 commented on #3129
can I Work on this issue

[2020-05-09 08:06] awasum commented on #3129
G ahead, please

[2020-05-10 07:05] Shivam7-1 commented on #3129
I have updated this is pull request https://github.com/openMF/web-app/pull/744

[2020-05-10 13:26] airsay opened #3206 "BUG:Transaction Dates Display as null under Savings & Loan Transactions"
## Description
When a transaction occurs (under any type of savings account: fixed deposit, recurring deposit or regular savings account), the date displays as null under transactions tab. Drilling down by clicking on the transaction however shows the correct date

## Steps to Reproduce

Create any Savings/Fixed Deposit/Recurring Deposit Product.
Create a Client
For the above created client, Creat

[2020-05-10 16:57] ravitejasrt commented on #3193
Hi am also faacing same error can you help me

Access to XMLHttpRequest at 'https://demo.openmf.org/fineract-provider/api/v1/authentication' from origin 'http://localhost:9002' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: Redirect is not allowed for a preflight request.

[2020-05-15 00:43] edcable opened #3208 "Upgrade libraries and components to latest stable versions"
## Although we have the full re-write occurring, the Community App will still be in production and supported while AngularJS still has an LTS version (through June 30, 2021). We should update all the components and libraries to their latest stable versions.

[2020-05-15 01:02] edcable opened #3209 "Upgrade libraries to latest versions"
Although we have the full re-write occurring, the Community App will still be in production and supported while AngularJS still has an LTS version (through June 30, 2021). We should update all the components and libraries to their latest stable versions.

<p></p>

For now I installed Whitesource Renovate bot to address this and automatically update the out of date dependencies. So the work might n

[2020-05-15 01:02] edcable commented on #3209
Link to subfeature: https://mifos.productboard.com/feature-board/planning/features/4681604

[2020-05-15 01:18] edcable opened #3211 "Update libraries with security alerts"
See list at https://github.com/openMF/community-app/network/alerts

[2020-05-15 12:03] Shivam7-1 commented on #3129
Can Review this PR https://github.com/openMF/community-app/pull/3207

[2020-05-17 20:24] francisguchie opened #3235 "while building from source, npm install fails with errors on Windows 10"
## Description
**Building from source**
npm install fails with errors in both Windows 10 and Ubuntu 18.04 Lts

the errors are as below
**windows**
npm WARN mifosx-community-app@0.0.0 No license field.

npm ERR! code EPERM
npm ERR! syscall rename
npm ERR! path ~\community-app\node_modules\tap\node_modules\@babel\.helper-builder-react-jsx.DELETE\node_modules\@babel
npm ERR! dest ~\community-app\node

[2020-05-22 22:38] edcable commented on #70
@gauravsaini03 @abhaychawla Should this issue remain open? I would think we can close it.

[2020-05-22 22:49] edcable commented on #338
I'm closing this ticket out as we're going to be adding support for pop-overs in the new web-app to support a configuration wizard at https://github.com/openMF/web-app/issues/800

[2020-05-22 22:50] #338 closed

[2020-05-23 06:37] karantakalkar commented on #3118
@awasum I guess this issue still persists in latest fineract release (dev.mifos.io), I had just rewritten run reports controller https://github.com/openMF/web-app/pull/592, API response is same as above.

[2020-05-24 11:12] abhaychawla commented on #70
Yes closing the issue.

[2020-05-24 11:12] #70 closed

[2020-05-28 02:58] reehanlalkhan opened #3237 "Client to accounting transfer feature where amount can taken to / from client for passing Journal Entry"
## Description

In this feature need to provide a backend support for affecting a transfer entry where:

1. Amount is withdrawn from client's saving account and a JE is passed - this is to account for expense of the MFI on behalf of the client (Eg: Pay bills online for client)
2. Amount is deposited to client's savings account and a JE is passed - this is to account for expense of the MFI while th

[2020-06-05 10:46] bharathcgowda opened #3238 "Adding max cap and mincap input parameters for charges."
API level Fineract/MifosX supports charges to have a minimum (mincap) and Maximum(maxcap) set in the system.. so the charge would by default take those value when the calculation of charge goes beyond the set paramters.

You can refer the API Document for reference

https://demo.mifos.io/api-docs/apiLive.htm#charges
minCap
Optional: Can be used when a '% of Amount' value is used for chargeCalculat

[2020-06-09 11:10] bharathcgowda commented on #3058
The bug in the advance accounting module where the system is not passing the accounting entries properly. there was issue earlier which was fixed by has been resurfaced again. have raised a ticket for the same in Fineract JIRA (https://issues.apache.org/jira/browse/FINERACT-1031)

[2020-06-09 12:35] bharathcgowda commented on #2254
this is more of a new feature request.. we can use tableau or any other software for drill-down reports.. instead of building it on Mifos

[2020-06-10 06:18] edcable commented on #1820
@santoshconflux can you test this? I was trying to test on https://dev.mifos.io but I get an error message saying a role needs to be specified but there is no way to input or select a role.
![Screenshot 2020-06-09 at 11 13 17 PM](https://user-images.githubusercontent.com/823454/84233627-87091080-aaa7-11ea-89a2-65a5f1cf0000.png)

[2020-06-11 08:03] bharathcgowda opened #3239 "Date Picker locked till 22-06-2020"
it is noticed that the date picker has been locked till 2020-06-22, which is making users difficult to run reports for further dates.

We have to replace the date in files where date picker's max is set to '22-06-2020' with "maxdate" .

Solution:
Have attached the list of pages which are reflecting '2020-06-22' .. we have to replace all the files with the "maxDate"

example attached in comment

[2020-06-11 08:04] bharathcgowda commented on #3239
![image](https://user-images.githubusercontent.com/65952533/84360790-48c73a80-abe8-11ea-98cf-e0a53a1c4700.png)

[2020-06-11 10:03] bharathcgowda commented on #3239
[fix example snippet.txt](https://github.com/openMF/community-app/files/4764064/fix.example.snippet.txt)

[2020-06-11 10:43] bharathcgowda commented on #1873
![image](https://user-images.githubusercontent.com/65952533/84376232-6bfce480-abfe-11ea-97ae-32add35f75cf.png)
![image](https://user-images.githubusercontent.com/65952533/84376243-70290200-abfe-11ea-8930-2519773be35f.png)

[2020-06-13 17:30] francisguchie commented on #3239
@bharathcgowda

for all the users to be able to quickly know what to correct, i have added some more instructions
[How to Fix the Error - ReadME first.txt](https://github.com/openMF/community-app/files/4775078/How.to.Fix.the.Error.-.ReadME.first.txt)

[2020-06-13 17:32] francisguchie commented on #3239
I think this issue should be closed
i have managed to do this in the following versions
17.07.01
18.03.01
latest build at https://github.com/openMF/community-app

[2020-06-14 01:17] edcable commented on #2802
Confirmed that this is still present.

[2020-06-14 01:27] edcable commented on #2683
Confirmed this is still present in dev branch. @santoshconflux @bharathcgowda can either of you confirm whether this is on the back-end or front-end?

[2020-06-14 01:56] edcable commented on #2785
Closing issue as fixed.

[2020-06-14 01:58] #2785 closed

[2020-06-14 01:59] edcable commented on #2680
Closed as fixed.

[2020-06-14 01:59] #2680 closed

[2020-06-14 02:02] edcable commented on #2621
@santoshconflux do we still consider this p1? I added a p3 tag as well.

[2020-06-14 02:04] edcable commented on #2642
Closing this as invalid.

[2020-06-14 02:04] #2642 closed

[2020-06-14 02:11] edcable commented on #2673
Closed as fixed.

[2020-06-14 02:11] #2673 closed

[2020-06-14 02:27] edcable commented on #2535
![Screenshot 2020-06-13 at 7 26 30 PM](https://user-images.githubusercontent.com/823454/84583289-d56e2600-adab-11ea-84e0-cda4f0681918.png)
![Screenshot 2020-06-13 at 7 26 19 PM](https://user-images.githubusercontent.com/823454/84583291-d69f5300-adab-11ea-80f8-b4269f706ae5.png)
Closing as invalid - works fine for me.

[2020-06-14 02:27] #2535 closed

[2020-06-14 02:34] edcable commented on #2440
Closed as no longer valid. Fineract issue has been closed and I couldn't repro in Community App.

[2020-06-14 02:34] #2440 closed

[2020-06-14 02:35] edcable commented on #2305
Closed as fixed.

[2020-06-14 02:35] #2305 closed

[2020-06-14 02:37] edcable commented on #2225
@bharathcgowda can you confirm the behavior as noted by @santoshconflux

[2020-06-14 02:39] edcable commented on #1907
@bharathcgowda this is being treated as a reporting-level issue which is why it's here and no longer in Fineract issue tracker - is it something you can resolve?

[2020-06-14 02:42] edcable commented on #2447
@santoshconflux can you confirm this issue is for the community-app and not Fineract?

[2020-06-14 05:12] edcable commented on #1855
Closing for now until this project gets restarted again.

[2020-06-14 05:12] #1855 closed

[2020-06-14 05:13] #1848 closed

[2020-06-14 05:13] #1849 closed

[2020-06-14 05:13] #1850 closed

[2020-06-14 05:13] #1851 closed

[2020-06-14 05:13] #1852 closed

[2020-06-14 05:13] #1853 closed

[2020-06-14 05:13] #1854 closed

[2020-06-14 05:14] edcable commented on #1743
@santoshconflux Can you please confirm this is still a valid issue?

[2020-06-14 05:18] edcable commented on #1693
Closing as invalid.

[2020-06-14 05:18] #1693 closed

[2020-06-14 05:20] edcable commented on #1687
Closed as Fixed.

[2020-06-14 05:20] #1687 closed

[2020-06-14 05:25] edcable commented on #1655
Closed, not able to reproduce.

[2020-06-14 05:25] #1655 closed

[2020-06-14 05:36] edcable commented on #732
This issue has been fixed.
![Screenshot 2020-06-13 at 10 35 46 PM](https://user-images.githubusercontent.com/823454/84585590-43bfe200-adc6-11ea-8461-0ffe90229ecd.png)

[2020-06-14 05:36] #732 closed

[2020-06-14 05:37] edcable commented on #577
@santoshconflux Can we confirm that this is still a valid issue?

[2020-06-14 05:41] edcable commented on #3121
Closed as resolved.

[2020-06-14 05:41] #3121 closed, assigned to nobody

[2020-06-14 05:42] edcable commented on #3084
Closed as invalid. Not able to reproduce

[2020-06-14 05:42] #3084 closed, assigned to nobody

[2020-06-14 16:31] edcable commented on #3204
@subsnrao I'm not able to reproduce this issue on https://dev.mifos.io. Can you try reproducing it there? Same credentials as https://demo.mifos.io.

[2020-06-14 16:41] #2952 closed, assigned to nobody

[2020-06-16 00:25] #2862 closed

[2020-06-17 04:28] bharathcgowda commented on #3058
closing this issue after discussing with Ed.

[2020-06-17 04:28] #3058 closed, assigned to nobody

[2020-06-17 04:28] bharathcgowda commented on #2254
closing this issue after discussing with Ed.

[2020-06-17 04:28] #2254 closed

[2020-06-17 04:28] bharathcgowda commented on #1873
closing this issue after discussing with Ed.

[2020-06-17 04:28] #1873 closed

[2020-06-17 04:29] bharathcgowda commented on #1858
it is working as expected.
closing this issue after discussing with Ed.

[2020-06-17 04:29] #1858 closed

[2020-06-17 04:30] bharathcgowda commented on #1658
closing this issue after discussing with Ed.
Not a report or community app issue

[2020-06-17 04:30] #1658 closed

[2020-06-17 04:30] bharathcgowda commented on #707
the issue has already been fixed.
closing this issue after discussing it with Ed.

[2020-06-17 04:30] #707 closed

[2020-06-17 04:31] bharathcgowda commented on #664
the issue has already been fixed.
closing this issue after discussing it with Ed.

[2020-06-17 04:31] #664 closed

[2020-06-17 04:34] bharathcgowda commented on #2683
@edcable  it should be a front-end change only.

[2020-06-17 04:36] bharathcgowda commented on #2225
@edcable behavior is confirmed.
loan example for reference
https://staging.mifos.io/#/viewloanaccount/99

[2020-06-17 04:40] bharathcgowda commented on #1907
@edcable  Loan product counters and Loan counters at DB level are updated by back-ed. provided if the loan counter is enabled at the loan product level. if the checkbox is disabled then the counters for the loans of those products will be NULL.

These counters are not handled by reports, even if in some reports that would wrong as the back-end is already built to do the counter.

[2020-06-18 06:34] jamesidw commented on #1820
@edcable The backend changes were to add a section in the response with just the self service role. The other purpose (besides for the admin) was to enable self sign up by the client (where they should not be presented with a list of options - they have to take the self service role)

What's happening here is that you have not enabled the Self Service Role and so that section in the response is em

[2020-06-18 19:12] abhi40308 commented on #3080
@edcable  I tried to reproduce this issue and it seems to work fine. I did not get this error. Can someone else confirm this so we can close this issue?

[2020-06-18 19:12] abhi40308 commented on #3080
![Screenshot 2020-06-19 at 12 41 44 AM](https://user-images.githubusercontent.com/26903230/85062224-b9acba80-b1c5-11ea-87d1-c8937005eb0b.png)

[2020-06-24 01:01] francisguchie commented on #3239
https://github.com/openMF/community-app/pull/3245

[2020-06-25 06:41] kiran-vsm opened #3249 "Not able to create the client address due to missing street field in UI"
Not able to create the client address due to missing fields in UI

## Steps to Reproduce

## Expected Behaviour

## Actual Behaviour

## Settings

- Mifos X version:
- Browser used:
- OS:

## Screenshots
![image](https://user-images.githubusercontent.com/65952533/116776771-f7d26600-aa87-11eb-98e2-f3f3d8229adc.png)

[2020-06-25 07:06] kiran-vsm commented on #3249
Pull Request Link : https://github.com/openMF/community-app/pull/3250

[2020-07-05 13:07] Abhirup-99 opened #3252 "Angular Js is entering end of life in July 2021."
## Angular js is entering end of life in 2021 july and the app needs to migrate to ensure we remain up to date with the latest features and builds.

To ensure we are still up-to-date with the latest edition, we might have to migrate to either Angular, React or Vue.
## Steps to Reproduce
None

## Expected Behaviour
None
## Actual Behaviour
None
## Settings
None
- Mifos X version:
None
- OS:
None

#

[2020-07-05 18:36] elirehema commented on #3252
@Abhirup-99 can you give use enough detail and source of information, were you got this

[2020-07-05 18:38] Abhirup-99 commented on #3252
@elirehema
https://blog.angular.io/stable-angularjs-and-long-term-support-7e077635ee9c
The blog from the angular team.

[2020-07-05 18:52] elirehema commented on #3252
@Abhirup-99  Check this Angular repo https://github.com/openMF/web-app

[2020-07-05 18:53] Abhirup-99 commented on #3252
Sorry was unaware of it.

[2020-07-05 18:53] #3252 closed, assigned to nobody

[2020-07-14 00:18] francisguchie opened #3253 "creating guarantor Some clients will not be seen in the drop down"
- **Browser used:** Mozilla and Chrome
- **OS:** Linux 18.04.01 LTS

**Actual  behavior:**
Some clients can not be seen even if the the response from
https://serveraddressOrname/fineract-provider/api/v1/clients
shows that all clients from table m_client are queried but not all show up in the response payload (pageItems: )

Only clients of MAIN PARENT BRANCH (branch id =1 ) will appear This does fo

[2020-07-14 06:57] elirehema commented on #3253
Hello @francisguchie I once faced this problem and lastly I realized the platform limit fetched  data to 200.

[2020-07-14 08:24] francisguchie commented on #3253
@elirehema  the m_client table is queried for all records and only the first 200 are loaded onto the page for the user to select from.

the user should be able to load the page first, select the branch in which the client is, and as the user types the name, the query is set to the server with parameters

[2020-07-15 18:27] angelboxes commented on #3206
Hi, this issue is caused by the changes made in the issue #3196. Since in the original issue it doesn't specify which pages were the ones with the problem or has any attached screenshots and I don't own a computer with Safari browser I'm not pretty sure if this was a Safari issue at all. Can I be assigned to this issue?

[2020-07-18 04:01] awasum commented on #1802
Yes. GO ahead and work on this.

[2020-07-22 03:12] nnatarajan commented on #3136
@santoshconflux , can you please assign to me. This is one of the issues that Ed suggested that I work on.

[2020-07-22 03:46] nnatarajan commented on #3136
Is the validation only number of characters? Are there no other checks for password?

[2020-07-22 03:47] nnatarajan commented on #3136
Is is possible that I can be assigned to this issue?

[2020-07-22 03:47] nnatarajan commented on #2621
Is is possible that I can be assigned to this issue?

[2020-07-24 02:53] nnatarajan commented on #2621
At this point in time, the old skin icons and new skin icons appear identical. It appears that PRs [#2619](https://github.com/openMF/community-app/pull/2619) and [#2695](https://github.com/openMF/community-app/pull/2695) have already resolved this issue.

I think we can close this one out.

[2020-07-24 02:53] #2621 closed

[2020-07-29 01:23] #2432 closed

[2020-07-29 01:23] #3136 closed, assigned to nnatarajan

[2020-08-06 22:32] edcable commented on #3080
Still same issue for me.
![Screenshot 2020-08-06 at 3 31 36 PM](https://user-images.githubusercontent.com/823454/89589188-02621680-d7fa-11ea-97e2-e9f0d61a280f.png)
![Screenshot 2020-08-06 at 3 30 36 PM](https://user-images.githubusercontent.com/823454/89589190-03934380-d7fa-11ea-80f4-9436d9a60d90.png)

[2020-08-06 23:43] #2972 closed, assigned to nobody

[2020-08-06 23:49] #3001 closed, assigned to nobody

[2020-08-07 07:13] luckyman20 opened #3275 "Deprecated Server still being used"
## Description
We are still using the deprecated server (demo.openmf.org) whereas we should be using the newer server (staging.mifos.io) as baseApiUrl.

## Expected Behaviour
We should be using the latest server (staging.mifos.io)

## Actual Behaviour
We are using the deprecated server (demo.openmf.org)

[2020-08-07 07:18] #3159 closed, assigned to nobody

[2020-08-08 04:49] luckyman20 commented on #2225
@edcable I am taking up this issue. I have [raised a ticket](https://issues.apache.org/jira/projects/FINERACT/issues/FINERACT-1113) on Fineract to send the amount of payment recovered when the loan is written off.

I will send a Pull Request just after we get a patch in Fineract.

[2020-08-10 07:23] dhruvshrivastava commented on #2340
@edcable Could you please give me the data inputs to reproduce this issue?

[2020-08-10 09:23] dhruvshrivastava commented on #2340
@edcable Could you please mention the data inputs required to reproduce this issue?

[2020-08-14 22:16] tonic889 commented on #2225
I would like to take this up on the fineract side.

[2020-08-17 12:50] luckyman20 commented on #2225
Sure @tonic889

[2020-08-18 17:58] #2883 closed

[2020-08-18 18:02] #2855 closed

[2020-08-19 01:37] tonic889 commented on #2225
@luckyman20 Why is there a fineract-side change required for this? It seems to me it should be possible to hide the button when the Current Balance is 0, correct?  This could be done in ViewLoanDetailsController.js in the community app without any fineract side changes.  Please correct me if I'm wrong.

[2020-08-19 04:34] bharathcgowda commented on #2225
Hi @tonic889 , when you do a write-off, the current balance and current outstanding will be 0. Hence we cannot use any of the existing fields.  Besides the right logic is to verify the total "written off amount" with the "total recovered amount", when the "total recovered amount" becomes equal to the "total written off amount", then it makes operational sense to hide the "Recover" button.

![image

[2020-08-19 11:57] tonic889 commented on #2225
Ah, yes. Ok, I will take it up soon.

[2020-08-22 13:17] alexnavis commented on #2904
Create a new PR (#3301) based on in-active branch and resolved conflicts. Done testing on the same.

[2020-08-24 20:18] #2997 closed, assigned to nobody

[2020-08-25 17:21] #2904 closed

[2020-09-07 05:08] luckyman20 commented on #2225
@tonic889 Let us know if you are still interested to take this up, I know I promised to work on this but I have been swamped with lot of work lately.

[2020-09-07 12:47] tonic889 commented on #2225
@luckyman20 Yes, I can take this up in the next few days.

[2020-09-10 21:42] vorburger commented on #3275
You IMHO really should be using https://www.fineract.dev instead... :smile:

[2020-09-10 21:46] vorburger opened #3307 "/api/oauth/token must POST secrets as x-www-form-urlencoded body instead of in URL parameters"
As per https://issues.apache.org/jira/browse/FINERACT-629,

though shall kindly change https://github.com/openMF/community-app/blob/develop/app/scripts/services/AuthenticationService.js#L69,

to instead of `httpService.post( "/fineract-provider/api/oauth/token?username=" + credentials.username + "&password=" + credentials.password +"&client_id=community-app&grant_type=password&client_secret=123")`

[2020-09-10 21:46] vorburger commented on #1271
but see #3307

[2020-09-10 22:13] vorburger commented on #3307
https://github.com/apache/fineract/pull/1320/files probably illustrates best what actually needs to be changed how (I understand this proejct doesn't use JQuery to invoke the REST API, but you get the idea and should be able to do the equivalent).

[2020-09-13 03:37] tonic889 commented on #2225
@luckyman20 @bharathcgowda I need some clarification here.  What I observed is that when I enter a recovery payment, the total written off is reduced by the recovery payment amount.  Therefore, the logic stated earlier that the button should be hidden when total recovered >= total waived would not be correct.  I believe the desired logic is the button should be hidden when the total written off am

[2020-09-14 13:55] bharathcgowda commented on #2225
@tonic889  That sounds good to me Brian, we can go ahead with the proposed logic.

[2020-09-14 20:59] ikimbra commented on #3080
I had the same issue when I was using version 18.03 and when I upgraded to 19.12 it is still the same issue. Is it that this is just on the windows users?
![Screenshot (153)](https://user-images.githubusercontent.com/69110649/93137536-4e9c5280-f6e6-11ea-9a9d-a4d716d0393a.png)
![Screenshot (154)](https://user-images.githubusercontent.com/69110649/93137540-51974300-f6e6-11ea-9966-a06b6f41ea00.png)

[2020-09-19 17:06] edcable commented on #2820
Already fixed.

[2020-09-19 17:06] #2820 closed

[2020-09-22 22:53] #2962 closed, assigned to nobody

[2020-09-22 23:36] edcable commented on #3080
This is still an issue in Chrome on a Pixel Slate.

[2020-09-22 23:39] edcable commented on #3191
@Charulathakarthikeyan or @alexnavis Are you able to make a pull request with the fix from your commit reference above?

[2020-09-22 23:47] edcable opened #3308 "Can't select Default Savings Account when Creating New Share Account"
## Navigate to any client with an active savings account, select New Share Account.

On the terms page, I am unable to select a savings account from drop down menu even if there's an active savings account for that member.

It should display a list of savings accounts for that member that could be selected.
![Screenshot 2020-09-22 at 4 42 21 PM](https://user-images.githubusercontent.com/823454/939

[2020-09-23 00:10] edcable commented on #3253
Fixed by #3256

[2020-09-23 00:10] #3253 closed, assigned to nobody

[2020-09-23 00:17] edcable commented on #2447
@luckyman20 If this is still a Fineract issue, could you create an appropriate ticket there and then we'll close this one out and link to that one.

[2020-09-23 00:18] edcable commented on #3275
@luckyman20 where are you referring to for this issue? I'm happy to have it point fineract.dev as Michael ensures that's the latest dev branch of Fineract. The baseAPIurl when they deploy community app for first time? Sorry for my ignorance.

[2020-09-23 00:20] edcable commented on #3092
Fixed by #3008

[2020-09-23 00:20] #3092 closed, assigned to nobody

[2020-09-23 00:21] #2736 closed

[2020-09-23 03:27] alexnavis commented on #3191
@edcable Will check and update by this week.

[2020-09-23 04:43] #2833 closed

[2020-09-24 13:01] bharathcgowda commented on #3206
Hi @angelboxes , We have noticed the issue on the loan transaction screen as well. this does not look like a browser issue, would you be able to take a look at this issue still?

[2020-09-25 06:09] luckyman20 commented on #3275
@edcable Yeah, fineract.dev would be acceptable if we make changes to community-app whenever something is merged in Fineract (if it affects community-app in a certain way, I think we should strongly enforce this as a community guideline.

[2020-09-25 06:27] luckyman20 commented on #2447
@edcable First of all, the `Destination Group` field should be auto-complete. Plus, when I click on the `Submit` button, it sends a GET request, which fetches the information of the group mentioned in the `Destination Group` field, which is incorrect. It can be fixed by setting the `Destination Group` field to auto-complete, which has all groups (except the group from which we are transferring).

[2020-09-25 07:37] vorburger commented on #3275
@luckyman20 normally Fineract should mostly remain"backwards API compatible". That breaking change about the authentication change was, due to security concerns, hopefully, more of an exception than something that happens often.

[2020-09-25 07:51] luckyman20 commented on #3275
@vorburger I was more to referring to changes like we are doing with Manthan - adding the status parameter to client and loan API so if there is any change like that and it goes without making changes in community-app, then it might break few things. I am not criticizing the current process but suggesting an improvement in the process.

[2020-09-25 08:30] vorburger commented on #3275
@luckyman20 yeah, you're right about FINERACT-1095 & Co. being another such breaking change (and it's interesting to note that that work, ultimately, is again driven by security). I agree that "formalizing" this by writing it down somewhere could be useful, is that what you were suggesting? We could have something like this in a docs/*.md linked from the README of Fineract, for further discussion

[2020-09-25 19:22] vorburger opened #3309 "Automatically deploy latest to a site"
It could be useful to automatically deploy the latest community app somewhere.

This could be implemented by reusing the Dockerfile.

It should be triggered by a GitHub Action.

Deployment could be e.g. to https://cui.fineract.dev

[2020-09-25 21:09] edcable commented on #3309
@vorburger Thanks for creating this issue. I like the suggestion to use GitHub Action - we're also trying to get that in place for our mobile app repositories. I would be in favor of pointing it to https://cui.fineract.dev so we know this staging instance is fully on upstream, both back and front-end.

[2020-09-26 05:42] luckyman20 commented on #3275
@vorburger Agreed!

Although Apache Fineract is a separate project and reserves the right to merge changes on its own, I still see MifosX and Fineract being tightly integrated, and I think both should go hand-in-hand as much as they can.

Yes, Security concerns should be addressed immediately, and then Mifos can make appropriate changes.

Yes, a PR would be a good starting point to discuss it with