[2017-02-10 13:13] mbj36 commented on #1837
https://github.com/openMF/community-app/issues/1822  replicates this issue and i have also created a PR for the same
PR link - https://github.com/openMF/community-app/pull/1827

[2017-02-13 05:00] santoshmath opened #1839 "GeneralLedger Report issue"
Reported by S Mtetwa at https://mifosforge.jira.com/browse/MIFOSX-2824
Original Description :
In addition to the incorrect balances reported by Ippez there is also the Reversals bug.
Whenever a journal entry is posted it is either debited or credited. A reversa is supposed to cancel that entry with a contra entry. So the reported should show both the original entry and the contra to arrive at a ze

[2017-02-13 05:14] santoshmath opened #1840 "General Ledger Report"
Reported by Ippez Robert at https://mifosforge.jira.com/browse/MIFOSX-2821

Original Description:
GL Report behaves weird and displays wrong information especially:-
Create COA, Make some batch GL transactions. Then generate GL report for that GL Account.
Behaviors are as follow
The drop-down menu for the Parameter 'GLAccountNO' does not filter GL Accounts according to account_usage i.e it display

[2017-02-13 05:19] santoshmath opened #1841 "Center & Groups Performance Dashboard Improvement"
Reported by Zayyad at https://mifosforge.jira.com/browse/MIFOSX-2820

Original Description:
The performance dashboard for Centers and Groups do not provide history nor balances of loans and savings.
This is very important for MFIs dealing with Groups as they would like to view the Outstanding Loan Balance (either total or average) and also Total Savings immediately they open that particular group.

[2017-02-13 06:05] santoshmath opened #1842 "Group which are not active should not get displayed in search field while associating Group to a Center"
Reported by Subramanya at https://mifosforge.jira.com/browse/MIFOSX-2792

Original Description:

Currently in the community app it is allowing to associate closed and pending groups, ideally it should allow only active groups to get associated under Centers (While creating center or though manage groups for centers)

[2017-02-13 06:13] santoshmath opened #1843 "Client Loan History"
Reported by Nathan at https://mifosforge.jira.com/browse/MIFOSX-2789

Original Description:

It would be great to create another tab in "view client" with loan history. The screen shot below (part Spanish) was done with data tables and the data entered in manually.
It would be great if this populated automatically for the history of the client.

[2017-02-13 06:21] santoshmath opened #1844 "Separate Application table name should be provided for a client as Entity while creating the datatable"
Reported by Subramanya at https://mifosforge.jira.com/browse/MIFOSX-2491

Original Description:

Now in community app the data table created for a client is getting displayed under "Clients" created as client or Entity. But some of the data tables created for a client is not useful for Entity.
Eg. Create a data table as Spouse details for a client, which is useful for a client but not for entity.

[2017-02-13 06:26] santoshmath opened #1845 "In overdraft savings accounts interest posting for positive and negative balances should be separate"
Reported by Subramanya at https://mifosforge.jira.com/browse/MIFOSX-2488

Original Description:
1. Create savings product with following datasets,
Nominal interest rate:8%
Interest compounding period:Daily
Interest posting period:Monthly
Interest calculated using:Daily Balance
Days in Year:365 Days
Max Overdraft limit:10,000
Nominal annual interest for overdraft:12.
2. Create a client and activate

[2017-02-13 06:32] santoshmath opened #1846 "Add Date of Issuance as Mandatory Field for Client Identifier"
Reported by Ed Cable at https://mifosforge.jira.com/browse/MIFOSX-2404

Original Description:
While entering identity documents one should capture the Date of Issuance - add support for this mandatory date field to the Client Identifier.

![add_clientidentifier](https://cloud.githubusercontent.com/assets/23022667/22873192/5110a7ce-f1e4-11e6-8ea1-1c8db071b4c7.jpg)
![add_identifier1](https://cloud.g

[2017-02-13 06:35] santoshmath commented on #1846
Commented by @Takahiro at https://mifosforge.jira.com/browse/MIFOSX-2404

Progress Report: I did rebase and passed the integrationTest on the backend. Currently, a related frontend PR (   MIFOSX-2405 CLOSED  ), which its backend merged first included in the rebase, is still under being reviewed so I am waiting for its merge to avoid merge conflict. I tested the frontend commits on my local environ

[2017-02-13 06:36] santoshmath commented on #1846
Commented by Dayna at https://mifosforge.jira.com/browse/MIFOSX-2404

Takahiro Ishikawa Is this still actively in development with you?

[2017-02-13 06:37] santoshmath commented on #1846
Commented by Takahiro at https://mifosforge.jira.com/browse/MIFOSX-2404

@dharp@mifos.org
Sorry to update the report. This issue is not actively in development with me.
Since I was away for a while from the active development and codebase monitoring, the progress I have made is not applicable for the current development. I changed the status to open.

[2017-02-13 06:40] santoshmath opened #1847 "Add Expiration Date as Mandatory Field for Client Identifier"
Reported by Ed at https://mifosforge.jira.com/browse/MIFOSX-2403

For client identifier data table, a date field that is mandatory should be added to capture the expiration date of the identity document.

[2017-02-13 06:45] santoshconflux opened #1848 "Connect Mifos and Stellar to each other."
Reportec by Myrle Krantz at https://mifosforge.jira.com/browse/MIFOSX-2376

Original Description:

Create a BridgeComponent using the new Stellar SDK to route Mifos transactions into a Stellar network and to route Stellar transactions into a Mifos network for tenants who wish to allow it.
If no explicit permission has been granted, the default is to not allow transactions from the tenant into the

[2017-02-13 06:48] santoshconflux opened #1849 "Transfer money from Mifos account to Stellar account"
Reported by Myrle Krantz at https://mifosforge.jira.com/browse/MIFOSX-2377

[2017-02-13 06:52] santoshconflux opened #1850 "Transfer money from Stellar account to Mifos account"
Reported by Myrle Krantz at https://mifosforge.jira.com/browse/MIFOSX-2378

[2017-02-13 06:55] santoshconflux opened #1851 "Configure Tenant to allow transfer to specific Stellar network"
Reported by Myrle Krantz at https://mifosforge.jira.com/browse/MIFOSX-2379

[2017-02-13 06:58] santoshconflux opened #1852 "Integration test of Mifos, and Stellar: Failure scenarios"
Reported by Myrle Krantz at https://mifosforge.jira.com/browse/MIFOSX-2380

Original Description:
Failure to connect to Stellar network.
Incorrect account address information in Stellar network.
Incorrect account address information in Mifos.
Insufficient funds.

[2017-02-13 07:01] santoshconflux opened #1853 "Integration test of Mifos, and Stellar: Happy case"
Reported by Myrle Krantz at https://mifosforge.jira.com/browse/MIFOSX-2381

Original Description:
A standalone Stellar instance is sufficient for the happy use cases. Making sure that Stellar shows the same behavior in test as a standalone as it does as a network is Stellar's responsibility.

[2017-02-13 07:04] santoshconflux opened #1854 "Integration test of Mifos, and Stellar: Performance"
Reported by Myrle Krantz at https://mifosforge.jira.com/browse/MIFOSX-2382

5 Transactions/Second should be possible in either direction

[2017-02-13 07:06] santoshconflux opened #1855 "Usability test of Mifos/Stellar connector"
Reported by Myrle Krantz at https://mifosforge.jira.com/browse/MIFOSX-2383

[2017-02-13 07:11] santoshmath commented on #1848
Sub Tasks of this task:
1. https://github.com/openMF/community-app/issues/1849

2. https://github.com/openMF/community-app/issues/1850

3. https://github.com/openMF/community-app/issues/1851

4. https://github.com/openMF/community-app/issues/1852

5. https://github.com/openMF/community-app/issues/1853

6. https://github.com/openMF/community-app/issues/1854

7. https://github.com/openMF/community-a

[2017-02-13 07:26] santoshmath opened #1856 "Add datatables to Staff"
Reported by Swapnil at
https://mifosforge.jira.com/browse/MIFOSX-2344

If Datatables can be linked to Staff it will help to maintain different parameters like Attendance, Office assignment history, HR profile etc.

[2017-02-13 07:34] santoshmath opened #1857 "Undo Loan Write offs for super users"
Reported by Joe at https://mifosforge.jira.com/browse/MIFOSX-2305

Super User should have the right of Undoing write-off of loan.

[2017-02-13 09:36] santoshconflux opened #1858 "View Receipt (Pentaho viewer) asked for authentication again"
Reported by Thynn Win at https://mifosforge.jira.com/browse/MIFOSX-2811

Original Description:
Whenever we try to view receipt, it prompts for username and password again.
To reproduce this:
1. Go to a client (say test verify on demo server)
2. Click on his loan, then 'Transactions' and then 'View Receipt'.
Receipt is opened
See the attachment. (receipt opens a pentaho report but session is not pa

[2017-02-13 10:07] santoshmath opened #1859 "I want to filter the Collection report using the Action Date, and not the Creation Date"
Reported by Leo at https://mifosforge.jira.com/browse/MIFOSX-2347

Original Description:

We may post into the system a repayment for yesterday today, mainly due to work overload. It means that the entry is listed under the the collection report of today rather than yesterday thereby distorting the report.
It is because the report is filtering using the created Date for the dates, whereas the Acti

[2017-02-13 10:20] santoshmath opened #1860 "Add Savings Approval to List of Pending Tasks"
Reported by Ed Cable at https://mifosforge.jira.com/browse/MIFOSX-2312

Original Description:
The Pending Tasks Inbox currently allows a user to in bulk, to approve clients, approve loan accounts, reschedule loans, and disburse loans. All accounts with these pending stages are visible from a separate menu here.

The same functionality should be available for Savings Accounts allowing a user to app

[2017-02-13 13:16] Ippezrobert opened #1861 "Jobs Scheduler UI improvement using Progress Bar"
Currently, in the community-app, if you want to know if all selected jobs have been run, you need to refresh to see if status is running or not. This is not sometimes frustrating since as an admin, i need to run all jobs daily before doing closing entry (Closing books of accounts) in a way that its kind of hard to know if jobs are completed. So its better we introduce progress bar to show status.

[2017-02-13 13:20] Ippezrobert opened #1862 "Create new view for Loans and Savings Transaction Tab - to include Username and description"
Add two new fields to include Username and description for each transaction in Loans and Savings Transaction Tab. See illustration in the attachment
**SAVINGS TRANSACTION TAB**
![savings trans view](https://cloud.githubusercontent.com/assets/13125234/22884924/3cf756f6-f208-11e6-99ca-3278e348861e.png)

**LOAN TRANSACTION TAB**
![loan trans view](https://cloud.githubusercontent.com/assets/13125234/2

[2017-02-13 13:22] Ippezrobert opened #1863 "Create new client view to include accounts related to that client"
A client may be a guarantor of a loan, but its so hard to know that and even its hard to know the history for which the client has been a loan guarantor.
Even its hard to know the OnHoldFunds amount on spot, so to solve this add another view to include all accounts to which each client is related. Those accounts whose status are closed can be hidden and only shown when the button "View Closed Acco

[2017-02-13 13:30] Ippezrobert opened #1864 "Add Clients and Groups Pending Transfer to List of Pending Tasks"
For Super user or management to see which clients are on transfer and pending acceptance, this should be included to the list of pending task for quick and friendly UI

[2017-02-13 13:32] Ippezrobert opened #1865 "Allow Global search details to include Upcoming charges"
See screenshots at http://awesomescreenshot.com/0d45ncvi0c

[2017-02-13 13:37] Agnessy commented on #1819
Ok
Thanks.

[2017-02-13 14:47] Anh3h commented on #1812
According to the user manual, when a group is closed, for that group to exist again a new one has to be created. That means the group(the closed group) does not exist in the database again so you can't reactivate something that is not in the database
Shouldnt the title of the issue be reactivate a an inactive group
rather than a closed group??

[2017-02-14 07:57] Agnessy opened #1866 "Reskin&oldSkin: Asterisk is missing in the field of "Create Fixed Deposit Product" to show mandatory field"
In the form of Create Fixed Deposit Product, the field **"Minimum Deposit Term"**  is mandatory..  but there is no asterisk to show that, only when you submit without filling it is when you will know.
![fdp](https://cloud.githubusercontent.com/assets/13551795/22919907/743b2cb4-f2a3-11e6-85e6-7bd30fbc2556.png)
![fdp2](https://cloud.githubusercontent.com/assets/13551795/22919915/7b1d9102-f2a3-11e6-9

[2017-02-14 13:12] Ippezrobert opened #1867 "UI for Implementation of scheduling & e-mailing reports"

[2017-02-16 05:02] santoshmath opened #1868 "Reskin&oldSkin: In create Gurantor, Typehead is not working as expected( doesn't display all clients in database)"
Reported by @Ippezrobert  at https://mifosforge.jira.com/browse/MIFOSX-2543

Original Description:
Create a loan application
Before approving, Click on More>Create Guarantor menu
Some client's names are not displayed.
This is a big blocker for loans with "Place Guarantor Fund on hold" configuration as it can't be approved especially if the Guarantor's name is missing when actually it exists in the

[2017-02-16 09:19] santoshmath opened #1869 "Navigation should be more Informative"
Reported by Amit Jain at https://mifosforge.jira.com/browse/MIFOSX-2111

Original Description:
We are using X and we noticed that a navigation will be a good informative tool to explore the details.Our few suggestions are.
1. When Select Branch > total no. of Staff is missing >> see https://mifosforge.jira.com/browse/MIFOSX-2616
2. When Select Field officer > Total No of centers handling should be

[2017-02-16 09:23] santoshmath opened #1870 "No Currency Classification on Accounting Reports"
Reported by Okeleke at https://mifosforge.jira.com/browse/MIFOSX-1984

Original Description:
On all accounting reports no consideration is given on currency when executing query, especially in a multicurrency tenant database like our demo database, so any result returned can be said to be erroneous.

[2017-02-16 09:53] santoshmath opened #1871 "Dashboard label is not showing proper action"
Reported by Amit Jain at https://mifosforge.jira.com/browse/MIFOSX-2112

Dashboard label for disbursement is showing a perfect label when you select the office before any selection is shows proper label.

![dashboard_error](https://cloud.githubusercontent.com/assets/23022667/23016246/df440012-f45b-11e6-8f93-b29d1a2080a2.png)
![dashboard_error_2](https://cloud.githubusercontent.com/assets/23022667/

[2017-02-16 09:57] santoshmath opened #1872 "Closed Center, Group& Clients are shown on User Interface"
Reported by Amit Jain at https://mifosforge.jira.com/browse/MIFOSX-2109

Original Description:
1.If we closed any Center, Group & Client even any loan it Should not comes on user Interface 2.Presently it comes on User Interface.
3.I proposed a "Show All" button on UI it works when a user need to view details including closed items.
4. In reports the balance shown is 0 always when the account has b

[2017-02-16 10:06] santoshconflux opened #1873 "XBRL reporting seems to be broken"
Reported by Vishwas at XBRL reporting seems to be broken

XBRL reporting seems to be broken on the community app.
Details of expected functionality : https://mifosforge.jira.com/wiki/display/RES/GSOC+2013+-+XBRL+Reporting+Integration
In the community app: Reports -> XBRL reporting

[2017-02-17 16:29] #1784 closed

[2017-02-17 22:59] mbj36 commented on #1781
Solved

[2017-02-17 22:59] #1781 closed

[2017-02-17 22:59] mbj36 commented on #1783
Solved

[2017-02-17 22:59] #1783 closed

[2017-02-17 23:00] mbj36 commented on #1777
Solved

[2017-02-17 23:00] #1777 closed

[2017-02-17 23:00] mbj36 commented on #1774
Solved

[2017-02-17 23:00] #1774 closed

[2017-02-17 23:00] mbj36 commented on #1772
Solved

[2017-02-17 23:00] #1772 closed

[2017-02-17 23:02] mbj36 commented on #1761
Solved

[2017-02-17 23:02] #1761 closed

[2017-02-17 23:07] mbj36 commented on #1760
Solved

[2017-02-17 23:07] #1760 closed

[2017-02-17 23:08] mbj36 commented on #1762
Solved

[2017-02-17 23:08] #1762 closed

[2017-02-17 23:08] mbj36 commented on #1752
Solved

[2017-02-17 23:08] #1752 closed

[2017-02-17 23:20] mbj36 commented on #1771
Solved

[2017-02-17 23:20] #1771 closed

[2017-02-17 23:48] mbj36 commented on #1768
Fixed

[2017-02-17 23:48] #1768 closed

[2017-02-18 00:18] mbj36 commented on #1755
Fixed

[2017-02-18 00:18] #1755 closed

[2017-02-18 00:27] mbj36 commented on #1779
Solved

[2017-02-18 00:27] #1779 closed

[2017-02-18 00:38] mbj36 commented on #1763
@edcable I can't replicate this issue

[2017-02-18 09:10] Mastermaulik commented on #1782
I solved this issue, here is how the new skin looks like:
<img width="1280" alt="screen shot 2017-02-18 at 2 39 29 pm" src="https://cloud.githubusercontent.com/assets/5520612/23092003/3078d3bc-f5e8-11e6-95d6-ac216d6f7c04.png">

[2017-02-19 06:30] gkrishnan724 commented on #1759
Hi @edcable  I am not able to reproduce this in localhost, but I see the issue exists only in the demo page is there a way to fix that?

[2017-02-19 14:23] mbj36 commented on #1765
Fixed

[2017-02-19 14:23] #1765 closed

[2017-02-19 14:23] mbj36 commented on #1782
Fixed

[2017-02-19 14:23] #1782 closed

[2017-02-19 14:24] mbj36 commented on #1766
Fixed

[2017-02-19 14:24] #1766 closed

[2017-02-20 03:39] mbj36 commented on #1780
@skprabhanjan Are you up to this issue ?

[2017-02-20 03:40] mbj36 commented on #1767
Send PR please

[2017-02-20 03:49] mbj36 commented on #1754
Fixed

[2017-02-20 03:49] #1754 closed

[2017-02-20 15:36] edcable commented on #1756
@gkrishnan724 So you thinking have the space is better? @mbj36 @pranjal-goswami @kamdjouduplex what are your thoughts?

[2017-02-20 16:50] mbj36 commented on #1756
Space doesn't makes sense, +1 for the old view

[2017-02-20 16:53] mbj36 commented on #1763
Fixede

[2017-02-20 16:53] #1763 closed

[2017-02-20 21:04] divyanshu-rawat opened #1893 "On resizing nav-bar hides"
On resizing nav-bar hides instead of collapsing.
Here I am attaching before and after resizing images.

Before Resizing
![original](https://cloud.githubusercontent.com/assets/13464678/23141708/2373f906-f7de-11e6-9460-e168f1526229.png)

After Resizing
![navbar_missing](https://cloud.githubusercontent.com/assets/13464678/23141688/0b98a62e-f7de-11e6-9ccc-7761a68d1506.png)

[2017-02-20 23:38] mbj36 commented on #1893
@divyanshu-rawat We are into the reskin release of the community app, where all the UI enhancements is been going on, currently this is the old skin where we are not taking any UI issues.

checkout the new_reskin branch of the community app

[2017-02-20 23:38] #1893 closed

[2017-02-21 00:19] mbj36 commented on #1780
Fixed

[2017-02-21 00:19] #1780 closed

[2017-02-21 04:58] pranjal-goswami commented on #1756
Hi guys,
My two cents here :
More than the aesthetic effect that someone might perceive, it is important to have a design consistency in a product - so that a user, after a while, knows "_where will I get the action buttons for the entity on this page?_"

To me, it seems better to keep it at the same level -like @edcable suggested - as the title for two reasons :
1. They are actions on "Chart of A

[2017-02-21 05:39] skprabhanjan commented on #1780
@mbj36 , Should i Send a PR for this issue.? As it says closed by mbj36? What should i do on this issue now.? As I had fixed it but I had not made any PR due to Travis CI check error, Please help me on what to do next here.
Thanks.

[2017-02-21 05:40] skprabhanjan commented on #1767
@mbj36 , I will be sending a PR for this today Evening.
Thanks for the help:)

[2017-02-21 11:06] Mastermaulik opened #1896 "Individual Collection Sheet issue"
Checkout https://demo.openmf.org/reskin/#/individualcollectionsheet

<img width="1280" alt="screen shot 2017-02-21 at 4 34 42 pm" src="https://cloud.githubusercontent.com/assets/5520612/23162376/c7059e88-f853-11e6-8ba3-637a25506e0f.png">
@gkrishnan724 can you look into this?

[2017-02-21 12:43] gkrishnan724 commented on #1896
sure @Mastermaulik  I'll try :+1:

[2017-02-21 14:31] mbj36 commented on #1780
@skprabhanjan  Revert your commit and rebase your branch with new_reskin branch and look into other issues as it is fixed now

[2017-02-21 15:07] mbj36 commented on #1759
@gkrishnan724 this issue existed in https://demo.openmf.org/reskin/#/ , now we have deployed it to https://demo.openmf.org/newbeta/#/organization in which it seems to be fixed. So closing the issue

[2017-02-21 15:07] #1759 closed

[2017-02-21 15:19] skprabhanjan commented on #1773
@mbj36 , I have created a new PR for this issue, Please review:)

[2017-02-21 15:43] skprabhanjan commented on #1767
@mbj36 , I have fixed this issue on my local machine, Waiting for PR #1897 to be merged  so that I can make one more PR with a fix to this issue, Should I follow creating a new branch for every issue on my fork and then create a PR from that so that I could make multiple PR's.?
Thanks:)

[2017-02-21 15:55] mbj36 commented on #1767
Create new branch for every PR, don't wait for the PR to get merged

[2017-02-21 16:20] skprabhanjan commented on #1767
@mbj36 As I have already created a PR in this branch new_reskin , Shall I wait for this to be merged and for all next PR's I will create a new branch or shall I close that PR and follow this from first again.?
Sorry for the trouble,Thanks:)

[2017-02-21 16:23] Anh3h commented on #1812
To fix this issue, i think an endpoint to reactivate group is required at the back end so i would suggest that endpoint be create for this issue be fixed ...

[2017-02-21 22:43] mbj36 commented on #1815
Fixed

[2017-02-21 22:43] #1815 closed

[2017-02-22 00:16] mbj36 commented on #1896
Fixed

[2017-02-22 00:16] #1896 closed

[2017-02-22 00:24] Mastermaulik opened #1901 "Overlapping screen in Groups and Centers Tab"
I noticed that in
[https://demo.openmf.org/newbeta/#/centers](https://demo.openmf.org/newbeta/#/centers)
and in
[https://demo.openmf.org/newbeta/#/groups](https://demo.openmf.org/newbeta/#/groups)

The screen looks like:
<img width="1277" alt="screen shot 2017-02-22 at 5 38 30 am" src="https://cloud.githubusercontent.com/assets/5520612/23191369/446c4cf4-f8c3-11e6-8fe0-0921064597c7.png">

@gkrishna

[2017-02-22 00:33] mbj36 commented on #1773
fixed

[2017-02-22 00:33] #1773 closed

[2017-02-22 01:06] mbj36 commented on #1758
fixed

[2017-02-22 01:06] #1758 closed

[2017-02-22 01:54] mbj36 commented on #1775
Fixed

[2017-02-22 01:54] #1775 closed

[2017-02-22 04:54] santoshmath opened #1904 "Development of Community-app (Front App) for some of the work done by Musoni"
Reported by @Ippezrobert at https://mifosforge.jira.com/browse/MIFOSX-2369

Original Description:
Can someone please review the following and work on the community-app side so that they can be merged into the nearby releases.
I have compiled and merged the below features as a single PR, someone can now review and develop the client side (community-app) for the same. The PR is found at https://gith

[2017-02-22 04:55] santoshmath commented on #1904
Comment by @Ippezrobert at https://mifosforge.jira.com/browse/MIFOSX-2369(Latest Status of the issue)

SMS Campaign has been implemented both at backend and frontend, Implementation of scheduling & e-mailing reports has been implemented at backend https://github.com/apache/incubator-fineract/pull/197 but UI has not been designed.
The only PR that i may have to work on is the Loan Credit Check. I w

[2017-02-22 05:29] santoshmath opened #1905 "In productive collection sheet if staff is not assigned error message should be displayed in same page"
Reported by Subramanya at https://mifosforge.jira.com/browse/MIFOSX-2237

Original Description:
In productive collection sheet if staff is not assigned error message should be displayed in same page rather than navigating to next page.

![107](https://cloud.githubusercontent.com/assets/23022667/23198486/f9b2f1c4-f8ed-11e6-8e76-65ece604cf21.png)

[2017-02-22 05:39] santoshmath opened #1906 "A Guarantor information returns client does not exist when a guarantor has been transferred to a different office"
Reported by @AndrewDzakpasu at https://mifosforge.jira.com/browse/MIFOSX-2087

Original Description:
When a user say in (Branch A) views a loan from (end point ex. loans/14? associations=all) with a guarantor also in Branch A all information is displayed correclty.
Now when the guarantor on loan id 14 is transferred to (Branch B).
The same user who could view loan with (end point ex. loans/14? ass

[2017-02-22 05:46] santoshmath opened #1907 "Loan_Counter field in DB not filled"
Reported by @Sander Van Der Hayden at https://mifosforge.jira.com/browse/MIFOSX-1499

Original Description:
In the DB for each loan there are 2 counters, the Loan_product_counter (counting which cycle of this product the client is in), and the loan_counter (counting the total # of loans the client has had).
When building a report we found out that loan_counter is not filled and always remains NULL

[2017-02-22 13:14] Anh3h commented on #1901
I will like to take up this issue

[2017-02-22 16:19] Mastermaulik opened #1911 "Create Account screen"
Checkout:
[https://demo.openmf.org/reskin/#/createglaccount](https://demo.openmf.org/reskin/#/createglaccount)

Screenshot:
<img width="1280" alt="screen shot 2017-02-22 at 9 47 26 pm" src="https://cloud.githubusercontent.com/assets/5520612/23220662/b2b9e1a0-f948-11e6-86f3-0b9c8332ab21.png">

[2017-02-22 19:54] edcable commented on #1814
@mbj36 Has this been merged? I didn't notice it being fixed in the latest build that @nazeer1100126 deployed.

[2017-02-22 20:01] edcable commented on #1756
I agree with Pranjal's take and am all for consistency. Historically in the old skin it was all at the level of the title so I would continue to follow that same pattern as it saves space as Pranjal said and are actions related to that title.

[2017-02-22 20:09] edcable opened #1915 "Quick Action Links aren't accessible from Homepage/Dashboard"
From the menu/search bar you should be able to start typing any action and have a list populate (i.e create...)

Nothing populates nor gets returned in the search.

See https://demo.openmf.org/newbeta/#/home

![screen shot 2017-02-22 at 12 06 09 pm](https://cloud.githubusercontent.com/assets/823454/23230157/b71dee72-f8f7-11e6-87e5-c92be88e7778.png)

vs

https://demo3.openmf.org/#/home

![screen sh

[2017-02-22 20:13] edcable commented on #1625
Fixed on https://demo.openmf.org/newbeta/#/bulkloan

[2017-02-22 20:13] #1625 closed

[2017-02-22 20:14] edcable commented on #1617
Still exists at https://demo.openmf.org/newbeta/#/bulkloan

[2017-02-22 21:32] mbj36 commented on #1814
PR which @kamdjouduplex sent was failing test cases. I had asked him  to rebase with new_reskin branch and send the PR again

[2017-02-22 21:34] mbj36 commented on #1756
Perfect. I will send PR for it

[2017-02-22 21:52] mbj36 commented on #1767
Fixed

[2017-02-22 21:52] #1767 closed

[2017-02-22 21:57] mbj36 commented on #1901
Fixed

[2017-02-22 21:57] #1901 closed

[2017-02-22 22:06] mbj36 opened #1916 "Not able to delete the payment type"
Go to organisation >> payment type , try to delete a payment type

![selection_010](https://cloud.githubusercontent.com/assets/9936881/23234764/25b67ac6-f979-11e6-8948-e70076e0becb.png)

[2017-02-23 01:18] mbj36 commented on #1756
Fixed

[2017-02-23 01:18] #1756 closed

[2017-02-23 02:42] mbj36 commented on #1769
It's working perfect in https://demo.openmf.org/newbeta/#/smscampaigns
So closing the issue

[2017-02-23 02:42] #1769 closed

[2017-02-23 04:16] santoshmath opened #1919 "Create new unified view of Savings Account similar to Loan Summary"
Reported by Ed Cable at https://mifosforge.jira.com/browse/MIFOSX-2506

Original Description:
In line with both the original Mifos 2.x software and Deanna's mockups at the top-level loan pages, we should cleanly display the Account Summary table above the account details.
This table shouldn't occupy too much room and should be distinct from the other information on this top level page.
We'll also

[2017-02-23 04:20] santoshmath opened #1920 "Active loans(pentaho) report aftr exporting in excel 2007 format is not displaying proper results"
Reported by Subramanya at https://mifosforge.jira.com/browse/MIFOSX-2142

Original Description:

After exporting the Active Loans (Pentaho) report to excel 2007 format, following observations were made,
1. Total of Annual rate of interest is not required.
2.Total of penalties overdue is not displaying
3. Text alignment should be uniform some place it is centered and some place right aligned

[Copy

[2017-02-23 21:18] Mastermaulik commented on #1915
Hi Mohit, Ed:

I had a chance to look into this issue.

We were using angular-bootstrap version 0.10.0 in the develop branch and we using the angular-bootstrap version 1.3.2 in the new_reskin branch.

The error is well known and I found a link on stack overflow addressing the issue [here].(http://stackoverflow.com/questions/24824594/angular-bootstrap-typeahead-not-working-with-angular-1-3-0)

[2017-02-23 23:47] edcable commented on #1915
The reskin branch is using AngularJS 1.5 - is that still an issue with that version?

[2017-02-23 23:51] mbj36 commented on #1915
Let me have a look on it, will update

[2017-02-24 01:55] mbj36 commented on #1757
Fixed

[2017-02-24 01:55] #1757 closed

[2017-02-24 01:55] mbj36 commented on #1764
Fixed

[2017-02-24 01:55] #1764 closed

[2017-02-24 02:18] mbj36 commented on #1915
@edcable angular-typeahead doesn't work for angular 1.5 http://stackoverflow.com/questions/42429503/angular-typeahead-doesnt-work-for-angular-1-5-0

[2017-02-24 02:27] edcable commented on #1770
oh - you fixed the error message?

[2017-02-24 02:30] mbj36 commented on #1770
It was already fixed in newbeta and github repo.

[2017-02-24 02:31] edcable commented on #1915
@pranjal-goswami do you know any way to get angular-typeahead to work for for Angular 1.5?

[2017-02-24 02:36] mbj36 commented on #1770
Fixed

[2017-02-24 02:36] #1770 closed

[2017-02-24 06:15] mbj36 commented on #1915
@edcable @pranjal-goswami Issue has been resolved. We have been missing 'uib-typeahead' in the html files.

[2017-02-24 06:15] #1915 closed

[2017-02-24 11:58] mbj36 commented on #1753
Fixed

[2017-02-24 11:58] #1753 closed

[2017-02-24 20:26] mbj36 commented on #1751
#1814 closed

[2017-02-24 20:26] #1751 closed

[2017-02-25 00:16] mbj36 opened #1933 "Making reskin responsive across all devices"
Currently Bootstrap is just horrible in the new_reskin branch, it's just gets distorted when browsed through different devices.

I will be updating here with the checklist of the work done regarding bootstrap part.

@Mastermaulik and me are currently working on it, if anyone new would like to join, please feel free to contact us

[2017-02-25 02:04] mbj36 commented on #1911
@Mastermaulik  I see it's already fixed in new_reskin branch so closing the issue

[2017-02-25 02:04] #1911 closed

[2017-02-25 02:06] mbj36 commented on #1778
@Anh3h  I see you have created a commit. Have you fixed the issue ?  Please send the PR

[2017-02-25 02:07] mbj36 commented on #1776
@gkrishnan724 Have u solved the issue ? We are looking to close all the reskin issues by today. Waiting for your PR :)

[2017-02-25 03:07] mbj36 commented on #1617
Fixed

[2017-02-25 03:07] #1617 closed

[2017-02-25 06:22] gkrishnan724 commented on #1618
I'll try working on this :+1:

[2017-02-25 15:35] Anh3h commented on #1778
Could you check this https://github.com/openMF/community-app/pull/1932 out. I need a clean fork to avoid conflicts before i can send a PR. If i do a new fork. I think the travis build for that PR wil hav a prob.

[2017-02-26 02:02] mbj36 commented on #1776
Fixed

[2017-02-26 02:02] #1776 closed

[2017-02-27 22:00] edcable commented on #1820
Wireframes for this have been drafted by Denila at https://drive.google.com/drive/folders/0ByeK44WJrHIvSjZuQW1pTGZpYzQ?usp=sharing

[2017-02-27 22:00] #1916 closed

[2017-02-27 22:05] edcable commented on #1820
Here is some accompanying explanations for Denila on those wireframes. We're still finalizing how system IDs would get auto-generated when created by back-office user:

Attached are wires for the two workflows to create a self-service user from the Mifos admin web app.

Although the requirements stated that the admin can specify user id, I spoke to a few of my friends who work in fintech with bank

[2017-02-27 22:18] edcable opened #1941 "All fields for new savings account applications aren't being displayed"
Navigate to https://demo.openmf.org/newbeta/#/new_client_saving_application/25 and select a savings product to create a new account for.

Fields are both smushed together as reported at #1613 and non-existent.

See

![screen shot 2017-02-27 at 2 15 57 pm](https://cloud.githubusercontent.com/assets/823454/23382574/87080cd2-fcf7-11e6-89f7-e8e821b3d1ea.png)

[2017-02-27 22:27] edcable commented on #1616
Still not working on https://demo.openmf.org/newbeta/#/createcenter

If you go to p2p institutional as office and M,Mary as staff or any group that doesn't belong to a staff person, no groups show up in the dropdown to add to the center.

See

![screen shot 2017-02-27 at 2 23 18 pm](https://cloud.githubusercontent.com/assets/823454/23382878/c710dcea-fcf8-11e6-9908-99b7be0f3b0e.png)

[2017-02-27 22:33] edcable opened #1943 "Can't render view loan account page"
Attempted to view https://demo.openmf.org/newbeta/#/viewloanaccount/687

and this is what I see:

![screen shot 2017-02-27 at 2 32 39 pm](https://cloud.githubusercontent.com/assets/823454/23383093/a4c747ea-fcf9-11e6-839d-a12097c9db33.png)

[2017-02-28 07:45] DanCarl857 commented on #1943
Working on this

[2017-02-28 08:23] Mastermaulik commented on #1941
@edcable , I have already solved this Issue, sending a PR

[2017-02-28 08:59] mbj36 commented on #1814
Fixed

[2017-02-28 08:59] #1814 closed

[2017-02-28 16:44] Ippezrobert opened #1952 "Reskin:In Edit Financial Activity Mapping page, drop-down menu does not populate GL Accounts"
Create a Financial Activity.
Click on the created Financial Activity to view
Click on Edit Button.

drop-down menu does not populate GL Accounts

[2017-02-28 19:58] mbj36 commented on #1943
Fixed

[2017-02-28 19:58] #1943 closed

[2017-02-28 20:02] mbj36 commented on #1778
Fixed

[2017-02-28 20:02] #1778 closed

[2017-03-01 01:53] mbj36 commented on #1933
Fixed

[2017-03-01 01:53] #1933 closed

[2017-03-01 01:55] mbj36 commented on #1941
Fixed

[2017-03-01 01:55] #1941 closed

[2017-03-01 02:13] mbj36 commented on #1615
I find it fixed @edcable at https://demo.openmf.org/#/, Any inputs ?

[2017-03-01 02:33] Mastermaulik opened #1955 "Left and Top Nav-bar Issue"
This issue refers to new_reskin branch.

The left nav-bar seems to be short on some pages, here is an example:

<img width="1276" alt="screen shot 2017-03-01 at 8 01 05 am" src="https://cloud.githubusercontent.com/assets/5520612/23443520/42da079a-fe55-11e6-9715-7f020b797832.png">

The nav-bar should be fixed and should look like:
<img width="1280" alt="screen shot 2017-03-01 at 8 02 20 am" src="ht

[2017-03-01 03:10] mbj36 commented on #1612
Fixed

[2017-03-01 03:10] #1612 closed

[2017-03-01 03:26] mbj36 commented on #1613
Fixed

[2017-03-01 03:26] #1613 closed

[2017-03-01 03:30] mbj36 commented on #1616
@gkrishnan724 can u look at this ?

[2017-03-01 09:38] skprabhanjan commented on #1955
I will try working on this.

[2017-03-01 11:14] MexinaD opened #1956 "Asterisk for mandatory field on Create Holiday"
Navigate to Admin->Organisation->Manage Holiday
This will give the form to create holiday
There is a missing asterisk in a application offices to show that it is a mandatory field

![holiday](https://cloud.githubusercontent.com/assets/8160209/23457504/532c76a8-fe89-11e6-82f4-a0aa5416795b.png)

[2017-03-01 11:14] MexinaD opened #1957 "Asterisk for mandatory field on Create Holiday"
Navigate to Admin->Organisation->Manage Holiday
This will give the form to create holiday
There is a missing asterisk in a "applicable offices" field to show that it is a mandatory field

![holiday](https://cloud.githubusercontent.com/assets/8160209/23457504/532c76a8-fe89-11e6-82f4-a0aa5416795b.png)

[2017-03-01 11:28] Mastermaulik commented on #1955
@skprabhanjan , this is a really high priority issue, so please try to get to the task ASAP.

[2017-03-01 11:30] #1956 closed

[2017-03-01 12:05] MexinaD opened #1958 "Asterisks are missing to show Selected Roles is mandatory in User creation"
Can be reproduced by
Admin -> User -> Create User

![usercreation](https://cloud.githubusercontent.com/assets/8160209/23459197/52e2158e-fe90-11e6-9663-0a87ee688d43.png)

[2017-03-01 12:17] Agnessy opened #1959 "No indication showing "code values" status"
Go to System >> Manage Codes>> Add codes
Then add code values
The list of all code values doesn't retrieve their status in the Active column, to show either the code value is active or not
![code values](https://cloud.githubusercontent.com/assets/13551795/23459414/4aed23a4-fe91-11e6-9842-b0ffe841cd94.png)

[2017-03-01 13:07] gkrishnan724 commented on #1616
I'll work on this :+1:

[2017-03-01 13:32] edcable commented on #1958
This is also present on the reskin. Asterisk needs to be added to the selected roles section.

[2017-03-01 13:35] edcable commented on #1952
This should be fixed on the reskin branch of the community app and is high priority.

[2017-03-01 13:48] edcable commented on #1867
@Ippezrobert  Could you provide some more details or even draft a wireframe of what the UI should support in terms of scheduling/emailing reports.

[2017-03-01 13:51] edcable commented on #1868
@nazeer1100126 What is status of work on this issue?

[2017-03-01 14:09] botraunak commented on #1959
I'll Try this.

[2017-03-01 14:57] botraunak commented on #1958
I'll try this!

[2017-03-01 15:29] gkrishnan724 commented on #1616
Hi @mbj36 I don't think this is a front-end issue. I just checked the `CreateCenterController.js`  and we see that we are looking for something called as `groupMembersOptions` for our group data which is not being loaded. Also, when I checked the API that we are fetching the data from: [link](https://demo.openmf.org/fineract-provider/api/v1/centers/template?tenantIdentifier=default&pretty=true). I

[2017-03-01 16:07] botraunak commented on #1955
I'll try this issue!

[2017-03-01 16:28] botraunak commented on #1952
I cannot find from where do I create a financial activity in the navigation if you can help me that'd be great!  @edcable @Ippezrobert

[2017-03-01 17:08] botraunak commented on #1957
I'll work on this!

[2017-03-01 18:14] #1837 closed

[2017-03-02 07:52] santoshmath opened #1965 "Reskin:Password field already entered with right password on opening page"
When you open the mifos with URL, https://demo.openmf.org/newbeta, on opening page, password field is already entered with the password.
![password](https://cloud.githubusercontent.com/assets/23022667/23497880/28a85ac4-ff4b-11e6-835e-cbfa292a6a1b.png)

[2017-03-02 08:14] santoshmath opened #1966 "On Client View Page, 'More' button is not working."
![morebutton](https://cloud.githubusercontent.com/assets/23022667/23498583/56069438-ff4e-11e6-88e3-c7152998fd10.png)

[2017-03-02 09:36] santoshmath opened #1967 "Reskin:Drop-down menus are not getting compressed after selecting the appropriate parameter"
Some of the drop-down  menus, For ex: Client create page, Office create page, Creating Employee, or Financial activity. Once we click on drop-down menu it  expands and  after we select any parameter it doesn't compress back.

![dropdown](https://cloud.githubusercontent.com/assets/23022667/23501401/b9e2dcf4-ff59-11e6-8ad9-c452ae1d7642.png)

[2017-03-02 11:04] Anh3h commented on #1966
Will work on this

[2017-03-02 11:18] gkrishnan724 commented on #1967
I'll  try this :+1:

[2017-03-02 11:18] Anh3h commented on #1967
I don't face this issue on new_reskin

[2017-03-02 11:33] Mastermaulik commented on #1967
This issue is visible here on the newbeta [website](https://demo.openmf.org/newbeta).

But this issue is not faced locally, locally this is working fine.

[2017-03-02 11:33] santoshmath commented on #1967
I tested it here and found the issue;
https://demo.openmf.org/newbeta/
But when  I run it locally drop-down  menus are working fine.

Some of the CSS files are not getting loaded in https://demo.openmf.org/newbeta/
1. Styles.css
2.ui-bootstrap.csp.css
3.chosen.css
4.ng-scrollbar.css

[2017-03-02 11:40] Anh3h commented on #1967
I don't event see drop-down for here : https://demo.openmf.org/newbeta/#/createoffice

![test](https://cloud.githubusercontent.com/assets/20562458/23505758/5d6a38f0-ff45-11e6-96c4-58b16766d2f4.png)

[2017-03-02 11:40] santoshmath commented on #1967
For the above four files, developer tool showing '404 not found'

[2017-03-02 11:57] Agnessy opened #1969 "Reskin&oldSkin: No exception thrown during "loan product" creation"
No exception thrown during "loan product" creation ,  when Calculate interest for exact days in partial period(Mandatory) AND Account moves out of NPA only after all arrears have been cleared?(Mandatory)
Fields are not Checked.. still the form can be submitted successfully.
![ll1](https://cloud.githubusercontent.com/assets/13551795/23506284/8d8618f2-ff58-11e6-9837-cc0d9211eaf7.png)

![l2](https://

[2017-03-02 12:50] gkrishnan724 commented on #1965
@santoshmath  I guess this is because you saved the password. Also, This only exists in chrome browser.

[2017-03-03 04:34] santoshmath opened #1971 "Reskin&oldSkin: Any character is allowed on creation of client, user and employee"
Reported by Mexina at https://issues.apache.org/jira/browse/FINERACT-413

Original Description:
The system allows any character in firstname, middlename, lastname and username during creation of user/client/employee. A user of the system can enter "." in both fields and the system will allow to submit. Practically i don't think if this is correct
Reproduce this by:
Client->Create client
Fill '.' (

[2017-03-03 04:47] santoshmath commented on #1868
@Ippezrobert , I just tried to reproduce your scenario but unable to do it. Although it doesn't display all the clients at once, but as we go on typing it filters out and displays the client names. I didn't face that any existing client is not getting displayed.

[2017-03-03 04:59] santoshmath commented on #1965
@gkrishnan724 I agree the issue is with cache and chrome browser. But when we load previous community app(without reskin) even  on chrome browser with password saved, the password autofills only after typing username.

[2017-03-03 05:01] santoshmath commented on #1868
@Ippezrobert , this issue exists when there is more than 1000 clients. The typehead filters out only upto 1000 clients.

[2017-03-03 07:32] skprabhanjan commented on #1959
Is this still open.? I see a commit that says "fix #1959" but the the issue is still open. @mbj36 can you please let me know the status of this so that i can work on this or if this is already done then I can work on something else.
Thanks:)

[2017-03-03 07:41] skprabhanjan commented on #1871
@mbj36 , Can you please let me know if this is still not fixed as it says "open" and if i can work on this.?
Thanks:)

[2017-03-03 07:52] mbj36 commented on #1871
Check if this issue still exists in new_reskin branch then we are happy to
accept PR

On 3 Mar 2017 1:11 pm, "Prabhanjan S Koushik" <notifications@github.com>
wrote:

[2017-03-03 07:53] mbj36 commented on #1959
Raunak has created PR for the same,  let me find time and review it

On 3 Mar 2017 1:02 pm, "Prabhanjan S Koushik" <notifications@github.com>
wrote:

[2017-03-03 09:55] Ippezrobert commented on #1868
I was thinking of one of these could help:
1. Remove the limit of 1000 from getAllClients
2. Use getAllClientsWithoutLimit instead other than  from ResourceFactoryProvider.js

[2017-03-03 10:39] santoshmath opened #1972 "Reskin&oldSkin: For non-super users, In loan Reschedule page 'Submit' button is not displaying"
Similar Issue but related to Foreclosure:
https://github.com/openMF/community-app/issues/1836

[2017-03-03 11:50] skprabhanjan commented on #1866
This issue has a commit that fixed it but still exists in the new_reskin branch, @mbj36 I will be sending a PR fixing this issue soon, Is that fine.?
Thanks:)

[2017-03-03 12:09] skprabhanjan commented on #1866
@mbj36 , Made a PR to fix this issue, Please find and review.
Thanks:)

[2017-03-03 14:40] skprabhanjan commented on #1952
I got to know  what is wrong here, but need some light on few things so that the fix would be correct. Can anyone tell me what to display in the second dropdown at the starting when "Fund Source" is selected by default in first drop down.?

And The response contains these five things
- assestAccountOptions
- equityAccountOptions
- expenseAccountOptions
- incomeAccountOptions
- liabilityAccountOpti

[2017-03-03 15:00] skprabhanjan commented on #1952
@mbj36 , @edcable , @Ippezrobert I understood what was wrong and I have shown the GL account options  in the second dropdown to be "assestAccountOptions" for the activities that have 100,101,102 and 103 as activityID.
So now the drop-down menu for GL account populates on start and works based on activityID according to  the above explanation.
On the above understanding I have created a PR #1974 ,

[2017-03-03 15:06] gkrishnan724 opened #1975 "Entity datatable checks page broken in reskin"
look at : https://demo.openmf.org/newbeta/#/entitydatatablechecks
![screenshot from 2017-03-03 20-34-51](https://cloud.githubusercontent.com/assets/21004514/23556035/0e253ada-0051-11e7-8edb-12f157e20d70.png)

I have done the fix, sending the PR soon :)

[2017-03-04 01:16] mbj36 commented on #1975
Thanks @gkrishnan724

[2017-03-04 01:16] #1975 closed

[2017-03-04 04:50] botraunak commented on #1971
@santoshmath Is this an issue for the new_reskin or the develop, I'll try this.

[2017-03-04 07:12] mbj36 commented on #1955
Fixed

[2017-03-04 07:12] #1955 closed

[2017-03-04 07:12] mbj36 commented on #1971
@botraunak check if this issue still exists in new_reskin then PRs accepted

[2017-03-04 07:29] santoshmath commented on #1971
It's related to develop, not reskin

On Mar 4, 2017 10:20 AM, "Raunak Sett" <notifications@github.com> wrote:

@santoshmath <https://github.com/santoshmath> Is this an issue for the
new_reskin or the develop, I'll try this.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/openMF/community-app/issues/1971#issuecomment-28412745

[2017-03-04 08:01] botraunak commented on #1971
@mbj36 Can I try this for the develop branch?, I'll take up this issue then.

[2017-03-04 08:50] iamsk9 commented on #1905
@santoshmath  I understood the issue.Can i work on this?

[2017-03-04 10:39] iamsk9 commented on #1846
@santoshmath  I would like to contribute to this issue. But my dobut is that I cannot find any **Date of Issuance** in the Add Client Identifier of the community app repo. So do I need to add **Date of Issuance** as a new field and then make it as mandatory.
I attached a screenshot
![screenshot 15](https://cloud.githubusercontent.com/assets/10477029/23578095/dd19ae0e-00f4-11e7-885c-dea12fbbc5be.pn

[2017-03-04 10:47] iamsk9 commented on #1847
@santoshmath I would like to contribute to this issue.Working on it. :100:

[2017-03-04 13:21] santoshmath commented on #1905
Sure.. you can.

On Mar 4, 2017 2:20 PM, "A Sai Krishna" <notifications@github.com> wrote:

[2017-03-04 13:28] santoshmath commented on #1846
Yes,  it was attempt made by Takahiro, and yet not completed. 'Date of Issuance' should be mandatory but may not be unique

[2017-03-04 13:29] santoshmath commented on #1971
Sure . You can..

On Mar 4, 2017 1:31 PM, "Raunak Sett" <notifications@github.com> wrote:

[2017-03-04 13:41] mbj36 commented on #1966
Fixed

[2017-03-04 13:41] #1966 closed

[2017-03-05 11:28] gkrishnan724 opened #1981 "Clean up the view client page in reskin"
The buttons are not properly aligned and the camera and upload buttons should be in center.

![screenshot from 2017-03-05 16-57-08](https://cloud.githubusercontent.com/assets/21004514/23586880/d1b3e522-01c4-11e7-9492-cf8e891a832e.png)

[2017-03-05 11:28] gkrishnan724 commented on #1981
I'm working on this:
![screenshot from 2017-03-05 16-50-29](https://cloud.githubusercontent.com/assets/21004514/23586888/013c4096-01c5-11e7-9ef9-9aa37376a5e0.png)

[2017-03-05 12:36] gkrishnan724 commented on #1614
@mbj36 @edcable https://github.com/openMF/community-app/issues/198. I'm working on this

[2017-03-05 16:18] botraunak commented on #1971
![screen shot 2017-03-05 at 9 44 33 pm](https://cloud.githubusercontent.com/assets/7816559/23589098/6373c39c-01ed-11e7-84b7-7c6219b11200.png)

Generating a PR for same. @mbj36

[2017-03-05 17:25] R7467 commented on #1965
@santoshmath will you please link the page.

[2017-03-06 02:57] gastonche commented on #1965
What about setting the form's autocomplete attribute to off so as to prevent the browser from ever auto filling the inputs?

[2017-03-06 04:51] santoshmath opened #1985 "In Reskin, Entity Data Table Check not showing proper labels and can't do any operation"
Go to Admin>>Organization>> Entity Data Table Check. The view page of entity data table check shows like this. You cannot do create or delete entity data table checks .

![entity-datatablecheck](https://cloud.githubusercontent.com/assets/23022667/23597180/a69a466e-0256-11e7-8755-23e0cf2a0ef6.png)

[2017-03-06 04:56] mbj36 commented on #1985
@santoshmath It was fixed here https://github.com/openMF/community-app/issues/1975

[2017-03-06 04:59] santoshmath commented on #1985
Sorry.. It's duplicate.. Closing it. :) I am checking it on https://demo.openmf.org/newbeta, it is still broken?

[2017-03-06 04:59] #1985 closed

[2017-03-06 04:59] mbj36 commented on #1985
Because it was fixed after nazeer deployed

[2017-03-06 05:00] santoshmath commented on #1985
Ok. got it.

[2017-03-06 05:15] santoshmath opened #1987 "Reskin: View cashier page is not showing proper labels"
Go to Organization>>Teller cashier Management and then create a teller and then cashier for the teller.

![cashier](https://cloud.githubusercontent.com/assets/23022667/23597563/efe05180-0259-11e7-8f7b-4d3ee92eec92.png)

[2017-03-06 05:25] santoshmath opened #1988 "Reskin: Working Days page not showing parameter for 'Payment Due on non working days',"
Go to Organization>> Working  Days. Select any parameter (same day, move to next working day, etc) for 'Payment due on non working days' and submit it. When you view 'working days'  page, the parameter for 'Payment due on non working days' shows blank:

![workingdays](https://cloud.githubusercontent.com/assets/23022667/23597735/70e59cb2-025b-11e7-8057-5fbeaf5721c8.png)

[2017-03-06 06:05] santoshmath opened #1989 "Reskin: added codes(System>>Manage codes) are not getting highlighted when mouse cursor hovered on them"
In demo server, I hovered mouse on 'Asset account tags' and it is highlighted:

![demo](https://cloud.githubusercontent.com/assets/23022667/23598514/f05652c0-0260-11e7-97e5-d268de0c0e99.png)

But in reskin, it is not getting highlighted.

![reskin](https://cloud.githubusercontent.com/assets/23022667/23598526/00db5f28-0261-11e7-9465-62324dc5ac9a.png)

[2017-03-06 06:16] santoshmath opened #1991 "Reskin: hovering mouse on any report name(System>Manage Reports) masks its name and unable to read."
![managereports](https://cloud.githubusercontent.com/assets/23022667/23598746/674f9e3a-0262-11e7-851c-2d10753f9c0e.png)

[2017-03-06 06:31] santoshmath opened #1992 "Reskin: Multiple Issues in 'Edit Report' page"
Go to Admin>System>Manage Reports. And select any report and click on Edit button.

![query](https://cloud.githubusercontent.com/assets/23022667/23598998/3a1c5e60-0264-11e7-8e97-a8836bd23145.png)

![demo](https://cloud.githubusercontent.com/assets/23022667/23599050/8c0f8f9e-0264-11e7-81cf-4de69a89c0fb.png)

[2017-03-06 06:51] santoshmath opened #1993 "Reskin: 'Filter by name' for global configurations (System>Configurations) is not working"
Go to Admin>System>Configurations and try to filter out required configuration using 'Filter by name', it's not filtering out. Check the screenshot.

![reskin](https://cloud.githubusercontent.com/assets/23022667/23599479/5b15c7f2-0267-11e7-81b4-2ae9e11fea8b.png)

Filtering is working in demo instance.

![demo](https://cloud.githubusercontent.com/assets/23022667/23599487/6ea7c482-0267-11e7-97a0-f43

[2017-03-06 07:36] santoshmath opened #1994 "Reskin: Direction buttons are not displaying in Create or edit 'Product Mix' page"
Go to Admin>Products>Product Mix. Create a product mix or edit existing product mix . You will see the below screenshot.

![reskin](https://cloud.githubusercontent.com/assets/23022667/23600658/a432c998-026d-11e7-8959-ef68cf267106.png)

[2017-03-06 07:47] #1981 closed

[2017-03-06 07:53] #1959 closed

[2017-03-06 08:14] santoshmath opened #1995 "Reskin: Unable to create a charge"
Go to Products >>Charges and click on 'Create a charge', then the application is continuously loading and shows improper parameters in the drop-down menu.

![reskin](https://cloud.githubusercontent.com/assets/23022667/23601744/04c5b608-0273-11e7-978b-80c4652417af.png)

[2017-03-06 08:30] santoshmath opened #1996 "Reskin: View/Edit Interest Rate Chart page is broken for FD & RD"
1. Create any FD or RD product with added interest rate chart.
2.   On Summary page of FD or RD product, click on 'View/Edit Interest Rate Chart'. The following page is broken.
![reskin](https://cloud.githubusercontent.com/assets/23022667/23602210/69fd6bc2-0275-11e7-81fe-62a476a60c53.png)

[2017-03-06 08:31] botraunak commented on #1994
@santoshmath I'll take up this issue!

[2017-03-06 08:49] santoshmath opened #1998 "Reskin: Actions to deselect the charge is not showing while creating or editing the loan product"
Check the screenshot in demo instance:

![demo](https://cloud.githubusercontent.com/assets/23022667/23602683/9b5a6e2a-0277-11e7-9a84-54cf6dfe3dc9.png)

Check the screenshot in reskin(newbeta) instance:
![reskin](https://cloud.githubusercontent.com/assets/23022667/23602699/b3cd28c6-0277-11e7-95e7-d370c95e09c7.png)

Similar to one of the issue here: https://github.com/openMF/community-app/issues/199

[2017-03-06 09:02] santoshmath opened #1999 "Reskin:Asterisks for mandatory fields should not be of same color of field names"
It is difficult to highlight mandatory fields if both field names and asterisk have same color.

Ex:

![reskin](https://cloud.githubusercontent.com/assets/23022667/23603110/aa71f7d2-0279-11e7-8b26-ff291c13bc1b.png)

[2017-03-06 09:04] botraunak commented on #1987
@santoshmath I'll try this!

[2017-03-06 09:11] santoshmath opened #2000 "Reskin: Share Product Summary View is showing some text box between Edit and Dividends label"
Check the screenshot.

![reskin](https://cloud.githubusercontent.com/assets/23022667/23603368/ece9cfc6-027a-11e7-8d1a-7f00438f9dfb.png)

[2017-03-06 09:13] botraunak commented on #1987
@santoshmath the blue view icon and red delete icon are also not showing proper icons, I'll fix them as well! 👍

[2017-03-06 09:15] santoshmath commented on #1987
@botraunak , Good Catch!! That is also a bug...

[2017-03-06 09:19] botraunak commented on #1987
@santoshmath I've opened a PR for same. 👍

[2017-03-06 09:26] santoshmath opened #2002 "Reskin: Large gap between Field Name and it's corresponding radio button"
Check the screenshots for some of the cases:

![reskin](https://cloud.githubusercontent.com/assets/23022667/23603935/085c0eb6-027d-11e7-9aae-6c0d3b9acab3.png)

![reskin1](https://cloud.githubusercontent.com/assets/23022667/23603934/08563392-027d-11e7-80d6-71448f764ad3.png)

![reskin2](https://cloud.githubusercontent.com/assets/23022667/23603933/08530622-027d-11e7-9d7a-2274ea077b9c.png)

[2017-03-06 09:30] santoshmath commented on #1987
@mbj36 , Will you check @botraunak PR?

[2017-03-06 09:30] botraunak commented on #1999
@santoshmath I'll take this up!

[2017-03-06 09:42] santoshmath opened #2003 "Reskin: Misplaced drop-down menu in Create Saving Product."
Screenshot of demo instance:

![demo](https://cloud.githubusercontent.com/assets/23022667/23604504/242ac914-027f-11e7-9780-cd893e5fd7b5.png)

Screenshot of reskin showing misplaced drop-down menu:

![reskin](https://cloud.githubusercontent.com/assets/23022667/23604535/43b2b526-027f-11e7-8d5c-9c13516ce498.png)

[2017-03-06 09:52] santoshmath opened #2004 "Reskin:Action to deselect the charge added to savings product is missing."
Check the screenshot:

![reskin](https://cloud.githubusercontent.com/assets/23022667/23604930/b266bda4-0280-11e7-9b69-76bea36d26f2.png)

[2017-03-06 09:53] santoshmath commented on #2004
Similar to https://github.com/openMF/community-app/issues/1998

[2017-03-06 09:54] mbj36 commented on #1987
I will review later today

On 6 Mar 2017 3:00 pm, "Santosh Math" <notifications@github.com> wrote:

[2017-03-06 10:12] santoshmath opened #2006 "Reskin:In Frequent Postings & Add Journal Entries text box for Transaction Date is showing different color"
Check the screenshot:

![reskin](https://cloud.githubusercontent.com/assets/23022667/23605629/7a7c3664-0283-11e7-8c23-2d17edc45864.png)

![reskin](https://cloud.githubusercontent.com/assets/23022667/23643902/9c370692-032a-11e7-9ed4-7e35a1f1bfcc.png)

[2017-03-06 10:17] santoshmath commented on #1975
@mbj36 , Are you sure this issue is totally resolved? I just tested this locally in my machine with latest code. When I click on 'Create entity-data table check' , I am getting this screen:

![entity](https://cloud.githubusercontent.com/assets/23022667/23605837/42f1c67c-0284-11e7-8812-a906f7da7dc1.png)

[2017-03-06 10:20] santoshmath opened #2008 "Reskin:'Create Entity Data table check' page is broken"
Go to Organization>Entity Data table check and click on 'Create Entity Data table check' and you get following screen:

![entity](https://cloud.githubusercontent.com/assets/23022667/23605943/a5e1d1fa-0284-11e7-89cb-4dd97fb32871.png)

[2017-03-06 10:24] mbj36 commented on #1975
Thanks. I wasn't aware about this

On 6 Mar 2017 3:47 pm, "Santosh Math" <notifications@github.com> wrote:

[2017-03-06 10:25] botraunak commented on #1993
@santoshmath I'll work on this

[2017-03-06 10:43] santoshmath commented on #1975
@mbj36 , as this issue is something with different scenario, so I rised it as separate issue here:
https://github.com/openMF/community-app/issues/2008

[2017-03-06 10:48] botraunak commented on #1996
@santoshmath I'll try to solve this issue!

[2017-03-06 10:50] santoshmath opened #2011 "Reskin:On Client's page, 'Charge Overview' is getting displayed though client has no 'Client Charge'"
Check the screenshot:

![reskin](https://cloud.githubusercontent.com/assets/23022667/23606907/d30ee8b2-0288-11e7-82db-d54c565b85ad.png)

[2017-03-06 11:05] santoshmath opened #2014 "Reskin:Error messages are displaying with different colors at different scenarios"
Check this screenshot where error message is displaying with red color.

![reskin](https://cloud.githubusercontent.com/assets/23022667/23607384/ca516fd6-028a-11e7-9f95-6895a148dc0a.png)

and here, it is dipalaying with black color:

![reskin1](https://cloud.githubusercontent.com/assets/23022667/23607400/dd38e9f8-028a-11e7-89a1-eb5e45769638.png)

[2017-03-06 11:16] santoshmath opened #2015 "Reskin: On client's page, Hovering mouse on Action button is not displaying the messages."
Check the following screenshot from demo instance: where it shows meaning of action button(Approve in this case)

![reskin1](https://cloud.githubusercontent.com/assets/23022667/23607794/4f3664f8-028c-11e7-8810-602aeac8bd26.png)

But in reskin, meaning of action button is not displaying:

![reskin](https://cloud.githubusercontent.com/assets/23022667/23607837/803a1e8c-028c-11e7-81b0-441a25f48067.png

[2017-03-06 11:29] santoshmath opened #2016 "Reskin&oldSkin: Group Loan Application is displaying duplicate rows under 'Meeting Details'"
The screenshot:
![reskin](https://cloud.githubusercontent.com/assets/23022667/23608173/1fd4f9a2-028e-11e7-9a0d-b3db67c28cd9.png)

[2017-03-06 11:34] santoshmath opened #2018 "Reskin:Symbols are not displayed properly on Group's page"
For Group loan and group saving application symbols are not getting displayed properly.

![reskin](https://cloud.githubusercontent.com/assets/23022667/23608340/ef36a380-028e-11e7-8131-81efca47d911.png)

[2017-03-06 12:10] DanCarl857 commented on #2015
Wasn't able to reproduce this issue in the new skin.

[2017-03-06 12:17] santoshmath commented on #2015
I tested it on  new_reskin branch with latest code and newbeta. This issue still exists

[2017-03-06 12:25] gkrishnan724 commented on #1614
@mbj36 could you close this please :)

[2017-03-06 12:30] santoshmath opened #2022 "Reskin: Moratorium Fields are not properly aligned."
In screenshot , check moratorium on interest:

![reskin](https://cloud.githubusercontent.com/assets/23022667/23609996/c4b39930-0296-11e7-9e03-c516a1400f1a.png)

[2017-03-06 12:35] gkrishnan724 commented on #2008
I'll work on this ASAP :+1: sorry didn't notice that.

[2017-03-06 12:40] santoshmath opened #2025 "Reskin:'More' button is not working on Client's/Group's loan approval page"
on demo instance:
![demo](https://cloud.githubusercontent.com/assets/23022667/23610319/0bb8ed70-0298-11e7-8264-aa9646f33cd4.png)

on reskin:

![reskin](https://cloud.githubusercontent.com/assets/23022667/23610340/16bf65fa-0298-11e7-9a55-c78398bd727d.png)

[2017-03-06 12:44] DanCarl857 commented on #2002
Hi Santosh, could you please specify what pages I can find this issue on?

[2017-03-06 12:49] santoshmath opened #2026 "Reskin: In Loan Account, Transaction Tab is showing no entry"
Transaction Tab:

![reskin](https://cloud.githubusercontent.com/assets/23022667/23610649/4b33d7a2-0299-11e7-831a-9a979ff5af92.png)

Corresponding Repayment Schedule:

![reskin1](https://cloud.githubusercontent.com/assets/23022667/23610661/59efe83a-0299-11e7-8359-f7986e73a38b.png)

This is one of the major issue of reskin and must be fixed sooner.

[2017-03-06 12:53] santoshmath commented on #2002
@DanCarl857 , you can check it on 'Create Loan Product' page. I have given only 3  examples here. But there are some of similar issues in other pages as well.

[2017-03-06 13:32] mbj36 commented on #2015
This was fixed today and it seems to be working fine for me.

On 6 Mar 2017 5:47 pm, "Santosh Math" <notifications@github.com> wrote:

I tested it on new_reskin branch with latest code and newbeta. This issue
still exists

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/openMF/community-app/issues/2015#issuecom

[2017-03-06 14:01] DanCarl857 opened #2032 "Reskin: Savings Account Page under groups is broken"
When you try to view the savings account page under groups, the page is completely broken.
Go to Groups->Clients(select any client)->SavingsAccount

![screen shot 2017-03-06 at 3 02 46 pm](https://cloud.githubusercontent.com/assets/9010142/23613033/01953d22-027e-11e7-9bb9-2ff38f098b0a.png)

[2017-03-06 14:07] gastonche commented on #2022
@santoshmath Please i would like to work on this issue. on which page is that screen shot from?

[2017-03-06 14:10] santoshmath commented on #2022
@gastonche, it's "Loan Application page" for client/group

[2017-03-06 14:31] DanCarl857 commented on #2026
working on this now

[2017-03-06 14:45] DanCarl857 commented on #2026
Submitted a PR: https://github.com/openMF/community-app/pull/2033

[2017-03-06 14:47] santoshmath commented on #2026
@mb36 FYI

[2017-03-06 14:49] santoshmath commented on #2026
@mbj36, FYI

[2017-03-06 15:33] DanCarl857 commented on #2015
It works for me too

[2017-03-06 16:16] skprabhanjan commented on #2022
@santoshmath , I have fixed this issue , if you could please tell if the interface is fine , I would go ahead and send a PR for this.
I have attached a Screenshot of the fix here .
Thanks:)

![screen shot 2017-03-06 at 9 44 26 pm](https://cloud.githubusercontent.com/assets/17094832/23618409/403bb4ba-02b6-11e7-873c-d06868177dba.png)

[2017-03-06 16:18] skprabhanjan commented on #2022
@santoshmath Sorry, I have updated the UI. Please review this Screenshot.
Thanks:)

![screen shot 2017-03-06 at 9 46 59 pm](https://cloud.githubusercontent.com/assets/17094832/23618521/8fd66f10-02b6-11e7-9d0a-b9e3a5f3b301.png)

[2017-03-06 18:34] gkrishnan724 commented on #2032
I'll work on this :+1:

[2017-03-07 03:08] gastonche commented on #2016
I am unable to reproduce this bug.

[2017-03-07 05:47] santoshmath commented on #2015
@mbj36 , @DanCarl857 ,I tested it on new_reskin branch. This issue is resolved.

[2017-03-07 05:47] #2015 closed

[2017-03-07 05:50] santoshmath commented on #2026
@mbj36 , Is pull request #2033 , merged?

[2017-03-07 05:54] santoshmath commented on #2008
@mb36, PR #2034 is merged?

[2017-03-07 05:56] santoshmath commented on #2022
@skprabhanjan , It's good if Moratorium  is left aligned.

[2017-03-07 06:03] santoshmath commented on #2016
@gastonche , Check here. https://demo.openmf.org/#/newgrouploanaccount/113
I think this issue is the result of changing meeting (editing) dates frequently.

[2017-03-07 06:23] santoshmath commented on #2032
@DanCarl857 , This issue exists even after when you 'submit' new savings application for any client or group .and also when you try to view savings account for any client.

[2017-03-07 06:33] santoshmath opened #2035 "Reskin: Misaligned Fields in New Share Account Application for a client"
Go to any client's page, and click on 'New Share Application'. and you will get following page:
![reskin](https://cloud.githubusercontent.com/assets/23022667/23644482/8776cbf4-032d-11e7-8bd9-0bba6e7e280c.png)

Here, product, submitted on and external ID alignment are not proper and also minimum active  period and lock-in period not properly aligned.  You can check without reskin 'New Share Applica

[2017-03-07 06:42] santoshmath opened #2036 "Reskin: After adding clients while creating group, the deselect button blurred with color"
Go to Groups and click on Create a group.
Provide the necessary inputs and click on Add clients, search and add the client.

![reskin](https://cloud.githubusercontent.com/assets/23022667/23644846/4a71600a-032f-11e7-9510-b0683021885c.png)

Without reskin:
![demo](https://cloud.githubusercontent.com/assets/23022667/23644859/5bf6ee30-032f-11e7-8a9b-be797e3c0e7d.png)

[2017-03-07 06:45] DanCarl857 commented on #2036
Working on this now

[2017-03-07 07:00] DanCarl857 commented on #2035
Let me work on this

[2017-03-07 07:17] DanCarl857 commented on #2035
![screen shot 2017-03-07 at 8 15 55 am](https://cloud.githubusercontent.com/assets/9010142/23645831/67941810-030e-11e7-8e70-e472a77c4f24.png)

[2017-03-07 07:20] santoshmath commented on #2035
@DanCarl857 , Could you make alignment just like in the without reskin. (screenshot in description). Doesn't it look good?

[2017-03-07 07:28] DanCarl857 commented on #2035
@santoshmath please I don't understand. I made it exactly like the old one

[2017-03-07 07:30] santoshmath commented on #2035
@DanCarl857 , in your changes,for example,  Submitted on is center-aligned. In old, it is right aligned.

[2017-03-07 07:49] DanCarl857 commented on #2035
Ok let me fix that

[2017-03-07 08:08] santoshmath opened #2039 "Reskin:'Create Client' page is not showing 'Submit' or 'Cancel' button"
Go to Clients and click on '+Create Client' button:
The create client page is not showing 'Submit' or 'Cancel' button.

![1](https://cloud.githubusercontent.com/assets/23022667/23647271/0af6de26-033b-11e7-8eff-52669f3001b4.png)

Go to System>Configurations and search for "Enable-Address" and enable it. Then you can see 'Submit' or Cancel button on Create Client page.

This is one of the major bloc

[2017-03-07 08:17] santoshmath opened #2040 "Reskin:Create Client page is not showing '+' button or 'x' button in address module"
Go to System > Configurations and search for 'Enable-Address' and enable it.
Go to clients and click on '+Create Client' to Create client page:
![reskin](https://cloud.githubusercontent.com/assets/23022667/23647559/738a77c6-033c-11e7-9661-b22f462f8411.png)

Without reskin:

![demo](https://cloud.githubusercontent.com/assets/23022667/23647572/8829bd72-033c-11e7-8a36-de6d90899282.png)

[2017-03-07 08:27] santoshmath opened #2041 "Dashboard is not showing the charts"
Screenshot from reskin(https://demo.openmf.org/newbeta/#/richdashboard):

![reskin](https://cloud.githubusercontent.com/assets/23022667/23647824/e1fb4748-033d-11e7-9021-49ab8579ceaa.png)

Screenshot without reskin(https://demo.openmf.org/#/richdashboard)

![demo](https://cloud.githubusercontent.com/assets/23022667/23647839/f8fc1e68-033d-11e7-89ef-d790680921d3.png)

[2017-03-07 08:33] gastonche commented on #2022
Then i'll go ahead and submit my pull request, i fixed the issue and have the moratorium left aligned

[2017-03-07 08:34] santoshmath commented on #2022
@gastonche , sure

[2017-03-07 08:45] santoshmath opened #2042 "Reskin: Once group or center attached with meeting, 'Attach Meeting' option is still showing in 'More' drop-down"
With Reskin:
![reskin](https://cloud.githubusercontent.com/assets/23022667/23648376/75fb2434-0340-11e7-9250-44379b6b0c69.png)

Without Reskin:
![demo](https://cloud.githubusercontent.com/assets/23022667/23648385/80691c1e-0340-11e7-86a8-696414233d7f.png)

[2017-03-07 08:58] gastonche commented on #2040
I have this displaying on mine
![client](https://cloud.githubusercontent.com/assets/11961056/23648878/9df86902-031c-11e7-800c-eef6f26a7a97.PNG)

[2017-03-07 09:20] nazeer1100126 commented on #1871
merged PR https://github.com/openMF/community-app/pull/1932

[2017-03-07 09:20] #1871 closed

[2017-03-07 09:23] nazeer1100126 commented on #1830
PR merged https://github.com/openMF/community-app/pull/1833

[2017-03-07 09:23] #1830 closed

[2017-03-07 09:50] DanCarl857 commented on #2040
Are you on the new skin @gastonche. Because when I activate the address module, it doesn't show on mine

[2017-03-07 09:52] DanCarl857 commented on #2035
![screen shot 2017-03-07 at 10 52 24 am](https://cloud.githubusercontent.com/assets/9010142/23650954/32a24ce2-0324-11e7-9735-c47217e44aaa.png)

[2017-03-07 09:56] DanCarl857 opened #2045 "Reskin: Search field not working in configurations page under system"
Go to System-> Configurations. Try to search and it doesn't work

[2017-03-07 10:00] DanCarl857 commented on #2032
Ok @gkrishnan724 could look into that as he is working on the issue

[2017-03-07 10:00] DanCarl857 commented on #2026
I don't think so yet.

[2017-03-07 10:24] santoshmath opened #2047 "Reskin: Create Loan Product page displaying loan cycle parameters though 'Terms Vary Based on Loan Cycle' is unchecked."
See the  screenshot from reskin:

![reskin](https://cloud.githubusercontent.com/assets/23022667/23652218/11fcda5a-034e-11e7-8a78-d31e010ade91.png)

Once you check 'Terms Vary Based on Loan Cycle' and uncheck again , loan  cycle parameters disappear as usual.

[2017-03-07 10:50] nazeer1100126 commented on #1905
PR https://github.com/openMF/community-app/pull/1922 merged.

[2017-03-07 10:50] #1905 closed

[2017-03-07 10:50] iamsk9 commented on #2047
@santoshmath I would like to work on this. :100:

[2017-03-07 10:52] santoshmath commented on #2047
@iamsk9 , go ahead..

[2017-03-07 11:01] santoshmath opened #2048 "Reskin: Prepay Loan page is not displaying all fields"
Go to any active loan account page and click on 'Prepay Loan'

With Reskin:
![reskin](https://cloud.githubusercontent.com/assets/23022667/23653674/6509c316-0353-11e7-8ffc-f9a516587721.png)

Without Reskin:
![demo](https://cloud.githubusercontent.com/assets/23022667/23653691/6ff0b4d8-0353-11e7-9331-ac8609d947b7.png)

[2017-03-07 11:03] #1957 closed

[2017-03-07 11:06] santoshmath commented on #2045
@DanCarl857 , This issue is already rised here https://github.com/openMF/community-app/issues/1993

[2017-03-07 11:28] santoshmath opened #2050 "Reskin: Loan Foreclosure page is broken"
Go to any  loan account and click on 'Foreclosure' button.

![reskin](https://cloud.githubusercontent.com/assets/23022667/23654550/311cc036-0357-11e7-81cf-aa11a47846c6.png)

[2017-03-07 11:44] santoshmath opened #2051 "Reskin: 'Make Repayment' page is not displaying all fields"
Go to any  loan account and click on 'Make Repayment' tab.

With Reskin:
![reskin](https://cloud.githubusercontent.com/assets/23022667/23655037/73d04bb2-0359-11e7-8172-db18bb368078.png)

Without Reskin:

![demo](https://cloud.githubusercontent.com/assets/23022667/23655043/814e8b28-0359-11e7-97a4-c34a9f6ff13b.png)

[2017-03-07 11:51] santoshmath opened #2052 "Reskin:Loan Disbursement page is not showing all fields"
Create a loan account for a client: Submit and approve it. and then click on 'Disburse' button:

With Reskin:
![reskin](https://cloud.githubusercontent.com/assets/23022667/23655288/67ef9220-035a-11e7-90c0-bb9ab04f734a.png)

Without Reskin:

![demo](https://cloud.githubusercontent.com/assets/23022667/23655301/751ad98c-035a-11e7-81a0-a14c84f9919e.png)

Even 'Disburse to Savings' also not showing 'Tr

[2017-03-07 11:58] santoshmath opened #2053 "Reskin: 'More' Button is not working on the page after loan is approved.(Blue color)"
Create a loan:Submit and approve it and next page click on 'More' button.

Similar Issues:
#1966  #2025

[2017-03-07 12:03] santoshmath opened #2054 "Reskin:'More' button is not working on loan account page"
Go to any active loan account and click on  'More' button. The drop-down doesn't appear.

Similar Issues:
#1966 #2025 #2053

[2017-03-07 12:55] gkrishnan724 commented on #2053
@santhoshmath can you guide me on how to reproduce this issue? thanks

[2017-03-08 01:17] mbj36 commented on #2035
@santoshmath Merged this one, retest and close it

[2017-03-08 01:43] mbj36 commented on #2008
@santoshmath Fix was not proper, so i commented on PR and requested to make changes

[2017-03-08 01:49] mbj36 commented on #2026
@santoshmath I have merged, retest and close it

[2017-03-08 01:53] mbj36 commented on #1988
@santoshmath retest and close it , I have merged PR

[2017-03-08 01:55] mbj36 commented on #1989
@santoshmath retest and close it

[2017-03-08 01:58] mbj36 commented on #1991
@santoshmath I have merged, retest and close it

[2017-03-08 02:03] mbj36 commented on #1994
@santoshmath retest and close it

[2017-03-08 02:10] mbj36 commented on #2003
@santoshmath retest and close it

[2017-03-08 02:15] mbj36 commented on #1996
@santoshmath retest and close it

[2017-03-08 02:24] mbj36 commented on #2018
@santoshmath retest and close it

[2017-03-08 02:29] mbj36 commented on #1987
@santoshmath retest and close it

[2017-03-08 02:34] mbj36 commented on #1999
@santosh FYI

[2017-03-08 02:37] #2045 closed

[2017-03-08 02:39] mbj36 commented on #1993
@santoshmath

[2017-03-08 02:45] mbj36 commented on #2025
@santoshmath

[2017-03-08 02:45] mbj36 commented on #2053
@santoshmath

[2017-03-08 02:45] mbj36 commented on #2054
@santoshmath

[2017-03-08 02:48] mbj36 commented on #2032
@santoshmath

[2017-03-08 02:57] mbj36 commented on #2004
@santoshmath

[2017-03-08 04:10] DanCarl857 commented on #2036
Let me fix this

[2017-03-08 04:37] mbj36 commented on #2036
@santoshmath

[2017-03-08 04:41] santoshmath commented on #2035
@mbj36 ,@DanCarl857 , When  I create New Share Account Application page, alignment issue is resolved. But I Submit it by entering  required inputs. And in next page I click  on 'Modify Application' , the previous misalignment again comes back.

[2017-03-08 04:44] botraunak commented on #2052
@santoshmath I'll try working on this!

[2017-03-08 04:45] mbj36 commented on #2035
Please look at it @DanCarl857  and send  new PR

[2017-03-08 04:46] santoshmath commented on #2026
Tested it on 8/3/2017 on new_reskin branch. Transaction tab is showing disbursement and repayment entries.

[2017-03-08 04:46] #2026 closed

[2017-03-08 04:50] santoshmath commented on #1988
Tested it on 8/3/2017 on new_reskin branch. This issue is fixed.

[2017-03-08 04:50] #1988 closed

[2017-03-08 04:54] santoshmath commented on #1989
Tested it on 8/3/2017 on new_reskin branch. This issue is resolved.

[2017-03-08 04:54] #1989 closed

[2017-03-08 04:57] santoshmath commented on #1991
Tested it on 8/3/2017 on new_reskin branch. This issue has been fixed.

[2017-03-08 04:57] #1991 closed

[2017-03-08 05:02] santoshmath commented on #1994
Tested it on 8/3/2017 on new_reskin branch. This issue is resolved.

[2017-03-08 05:02] #1994 closed

[2017-03-08 05:03] botraunak commented on #2051
@santoshmath This is I guess related to #2052 , If @mbj36 can confirm.
Fixing #2052 will solve this 👍

[2017-03-08 05:06] santoshmath commented on #2003
Tested it on 8/3/2017 on new_reskin branch. This issue is fixed.

[2017-03-08 05:06] #2003 closed

[2017-03-08 05:10] santoshmath commented on #1996
Tested it on 8/3/2017 on new_reskin. This issue is resolved. There are other issues related to it and I will rise as separate issue.

[2017-03-08 05:10] #1996 closed

[2017-03-08 05:14] botraunak commented on #2048
@santoshmath, This is also related to #2052
Need Someone to confirm.

[2017-03-08 05:16] santoshmath commented on #2018
Tested it on 8/3/2017 on new_reskin branch. This issue is fixed.

[2017-03-08 05:16] #2018 closed

[2017-03-08 05:18] botraunak commented on #2050
@santoshmath I'll work on this!

[2017-03-08 05:22] santoshmath commented on #1987
Tested it on 8/3/2017 on new_reskin branch. This issue is resolved.

[2017-03-08 05:22] #1987 closed

[2017-03-08 05:25] santoshmath commented on #1999
Tested it on 8/3/2017 on new_reskin branch. This issue has been fixed.

[2017-03-08 05:25] #1999 closed

[2017-03-08 05:27] santoshmath commented on #1993
Tested it on 8/3/2017 on new_reskin branch. This issue has been resolved.

[2017-03-08 05:27] #1993 closed

[2017-03-08 05:31] santoshmath commented on #2025
Tested it on 8/3/2017 on new_reskin branch. This issue is fixed.

[2017-03-08 05:31] #2025 closed

[2017-03-08 05:32] santoshmath commented on #2053
Tested it on 8/3/2017 on new_reskin branch. This issue is fixed.

[2017-03-08 05:32] #2053 closed

[2017-03-08 05:33] santoshmath commented on #2054
Tested it on 8/3/2017 on new_reskin branch. This issue is fixed.

[2017-03-08 05:33] #2054 closed

[2017-03-08 05:37] santoshmath commented on #2032
Tested it on 8/3/2017 on new_reskin branch. This issue is resolved.

[2017-03-08 05:37] #2032 closed

[2017-03-08 05:42] santoshmath commented on #2004
Tested it on 8/3/2017 on new_reskin branch. This issue is resolved at savings product level.

@mbj36  'Action' to deselect charges in savings account level, loan product  level, loan account level still exists. This deselect problem ,can it be solved once for all scenarios?

[2017-03-08 05:42] #2004 closed

[2017-03-08 05:55] mbj36 commented on #2004
Changes should be done according to corresponding files.  Create issue where the same problem exists and i will take up

[2017-03-08 06:52] mbj36 commented on #1958
@santoshmath

[2017-03-08 07:03] mbj36 commented on #2000
@santoshmath

[2017-03-08 07:08] mbj36 commented on #2052
@santoshmath

[2017-03-08 07:09] mbj36 commented on #2050
@santoshmath

[2017-03-08 08:06] MexinaD opened #2060 "Reskin - big gap between "Create standing instructions at disbursement" and its checkbox in apply new loan"
At the form of applying a loan there is a big gap between the text "Create standing instructions at disbursement" and its checkbox, for quick look user might think there is no a checkbox attached

Create a loan product
Apply a loan to an active client and you will see this

![reskin-checkbox](https://cloud.githubusercontent.com/assets/8160209/23695240/388a00b6-03ef-11e7-8b72-257aa9c96921.png)

[2017-03-08 08:09] mbj36 commented on #2060
@MexinaD could you please fix and send PR ?

[2017-03-08 08:13] MexinaD commented on #2060
Okay @mbj36

[2017-03-08 08:19] santoshmath commented on #2051
@botraunak , loan disbursement page and make repayment page, both are different one.

[2017-03-08 08:21] santoshmath commented on #2048
@botraunak , Loan disbursement page(#2052) and Prepay loan page , both are different one.

[2017-03-08 08:25] santoshmath commented on #2052
Tested it on 8/3/2017 on new_reskin. This issue is resolved.

[2017-03-08 08:25] #2052 closed

[2017-03-08 08:29] santoshmath commented on #1958
Tested it on 8/3/2017 on new_reskin branch. This issue is resolved.

[2017-03-08 08:45] santoshmath commented on #2000
Tested it on 8/3/2017 on new_reskin, this issue has been fixed.

[2017-03-08 08:45] #2000 closed

[2017-03-08 08:48] santoshmath commented on #2050
Tested it on 8/3/2017 on new_reskin. This issue  has been fixed.

[2017-03-08 08:48] #2050 closed

[2017-03-08 08:55] MexinaD commented on #2060
Its PR: https://github.com/openMF/community-app/pull/2061

[2017-03-08 09:01] santoshmath commented on #2060
@MexinaD , @mbj36 , This issue is already rised here: https://github.com/openMF/community-app/issues/2002

[2017-03-08 09:04] MexinaD commented on #2060
Sure, i see its labeled gsoc, does that mean i can not fix it?

[2017-03-08 09:12] MexinaD opened #2062 "Reskin: Duplicate field of "First repayment on" and "interest charged from" in loan application"
In loan application, the row that contain fields "First repayment on" and "interest charged from" is duplicated.

![duplicate field](https://cloud.githubusercontent.com/assets/8160209/23697343/7d94149a-03f8-11e7-87ed-fe8eaa31787f.png)

[2017-03-08 09:15] santoshmath commented on #2060
@MexinaD, go ahead. No issues.

[2017-03-08 10:41] DanCarl857 commented on #2062
Fixed

[2017-03-08 10:42] DanCarl857 commented on #2041
Let me attempt this

[2017-03-08 10:46] MexinaD commented on #2002
Fixed https://github.com/openMF/community-app/pull/2066

[2017-03-08 10:51] gkrishnan724 commented on #2040
Let me have a look at this :+1:

[2017-03-08 11:08] MexinaD opened #2067 "Reskin - No field to edit nominal interest rate and interest method during loan application"
After creation of loan product where you can supply minimum, default and maximum value of interest rate.
There is no feature in the loan application to edit the interest rate to the choice of the user.

[2017-03-08 11:12] gkrishnan724 commented on #2040
@santoshmath  I already had discussed about the '+' button in the gitter channel.

The `+`  and `x` seems to be showing in the demo page:https://demo.openmf.org/newbeta/#/createclient. However, the icon is not loading in the localhost. A possible fix will be using Font awesome icons. Also I plan to add tooltips to the `+` and `x`.

[2017-03-08 11:21] MexinaD opened #2069 "Reskin - "Terms" field and "Repaid every" field in loan application have the same function"
On the loan application form the field "Terms" and "Repaid every" have the same functionality, i think we need one  between them.

Create product by Admin -> Products -> Loan product -> Create
Create loan account to an active client
On the loan application form

![terms-repaid](https://cloud.githubusercontent.com/assets/8160209/23702020/8b4b89d0-040a-11e7-8aa3-dd48acbf64c9.png)

[2017-03-08 11:48] DanCarl857 commented on #2041
@santoshmath the problem is the libraries used in displaying the charts. The latest version has a know issue with displaying pie charts. This can be found here: [know issue](https://github.com/angularjs-nvd3-directives/angularjs-nvd3-directives/issues/338)

So I reverted those particular directives to an older version and got them to draw the chart. I also fixed the texts in the panel headers. Cou

[2017-03-08 12:42] santoshmath commented on #2002
@mbj36 , check the PR

[2017-03-08 12:56] botraunak commented on #2042
@santoshmath I'll take this up!

[2017-03-08 13:53] botraunak commented on #2042
![screen shot 2017-03-08 at 7 23 00 pm](https://cloud.githubusercontent.com/assets/7816559/23706551/ae5461de-0434-11e7-84a5-94bb96726bbe.png)

Cannot reproduce on new_reskin. @santoshmath

[2017-03-08 13:56] santoshmath commented on #2042
@botraunak,  I shared screenshot from new_reskin itself.  Let me test it again and come back

[2017-03-08 14:08] botraunak commented on #2039
@santoshmath Will Take Up this issue!

[2017-03-08 14:30] gkrishnan724 commented on #2011
I'll look into this

[2017-03-08 18:34] TechnicaVoyage commented on #1971
![screenshot 83](https://cloud.githubusercontent.com/assets/20579129/23717937/c9f58248-045b-11e7-9d40-7c13c7380358.png)
Some names have special character in them. Keeping those in mind I took this approach.

[2017-03-09 04:04] mbj36 commented on #2006
@santoshmath

[2017-03-09 04:11] mbj36 commented on #2062
@santoshmath

[2017-03-09 04:17] mbj36 commented on #2039
@santoshmath

[2017-03-09 05:38] santoshmath commented on #2006
Tested it on 9/3/2017 on new_reskin, this isssue is resolved.

[2017-03-09 05:39] #2006 closed

[2017-03-09 05:41] santoshmath commented on #2062
Tested it on 9/3/2017 on new_reskin branch and this issue is fixed.

[2017-03-09 05:41] #2062 closed

[2017-03-09 05:45] santoshmath commented on #2039
Tested it on 9/3/2017 on new_reskin  branch, This issue is resolved.

[2017-03-09 05:45] #2039 closed

[2017-03-09 07:52] DanCarl857 commented on #1998
Let me get this

[2017-03-09 07:56] DanCarl857 commented on #1992
Submitted a PR for this @santoshmath. @mbj36 could you please review?

[2017-03-09 08:01] DanCarl857 commented on #1998
PR submitted

[2017-03-09 08:03] DanCarl857 commented on #2069
Let me look into this

[2017-03-09 08:06] DanCarl857 commented on #2069
Are you saying we should remove on of them? I really don't get what the issue is

[2017-03-09 08:11] santoshmath commented on #2069
Check the  screenshot here: how it should look like.
![demo](https://cloud.githubusercontent.com/assets/23022667/23741352/180a131e-04ce-11e7-94a7-94f1528a36ea.png)

[2017-03-09 08:16] santoshmath commented on #2067
Hi @mbj36 , this is one of the critical issue. Check the  screenshot how it looks like:

![demo](https://cloud.githubusercontent.com/assets/23022667/23741525/d2881e02-04ce-11e7-9c25-9f955908591d.png)

[2017-03-09 08:18] DanCarl857 commented on #2051
actually I think @botraunak is right. Don't know why fixing #2052 didn't solve this

[2017-03-09 08:21] DanCarl857 commented on #2067
@santoshmath please could you give me some directions on how to reproduce this? The loan application page am looking at doesn't look anything like the one above and I just updated my repo.
I would like to fix this

[2017-03-09 08:22] MexinaD commented on #2069
@DanCarl857 they have the same functionality, so i suggest one should be removed (I prefer "Repaied every" to remain)

[2017-03-09 08:23] santoshmath commented on #2051
@DanCarl857 ,Tested it on 9/3/2017 on new_reskin branch. This issue is resolved.

[2017-03-09 08:23] #2051 closed

[2017-03-09 08:27] MexinaD commented on #2067
@DanCarl857
You can reproduce this in new_reskin repo by navigate to Client -> View client -> New Loan
The form to apply loan does not have a place to edit interest rate and interest method (The picture above is the page found in community-app which has "nominal interest rate" and "interest method")

[2017-03-09 08:30] santoshmath commented on #2067
@DanCarl857 , Create any loan product.>>Create a client>> Then go to client page>>and click on 'New Loan' .The next page would look like below where Nominal Interest Rate is missing. (compare with  my previous comment screenshot)

![reskin](https://cloud.githubusercontent.com/assets/23022667/23741902/ae4a97f2-04d0-11e7-8021-77655665dcb9.png)

[2017-03-09 08:30] santoshmath commented on #2067
And also Interest Method is not displaying , next to nominal interest rate

[2017-03-09 08:34] santoshmath commented on #1969
@Agnessy , Actually labels or parameter names having single radio buttons should not be mandatory, in general.

[2017-03-09 08:36] santoshmath commented on #2060
@MexinaD , I am closing this issue as it's duplicate of #2002

[2017-03-09 08:36] #2060 closed

[2017-03-09 09:08] iamsk9 commented on #2047
@santoshmath I created a pull request to this issue. Please view [#2074](https://github.com/openMF/community-app/pull/2074)

[2017-03-09 09:44] santoshmath commented on #1971
@mbj36 , is PR merged for this?

[2017-03-09 10:25] mbj36 commented on #1971
@santoshmath No, i will review today

[2017-03-09 10:56] iamsk9 commented on #2011
@santoshmath Please view the pull request [#2075](https://github.com/openMF/community-app/pull/2075) regarding this issue.

[2017-03-09 11:14] santoshmath commented on #2011
@mbj36 FYI #2075

[2017-03-10 05:08] mbj36 commented on #2011
@santoshmath

[2017-03-10 06:54] DanCarl857 commented on #2069
@santoshmath should I do as @MexinaD has suggested?

[2017-03-10 06:55] DanCarl857 commented on #2067
Ok @santoshmath let me look at that

[2017-03-10 07:30] santoshmath commented on #2069
@DanCarl857 , Yes, and the order of the fields must be like in one . I shared screenshot in comment

[2017-03-10 09:11] santoshmath commented on #1681
not reproducible

[2017-03-10 09:11] #1681 closed

[2017-03-10 12:26] gkrishnan724 commented on #2048
@santoshmath  I believe this is fixed:
![screenshot from 2017-03-10 17-55-51](https://cloud.githubusercontent.com/assets/21004514/23795301/d82a9910-05ba-11e7-98cb-a70bd8cd0fe7.png)

[2017-03-10 12:43] gkrishnan724 commented on #1787
@mbj36 can you close this? its fixed.

[2017-03-10 12:46] gkrishnan724 commented on #1618
@mbj36 I think it looks good now? can we close this?

[2017-03-10 13:36] gkrishnan724 commented on #1995
I'm working on this ...

[2017-03-10 14:07] skprabhanjan commented on #2016
hey @santoshmath , @mbj36 I have fixed this issue , I have added a custom filter that filters out duplicate meetings (written my own filtering function) , I will go ahead and send a PR for this.
Can you please review it.?
Thanks:)

[2017-03-10 15:27] botraunak commented on #2048
@santoshmath from the code point of view they were being handled in the same file. so fixing #2052 should have fixed these.

[2017-03-10 21:45] anu-007 opened #2080 "Reskin:missing icons under admin>organization"
some icons under admin>organizations are missing

[2017-03-11 06:56] mbj36 commented on #2008
@santoshmath retest and close it

[2017-03-11 06:59] #2080 closed

[2017-03-11 06:59] mbj36 commented on #2080
Fixed

[2017-03-11 07:01] mbj36 commented on #2040
@santoshmath

[2017-03-11 07:07] mbj36 commented on #1995
@santoshmath

[2017-03-11 07:14] mbj36 commented on #2047
@santoshmath restest and close it

[2017-03-11 07:16] mbj36 commented on #2048
Fixed

[2017-03-11 07:16] #2048 closed

[2017-03-11 12:25] iamsk9 commented on #2069
@MexinaD @santoshmath I made changes to remove the fields besides Terms in loan application.
Now it looks like this:

![screenshot 19](https://cloud.githubusercontent.com/assets/10477029/23823211/c22e8990-0683-11e7-8d99-d80574c9bbea.png)

I created a PR referencing this issue. Please review it. [#2082](https://github.com/openMF/community-app/pull/2082)

[2017-03-11 13:45] iamsk9 commented on #2067
@MexinaD @santoshmath Created a PR #2083 referencing this issue.

![screenshot 20](https://cloud.githubusercontent.com/assets/10477029/23823742/091add76-068f-11e7-8b51-a7d57ae1f87e.png)

[2017-03-11 14:42] iamsk9 commented on #2014
@santoshmath Created a PR #2084 resolving this issue.
Please check.

![screenshot 21](https://cloud.githubusercontent.com/assets/10477029/23824121/e3145924-0696-11e7-8e5e-5c39bbb05fd3.png)

[2017-03-12 07:59] anu-007 opened #2085 "Reskin- adding autofocus to the login page"
adding autofocus on username field in login page enhances the UX of the webapp.

[2017-03-12 13:49] #2085 closed

[2017-03-13 05:37] santoshmath commented on #2008
Tested it on 13/3/2017 on new_reskin branch. This issue is resolved.

[2017-03-13 05:37] #2008 closed

[2017-03-13 05:39] santoshmath commented on #2040
Tested it on 9/3/2017 on new_reskin branch. This issue is fixed.

[2017-03-13 05:39] #2040 closed

[2017-03-13 05:41] santoshmath commented on #1995
Tested it on 13/3/2017 on new_reskin branch. This issue is fixed.

[2017-03-13 05:41] #1995 closed

[2017-03-13 05:46] santoshmath commented on #2047
Tested it on 13/3/2017 on new_reskin branch. This issue has been resolved.

[2017-03-13 05:46] #2047 closed

[2017-03-13 05:51] santoshmath commented on #2067
@mbj36 ,Is PR for this merged?

[2017-03-13 05:52] santoshmath commented on #2016
@mbj36 , Is PR for this merged?

[2017-03-13 05:54] santoshmath commented on #2014
@mbj36 , @iamsk9 , All the error messages displayed in any part of the mifos(client, group, loan, datatables, etc) should be of same color(Red is preferable)

[2017-03-13 05:57] santoshmath commented on #2011
Tested it on 13/3/2017 on new_reskin branch. This issue is fixed.

[2017-03-13 05:57] #2011 closed

[2017-03-13 06:32] mbj36 commented on #2067
Not yet.  Will review today

On 13 Mar 2017 11:21 am, "Santosh Math" <notifications@github.com> wrote:

[2017-03-13 10:47] iamsk9 commented on #2014
@santoshmath Most of the error messages in mifos are in red color. I didn't find anyother with black color.

[2017-03-13 15:00] prab07 commented on #2016
@santoshmath, I have fixed this issue and had sent a PR but i did not follow the naming conventions so it was closed, i wlil rebase with new_resking and send a PR for this ASAP.
Thanks:)

[2017-03-13 16:28] R7467 commented on #2022
Can you tell me if this issue is fixed or not. The Moratorium fields do not appear to be  aligned.
![screen shot 2017-03-13 at 9 56 14 pm](https://cloud.githubusercontent.com/assets/17959638/23864287/0dc29fee-0838-11e7-82ae-1e39139e5a62.png)

[2017-03-13 17:37] gkrishnan724 opened #2091 "Reskin: Approve/Reject navbar in check inbox & tasks, Affix not working."
If we scroll down, the Approve/Reject navbar should remain below the Mifos navbar. Also, If possible change all the icons to font-awesome icons so that they can load in localhost.

New Skin:
![abc](https://cloud.githubusercontent.com/assets/21004514/23867360/b27424e6-0841-11e7-8244-17c296bcb96b.png)

Old skin:
![abcd](https://cloud.githubusercontent.com/assets/21004514/23867380/beb404c4-0841-11e7-

[2017-03-14 11:52] santoshmath opened #2092 "Reskin: Improper alignment of fields in New Fixed Deposit(FD) application page"
Screenshot from reskin:
![reskin](https://cloud.githubusercontent.com/assets/23022667/23899328/b2db7f6c-08da-11e7-9463-8f754499c40a.png)

Screenshot without reskin:
![demo](https://cloud.githubusercontent.com/assets/23022667/23899346/c2a7991c-08da-11e7-9ae7-2c6193e6efb3.png)

[2017-03-14 11:57] santoshmath opened #2093 "Reskin: Improper alignment of fields in New Recurring Deposit(RD) application page"
Reskin Screenshot:
![reskin](https://cloud.githubusercontent.com/assets/23022667/23899533/8183a3e4-08db-11e7-9102-4fe3ef520d01.png)

Screenshot without reskin:
![demo](https://cloud.githubusercontent.com/assets/23022667/23899541/8a386baa-08db-11e7-905f-860a46d0c24a.png)

[2017-03-14 12:13] santoshmath opened #2094 "Reskin: Checker Inbox and Tasks page is displaying extra buttons"
On left navigation bar , click on Checker Inbox & Tasks

On reskin:
![reskin](https://cloud.githubusercontent.com/assets/23022667/23900033/9d3df704-08dd-11e7-8197-91847a93c119.png)

Without Reskin:
![demo](https://cloud.githubusercontent.com/assets/23022667/23900047/a9cbf2e6-08dd-11e7-9f51-234902f4ed4b.png)

[2017-03-14 12:19] santoshmath opened #2095 "Reskin:'More' button is not working in share account."
During these all above stages, if you click on 'More' button, it is not displaying anything.

[2017-03-14 12:34] santoshmath opened #2096 "Reskin: Misalignment of fields after Modifying Savings Application"
![reskin](https://cloud.githubusercontent.com/assets/23022667/23900840/b5bbf468-08e0-11e7-81d4-b773c7e0e5ce.png)

[2017-03-14 12:49] santoshmath opened #2097 "Designs should be same for New Loan/Saving/Share/FD/RD applications"
Currently on reskin, you can see different designs, placing of 'Cancel' buttons:

![reskin1](https://cloud.githubusercontent.com/assets/23022667/23901315/b1f42650-08e2-11e7-9bee-409a2f3d2e45.png)

![reskin2](https://cloud.githubusercontent.com/assets/23022667/23901318/b1fb8576-08e2-11e7-9d5d-1b6cff6f69c0.png)

![reskin3](https://cloud.githubusercontent.com/assets/23022667/23901316/b1fab86c-08e2-11

[2017-03-14 13:15] gkrishnan724 commented on #2094
@santoshmath I guess it is proper you sent the screenshot of client approval on the old skin not checker inbox. here is the old skin one:
![screenshot from 2017-03-14 18-40-45](https://cloud.githubusercontent.com/assets/21004514/23902077/cdb07bfc-08e5-11e7-89cd-81f2ddcd0f75.png)

Also, I have fixed the icons. I'll be sending a PR soon after I fix this issue: https://github.com/openMF/community-app

[2017-03-14 13:37] gkrishnan724 commented on #2096
@santoshmath I'll send a PR asap

[2017-03-14 15:00] anu-007 commented on #2035
@mbj36 @santoshmath i have created a PR solving this problem  please review ( https://github.com/openMF/community-app/pull/2098 ). thanks!!

[2017-03-14 15:04] anu-007 commented on #2097
@santoshmath I would like to work on this and i think we should align the cancel button centrally on all pages.

[2017-03-14 15:09] gkrishnan724 commented on #2091
I'm working on this :)

[2017-03-14 15:14] gkrishnan724 commented on #2092
@santoshmath the PR I have sent will fix this issue too :)

[2017-03-14 15:23] gkrishnan724 commented on #2093
@santoshmath  This will be fixed if my PR gets merged

[2017-03-14 15:38] iamsk9 commented on #2092
@santoshmath I am on it.

[2017-03-14 15:39] gkrishnan724 commented on #2092
Nevermind, my PR wont fix this one sorry

[2017-03-14 15:41] gkrishnan724 commented on #2093
![rd](https://cloud.githubusercontent.com/assets/21004514/23908687/b507ede6-08fa-11e7-8505-f1dd9d1c3c72.png)

[2017-03-14 15:57] anu-007 commented on #2095
@santoshmath I am on it.

[2017-03-14 17:01] iamsk9 commented on #2092
@santoshmath created PR for this issue. Please review #2100

@gkrishnan724 Your PR won't fix it, but helpful. :) :+1:

[2017-03-15 05:14] santoshmath commented on #2094
@gkrishnan724 , Yes. That's my mistake. At least those two buttons are blurred next to search text box. We will close this issue after resolving it.

![reskin](https://cloud.githubusercontent.com/assets/23022667/23934583/5994045a-096c-11e7-9dfb-1dd717bc695b.png)

[2017-03-15 05:16] santoshmath commented on #2097
@anu-007 , I think it looks good if 'Cancel' button is just next to drop-down menu.

[2017-03-15 05:17] santoshmath commented on #2093
@mbj36 , FYI

[2017-03-15 05:27] santoshmath opened #2101 "Reskin:XBRL page is missing tabs"
Without reskin:
![demo](https://cloud.githubusercontent.com/assets/23022667/23934857/12a116b2-096e-11e7-937c-069ca5b47075.png)

With reskin:

![reskin](https://cloud.githubusercontent.com/assets/23022667/23934864/2063fa26-096e-11e7-9e08-d3d0fe94fddd.png)

[2017-03-15 05:42] santoshmath opened #2102 "Reskin: Drop-down menu of 'Add Charge' for Savings Account is showing invalid characters"
![reskin](https://cloud.githubusercontent.com/assets/23022667/23935139/269ca5e4-0970-11e7-974c-ee8b3ac39e87.png)

Same thing happen even you try to add charge after approving the saving account and also adding Client Charge

[2017-03-15 06:33] anu-007 commented on #2097
@santoshmath agreed ,will send a PR shortly. thanks!!

[2017-03-15 11:39] iamsk9 commented on #2102
@santoshmath I am working on it.

[2017-03-15 13:20] iamsk9 commented on #2102
@santoshmath Created PR for this issue #2104. Please review it.

[2017-03-15 13:31] iamsk9 commented on #2101
@santoshmath I am working on it.

[2017-03-15 13:32] santoshmath commented on #2102
@mbj36 FYI

[2017-03-15 14:17] mbj36 commented on #2069
@santoshmath retest and close it

[2017-03-15 14:21] mbj36 commented on #2014
@santoshmath

[2017-03-15 14:39] anu-007 commented on #2097
@santoshmath @mbj36 please review ( https://github.com/openMF/community-app/pull/2106 )

[2017-03-15 14:42] mbj36 commented on #2093
@santoshmath retest and close it

[2017-03-15 14:43] mbj36 commented on #2096
@santoshmath

[2017-03-15 15:53] iamsk9 commented on #2092
@mbj36 Created a new PR for this issue #2107

[2017-03-15 16:32] iamsk9 commented on #2067
@mbj36 Created a new PR #2108

[2017-03-15 22:21] anu-007 commented on #2035
@mbj36 i followed your review on ( https://github.com/openMF/community-app/pull/2098 ) and send a new PR please review ( https://github.com/openMF/community-app/pull/2110 )

[2017-03-16 04:13] santoshmath commented on #2069
Tested it on 16/3/2017 on new_reskin branch. This issue is resolved. @MexinaD , I am closing this, let me know if you think any issue related to it.

[2017-03-16 04:13] #2069 closed

[2017-03-16 04:16] santoshmath commented on #2014
@mbj36 , this issue is resolved related new savings application and closing it. But error messaages are displaying  in different colors(black or red) in other scenarios well. We have to make checklist and make same color(red) for all error messages.

[2017-03-16 04:16] #2014 closed

[2017-03-16 04:20] santoshmath commented on #2093
Tested it on 16/3/2017 on new_reskin branch, This issue is resolved.

[2017-03-16 04:20] #2093 closed

[2017-03-16 04:21] santoshmath commented on #2096
Tested it on 16/3/2017 on new_reskin branch. This issue is fixed.

[2017-03-16 04:21] #2096 closed

[2017-03-16 08:25] mbj36 commented on #2095
@santoshmath retest and close it

[2017-03-16 08:32] mbj36 commented on #2067
@santoshmath retest and close it

[2017-03-16 08:47] mbj36 commented on #2092
@santoshmath retest and close it

[2017-03-16 10:14] santoshmath commented on #2095
tested it on 16/3/2107 on new_reskin branch. This issue is fixed.

[2017-03-16 10:14] #2095 closed

[2017-03-16 10:22] santoshmath commented on #2067
Tested it on 16/3/2017 on new_reskin branch. This issue is resolved. @MexinaD , Please check

[2017-03-16 10:22] #2067 closed

[2017-03-16 10:24] santoshmath commented on #2092
Tested it on 16/3/2017 on new_reskin branch. This issue is fixed.

[2017-03-16 10:24] #2092 closed

[2017-03-16 21:17] amarlearning commented on #2035
@mbj36 Looks like community member is not reading the `issue` title properly!
there is a spelling mistake,  which should be corrected!

[2017-03-17 04:26] santoshmath commented on #2035
@amarlearning Corrected.. :)

[2017-03-17 21:07] jhonatanbds commented on #1972
this issue should've been fixed in another patch, I can actually see the button
![image](https://cloud.githubusercontent.com/assets/17839018/24062992/7c2f3152-0b3c-11e7-91c2-9bf2b86ca2d4.png)

[2017-03-17 21:12] mbj36 commented on #1972
This might be in new_reskin branch @jhonatanbds

[2017-03-17 22:02] jhonatanbds commented on #1872
I'm working on it

[2017-03-18 03:34] DanCarl857 commented on #2101
@santoshmath fixed this. Could you review:
![screen shot 2017-03-18 at 4 30 51 am](https://cloud.githubusercontent.com/assets/9010142/24068631/155f9176-0b94-11e7-9c8a-ec2482f01ee4.png)

[2017-03-18 03:36] DanCarl857 commented on #2101
PR:  https://github.com/openMF/community-app/pull/2115

[2017-03-18 04:28] jhonatanbds commented on #1972
fixed! as well as the foreclosure one, can you please review the PF?

[2017-03-19 15:47] anu-007 commented on #2035
@santoshmath @mbj36 please review ( https://github.com/openMF/community-app/pull/2117 ).

[2017-03-20 13:24] Agnessy opened #2118 "Reskin: Actions to deselect the Advanced Accounting Rule is not showing while creating or editing the loan product"
Check the screenshot in demo instance:
![accc1](https://cloud.githubusercontent.com/assets/13551795/24101413/4fbb5688-0d89-11e7-9de1-e7e575f9a549.png)
Check the screenshot in reskin(newbeta) instance:
![acccc2](https://cloud.githubusercontent.com/assets/13551795/24101427/608d2900-0d89-11e7-857d-8cc4d28330f4.png)

[2017-03-20 13:28] mbj36 commented on #2118
Hi Agnessy
This issue exists in more places in community app

Can you please find those and provide a checklist here :) ?

On 20 Mar 2017 6:54 pm, "Agness Meena" <notifications@github.com> wrote:

[2017-03-20 13:35] Agnessy commented on #2118
ok @mbj36

[2017-03-20 13:51] anu-007 commented on #1972
@jhonatanbds I checked out new_reskin branch for this issue and found it is not fixed here is the screenshot.

![alt text](https://github.com/anu-007/assets/blob/master/Screenshot%20from%202017-03-19%2021-49-05.png?raw=true "before")

fixed it via ( https://github.com/openMF/community-app/pull/2119 ) @santoshmath @mbj36  please review.

[2017-03-20 13:58] Agnessy commented on #2118
@mbj36 The same applies to Saving, Fixed and Reccuring Products.

[2017-03-20 14:07] mbj36 commented on #2118
You can create checklist here where it's missing

[2017-03-20 14:26] anu-007 opened #2120 "Reskin: missing icons on various pages"
icons on various pages are missing like under admin>system and  check inbox and task page.

[2017-03-20 14:31] aditodkar commented on #2120
How can I reproduce the issue @anu-007

[2017-03-20 15:21] fboniphace opened #2122 "Reskin: Standing instruction Destination field issue"
Hellow there,
I've experienced an issue during creating standing instruction where by  when the  **destination** field is selected as **own account** and the form is submitted. It always appear as  **With in Bank** when viewing that standing instruction. consider the screenshots bellow.
![11](https://cloud.githubusercontent.com/assets/20817569/24106676/abac9618-0d99-11e7-86a6-12882b89a241.jpg)

![

[2017-03-20 15:39] chaitanyaparashar commented on #1965
#2123 Resolved, Please review it

[2017-03-20 15:45] anu-007 commented on #2120
@aditodkar just run community-app on localhost login with id/password -(mifos/password) , click admin from the navbar and select system from the drop down a page will open up you will find missing icons on that page also you will find missing icons on "check inbox and task"  page on side nav

[2017-03-21 01:05] jhonatanbds commented on #1972
did you checked my branch? @anu-007

[2017-03-21 08:11] santoshmath commented on #2120
@anu-007 , could you share screenshots here?

[2017-03-21 08:21] santoshmath opened #2124 "Reskin:Tabs are missing in client's savings account page"
In reskin:
![reskin](https://cloud.githubusercontent.com/assets/23022667/24138210/5ec95c88-0e3d-11e7-81ca-149eafe7286c.png)

without reskin:

![demo](https://cloud.githubusercontent.com/assets/23022667/24138225/68cf4620-0e3d-11e7-96dc-90a3cf362a39.png)

[2017-03-21 08:37] Ippezrobert commented on #1867
**UI Mockup for Email Report Scheduler**

**Email Report Scheduler Landing Screen**
![reportmailingjobs](https://cloud.githubusercontent.com/assets/13125234/24138669/37340500-0e2a-11e7-8e7f-2983489d1e7d.png)

**Create and Edit Email Report Scheduler**
![create and edit reportmailingjobs](https://cloud.githubusercontent.com/assets/13125234/24138675/3cfd8132-0e2a-11e7-88ec-17670937edd8.png)

**View

[2017-03-21 13:24] MegaAlex commented on #2124
I would like to work on this.

[2017-03-21 15:44] botraunak commented on #1820
@edcable I'd like to take up this issue. I would require some help implementing this. I'll update if I run into some issues!

[2017-03-21 15:55] mbj36 commented on #1820
Go for it @botraunak It's one of the critical issue that really needs to be work upon

[2017-03-21 16:56] dart-wakar commented on #2124
I have created a pull request #2125

[2017-03-21 19:49] botraunak commented on #1820
@mbj36  @edcable I have created the form the create the user, I had a few doubts:
- There is currently no email field in the client so I am using mobile number in the form for now.
- I read the docs on how the user is created with a random id password and details are notified then but I wasn't able to find a matching API endpoint in the self service or client creation API docs, maybe I'm looking i

[2017-03-21 21:32] edcable commented on #1820
@nazeer1100126 Can you please help Raunak with some his queries. We have all the API endpoints in place for creation of self-service users by back-office staff via the web app correct?

We still need an API to allow users to self-register and create their own credentials though, correct?

[2017-03-22 04:20] santoshmath commented on #2124
@mbj36, check the pull request and let me know

[2017-03-22 05:19] santoshmath opened #2126 "Reskin: Deselect Issues in multiple areas"
I noticed that if you add some parameter from drop-down menu(Ex: Charge) , After adding you cannot remove it because 'Deselct' (x) button is missing. I am creating Checklist here.

- [x] Create a loan product and add charge in product level and try to remove charge.

- [x] Create a saving product and add charge in product level and try to remove charge.

- [x] Create a loan application for a clien

[2017-03-22 05:42] santoshmath commented on #2126
Hi All, if you find any deselect issues in other areas of application ,  please let me know so that we can add it to the checklist.

[2017-03-22 05:45] santoshmath commented on #2118
Hi @Agnessy , @mbj36 , I have created checklist here: https://github.com/openMF/community-app/issues/2126

[2017-03-22 05:48] santoshmath commented on #2118
Hi @Agnessy , I've added this issue to the checklist #2126. I am closing it here.

[2017-03-22 05:48] #2118 closed

[2017-03-22 08:21] Agnessy commented on #2126
Hi @santoshmath
Create Tax Group, on adding Tax component try to remove it

[2017-03-22 08:33] santoshmath commented on #2126
@Agnessy , I updated the same.

[2017-03-22 08:53] Agnessy commented on #2126
@santoshmath , Add column when creating data table, try to remove it

[2017-03-22 09:13] fboniphace opened #2127 "Reskin: Viewing standing instruction buttons not shown clearly"
Halow there,
I've also noticed that during viewing a standing instruction, a view and delete buttons are not shown clearly. Consider a screen-shot bellow
![screenshot from 2017-03-22 11-42-36_li](https://cloud.githubusercontent.com/assets/20817569/24190180/db2792a2-0ef8-11e7-9bcd-ebfa3d0c4ee5.jpg)

[2017-03-22 10:10] DanCarl857 commented on #2126
@santoshmath let me work on this

[2017-03-22 10:44] nazeer1100126 commented on #1820
@botraunak @edcable
1) Currently email field is not available for the client. However with PR https://github.com/apache/incubator-fineract/pull/316/ this will be added.
2) Ed is correct. Current implementation is only by back office staff. You need to add API(s) to manage,create self service users. I believe self-register and creating their own credentials needs different design and implementation

[2017-03-22 10:52] botraunak commented on #1820
@nazeer1100126 Could you guide me where are the apis that enable staff to create and manage the self service users?

[2017-03-22 10:59] nazeer1100126 commented on #1820
@botraunak Current API(s) are used in the context of creating a user. But in your case, you need to add these API(s) to platform. For reference check SELF SERVICE section in https://demo.openmf.org/api-docs/apiLive.htm and https://demo.openmf.org/api-docs/apiLive.htm#users_create

[2017-03-22 13:15] santoshmath commented on #2126
@Agnessy I updated for datatable too!! Thanks for helping. :)

[2017-03-22 14:33] dart-wakar commented on #2127
I created a pull request #2128

[2017-03-22 18:31] botraunak commented on #1820
@nazeer1100126 When I try to create a user the api is throwing me an error
`{
  "developerMessage": "The request was invalid. This typically will happen due to validation errors which are provided.",
  "httpStatusCode": "400",
  "defaultUserMessage": "Validation errors exist.",
  "userMessageGlobalisationCode": "validation.msg.validation.errors.exist",
  "errors": [
    {
      "developerMessage":

[2017-03-23 04:24] santoshmath commented on #2120
Without Reskin:

![demo](https://cloud.githubusercontent.com/assets/23022667/24232088/8e6cf554-0fae-11e7-8c2e-3cfe008079d8.png)

With Reskin: Icons are missing for Manage Reports and Scheduler Jobs

![reskin](https://cloud.githubusercontent.com/assets/23022667/24232106/aec80686-0fae-11e7-9cea-1f1e822b2121.png)

[2017-03-23 04:29] santoshmath commented on #2120
Hi @anu-007 , If icons are missing in multiple pages then we need to create checklist like this. #2126 . I am also searching for such missing icons and let me know if you found them.

[2017-03-23 05:03] santoshmath opened #2130 "Reskin:Icons are missing for tabs(Ex: New Loan, New savings, etc) on client's page"
With Reskin:

![reskin](https://cloud.githubusercontent.com/assets/23022667/24232886/1c534508-0fb4-11e7-84a6-a82db8747fb5.png)

Without Reskin:

![demo](https://cloud.githubusercontent.com/assets/23022667/24232892/297b7fa2-0fb4-11e7-86a6-974053add20d.png)

[2017-03-23 05:09] santoshmath opened #2131 "Reskin: Upload client image and signature are not working"
- [x] Go to any client's page and click on 'More' and then click on 'Upload client signature'. Select the file(any image) and then click on 'Upload' button. The 'Upload' button is not working.

- [x] Go to any client's page and at the right side  click on 'Upload client image'. Select the file(any image) and then click on 'Upload' button. The 'Upload' button is not working.

![reskin](https://clou

[2017-03-23 05:25] santoshmath opened #2132 "Reskin: Unable to Add Notes on Client's page"
Go to any Client's page and click on 'Notes' . Type something and then click on 'Add' button. Add button is not working.

![reskin](https://cloud.githubusercontent.com/assets/23022667/24233263/1ca521b8-0fb7-11e7-9b37-20afc6d265ff.png)

[2017-03-23 05:29] santoshmath opened #2133 "Reskin: 'Submit' button is not working on Upload Client Document Page"
Go to any  Client's page and click on 'Documents' tab. On next page, give the name and path of the file and then click on 'Submit' button. Submit button is not working.

![reskin](https://cloud.githubusercontent.com/assets/23022667/24233371/d22ed68c-0fb7-11e7-934b-764cf6908b8b.png)

[2017-03-23 10:42] Agnessy commented on #2126
@santoshmath Create hook, add an event, try to remove it
                         Add/Edit Currency Configuration, try to remove it

[2017-03-23 14:02] Agnessy commented on #2120
@santoshmath Reskin:In Organisation, It looks like Bulk Loan Reassignment icon and Manage Funds icon are alike.

[2017-03-23 16:39] mbj36 commented on #2120
Noticed @Agnessy

[2017-03-23 18:06] syylabs commented on #2133
I am working on this. Will send the PR soon.

[2017-03-23 18:28] mbj36 commented on #2122
@santoshmath retest and close it

[2017-03-23 18:32] mbj36 commented on #2101
@santoshmath retest and close it

[2017-03-23 18:43] mbj36 commented on #2035
@santoshmath I don't see any alignment issue here can you please confirm ?

[2017-03-23 18:56] syylabs commented on #2130
Working on this. Will send the PR soon.

[2017-03-23 19:40] mbj36 commented on #2124
@santoshmath retest and close it

[2017-03-23 19:49] mbj36 commented on #1998
@santoshmath we should close this

[2017-03-23 19:51] mbj36 commented on #2094
@santoshmath This is resolved

[2017-03-23 19:57] syylabs commented on #2133
This is coming when using the
http://localhost:9002/?baseApiUrl=https://demo.openmf.org from grunt serve.

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://demo.openmf.org/fineract-provider/api/v1/clients/6/documents. (Reason: CORS header ‘Access-Control-Allow-Origin’ missing).

It works fine when using the "https://demo.openmf.org".

To get rid

[2017-03-23 20:03] mbj36 commented on #2133
@syylabs This issue exists in new_reskin branch. checkout new_reskin branch and let me know if you have any problem

[2017-03-23 20:21] syylabs commented on #2133
@mbj36 I checked out new_reskin branch.
I tried to build it with "grunt build" but it is giving "Loading "grunt-karma.js" tasks...ERROR

"Running "compass:dist" (compass) task
Warning: not found: compass Use --force to continue."

Then I tried with grunt serve. The reported isuue is there when we are using "http://localhost:9002/?baseApiUrl=https://demo.openmf.org#/" type url. But if we use "https

[2017-03-23 20:23] mbj36 commented on #2133
Can you make a new fork, then clone and run it again ?

Checkout new_reskin and do bower install followed with npm install then grunt serve

[2017-03-23 20:27] ThisuraThejith commented on #2133
@mbj36 Sorry about the confusion first of all. My brother has used my laptop and the account was changed. I just noticed that and removed the comments. Will add those comments below. Really sorry about that.

[2017-03-23 20:28] ThisuraThejith commented on #2133
This is coming when using the
http://localhost:9002/?baseApiUrl=https://demo.openmf.org from grunt serve.

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://demo.openmf.org/fineract-provider/api/v1/clients/6/documents. (Reason: CORS header ‘Access-Control-Allow-Origin’ missing).

It works fine when using the "https://demo.openmf.org".

To get rid

[2017-03-23 20:28] ThisuraThejith commented on #2133
@mbj36 I checked out new_reskin branch.
I tried to build it with "grunt build" but it is giving "Loading "grunt-karma.js" tasks...ERROR

TypeError: Cannot read property 'prototype' of undefined" and fail at running compass dist with following exception.
"Running "compass:dist" (compass) task
Warning: not found: compass Use --force to continue."

Then I tried with grunt serve. The reported isuue is

[2017-03-23 20:55] ThisuraThejith commented on #2130
Working on this. Will send the PR soon.

[2017-03-23 21:07] mbj36 commented on #2126
@santoshmath I have created PR every cases of deselect button in whole community app, now there won't be any issue of deselect, please retest and close it

[2017-03-23 21:18] mbj36 commented on #2132
@MegaAlex Can you look at this ?

[2017-03-23 21:25] ThisuraThejith commented on #2130
PR sent at https://github.com/openMF/community-app/pull/2137

[2017-03-24 00:41] botraunak commented on #1820
@edcable  @mbj36  I'm done with the self service user creation. from the flow of view client > more > create self service user

[2017-03-24 03:51] ThisuraThejith commented on #2133
Working on this. Will send the PR soon.

[2017-03-24 04:32] santoshmath commented on #2101
Tested it on 24/3/2017 on new_reskin branch. This issue is fixed.

[2017-03-24 04:32] #2101 closed

[2017-03-24 04:39] santoshmath commented on #2122
Tested it on 24/3/2017 at new_reskin branch. This issue is resolved.

[2017-03-24 04:39] #2122 closed

[2017-03-24 04:47] santoshmath commented on #2035
@DanCarl857 @mbj36 , Everything looks good except 'Submitted on' should be right aligned 'Decimal Places' , Today's price. etc. Check the screenshot:
![reskin](https://cloud.githubusercontent.com/assets/23022667/24280965/fb27316a-107a-11e7-9a7f-0e9bc1a1562a.png)

[2017-03-24 04:51] santoshmath commented on #2124
Tested it on 24/3/2017 at new_reskin branch. This issue is resolved.

[2017-03-24 04:51] #2124 closed

[2017-03-24 04:55] santoshmath commented on #2094
Tested it on 24/3/2017 on new_reskin branch. This issue is fixed.

[2017-03-24 04:55] #2094 closed

[2017-03-24 04:57] santoshmath commented on #1998
Created a checklist related to this at #2126 . Closing here.

[2017-03-24 04:57] #1998 closed

[2017-03-24 05:06] santoshmath commented on #2126
Very good work @mbj36 . I tested all above checklist and they have been resolved. We will keep this open for next 3-4 days, in case if we find this issue in other pages. If we close now and if this issue reappears again we may have to create again another new issue rather than adding checklist here.

[2017-03-24 07:02] santoshmath commented on #1835
Check the following screenshot of 'Edit' Teller .
![demo](https://cloud.githubusercontent.com/assets/23022667/24283777/adb99c20-108d-11e7-99a4-56bee14187ec.png)

If you keep , For example, Description(its mandatory)  input blank and submit, no error is getting displayed.
Expected: If any mandatory field is blank it should show, for example, 'Description' is mandatory

[2017-03-24 07:05] santoshmath commented on #2097
@mbj36, review PR and let me know

[2017-03-24 07:33] mbj36 commented on #2097
PR is closed due to merge conflicts

On 24 Mar 2017 12:35 pm, "Santosh Math" <notifications@github.com> wrote:

[2017-03-24 07:38] santoshmath commented on #2131
@mbj36 , did you check the PR for this?

[2017-03-24 07:56] santoshmath commented on #2127
@mbj36 test  #2128  PR.

[2017-03-24 07:56] Agnessy commented on #2126
Hi @mbj36 @santoshmath
Have you resolve in floating rates also? when adding Floating Rate Periods

[2017-03-24 07:59] santoshmath commented on #2131
@mbj36:    @MegaAlex  , Is your commit addressing all three issues mentioned in description?

[2017-03-24 08:03] mbj36 commented on #2127
PR is closed due to failing tests

On 24 Mar 2017 1:26 pm, "Santosh Math" <notifications@github.com> wrote:

[2017-03-24 08:05] mbj36 commented on #2126
Can you check @santoshmath in your local machine?  It must be fixed

On 24 Mar 2017 1:26 pm, "Agness Meena" <notifications@github.com> wrote:

[2017-03-24 08:10] santoshmath commented on #2126
@Agnessy , @mbj36 , Floating Rate Period can also be deselected. Tested it on locally.

[2017-03-24 08:17] Agnessy commented on #2126
Ok Thanks @santoshmath @mbj36

[2017-03-24 09:00] MegaAlex commented on #2131
@santoshmath , Yes, the three issues are fixed in my commit.

[2017-03-24 10:19] dmiepub opened #2141 "Fixed Deposit Product: Period/Amount range must end as open for interest rate chart error on submitting"
We are getting error on creating Fixed Deposit Product. Please suggest how to resolve this:

Period/Amount range must end as open for interest rate chart
[168-interest-rate-chart.pdf](https://github.com/openMF/community-app/files/867515/168-interest-rate-chart.pdf)

[2017-03-24 10:57] santoshmath commented on #2016
@mbj36 FYI

[2017-03-24 11:24] mbj36 commented on #2132
@santoshmath retest and close it

[2017-03-24 11:40] santoshmath commented on #2132
Tested it on 24/3/2017  on new_reskin branch. This issue is fixed.

[2017-03-24 11:40] #2132 closed

[2017-03-24 14:27] mbj36 commented on #2102
@santoshmath retest and close it

[2017-03-25 07:35] skprabhanjan commented on #1952
@mbj36 @santoshmath , Fixed this issue.
Sent a PR #2147 , Please review.
Thanks:)

[2017-03-25 08:00] dart-wakar commented on #2133
@mbj36 This seems like a server side issue...I checked it out and the post request returns a 500 internal server error(java.lang.NullPointerException)

[2017-03-25 08:54] skprabhanjan commented on #2022
@santoshmath , Is this still open.? If yes, I will send a PR again
Thanks:)

[2017-03-25 15:04] ThisuraThejith commented on #2133
No the problem is in getting file. The scope.file is null. Working on that and checking for other bugs like this.

[2017-03-25 18:08] ThisuraThejith commented on #2133
PR sent at https://github.com/openMF/community-app/pull/2148

[2017-03-26 06:03] ThisuraThejith commented on #2120
I will work on this.

[2017-03-26 12:47] MexinaD commented on #1971
This issue is also in new_reskin

[2017-03-26 18:49] ThisuraThejith commented on #2130
New PR sent at https://github.com/openMF/community-app/pull/2149

[2017-03-26 19:08] rileyL6122428 commented on #1686
I would like to contribute to this issue if possible. I will be making a pull request shortly.

[2017-03-27 13:37] gkrishnan724 opened #2153 "Reskin: Replace Plus icon(Indicating to add column) in create datatable."
I feel the `+` icon in the add column section for the create datatable is not informative enough. In my case, I forgot to add the column and I pressed the submit button which gave me an error. Then I realised we need to add columns by using the `+` icon. I would suggest replacing the plus icon with a button like `+Add column` which would be more informative

![btnprob](https://cloud.githubusercont

[2017-03-27 17:02] mbj36 commented on #2153
Design should be same through out the community app, Changing the + button in one place would go against the design pattern in community app but still if you wish to change, then you must gather all the cases where + button is present and create a check box here and then you can start changing them

[2017-03-27 17:05] mbj36 commented on #2126
Let's close this @santoshmath

[2017-03-27 19:07] gkrishnan724 commented on #2153
@mbj36 True, I totally agree with the fact that design should be consistent in the community-app. However, I feel that the '+' icon here is not proper because, In the community-app we have been using + for something like `showing more fields` (consider the example of creating a new client where we add address or  debit and credit fields in add journal entry). However, In this case plus icon acts m

[2017-03-28 02:10] dart-wakar commented on #2042
@santoshmath @mbj36 I have created a pull request #2156

[2017-03-28 08:13] santoshmath commented on #2126
As no more new issues noticed related to 'deselect' problem, This issue will be considered as fixed. If anyone notices related to it, please let me know.

[2017-03-28 08:13] #2126 closed

[2017-03-29 01:39] ThisuraThejith commented on #2133
@mbj36 Kindly let me know whether the approach in #2148 is correct

[2017-04-03 09:04] Agnessy opened #2159 "Reskin&oldSkin:Unassign staff/officer in saving aplication"
Create the saving application to a client, assign staff/officer
in saving application level
it is not possible to unassign that staff/officer,,

[2017-04-05 10:08] santoshmath commented on #2159
This issue exists in old skin and also in reskin.

[2017-04-05 10:12] santoshmath commented on #2153
@gkrishnan724 , @mbj36 , it could be considered as 'improvement' issue. In order to maintain consistency as Mohit  said, first we have to list all the pages in Mifos application where such scenarios exist.

[2017-04-05 10:16] santoshmath commented on #2141
Hi @dmiepub , you have to '+add' one more row for period/range if you want to mention 'To' for both period and amount range.

[2017-04-05 13:11] #2141 closed

[2017-04-05 13:20] edcable commented on #1819
Per @santoshmath for consistent behavior with other description fields, the asterisk has been put here in error and should be removed rather than make description field mandatory.

[2017-04-06 13:11] gkrishnan724 commented on #2159
@santoshmath @Agnessy do you mean the option for unassign staff is missing in the saving account page? I seem to find the unassign button:
![unassign](https://cloud.githubusercontent.com/assets/21004514/24755566/66d03ae2-1af8-11e7-94c6-ce9e33e84f03.png)

Could you please provide a screenshot so that I can understand the problem?

[2017-04-07 13:19] santoshmath commented on #2159
@gkrishnan724  button is there, but  not working

[2017-04-08 05:31] gkrishnan724 commented on #2159
Ok I'll try and work on this

[2017-04-08 15:28] gkrishnan724 opened #2160 "Reskin&oldSkin: Make datatable tabs in viewclient, viewgroup and viewcenter look organised"
If we have a lot of datatables for a client, group or center, the tabs in the respective pages look messy:

Eg: viewclient page
![cluster](https://cloud.githubusercontent.com/assets/21004514/24830150/d6b055a8-1c9d-11e7-8a70-1eb59dd4aab9.png)

We can replace these datatable tabs to a responsive sliding menu similar to http://www.bootply.com/QhA0MPMKtI

@edcable  @mbj36  @pranjal-goswami  @gauravsai

[2017-04-08 15:29] gkrishnan724 commented on #2160
I'll be working on this

[2017-04-11 08:20] Agnessy opened #2161 "Reskin: Description in Interest Rate Chart is not shown in FD and RD"
Description in Interest Rate Chart is not shown , when viewing both fixed and Recurring Deposit accounts.
![interest rate chart](https://cloud.githubusercontent.com/assets/13551795/24899313/89a0a094-1ea8-11e7-91d9-9e2827cc472e.png)

[2017-04-11 15:52] DanCarl857 commented on #2161
Hi @Agnessy could you please explain how to reproduce this so I can work on it?

[2017-04-12 07:22] Agnessy commented on #2161
@DanCarl857 When you view the specific FD or RD the description are not shown/retrieved
but when view/edit interest rate chart of that product , it shows description
![irc](https://cloud.githubusercontent.com/assets/13551795/24945716/0a2bf130-1f69-11e7-9af0-419889a3f776.png)
You can open the link https://demo.openmf.org/newbeta/#/viewrecurringdepositproduct/17

[2017-04-12 13:13] skprabhanjan commented on #2120
@mbj36 , @anu-007  and @santoshmath Is this fixed.? if not can I work on this.?
Thanks:)

[2017-04-12 13:39] ThisuraThejith commented on #2120
This issue is not present in new_reskin branch.

[2017-04-12 19:30] DanCarl857 commented on #2161
Ok thats not what I meant but ok. Please what I mean is when creating an issue its good to put the process so someone can easily reproduce it. Let me look into the issue

[2017-04-13 06:39] santoshmath commented on #2161
Steps to reproduce:

Without Reskin:(Ex: Fixed Deposit Product)

![demo](https://cloud.githubusercontent.com/assets/23022667/24992997/ec245270-2041-11e7-866e-ef43a8641c52.png)

With Reskin:

![reskin](https://cloud.githubusercontent.com/assets/23022667/24993003/f7c72b7a-2041-11e7-9df0-3e516e991af1.png)

[2017-04-13 09:45] MexinaD opened #2162 "Reskin - After assigning loan officer, the label should be "Change loan officer""
1. Create a loan product: Admin -> Product -> Loan Product ->Create
2. Apply a loan to an active client: Clients -> View client -> New Loan
3. Fill all the necessary fields including the "loan officer" and then submit.
When you view the loan profile, navigate to "More" you will find the label for "Assign loan officer", it should be "Change loan officer"

![loanofficerassign1](https://cloud.githubu

[2017-04-13 12:33] santoshmath commented on #2162
@MexinaD , This issue is not just related to reskin, but community-app overall.

[2017-04-13 12:46] MexinaD commented on #2162
@santoshmath  so someone has to work on it under develop or new_reskin branch?

[2017-04-13 13:31] MexinaD opened #2163 "Reskin - Page to add datatable entry shows it from Manage Hooks"
1. Create a datatable and associate it with either client/group/center/loan : Admin -> System -> Manage Data tables -> Create Datatables
2. Go to the where you associated the datatable (i.e group) and view one of the active group : Clients -> Groups -> View group
3. Navigate to the datatable you created.
The page shows it from "System -> Manage Hooks"

![datatables](https://cloud.githubusercontent

[2017-04-13 13:56] MexinaD opened #2164 "Reskin - In Office and Saving account profiles, no tab to show the data tables created"
1. Create a datatable and associate to office or saving account : Admin -> System -> Manage Datatables -> Create Datatable.
2, Go to the profile of an office or a saving account :
For office : Admin -> Organization -> Manage Offices -> View any active office

**In  reskin**
![reskinoffice](https://cloud.githubusercontent.com/assets/8160209/25007679/e9f68950-2069-11e7-9097-51dac8392308.png)

**In c

[2017-04-17 21:56] Anh3h commented on #2164
Will like to take up the issue

[2017-04-21 05:17] santoshmath opened #2166 "Reskin: Buttons are blurred in view guarantors screen."
1. Submit any loan for a client.
2. Before Approval, go to More>Create Guarantor. Select existing client and fill required details & Submit it.
3. Then again go to More>view guarantor.
4. On view guarantors page,

Without Reskin:
![demo](https://cloud.githubusercontent.com/assets/23022667/25263803/cf986404-267f-11e7-90e2-7094b19e30e8.png)

With Reskin:
![reskin](https://cloud.githubusercontent.com

[2017-04-21 05:34] santoshmath opened #2168 "'Editing Data table' allows to delete all columns"
Go to Admin>System>Manage Data tables
1. Create a data table with at least one column(make it mandatory).
2. Edit data table and remove all columns and submit it.

[2017-04-21 06:04] santoshmath opened #2169 "'Editing Data table' allows to remove columns even though there is a data of client/Group , etc"
1. Go to Admin>System>Manage Data tables
2. Create a data table with at least one column(or more).
3. Enter data in the data table for particular client and submit it.
4. Edit data table (System>Manage Datatables) and remove all columns and submit it.
5. It is allowing to submit with no columns even though there is a data with that column for particular client/Group, etc.

[2017-04-21 06:55] santoshmath opened #2170 "Reskin: Holidays should be defined for present date or future dates, not past dates."
1. Go to Admin>Organization>Manage Holidays
2. Click on 'Create Holiday'.
3. In Create Holiday page, you can create holiday with From Date , To Date and 'Repayment Scheduled to' date as past dates.  'From Date' won't allow past date using drop-down menu but you can still enter past date by typing.

Expected: If any of the dates, From Date, To Date and 'Repayment  Scheduled to' Date are past dates,

[2017-04-21 10:52] Agnessy opened #2171 "Reskin:Misalignment in Interest Rate Chart"
Create Fixed Deposit product > View/Edit Interest Rate Chart > Create Interest Rate chart
radio button of "Is primary grouping by Amount*" is not well aligned
**Without Reskin**
![demo-irc1](https://cloud.githubusercontent.com/assets/13551795/25274435/b57768f4-2698-11e7-97c4-9b42e718b756.png)
![demo-irc2-](https://cloud.githubusercontent.com/assets/13551795/25274442/bb5c7e8a-2698-11e7-95bb-f15edcd

[2017-04-22 00:18] mbj36 commented on #2131
@santoshmath retest and close it

[2017-04-22 01:16] mbj36 commented on #2127
@santoshmath retest and close it

[2017-04-23 12:10] wkk91193 commented on #2169
Will try to work on this!

[2017-04-23 19:16] mzawadi commented on #1865
I would like to work on this.

[2017-04-24 04:59] santoshmath commented on #2131
Tested it on 24/4/2017 on new_reskin branch. This issue is resolved.

[2017-04-24 04:59] #2131 closed

[2017-04-24 05:05] santoshmath commented on #2127
Tested it on 24/4/2017 on new_reskin branch. This issue is resolved.

[2017-04-24 05:05] #2127 closed

[2017-04-24 05:21] santoshmath commented on #2102
Tested it on 24/4/2017  on new_reskin branch. This issue is fixed.

[2017-04-24 05:21] #2102 closed

[2017-04-24 05:23] santoshmath commented on #2041
@mbj36 , Did you check the @DanCarl857 PR?

[2017-04-24 05:25] santoshmath commented on #2091
@gkrishnan724 , Are you able to resolve this issue?

[2017-04-24 06:42] santoshmath opened #2175 "Reskin: In Prepay Loan page breadcrumb, It should be 'Prepay Loan' in stead of Repayment"
![reskin](https://cloud.githubusercontent.com/assets/23022667/25325065/0f1727fa-28e7-11e7-9e49-2abc49e25524.png)

[2017-04-24 10:03] MexinaD commented on #2175
I will try to work on this

[2017-04-24 10:20] mbj36 commented on #2041
I don't see any PR opened here

[2017-04-24 14:09] wmay1991 commented on #2163
Is this in the JIRA?

[2017-04-24 15:07] wmay1991 commented on #2171
I can take a look into this

[2017-04-24 15:49] wmay1991 commented on #2171
I checkout the new_reskin branch and I am not seeing the same thing.

![image](https://cloud.githubusercontent.com/assets/12055979/25345863/0d935578-28e4-11e7-9ca3-308e1f995b65.png)

[2017-04-24 15:50] wmay1991 commented on #2171
This is what I for Recurring Deposit Products.
![image](https://cloud.githubusercontent.com/assets/12055979/25345951/463fe06c-28e4-11e7-854d-5c0a54ab7264.png)

[2017-04-24 15:53] wmay1991 commented on #2168
I can take a look into this

[2017-04-25 03:06] gkrishnan724 commented on #2091
@santoshmath I'm not able to resolve it, still looking at it.  However,  I don't mind if someone resolves and sends a PR

[2017-04-25 12:59] MexinaD commented on #2171
@wmay1991 you took the screenshot form develop branch and not form new_reskin branch

[2017-04-25 13:52] wmay1991 commented on #2171
I pulled down new_reskin and looking into it

[2017-04-25 14:46] wmay1991 commented on #2168
This may need to be fixed on the Fineract side first before showing front-end validation.

[2017-04-26 14:22] skprabhanjan commented on #2164
@MexinaD , Is this issue still open.? If its open then I would try to fix it. Please clarify:)

[2017-04-26 14:24] skprabhanjan commented on #1992
@santoshmath , is this issue still open.? Can you please clarify so that I could work on this, if its still open and not solved.
Thanks:)

[2017-04-26 15:06] skprabhanjan commented on #2163
Hey @santoshmath , I am not able to figure out where is this bug in new_reskin, Can you please help me figure it out so that I can resolve this issue. I am not able to reproduce this bug in my localhost.
Thanks:)

[2017-04-26 15:24] skprabhanjan opened #2181 "Not Allowing to Approve a checker inbox to create a new datatable"
Create a New DataTable Entry in System->Manage Data Tables.
Click on 'Details' after creating the datatable(That will navigate you to 'view checker inbox').
Click 'Approve' and then confirm, it will throw an error saying, the field already exists, although the datatable name is unique.( Please see the screenshot).
After it throws the error, the dialog box stays along with the confirm button.(Pleas

[2017-04-26 17:38] wmay1991 commented on #1864
Should this enchancement be put in the new_reskin branch?

[2017-04-26 17:52] Ippezrobert commented on #1864
I think it should be in develop branch...

On Wed, Apr 26, 2017 at 8:38 PM, wmay1991 <notifications@github.com> wrote:

--
Ippez Roberts
Director & Founder - Skyline Technologies Uganda
"IT Consultants & Engineers"
P.O.Box 155, Moyo
UGANDA.
Tel: +256788725408/789643284
Skype ID: ippez.robert1
Email: ippezrobert@gmail.com

[2017-04-26 18:01] wmay1991 commented on #1864
If an issue exists in both the reskin and develop branch, what is the strategy for working on it? Should I put it in both branches? Will the reskin become the new develop branch or will it get merged into the develop branch?

[2017-04-26 18:44] DanCarl857 commented on #1864
Hi wmay1991,

Just work on the resin branch.

Cheers!
Daniel Carlson

On Wed, Apr 26, 2017 at 7:01 PM, wmay1991 <notifications@github.com> wrote:

[2017-04-26 18:55] wmay1991 commented on #1864
Thanks will look into it

[2017-04-26 19:03] wmay1991 commented on #1864
Could the clients go under the Client Approval tab? Or would it be best to create a separate list for each?

[2017-04-27 05:50] MexinaD commented on #2181
@skprabhanjan I have tested, It is an issue

[2017-04-27 05:53] MexinaD commented on #2163
@wmay1991 no, this issue is raised here

[2017-04-27 05:54] MexinaD commented on #2163
@skprabhanjan  have you tried to follow the steps given in the demo to see if you can reproduce it?

[2017-04-27 05:59] MexinaD commented on #2164
@skprabhanjan , i don't know if the PR provided above is already reviewed but i know it hasn't been merged yet. @santoshmath  might help to answer that

[2017-04-27 06:09] skprabhanjan commented on #2181
@MexinaD , Thanks, I will go ahead and look why this is happening and try to solve this issue.

[2017-04-27 06:11] skprabhanjan commented on #2163
@MexinaD , First I tried creating a datatable as mentioned in first step but failed to do it, So I tried to search for some datatable entry that already existed and had this bug, but I am not able to find out where and how(The second step, this is not fully clear) , Can you please help me on this and let me know as I am trying to solve this.
Thanks:)

[2017-04-27 06:13] skprabhanjan commented on #2164
@MexinaD , Thanks:)
@santoshmath , so shall I work on this issue or is it fixed.?

[2017-04-27 06:43] santoshmath commented on #1992
@skprabhanjan , go ahead, it's still open.

[2017-04-27 06:52] santoshmath commented on #2163
@skprabhanjan it's just breadcrumb issue.

[2017-04-27 06:54] santoshmath commented on #2164
@mbj36 , let us know whether this issue is fixed in the latest PR. Otherwise let @skprabhanjan work on this.

[2017-04-27 06:55] skprabhanjan commented on #2163
@santoshmath , I dont have much knowledge on this flow(Maybe it has many connected things I am missing).
Im trying to understand it, Can you please let me know how can I reproduce this issue .?
Thanks:)

[2017-04-27 06:59] santoshmath commented on #2163
send me contact request on skype santoshmath99

[2017-04-27 07:00] skprabhanjan opened #2182 "Nothing Happens on clicking approve in 'view checker inbox' for updating datatable entry"
Approve in 'view checker inbox' for updation of datatable is not working, on clicking 'approve', loading gif comes and then comes back without anything happening.
Here is an example - https://demo.openmf.org#/viewcheckerinbox/14130
@MexinaD and @santoshmath , Could you please clarify on this.?
Here is the screenshot of that page.
![screen shot 2017-04-27 at 12 25 35 pm](https://cloud.githubusercon

[2017-04-27 07:02] skprabhanjan commented on #1992
@santoshmath , Sure, I will fix this:)

[2017-04-27 07:18] skprabhanjan commented on #1992
@santoshmath , Sorry I had not checked it in new_reskin(just saw the issue was open), seems like it is already fixed in new_reskin's latest code, the text box for entering sql queries is wide enough and there is a delete button also.
So this issue is fixed rite.?
Thanks:)

[2017-04-27 07:27] santoshmath commented on #1992
confirm with @mbj36 .

[2017-04-27 07:47] skprabhanjan commented on #1992
@mbj36 , Can you please confirm on this.? It looks fixed in the latest new_reskin code but the issue is still open.
Thanks:)

[2017-04-27 13:21] skprabhanjan commented on #2163
Hey @MexinaD and @santoshmath , I have fixed this issue and sent a PR #2183 , Here is a screenshot of how it looks now, Please clarify if its okay.
Thanks:)

![screen shot 2017-04-27 at 6 37 59 pm](https://cloud.githubusercontent.com/assets/17094832/25485080/258a1fa2-2b7a-11e7-8efd-8d085eba97ee.png)

[2017-04-27 13:31] skprabhanjan opened #2184 "Reskin: Clicking on 'View Client' in uploading documents for a client navigates to a wrong page."
@santoshmath and @MexinaD, in uploading document page of a client, clicking the breadcrumb 'View Client' takes to an empty page, as the link it goes to is not correct.
Take a look here - https://demo.openmf.org#/addclientdocument/16

Attached the screenshot below( look at bottom left corner for url it goes to when clicked on 'view client')
Please clarify the issue, I will fix it as soon as it is c

[2017-04-27 13:58] santoshmath commented on #2184
@skprabhanjan , issue exists. Go ahead and fix it. :)

[2017-04-27 14:42] skprabhanjan commented on #2184
@santoshmath and @mbj36 , Its fixed , sent a PR #2185 , Please review:)
Thanks.

[2017-04-27 16:20] skprabhanjan commented on #2169
@santoshmath , Fixed this, sent a PR #2186 . Please verify.
Thanks:)

[2017-04-27 23:53] mbj36 commented on #1614
@santoshmath retest and close it

[2017-04-28 03:01] Anh3h commented on #2164
i left a PR and @mbj36 and mohit requested some changes which i already implemented. Nethertheless i this that PR won't be valid again. So I will just check out again an do a clean PR.
thanks :)

[2017-04-28 04:30] santoshmath commented on #2168
@wmay1991 Created issue on platform side: https://issues.apache.org/jira/browse/FINERACT-439

[2017-04-28 05:22] santoshmath commented on #2162
@MexinaD , sorry for delayed reply. I think it's better to work on new_reskin branch

[2017-04-28 05:24] santoshmath commented on #2022
@skprabhanjan , it's still open.

[2017-04-28 05:36] santoshmath commented on #2036
This issue is fixed.

[2017-04-28 05:36] #2036 closed

[2017-04-28 05:39] skprabhanjan commented on #2022
@santoshmath, okay I will fix this and send a PR soon :)

[2017-04-28 05:40] santoshmath opened #2187 "Reskin: In Create Group page, hovering mouse on 'x'(remove client) shows 'create group'"
1. Go to Groups and click on '+Create Group'.
2. Enter the inputs and add one or two clients
3. After adding , when you hover mouse on 'x' button('remove client from group' button) it is displaying 'Create Group' in stead of 'Remove Client'.

![reskin](https://cloud.githubusercontent.com/assets/23022667/25515581/2992cbe2-2c03-11e7-8ee4-29e40c3d387d.png)

[2017-04-28 08:08] skprabhanjan commented on #2187
@santoshmath , It exists for all the buttons , 'Add', 'Cancel','Submit' and 'x', I have fixed all of these and sent a PR #2188 , Please verify.
Thanks:)

[2017-04-28 09:01] santoshmath commented on #2187
@skprabhanjan Thank you.

[2017-04-28 11:45] Anh3h commented on #2164
I made a new clean PR. here is a link please check it out: https://github.com/openMF/community-app/pull/2189

[2017-05-03 19:11] mbj36 commented on #2164
@santoshmath retest and close it

[2017-05-03 19:14] mbj36 commented on #2166
@santoshmath retest and close it

[2017-05-03 19:18] mbj36 commented on #2042
@santoshmath There is no such bug in new_reskin. I am unable to reproduce

[2017-05-03 19:26] mbj36 commented on #1965
@santoshmath retest and close it

[2017-05-03 19:32] mbj36 commented on #2175
@santoshmath retest and close it

[2017-05-03 20:38] mbj36 commented on #2120
@santoshmath checkout and close it

[2017-05-04 00:17] mbj36 commented on #2184
@santoshmath retest and close it

[2017-05-04 00:33] mbj36 commented on #2035
@santoshmath We can close this as of now with present solution

[2017-05-04 01:28] makeraset opened #2192 "Installment fee per loan outstanding not available"
Current practice in Cambodia we separate accrued income as two:

**1. Accrued interest receivable (AIR)**
I=PxR/360xN
I: Interest
P: Loan outstanding
R: Annual interest rate
N: Number of day
Action: Do loan classification per aging, No provision on AIR
**2. Accrued fee receivable (AFR)**
F: PxR/360xN
F: Installment fee per outstanding
P: Loan outstanding
R: Annual fee rate
N: Number of day
Action:

[2017-05-04 02:08] avikganguly01 commented on #2169
This is a validation which has more to do with ensuring that there is no loss of data.
IF and only IF this requirement needs to be met, a validation like this can be added to the backend -
[code]
If validation returns false, column can be deleted.

[2017-05-04 05:18] santoshmath commented on #2164
Tested it on  5/4/2017 on new_reskin branch and this issue is resolved.

[2017-05-04 05:18] #2164 closed

[2017-05-04 05:45] santoshmath commented on #2166
Tested it on 4/5/2017 on new_reskin branch and this issue is resolved.

[2017-05-04 05:45] #2166 closed

[2017-05-04 05:53] santoshmath commented on #2042
Hi @mbj36 , This is the  regression issue  of reskin. This issue still exists.
1. Create a group and activate it. Go to 'More' and click on 'Attach meeting'. provide the inputs and submit.
2. Once you attach meeting ,it will show on group page. Then if you go to 'More' on group page, 'Attach meeting' is still getting displayed.
Check here. https://demo.openmf.org/newbeta/#/viewgroup/739.
Meeting i

[2017-05-04 06:12] santoshmath commented on #1965
Just clear the  cache in browser.

[2017-05-04 06:12] #1965 closed

[2017-05-04 06:15] santoshmath commented on #2175
Tested it on 4/5/2017 on new_reskin branch. This issue is fixed.

[2017-05-04 06:15] #2175 closed

[2017-05-04 06:20] santoshmath commented on #2120
Tested it on 4/5/2017 on new_reskin branch and this issue is fixed.

[2017-05-04 06:20] #2120 closed

[2017-05-04 06:24] santoshmath commented on #2184
Tested  it on 4/5/2017 on new_reskin branch. This issue is resolved.

[2017-05-04 06:24] #2184 closed

[2017-05-04 06:33] #2035 closed

[2017-05-04 06:56] santoshmath commented on #2130
Tested it on new_reskin branch. This issue is resolved.

[2017-05-04 06:56] #2130 closed

[2017-05-04 07:03] santoshmath commented on #1615
Tested it on demo(newbeta). It  is resolved.

[2017-05-04 07:03] #1615 closed

[2017-05-04 07:08] santoshmath commented on #1616
@avikganguly01 , @mbj36 , Do you think it's front end issue too?

[2017-05-04 09:14] kamdjouduplex commented on #1967
Please I just want to be sure that, you have rebuild the production package of a working local of this and put it on the server and it was still not working?

[2017-05-04 09:22] santoshmath commented on #1967
@kamdjouduplex , I mailed you regarding this and tagged @mbj36 .

[2017-05-04 09:24] MexinaD opened #2193 "Reskin&oldSkin: Wrong error when you run individual collection sheet which has no repayment at the specified date"
1. In the navigation bar, click "Individual collection sheet"
2. Select any branch, then fill any date that you know there is no repayment of any client at that date
3. Click the "collection sheet" button
The error given is for collection sheet of groups and not individual collection sheet.

![collectionsheet](https://cloud.githubusercontent.com/assets/8160209/25697669/821189be-30c4-11e7-87ce-dbf5

[2017-05-04 10:05] santoshmath commented on #2192
@makeraset , will you add this question here: http://mifos.cloud.answerhub.com/index.html  ??

[2017-05-04 10:16] santoshmath opened #2194 "Reskin: In Create charge page, "Charge Time Type" drop-down is displaying improper wordings."
Go to Admin>Products>Charges and click on "Create Charge"  and click on drop-down of the label 'Charge time type".

Reskin:

![reskin](https://cloud.githubusercontent.com/assets/23022667/25699421/ba551efa-30e0-11e7-8838-fd9ddcd7e97c.png)

without Reskin:

![demo](https://cloud.githubusercontent.com/assets/23022667/25699432/c4597d88-30e0-11e7-99cf-d22fb77e9e9b.png)

[2017-05-04 10:49] santoshmath opened #2195 "Reskin: "Open Saving Account" shouldn't be shown on Client's Edit page"
"Open Saving Account" should  be shown only  while client's create page and not on client's edit  page.

![reskin](https://cloud.githubusercontent.com/assets/23022667/25700436/6191c73c-30e5-11e7-8db4-8b1d4bcf7766.png)

[2017-05-04 11:16] santoshmath opened #2196 "Reskin: View Journal Entry Button is missing for each transaction in Transaction tab."
1. Disburse a loan for a client.
2. In loan account , click on Transactions tab
3.  At the end of each  transaction , there should be a 'View Journal Entry'  button.

Without reskin:

![demo](https://cloud.githubusercontent.com/assets/23022667/25701222/138e464c-30e9-11e7-8179-96a297946fe3.png)

With Reskin:
![reskin](https://cloud.githubusercontent.com/assets/23022667/25701230/20fede4a-30e9-11e7-9

[2017-05-04 11:22] santoshmath opened #2197 "Reskin: 'View Receipt' is blurred when you hover mouse on any transaction in Transaction tab"
1. Disburse a loan for a client.
2. In loan account , click on Transactions tab
3. Hover mouse on any transaction and try to click on View receipt button.

Without reskin:
![demo](https://cloud.githubusercontent.com/assets/23022667/25701412/ece21fea-30e9-11e7-89f5-a04730541750.png)

With Reskin:
![reskin](https://cloud.githubusercontent.com/assets/23022667/25701425/f6175134-30e9-11e7-88ad-10e10021

[2017-05-04 13:11] wmay1991 commented on #2194
I can take a look at this.

[2017-05-04 13:12] wmay1991 commented on #2195
I can look into this.

[2017-05-04 14:46] mbj36 commented on #2042
Agreed @santoshmath I found out the issue

[2017-05-04 16:45] wmay1991 commented on #2194
I just did a PR for this.

[2017-05-04 17:14] wmay1991 commented on #2195
Create a PR for this

[2017-05-05 02:45] Anh3h commented on #2196
I will to work on this please

[2017-05-05 05:07] santoshmath opened #2202 "Reskin: Upload loan document is not working."
1.Go to any  client and click on the loan account. And then click on loan documents.
2. Then click 'Upload' button. Provide name, choose file and click 'Submit' button.

![reskin](https://cloud.githubusercontent.com/assets/23022667/25734264/ccb50dfa-317e-11e7-9830-e1e32752d287.png)

[2017-05-05 05:41] #1840 closed

[2017-05-05 05:41] #1839 closed

[2017-05-05 05:52] santoshmath commented on #1817
I think it requires to resolve from both  back-end  and front-end.

[2017-05-05 06:05] #1801 closed

[2017-05-05 06:25] santoshmath commented on #1786
@anu-007 , Do you expect  it should  be  aligned just like other options?

[2017-05-05 06:27] santoshmath commented on #1750
This issue is resolved in back-end side. Fineract-333.

[2017-05-05 06:27] #1750 closed

[2017-05-05 06:29] santoshmath commented on #1749
Duplicate of #1920

[2017-05-05 06:29] #1749 closed

[2017-05-05 06:32] santoshmath commented on #1742
This issue is resolved at back-end side. Fineract-333

[2017-05-05 06:48] anu-007 commented on #1786
@santoshmath yes it would be great if it is aligned   like other options.

[2017-05-05 09:56] Agnessy opened #2203 "Reskin:Submit button not working when editing product mix"
Go to Products > Product Mix> Add
after submitting , try to edit

[2017-05-05 10:53] santoshmath commented on #2203
Hi @Agnessy , I am unable to reproduce the issue. I am able  to add  product  mix and also I can edit and submit it. Did you check with latest code from new_reskin branch?

[2017-05-05 11:21] santoshmath commented on #1740
Not  reproducible.

[2017-05-05 11:21] #1740 closed

[2017-05-05 11:45] santoshmath commented on #1739
It was related to configuration grace on penalty  posting and penalty wait period .

[2017-05-05 11:45] #1739 closed

[2017-05-05 12:02] santoshmath commented on #1729
It's normal behavior that once charge is applied to Loan it can not be changed to others like Savings or client,etc. It's not an issue.

[2017-05-05 12:02] #1729 closed

[2017-05-05 12:09] #1728 closed

[2017-05-05 12:14] santoshmath commented on #1726
Tested it on Mozilla Firefox.  This issue doesn't  exist.

[2017-05-05 12:14] #1726 closed

[2017-05-05 12:25] santoshmath commented on #1798
@MexinaD , the error message should be
"Select any one of the below options before submitting:
"Change Repayment Date",
"Introduce Mid-term Grace Period",
 "Extend Repayment Period"
 "Adjust Interest rate for the remainder of loan"

[2017-05-06 00:35] mbj36 commented on #2203
@santoshmath Could you confirm the above issue ?

[2017-05-06 00:40] mbj36 commented on #2202
@gkrishnan724

[2017-05-06 08:32] gkrishnan724 commented on #2202
I'll take a look at this

[2017-05-07 13:00] MexinaD commented on #1798
@santoshmath Yeah, that error is understandable

[2017-05-08 07:19] MexinaD opened #2206 "Reskin - Can not fetch all names when creating guarantor which is existing client"
1. Create a client and apply a loan
2. View the loan and in the "more" button select "create guarantor"
On filling the name of the client in the field of "name" with "Existing client" selected, other names are not fetched.
At https://demo.openmf.org/newbeta/ i tested with client "Aisha Hammad"
![fetchname](https://cloud.githubusercontent.com/assets/8160209/25793888/2c554400-33d7-11e7-9d34-0c932994

[2017-05-08 07:58] MexinaD opened #2207 "Reskin - When the loan is overpaid, in the profile of the client it has a link for disburse"
1. Apply a loan to an active client
2. Approve, Disburse and make repayment by amount greater than the loan
In the profile of a client, the loan which is overpaid has a link to "disburse" instead of having a link to "transfer funds"

![overpayment](https://cloud.githubusercontent.com/assets/8160209/25795253/3d16879e-33dd-11e7-9e41-bbf5f46fa84a.png)

![overpay](https://cloud.githubusercontent.com/a

[2017-05-08 08:39] Agnessy opened #2208 "Reskin: Edit Center page is not showing proper labels"
Go to Center, Create a center then click edit
Without Reskin

![cntr2](https://cloud.githubusercontent.com/assets/13551795/25795596/bc102ca2-33de-11e7-93c3-12aa4b959cd8.png)
With Reskin
![cntr3](https://cloud.githubusercontent.com/assets/13551795/25796587/bc4aa6a8-33e2-11e7-8eaf-17caf2acfd0c.png)

[2017-05-09 05:28] santoshmath opened #2210 "Reskin&oldSkin: Improper Label on Create Client Page"
Please Check the screenshot.

![reskin](https://cloud.githubusercontent.com/assets/23022667/25836684/732e10ee-34a6-11e7-9130-53c63979bcb6.png)

[2017-05-09 05:31] santoshmath commented on #2203
@Agnessy , I am not sure. Let's keep this issue open then.

[2017-05-09 21:50] Anh3h commented on #2208
Will look into this please

[2017-05-10 04:07] #1787 closed

[2017-05-10 04:15] #1618 closed

[2017-05-10 06:22] DanCarl857 commented on #2181
Hi, I am not able to reproduce this in the new_skin

[2017-05-10 06:28] mbj36 commented on #2181
@DanCarl857 Open the left nav bar, there is Checker inbox & tasks, there you will find

[2017-05-10 06:32] santoshmath commented on #1992
Tested it  on 10/5/2017 on new_reskin branch. This issue is fixed.

[2017-05-10 06:32] #1992 closed

[2017-05-10 06:36] santoshmath opened #2219 "In 'Edit Report page', Report type is not properly aligned."
Go to Admin>System>Manage Reports. And select any report and click on Edit button.

Without Reskin:

![demo](https://cloud.githubusercontent.com/assets/23022667/25885973/0bf8ab0e-3579-11e7-8a7e-5bbcb0de1205.png)

With Reskin:

![reskin](https://cloud.githubusercontent.com/assets/23022667/25885976/165a8464-3579-11e7-97a0-9f7e1620a474.png)

[2017-05-10 07:04] DanCarl857 commented on #2041
So should I redo what I did? Because no one got back to me on downgrading the charting libraries @santoshmath @mbj36

[2017-05-10 07:06] DanCarl857 commented on #2161
https://github.com/openMF/community-app/pull/2220

[2017-05-10 07:19] DanCarl857 commented on #2041
@mbj36 this is what I sent: https://github.com/openMF/community-app/pull/2070 and you said you had to discuss with Guarav on it

[2017-05-10 07:47] DanCarl857 commented on #1725
Fixed this. Will send PR once issue with Travis CI is fixed. Here is the screenshot:
![screen shot 2017-05-10 at 8 43 06 am](https://cloud.githubusercontent.com/assets/9010142/25888220/399080ee-355d-11e7-8add-d4669bef9b38.png)

[2017-05-10 07:48] DanCarl857 commented on #2210
PR: https://github.com/openMF/community-app/pull/2214

[2017-05-11 09:13] MexinaD commented on #2210
I couldn't find this in the latest new_reskin branch

[2017-05-11 10:03] MexinaD opened #2223 "Reskin - The transactions are not recorded when you write-off and when you recover the repayment"
1. In active loan, view the loan and go to More
2. Write-off the whole loan amount

In reskined
![writeoff](https://cloud.githubusercontent.com/assets/8160209/25943809/d1b6f596-3649-11e7-9edf-97f179694efe.png)

In community-app
![writeoff1](https://cloud.githubusercontent.com/assets/8160209/25943829/deb1611e-3649-11e7-9f89-71693c47e7c6.png)

And after write-off, when you recover the repayment
In r

[2017-05-11 10:16] santoshmath commented on #2210
@MexinaD ,  it  is  part of  next release. I tested it locally in my machine and found it.  Related issue:
https://issues.apache.org/jira/browse/FINERACT-228

[2017-05-11 10:40] MexinaD opened #2225 "Reskin&Oldskin - After the repayment recovery of written-off loan, the "recovery repayment" button is still available"
When you write-off the loan, the loan appear with the button for repayment recovery
When you recover the repayment of the whole loan amount, the button should be removed.
But for now, the button is still there which lead for a user to be able to do many recovery more than the loan amount

In the reskined
![recovery](https://cloud.githubusercontent.com/assets/8160209/25945356/3d9d7442-364f-11e7-939

[2017-05-11 10:45] MexinaD commented on #2210
Okay @santoshmath

[2017-05-11 11:46] DanCarl857 commented on #2210
@MexinaD you don't even see that label in the branch. So the fix adds it if its not there or fixes the label if its there. @santoshmath please take a look at the fix

[2017-05-11 12:02] santoshmath commented on #2210
@mbj36 , FYI

[2017-05-12 17:22] austinmarcum commented on #1798
I can tackle this.

[2017-05-12 18:29] sed8908 commented on #2219
I'd be happy to take a look at this.

[2017-05-12 20:43] dklamar commented on #2197
I'll work on this

[2017-05-13 09:20] gkrishnan724 commented on #2091
It seems the jquery code which is supposed to make the affix is not working:
[code]
I also noticed that the window scroll event is not firing properly, hence I tried to replace it by `angular.element($window).bind("scroll")` which also did not fire properly.
Another thing is, the scroll events worked on the login page but did not work when the view was loaded.

[2017-05-15 02:52] santoshmath commented on #2091
@mbj36, @gkrishnan724 ,  is it resolvable?

[2017-05-15 03:20] mdew192837 commented on #2219
I seem to have fixed it, will make pull request when Travis is up and running.

I committed on this branch. https://github.com/mdew192837/community-app/tree/2219EditReport

Screenshot is attached:
![screen shot 2017-05-14 at 9 46 38 pm](https://cloud.githubusercontent.com/assets/6820349/26041587/946eb9c4-38f3-11e7-9e1b-754f268f06f1.jpg)

[2017-05-15 03:33] santoshmath commented on #2219
@mbj36, FYI

[2017-05-15 09:41] Agnessy opened #2231 "Reskin:"Events" details is not properly aligned in Manage Hooks"
Go to System>Manage Hooks>Create Hook
After submit, The "Events" details is not properly aligned.
Without Reskin
![mhh1](https://cloud.githubusercontent.com/assets/13551795/26051380/ab744dc4-396a-11e7-8096-e172c1b1bb86.png)
With Reskin
![mh2](https://cloud.githubusercontent.com/assets/13551795/26051487/03bc4a54-396b-11e7-8418-6a233c28372b.png)

[2017-05-15 10:19] MexinaD commented on #2231
The issue is fixed at #2232

[2017-05-15 11:15] mdew192837 commented on #2219
Update: The proper fix is https://github.com/mdew192837/community-app/tree/Fix2219. Commit 53d4281

[2017-05-16 03:28] mbj36 commented on #2210
@santoshmath Is this issue exists in old skin ? I don't see any label box in new_reskin , please be more clear about the issue

[2017-05-16 03:36] mbj36 commented on #2195
@santoshmath retest and close it

[2017-05-16 03:39] santoshmath commented on #2210
@mbj36, this bug is related to new feature and this new feature is available with next release. @DanCarl857 said in previous comment that his fix would resolve this bug after the release. That's why i told you to verify it.  :)

[2017-05-16 03:45] mbj36 commented on #2210
@santoshmath Retest and close it

[2017-05-16 04:01] #2210 closed

[2017-05-16 04:08] santoshmath commented on #2195
Tested  it on 16/5/2017 on new_reskin branch. This issue is fixed.

[2017-05-16 04:08] #2195 closed

[2017-05-16 07:56] mbj36 commented on #2231
@santoshmath Retest and close it

[2017-05-16 08:07] mbj36 commented on #2194
@santoshmath retest and close it

[2017-05-16 09:52] #2231 closed

[2017-05-16 09:54] santoshmath commented on #2194
Tested it on 16/5/2017  on new_reskin  branch and this issue is resolved.

[2017-05-16 09:54] #2194 closed

[2017-05-17 03:51] santoshmath commented on #2203
Tested it on 17/5/2017 on new_reskin branch. This issue is resolved.

[2017-05-17 03:51] #2203 closed

[2017-05-17 03:53] santoshmath commented on #2192
This is doubt/query rather than issue. Closing it.

[2017-05-17 03:53] #2192 closed

[2017-05-17 04:04] santoshmath commented on #2219
@mbj36, FYI

[2017-05-17 04:28] mbj36 commented on #2219
@santoshmath retest and close it

On 17 May 2017 9:34 am, "Santosh Math" <notifications@github.com> wrote:

[2017-05-17 04:50] #2219 closed

[2017-05-17 08:46] Agnessy opened #2247 "Reskin:"Edit Share Product" page is showing "Create Share Product" heading"
Go to Admin>Products>Share Products>Create Share Product
After submit, try to edit it.
"Edit Share Product" page is showing "Create Share Product"  heading, instead of Edit Share Product
![sp](https://cloud.githubusercontent.com/assets/13551795/26145439/13a12be8-3af5-11e7-81dd-2277b6b8207e.png)
This issue exists in old skin and also in reskin.

[2017-05-17 10:19] MexinaD commented on #2247
Will work on this in new_reskin

[2017-05-19 10:52] mbj36 commented on #2160
@santoshmath This is a great feature implemented by @gkrishnan724 , Please have a look, retest and close it

[2017-05-25 13:19] mbj36 commented on #1967
@santoshmath This major issue is resolved

[2017-05-25 15:20] mbj36 commented on #1967
Tested on newbeta and issue is resolved

[2017-05-25 15:20] #1967 closed

[2017-05-26 09:53] gkrishnan724 commented on #2162
@santoshmath I have sent a PR for this https://github.com/openMF/community-app/pull/2253

[2017-05-26 14:25] santoshmath commented on #2160
Tested it. This improvement really working fine.

[2017-05-26 14:25] #2160 closed

[2017-05-26 14:28] santoshmath commented on #2162
@mbj36, check the PR #2253 and let me know.

[2017-05-26 14:43] santoshconflux opened #2254 "Report: Loan Provision Report Enhancement"
https://mifosforge.jira.com/browse/MIFOSX-2643(see attachments in this link)

Can the table report in the community-app be make in such a way that when you click on provision category it then shows all the loans with the following details:
Loan Acc #, No. of days overdue, Loan Balance, Overdue Balance, Interest, Amount

[2017-05-28 15:04] gkrishnan724 commented on #2207
@MexinaD @santoshmath I can remove the disburse button if the loan is overpaid. but should I also include a button for transfer funds? I just want to know, if a loan is overpaid would there be always an option to transfer funds? and I guess the permissions would be same as `DISBURSE_LOAN`

[2017-05-28 16:51] gkrishnan724 commented on #2207
@santoshmath I have created a PR #2255

[2017-05-29 05:17] santoshmath commented on #2207
@mbj36 FYI

[2017-05-29 16:49] Mastermaulik commented on #1738
@botraunak Please look into this issue

[2017-05-29 16:50] Mastermaulik commented on #1786
@gkrishnan724 Please look into this issue

[2017-05-29 16:50] Mastermaulik commented on #2161
@mbj36 Please look into this issue

[2017-05-29 16:50] Mastermaulik commented on #2159
@gkrishnan724 Please look into this issue

[2017-05-29 16:51] Mastermaulik commented on #1798
@botraunak , please look into this issue.

[2017-05-29 16:51] Mastermaulik commented on #2225
@mbj36 Please look into this issue

[2017-05-29 16:53] Mastermaulik commented on #2223
@gkrishnan724 Please look into this

[2017-05-29 16:54] Mastermaulik commented on #2091
@gkrishnan724 @mbj36 ,please provide a status update on this

[2017-05-29 16:55] Mastermaulik commented on #2208
@Anh3h , please look into this matter and provide a status update

[2017-05-29 16:55] Mastermaulik commented on #2206
@botraunak Please look into this issue

[2017-05-29 16:56] Mastermaulik commented on #1802
@Anh3h Can you pick you pickup this issue?

[2017-05-29 16:56] Mastermaulik commented on #1725
@DanCarl857 Please send a PR now, @mbj36 can you please look into this?

[2017-05-29 16:56] Mastermaulik commented on #1727
@botraunak Please look into this matter

[2017-05-29 16:58] Mastermaulik commented on #1737
@mbj36 Please look into this.

[2017-05-29 16:58] Mastermaulik commented on #1732
@botraunak Please look into this issue

[2017-05-29 16:59] Mastermaulik commented on #1735
@Anh3h Please look into this issue

[2017-05-29 16:59] Mastermaulik commented on #1742
@mbj36 Please provide some status on this issue

[2017-05-29 17:01] Mastermaulik commented on #2207
@mbj36 Please look into this PR

[2017-05-29 17:02] Mastermaulik commented on #2168
@wmay1991 can you please work on this. @mbj36 Please look into this issue.

[2017-05-29 17:02] Mastermaulik commented on #1806
@gkrishnan724 @santoshmath Please provide details about the required fields so that gopala can start working on this.

[2017-05-29 18:13] mbj36 commented on #2208
This issue is resolved

[2017-05-29 18:13] #2208 closed

[2017-05-29 18:30] mbj36 commented on #1786
Tested and Fixed

[2017-05-29 18:30] #1786 closed

[2017-05-29 19:29] mbj36 commented on #2162
When the loan is approved, it still shows the Assign loan officer , please have a look

[2017-05-30 04:27] botraunak commented on #1738
@santoshmath Can you tell me the details to enter in the form to retrieve collection sheet. I'm getting empty results.

[2017-05-30 04:51] santoshmath commented on #1738
@botraunak , Collection sheet is for JLG loan. Disburse JLG loan for any three in the group. And then provide next repayment date in collection sheet with group name, office name, etc.

[2017-05-30 04:59] santoshmath commented on #1806
@Mastermaulik , according reporter of this issue, we need asterisks for 'Address Type' and 'Street' fields only. Not entering any values in these fields yields validation error.

[2017-05-30 05:16] gkrishnan724 commented on #2162
@santoshmath I have a question here, when we click on change loan officer, should we also record the unassigned date of the previously assigned loan officer?

[2017-05-30 05:18] santoshmath commented on #2162
@gkrishnan724 , No. It's all about label. If no loan officer assigned, the label should be 'Assign Loan Officer'. If loan officer already assigned and want to change, then label should be 'Change Loan Officer'.

[2017-05-30 05:19] gkrishnan724 commented on #2162
I am asking this because, when a loan is approved and a loan officer is assigned previously, there is no option to assign the loan officer again since you have to unassign the previously assigned loan officer. Then only an option comes

[2017-05-30 05:22] Anh3h commented on #2202
@gkrishnan724 are you still looking into this issue?
If not I will like to look into it :)

[2017-05-30 05:26] mbj36 commented on #2202
Go ahead @Anh3h

[2017-05-30 05:28] gkrishnan724 commented on #2162
I don't see anything in the user manual for being able to change the loan officer. I think this is a bug, since the option of assigning loan officer should not be there when the previous loan officer is not unassigned, what do you think? This scenario however, is working fine when the loan is approved ( There is no button to assign loan officer because loan officer is already assigned ) see the sc

[2017-05-30 05:32] santoshmath commented on #2162
@gkrishnan724 , check the following screenshot. After Loan is 'Approved'(or even after 'Submitted', you can see it on 'More') with assigned loan officer, you can see the label 'Assign Loan Officer'. All we need is the label 'Change Loan Officer' in this case.

![reskin](https://cloud.githubusercontent.com/assets/23022667/26569299/68f68c6e-4527-11e7-8858-61f7b79cf1cc.png)

In your example , it is t

[2017-05-30 05:33] gkrishnan724 commented on #2162
Oh okay! Thanks, I understood the problem :)

[2017-05-30 06:46] gkrishnan724 commented on #2202
@Anh3h Go Ahead, If you find the problem please resolve it in these pages too:
-Upload Client Image
-Upload Client Signature
-Upload Client Documents

I guess all of them have the same problem :)

[2017-05-30 08:34] Ippezrobert opened #2261 "Jobs Scheduler UI improvement using Progress Bar"
Currently, in the community-app, if you want to know if all selected jobs have been run, you need to refresh to see if status is running or not. This is not sometimes frustrating since as an admin, i need to run all jobs daily before doing closing entry (Closing books of accounts) in a way that its kind of hard to know if jobs are completed. So its better we introduce progress bar to show status.

[2017-05-30 10:19] botraunak commented on #1868
Same issue reported here.
 [https://github.com/openMF/community-app/issues/2206](https://github.com/openMF/community-app/issues/2206)

@santoshmath Sent a PR on that issue.

[2017-05-30 10:24] santoshmath commented on #2206
@MexinaD , I am closing this as it's already reported here: #1868

[2017-05-30 10:24] #2206 closed

[2017-05-30 10:28] gkrishnan724 commented on #2261
https://github.com/openMF/community-app/issues/1861 @Ippezrobert this is duplicated, an issue is already created.

[2017-05-30 10:46] santoshmath commented on #1861
Originally reported here: https://mifosforge.jira.com/browse/MIFOSX-2703

[2017-05-30 10:48] botraunak commented on #1738
Is this not the expected output? @santoshmath ?
Old Skin:
![screen shot 2017-05-30 at 4 16 07 pm](https://cloud.githubusercontent.com/assets/7816559/26579900/7e787b66-4553-11e7-8a69-949d53be2b40.png)
Reskin:
![screen shot 2017-05-30 at 4 15 28 pm](https://cloud.githubusercontent.com/assets/7816559/26579905/814c955c-4553-11e7-9b0f-81a9fb03b42b.png)

[2017-05-30 10:50] botraunak commented on #1738
I'm getting this on retrying the steps is this not the expected output?
![screen shot 2017-05-30 at 4 16 07 pm](https://cloud.githubusercontent.com/assets/7816559/26579989/d116f4d8-4553-11e7-8eb1-b6464e616ad0.png)

[2017-05-30 10:51] santoshmath commented on #1738
@botraunak , little alignment issue still exist in old skin(after Group Total) and more alignment issue is there on reskin.

[2017-05-30 10:53] botraunak commented on #1738
@santoshmath Okay I'll work on the alignment issues 👍

[2017-05-30 12:00] botraunak commented on #1738
Current Reskin
![screen shot 2017-05-30 at 5 29 18 pm](https://cloud.githubusercontent.com/assets/7816559/26582138/91018872-455d-11e7-9678-6d4421cffadd.png)

Proposed Reskin
![screen shot 2017-05-30 at 5 23 58 pm](https://cloud.githubusercontent.com/assets/7816559/26582147/9efbfbce-455d-11e7-90d2-6404ffaad4b3.png)

@santoshmath Let me know if this alignment looks fine to you I'll send a PR for the

[2017-05-30 12:02] santoshmath commented on #1738
@botraunak , Alignments looks good . Send the PR.

[2017-05-30 13:21] DanCarl857 commented on #1725
Already did but here is the link: https://github.com/openMF/community-app/pull/2236

[2017-05-30 13:22] DanCarl857 commented on #2193
PR: https://github.com/openMF/community-app/pull/2238

[2017-05-30 13:26] Mastermaulik commented on #1969
@Anh3h Please look into this issue

[2017-05-30 13:27] Mastermaulik commented on #1906
@Anh3h Please look into this

[2017-05-30 13:28] Mastermaulik commented on #1866
@mbj36 Please look into this issue

[2017-05-30 13:29] Mastermaulik commented on #1835
@Anh3h Please look into this issue

[2017-05-30 13:32] Mastermaulik commented on #2225
@botraunak Can you help?

[2017-05-30 17:36] gkrishnan724 commented on #1971
@mbj36  PR https://github.com/openMF/community-app/pull/2076  has been sent for this issue from @TechnicaVoyage  Please review it

[2017-05-30 22:09] Anh3h commented on #1906
Please have some problems implementing this issue. Could you be more explicit ?

[2017-05-31 04:00] botraunak commented on #1732
This is JSON posted to the API, correct currency codes are sent to the server and can be verified as the summary shows appropriate results. `{
    "txnDate":"31 May 2017",
    "currencyCode":"AFN",
    "txnAmount":"100",
    "txnNote":"test",
    "locale":"en",
    "dateFormat":"dd MMMM yyyy"
}`

The journal entries are created I guess automatically for the API endpoint. See Doc Link attached. [ht

[2017-05-31 04:16] santoshmath commented on #1906
This issue has priority  2(p2) label. First we need to deal with priority 1 issues(p1) https://github.com/openMF/community-app/labels/p1

[2017-05-31 05:31] santoshmath commented on #1737
Duplicate of #1616 which is still open. Closing this issue.

[2017-05-31 05:31] #1737 closed

[2017-05-31 08:40] gkrishnan724 commented on #1821
Hi, I believe this is a back end issue since form validations are done in the back-end. I guess this issue should be reported to Fineract. @mbj36 @Mastermaulik

[2017-05-31 11:16] mbj36 commented on #1821
@santoshmath

[2017-05-31 12:20] santoshmath opened #2269 "Reskin&oldSkin: Preview feature for uploaded document"
Enhance Request by Boniphace Fredrick
Original Description:
Currently the system allows to upload a document and once you want to view it again there is only one option ie, to download it.
This act can probably violate client's privacy( ie, client information vulnerability) for example if a user(eg. Loan officer) uses somebody computer to access system, so there is possibility he/she can download

[2017-06-01 02:37] tonic889 commented on #1863
@edcable I'd like to take this up.  I assume I should do this in the reskin branch?

[2017-06-01 03:41] mbj36 commented on #1863
@tonic889 Go ahead and do it in new_reskin branch

[2017-06-01 05:09] Anh3h commented on #2202
yea.
I managed to fix one of the issue which was the file not uploading properly. I will send the PR but the also exist a 500 error. So I think that should be a fineract issue

[2017-06-01 05:44] santoshmath commented on #1821
@MexinaD , this issue is related to fineract and already raised here as  reported by you.
https://issues.apache.org/jira/browse/FINERACT-388

Closing here

[2017-06-01 05:44] #1821 closed

[2017-06-01 05:57] Anh3h commented on #2042
Does this issue still persist?
I followed the step @santoshmath described but I don't see this issue

[2017-06-01 06:22] santoshmath commented on #2042
@Anh3h , this issue still exists. Try again. it's simple to notice or ping me on hangout

[2017-06-01 06:38] gkrishnan724 commented on #2202
Yeah, I guess its a server side error It's not working in the old-skin either.

[2017-06-01 06:49] santoshmath commented on #2202
@gkrishnan724 , uploading loan document is working in old skin. But I am not sure why it's not working on demo instance. It's working on UAT instance and also latest code from apache/develop branch

[2017-06-01 07:03] gkrishnan724 commented on #2202
Yeah It is working, my bad I just checked it on localhost now.

[2017-06-01 08:49] Anh3h commented on #2202
@santoshmath On my localhost it doesn't work
![osl](https://cloud.githubusercontent.com/assets/20562458/26672018/7b499e36-46af-11e7-9d8b-b600ad91b80a.png)

Same in the demo instance
![osd](https://cloud.githubusercontent.com/assets/20562458/26672027/86ee2cc0-46af-11e7-8b42-d3a72c99d2a7.png)

[2017-06-01 10:54] gkrishnan724 commented on #2202
Well, it does not work when the API URL is `demo.openmf.org` but it works when you have the platform locally installed.
Old Skin (Working):
![desktop-animation](https://cloud.githubusercontent.com/assets/21004514/26676763/cbb7622c-46e6-11e7-8fb7-9f7b1f2fa7d7.gif)

[2017-06-01 10:55] gkrishnan724 commented on #2202
But the same platform in new skin is not working: So this may be a client side issue I guess
![reskin](https://cloud.githubusercontent.com/assets/21004514/26676788/e3b638c6-46e6-11e7-899a-359cc9638924.gif)

[2017-06-01 22:22] mbj36 commented on #2197
@santoshmath retest and close it

[2017-06-01 22:23] mbj36 commented on #2196
@santoshmath  retest and close it

[2017-06-02 04:58] santoshmath commented on #2197
Tested it on 2/6/2017 and this issue  is resolved

[2017-06-02 04:58] #2197 closed

[2017-06-02 05:00] santoshmath commented on #2196
Tested it on 2/6/2017 on new_reskin branch. This issue is  fixed.

[2017-06-02 05:00] #2196 closed

[2017-06-02 06:52] gkrishnan724 commented on #2225
@MexinaD @santoshmath What should be there after the repayment has been recovered? Should the button be hidden?

[2017-06-02 06:56] mbj36 commented on #1738
@santoshmath retest and close it

[2017-06-02 07:08] #1738 closed

[2017-06-02 07:23] mbj36 commented on #2091
@santoshmath Retest and close it

[2017-06-02 07:30] mbj36 commented on #1868
@santoshmath retest and close it

[2017-06-02 07:46] mbj36 commented on #1822
@santoshmath retest and close it

[2017-06-02 08:50] santoshmath commented on #2091
Tested it on 2/6/2017  on new_reskin branch. This issue is  fixed.

[2017-06-02 08:50] #2091 closed

[2017-06-02 08:52] santoshmath commented on #1822
Tested it on 2/6/2017 on new_reskin branch. This issue is fixed.

[2017-06-02 08:52] #1822 closed

[2017-06-02 08:54] santoshmath commented on #1868
@Ippezrobert , Will you confirm this is resolved, swiftly?

[2017-06-02 09:18] santoshmath commented on #1868
As discussed with Robert on mail, this issue is resolved.

[2017-06-02 09:18] #1868 closed

[2017-06-02 11:57] mbj36 commented on #1806
@santoshmath retest and close it

[2017-06-02 12:03] santoshmath commented on #1806
Tested it on 2/6/2017 on new_reskin branch. This issue is fixed.

[2017-06-02 12:03] #1806 closed

[2017-06-02 12:57] Anh3h commented on #2042
@santoshmath Have seen the issue. I will take up this issue

[2017-06-02 13:07] gkrishnan724 commented on #2159
PR #2274 sent

[2017-06-02 13:08] gkrishnan724 commented on #2223
PR #2267

[2017-06-02 14:43] MegaAlex commented on #2202
Document and Image upload should be working on the demo instance now. S3 storage was enabled & not configured properly.

[2017-06-02 14:43] mbj36 commented on #2202
@santoshmath  retest and close it

[2017-06-02 15:10] mbj36 commented on #2162
@santoshmath retest and close it

[2017-06-02 15:29] mbj36 commented on #2042
@santoshmath retest and close it

[2017-06-02 15:46] mbj36 commented on #2133
@santoshmath retest and close it

[2017-06-02 18:18] edcable commented on #2269
@santoshmath I think this is a valuable enhancement but it's not critical or show-stopping enough to hold up the release. So I'm going to remove it from the TODO queue and it would be good for @gkrishnan724 to potentially pick up as part of this enhancements to web app project.

[2017-06-02 18:28] gkrishnan724 commented on #2269
Sure, I'll take this up :+1:

[2017-06-02 19:15] mbj36 commented on #1972
@santoshmath can you give more update on it ?

[2017-06-02 19:28] gkrishnan724 commented on #2161
Sent PR,  this issue exists in old skin too..

[2017-06-02 19:28] mbj36 commented on #2161
@santoshmath retest and close it

[2017-06-02 19:29] mbj36 commented on #1616
@botraunak Can you recheck ?

[2017-06-02 19:38] mbj36 commented on #2223
@santoshmath retest and close it

[2017-06-02 19:54] mbj36 commented on #2207
@santoshmath retest and close it

[2017-06-02 20:15] mbj36 commented on #1735
@santoshmath

[2017-06-02 20:15] mbj36 commented on #1835
@santoshmath retest and close it

[2017-06-02 20:15] mbj36 commented on #1969
@santoshmath retest and close it

[2017-06-02 20:49] Anh3h commented on #2247
Will look at this :)

[2017-06-02 21:28] Anh3h commented on #2247
@Mastermaulik PR looks good

[2017-06-03 01:11] tonic889 commented on #1863
Ok I'll take a look at this.  Please assign it to me.

[2017-06-03 05:56] botraunak commented on #1616
@mbj36 Yes the template should be returning `groupMemberOptions` as the available groups available for the creation of center. But this issue is still solvable from the front-end side. [#REF](https://demo.openmf.org/api-docs/apiLive.htm#centers_template)

[2017-06-05 03:33] #1969 closed

[2017-06-05 03:35] santoshmath commented on #1835
Tested it on 5/6/2017 on new_reskin branch. This issue is fixed.

[2017-06-05 03:35] #1835 closed

[2017-06-05 03:37] santoshmath commented on #1735
Tested it on 5/6/2017 on new_reskin branch. This  issue is resolved.

[2017-06-05 03:37] #1735 closed

[2017-06-05 03:41] santoshmath commented on #2207
Tested it on 5/6/2017 on new_reskin branch. This issue is fixed.

[2017-06-05 03:41] #2207 closed

[2017-06-05 03:45] santoshmath commented on #2223
Tested it on 5/6/2017 on new_reskin branch. This issue is fixed.

[2017-06-05 03:45] #2223 closed

[2017-06-05 03:52] santoshmath commented on #2161
Tested it on 5/6/2017 on new_reskin branch. This issue is fixed related to description.

[2017-06-05 03:52] #2161 closed

[2017-06-05 03:56] santoshmath commented on #1972
@mbj36, Create an user with Role and permissions related to loans (In Manage Roles and permissions, provide all permissions related to loan and loan reschedule, namely, Loan_reschedule, Portfolio and Loan transactions). Then, login with that user and try to reschedule loan. On Loan Reschedule page, 'Submit' button is not displaying.
This is critical issue.

[2017-06-05 03:58] santoshmath commented on #2133
Tested it  on 5/6/2017  on new_reskin branch. This issue is fixed.

[2017-06-05 03:58] #2133 closed

[2017-06-05 04:57] santoshmath commented on #2042
Tested it on 05/06/2017 on new_reskin release. This issue is fixed.

[2017-06-05 04:57] #2042 closed

[2017-06-05 05:29] santoshmath commented on #2162
Tested it on 5/6/2017 on new_reskin branch. This issue is fixed.

[2017-06-05 05:29] #2162 closed

[2017-06-05 05:53] mbj36 commented on #2247
@santoshmath

[2017-06-05 06:02] mbj36 commented on #1742
@santoshmath retest and close it

[2017-06-05 06:06] santoshmath commented on #2225
@gkrishnan724 , Yes 'Recovery Repayment' button should be hidden only after the required amount is recovered. Sometimes, recovery repayment is done in multiple times rather than one time. Hiding 'Recovery Repayment' should check whether all the amount is recovered or not.

[2017-06-05 06:08] santoshmath commented on #2247
Tested it on 5/6/2017 on new_reskin branch. This issue is fixed.

[2017-06-05 06:08] #2247 closed

[2017-06-05 06:13] santoshmath commented on #2202
Tested it on 5/6/2017 on new_reskin branch. This issue is fixed.

[2017-06-05 06:13] #2202 closed

[2017-06-05 06:27] mbj36 commented on #1798
@santoshmath

[2017-06-05 07:10] mbj36 commented on #2193
@santoshmath retest and close it

[2017-06-05 07:13] mbj36 commented on #1866
@santosh retest and close it

[2017-06-05 08:36] santoshmath commented on #1742
@mbj36 ,  now it's not showing any internal server error but  still it's not throwing any validation error like 'no clients in the  group'. I am not sure whether it's only back-end issue or both. For back-end issue has already been raised. @nazeer1100126 , please let us know .

[2017-06-05 09:16] mbj36 commented on #1836
@santoshmath

[2017-06-05 11:09] santoshmath commented on #1836
@mbj36 , This issue is not yet resolved. This issue exists for the user (not superuser, like 'mifos') other than superuser who has permissions Read Client, Read Loan and Foreclosure Loan

[2017-06-05 11:15] santoshmath commented on #1798
This issue is not yet resolved. Check the screenshot.:
![reschedule](https://cloud.githubusercontent.com/assets/23022667/26781874/5fdb4296-4a0e-11e7-9121-0cac2833c2a8.png)

[2017-06-05 11:53] santoshmath commented on #1836
This issue is resolved with latest code fetch.

[2017-06-05 11:53] #1836 closed

[2017-06-05 12:13] mbj36 commented on #1972
@santoshmath

[2017-06-05 12:19] santoshmath commented on #1972
Tested it on 5/6/2017 on new_reskin branch. This issue is fixed.

[2017-06-05 12:19] #1972 closed

[2017-06-05 12:36] mbj36 commented on #1616
@santoshmath

[2017-06-05 12:37] mbj36 commented on #2163
@santoshmath

[2017-06-05 12:49] santoshmath commented on #1616
This issue is not  yet fixed. Drop-down  menu for selecting group in Create center page lists groups but after submission the group is not shown on center page. More over , you can add more  than one group for a center in a 'Create Center' page

[2017-06-05 12:51] #2163 closed

[2017-06-05 17:12] mbj36 commented on #1616
Fixed

[2017-06-05 17:12] #1616 closed

[2017-06-05 17:24] mbj36 commented on #1725
Tested and fixed

[2017-06-05 17:24] #1725 closed

[2017-06-05 17:26] mbj36 commented on #2159
@santoshmath retest and close it

[2017-06-06 12:40] Anh3h commented on #2187
Will like to take up this issue

[2017-06-06 14:06] Anh3h commented on #2002
I will like to take up this issue

[2017-06-07 06:08] santoshmath commented on #2159
Tested it on new_reskin branch. This issue is fixed.

[2017-06-07 06:08] #2159 closed

[2017-06-07 09:18] santoshmath commented on #2002
@mbj36 , did you check PR by @Anh3h ?

[2017-06-07 09:20] santoshmath commented on #2187
@mbj36 , have you reviewed the PR of @Anh3h ?

[2017-06-07 09:22] santoshmath commented on #2171
@mbj36 , plese review PR by @MexinaD

[2017-06-07 09:27] carlosbernardes commented on #1688
Hi all.

The java code that creates the date returns a three positions array like this: [Year,Month,Day]. When you open this on Chrome or Firefox it works just fine, I am not sure why but I assume they interpret javascript in a different way.

I have found a way to make dates work properly in IE. In IE, dates should be created and serialized in the iso 8601 format.

My solution is quite simple:

I

[2017-06-07 09:31] santoshmath commented on #1818
@MexinaD , this issue is resolved at fineract side: https://issues.apache.org/jira/browse/FINERACT-389

[2017-06-07 09:40] santoshmath commented on #1856
This should be resolved at Fineract side as well.

[2017-06-07 09:44] santoshmath commented on #1678
This issue raised here and resolved: https://issues.apache.org/jira/browse/FINERACT-379

[2017-06-07 09:44] #1678 closed

[2017-06-07 09:46] santoshmath commented on #1677
@nazeer1100126 , let me know whether this PR merged.

[2017-06-07 10:20] #1694 closed

[2017-06-07 12:54] MexinaD opened #2287 "Reskin: In Add Journal Entry, the additional tabs for debit and credit accounts are large than the first tab."
Navigate to Accounting -> Add Journal Entry
Click the "+" sign in front of Debit label and Credit label, the additional tabs exceed the original tab.

In Reskin
![addjournalentry](https://user-images.githubusercontent.com/8160209/26879378-8612ce70-4b99-11e7-9c64-65c01312305d.png)

In community-app
![addjournalentry1](https://user-images.githubusercontent.com/8160209/26879388-90345e64-4b99-11e7-84a

[2017-06-07 18:00] mbj36 commented on #2187
@santoshmath retest and close it

[2017-06-07 18:08] mbj36 commented on #2002
@santoshmath retest and close it

[2017-06-07 18:23] mbj36 commented on #2171
@Anh3h Can you take it ? There are multiple alignment issues in edit interest rate and interest rate page. Ping me if you have any problem

[2017-06-07 18:27] mbj36 commented on #1952
@santoshmath retest and close it

[2017-06-07 23:01] Anh3h commented on #2171
sure

[2017-06-08 05:08] santoshmath commented on #2187
Tested in on new_reskin branch. This issue is resolved.

[2017-06-08 05:08] #2187 closed

[2017-06-08 05:13] santoshmath commented on #1952
@Ippezrobert , I tested it on new_reskin branch. This issue is fixed.

[2017-06-08 05:13] #1952 closed

[2017-06-08 05:18] santoshmath commented on #2002
Tested it on new_reskin branch. This issue is fixed.

[2017-06-08 05:18] #2002 closed

[2017-06-08 09:28] Anh3h commented on #2170
Will take up this issue :)

[2017-06-08 09:29] Anh3h commented on #2171
Sure

[2017-06-08 18:00] mbj36 commented on #1798
Fixed

[2017-06-08 18:00] #1798 closed

[2017-06-08 18:00] mbj36 commented on #1742
Fixed

[2017-06-08 18:00] #1742 closed

[2017-06-08 18:04] mbj36 commented on #1866
Fixed

[2017-06-08 18:04] #1866 closed

[2017-06-08 19:03] mbj36 commented on #2171
Fixed

[2017-06-08 19:03] #2171 closed

[2017-06-09 09:50] MexinaD opened #2292 "Reskin: The button doesn't show directing of tags in Accounting Rule"
Navigate to Accounting -> Accounting Rule -> Add Rule
After filling the neccessary field, select "List of accounts" in both sides, the buttons of the right handside doesn't shoe the direction of the movement of the tags.

In Reskin
![accrulearrow2](https://user-images.githubusercontent.com/8160209/26970412-f9197ee0-4d11-11e7-9356-f24a4786a381.png)

In community-app
![accrulearrow3](https://user-im

[2017-06-09 10:15] MexinaD commented on #2292
Fixed at #2294

[2017-06-09 10:42] MexinaD commented on #2002
@santoshmath i see this issue already closed, but i can still find the gaps in new_reskin branch
![gaps](https://user-images.githubusercontent.com/8160209/26972162-406779e4-4d19-11e7-83cd-0b91039de6f9.png)
and others

[2017-06-09 10:44] santoshmath commented on #2002
@MexinaD , Fetch the latest code and retest again

[2017-06-09 10:49] MexinaD commented on #2002
@santoshmath  i just did and it shows my forked branch is even with open_mf/reskin https://github.com/MexinaD/community-app/tree/new_reskin

[2017-06-09 13:06] MexinaD opened #2296 "Reskin: Buttons for shifting role to be selected doesn't show direction in edit page"
Navigate to Admin -. Users
 View any user and then "Edit", the buttons to shift roles between available roles and selected roles doesn't show direction.

In Reskin
![userarrow](https://user-images.githubusercontent.com/8160209/26976649-68557c6c-4d2d-11e7-859f-77ed5f6fb832.png)

In community-app
![userarrow1](https://user-images.githubusercontent.com/8160209/26976674-89557d18-4d2d-11e7-8c48-557dede

[2017-06-09 17:18] mbj36 commented on #1819
Fixed

[2017-06-09 17:18] #1819 closed

[2017-06-09 17:20] #2193 closed

[2017-06-09 17:30] mbj36 commented on #2170
@Anh3h Thanks

[2017-06-09 17:30] #2170 closed

[2017-06-09 17:30] mbj36 commented on #2170
Fixed

[2017-06-09 17:35] mbj36 commented on #1971
Fixed

[2017-06-09 17:35] #1971 closed

[2017-06-10 15:35] gkrishnan724 opened #2299 "Reskin: Wizard Implementation for Products and Account Creation"
Wizards will be implemented for the following views

● Loan Products Creation
● Saving Products Creation
● Share Products Creation
● Fixed Deposit Products Creation
● Recurring Deposit Products Creation
● New Share Application
● New Savings Application

Wizards will also include a preview step where user can preview the input fields entered.

Eg: (Loan product Wizard)
![reskin](https://user-images

[2017-06-10 21:40] tonic889 commented on #1863
Does anyone know how to find/calculate the on holds amount for an account?

[2017-06-12 04:47] santoshconflux commented on #1732
@Mastermaulik or @nazeer1100126 , please confirm before I move this issue to Fineract.

[2017-06-13 10:12] Agnessy opened #2303 "Reskin: Not Allowing to Reject 'view checker inbox' when create or edit user"
Admin > user >create user
after submit ,,  "Waiting For Checker Approval" then click details
then Reject,, when confirming  nothing happen
![reject](https://user-images.githubusercontent.com/13551795/27077414-aec73042-5038-11e7-8645-dc47d83ecb99.png)
can any one please look at it and  let me know if I am  wrong somewhere.

[2017-06-13 10:40] Agnessy opened #2304 "Reskin&oldSkin:"Submitted on" is not treated as a mandatory field,when editing the client"
Create client and then edit that client,
if "submitter on" and "Activation date" fields are not filled , only the activation date error is thrown, and the form can be submitted without inserting "submitted on"(mandatory) .
and after submitted the form capture the previous submitted date
![submitted](https://user-images.githubusercontent.com/13551795/27078696-579fc7ca-503d-11e7-8d5e-0042ba5617a7.pn

[2017-06-13 11:44] MexinaD opened #2305 "When maker checker enabled, the popup to change the password doesn't disappear after you submit."
1. Enable maker checker Admin -> System -> Configurations -> Enable maker checker
2. Create a user and fill all necessary fields and submit Admin -> User -> New User
3. Then go and view a user.
4. Click "change password" and fill the new password.
When you submit, the background change to detail page but the popup doesn't disappear
![submit](https://user-images.githubusercontent.com/8160209/270809

[2017-06-14 13:05] MexinaD opened #2308 "Reskin&Oldskin : Not understandable error when "Link savings" is blank during loan application"
1. Apply a loan to an active client Client -> View client -> New Loan
2. Fill all necessary fields and select "Create Standing Instruction at Disbursement" while you leave "Link savings" blank
The error thrown is not clear to a normal user

In Reskin
![savinglink](https://user-images.githubusercontent.com/8160209/27133564-3ec26a08-511b-11e7-85b3-88bb8823b810.png)

In community-app
![savinglink1](h

[2017-06-14 13:28] MexinaD commented on #2308
Fixed

[2017-06-17 16:51] gkrishnan724 commented on #2304
Hi @Agnessy, in the latest code of the new skin, `submitted on` field does not seem to be mandatory there is no `*` beside the label please see the screenshot:
![submitted](https://user-images.githubusercontent.com/21004514/27254674-073c81c6-53ab-11e7-9685-f0ba566063de.png)

Hence, I guess you don't have any error when creating the client without filling the field. Since it must be implemented in

[2017-06-17 16:54] gkrishnan724 commented on #2304
@Agnessy @santoshmath I believe the submitted on field is not mandatory. Since there is no `*` beside it in the create client area:
![submitted](https://user-images.githubusercontent.com/21004514/27254695-9a48583c-53ab-11e7-93b0-54d1a40c880b.png)
Hence, there is no error when submitting the form in edit client.

I guess we just have to remove the `*` in the edit client view this should solve the c

[2017-06-17 17:18] gkrishnan724 commented on #2303
@Agnessy This is a valid issue Fixed it in the PR

[2017-06-19 05:16] santoshmath commented on #2304
@gkrishnan724 , good catch. 'Submitted on' date takes by default, yet it's not mandatory. @MexinaD, I tested it old and reskin and found that 'Submitted on' date is not mandatory. Please confirm so that I can close this issue.

[2017-06-19 05:36] santoshmath commented on #2303
@mbj36 , @Mastermaulik , FYI

[2017-06-19 05:44] santoshmath commented on #2296
@mbj36 , FYI.

[2017-06-19 05:45] santoshmath commented on #2292
@mbj36 FYI

[2017-06-19 05:49] santoshmath commented on #2308
@Mastermaulik , FYI.

[2017-06-19 05:54] santoshmath commented on #2304
@Mastermaulik , FYI.

[2017-06-20 05:02] #2261 closed

[2017-06-21 06:27] santosh commented on #1866
Lol, who called me in this chat? Call @santoshmath instead.

[2017-06-21 16:10] edcable opened #2325 "Reskin: Buttons in blue action bar on client page extend to second row"
The actions/buttons in the blue action bar on the client page extend to a second row even when the screen is maximized. See it compared to the original skin.

These should only be on one row. If we can't accommodate them on one blue action bar, we can move some of the actions to the more menu. +New Share Account and Transfer Client could be moved to More as they're not that common of tasks.

![scr

[2017-06-21 16:11] mbj36 commented on #2287
Fixed

[2017-06-21 16:11] #2287 closed

[2017-06-21 16:13] mbj36 commented on #2325
Okay @edcable i will have a look

[2017-06-21 16:23] mbj36 commented on #2304
Fixed

[2017-06-21 16:23] #2304 closed

[2017-06-21 19:52] mbj36 commented on #2292
Fixed

[2017-06-21 19:52] #2292 closed

[2017-06-21 20:06] mbj36 commented on #2296
Fixed

[2017-06-21 20:06] #2296 closed

[2017-06-22 08:34] gkrishnan724 commented on #2325
Moved the `new share account` button to more:

This looks better?

![ckuebt](https://user-images.githubusercontent.com/21004514/27424689-90d895d6-5753-11e7-8ded-384174895c90.png)

[2017-06-22 10:09] mbj36 commented on #2303
Fixed

[2017-06-22 10:09] #2303 closed

[2017-06-23 07:52] Agnessy opened #2328 "Reskin:Delete icon doesn't display for Charge Overview"
View the specific client > Charge overview > Go to specific charge
Action - delete button/icon doesn't display
Without Reskin
![charge-1](https://user-images.githubusercontent.com/13551795/27471666-2f4e2c78-5801-11e7-8134-ccd4261c2421.png)
With Reskin
![charge-2](https://user-images.githubusercontent.com/13551795/27471707-588d136a-5801-11e7-894c-76cd9a6117fc.png)

[2017-06-23 07:54] mbj36 commented on #2328
@MexinaD

[2017-06-23 08:04] MexinaD commented on #2328
@mbj36 Yes, i can work on this

[2017-06-23 08:15] Agnessy opened #2329 "Reskin: Client Share Account Overview is not well aligned"
Client > Share Account Overview.
Without Reskin

![share1](https://user-images.githubusercontent.com/13551795/27472486-378288e6-5804-11e7-9a40-0cf6e3e00c82.png)

With Reskin

![share-2](https://user-images.githubusercontent.com/13551795/27472514-4ff70bea-5804-11e7-86bc-a93245b0566f.png)

[2017-06-23 08:19] MexinaD commented on #2328
@mbj36 also the delete-icon in the button of delete is not shown, should i solve it in the same PR?
in reskin
![deletecharge1](https://user-images.githubusercontent.com/8160209/27472866-bdc8635c-5805-11e7-88c4-e24b9e4a3e42.png)

in community-app
![deletecharge](https://user-images.githubusercontent.com/8160209/27472875-c6d06bca-5805-11e7-8877-7d85a82d8045.png)