[2017-06-23 08:26] mbj36 commented on #2328
Yes

[2017-06-23 09:06] MexinaD commented on #2328
@mbj36  Solved, check it

[2017-06-23 09:57] MexinaD opened #2331 "Reskin: The deleted transactions in charge overview doesn't show they are deleted"
1. Create a charge product with charge applies to "Client"... Admin -> Products -> Charge -> Create
2. Apply that charge to an active client
3. Pay half of the charge and then view the charge
4. On the transactions there is a button for delete the transaction, click to delete
After deletion, on reskin, it doesn't show that the transaction is deleted

In reskin
![deletetrans](https://user-images.gi

[2017-06-24 18:20] Nenge1 opened #2332 "Reskin: percentage field display blank message when entered value is text"
navigation: admin->products->manage Tax configurations->Manage tax components->create tax component
please see the screenshot below

![image](https://user-images.githubusercontent.com/29059263/27510880-8c5277cc-5922-11e7-8d12-deff88f0294a.png)

[2017-06-26 07:17] gkrishnan724 commented on #1919
Hi, should the min required balance only be subtracted from the current balance only when the `enforceMinRequiredBalance` is true?

[2017-06-26 07:19] gkrishnan724 commented on #1919
Also, I am assuming that the minimum balance is the minimum required opening balance?

[2017-06-27 12:52] mbj36 commented on #2329
This work is in TODO list for the app enhancements. So closing this

[2017-06-27 12:52] #2329 closed

[2017-06-27 12:54] mbj36 commented on #2325
@edcable Can you please review the screenshot ? If you want any more changes

[2017-06-27 12:57] mbj36 commented on #1797
Fixed

[2017-06-27 12:57] #1797 closed

[2017-06-27 12:58] mbj36 commented on #1718
Fixed

[2017-06-27 12:58] #1718 closed

[2017-06-28 05:25] santoshmath commented on #1919
@gkrishnan724 , minimum balance is the amount which need to be maintained in the savings account failing which lead to penalty or  system doesn't even allow you  to withdraw below minimum balance. (enforceMinRequiredBalance is true). MInimum opening balance is the the amount need to be  present in savings account while  activating  savings account

[2017-06-28 10:19] santoshmath opened #2334 "Reskin: Deposit page of savings account or Withdraw page of savings account is showing improper wordings"
Create a savings account for a client and on savings account page, click on either deposit or withdraw button on next page, you will see:
![reskin_deposit page](https://user-images.githubusercontent.com/23022667/27632452-581ea468-5c19-11e7-9d97-b2830c67bd42.png)

![reskin_withdraw](https://user-images.githubusercontent.com/23022667/27632454-5822e3fc-5c19-11e7-9a0c-82f6254267db.png)

[2017-06-28 10:21] santoshmath commented on #2334
This issue is due to merging commit from develop to new_reskin branch. This issue doesn't exist in old skin, only in reskin.

[2017-06-28 10:28] santoshconflux opened #2335 "Description field should be non-mandatory in create RD/FD product"
Go to Admin>products and then either Recurring Deposit Products(RD) or Fixed Deposit(FD) products.
Click on  'Create Fixed Deposit product'  or  'Create Recurring Deposit product'

After furnishing all the details, There is a field 'Description' which is mandatory. It should not be mandatory.

![fd](https://user-images.githubusercontent.com/23022667/33251168-414620c2-d35b-11e7-8189-ab9d32334053.pn

[2017-06-28 11:05] gkrishnan724 commented on #2335
Hi @santoshmath I have fixed this in my Wizard Implementation. I will reference this issue in the PR

[2017-06-28 11:36] santoshmath commented on #2334
This issue is fixed on new_reskin branch with latest PR.

[2017-06-28 11:36] #2334 closed

[2017-06-28 19:59] mbj36 commented on #1919
@santoshmath please retest and close it

[2017-06-29 06:43] santoshmath opened #2340 "Reskin: collection sheet fields for savings/RD should be wider to show full amount."
Check the following screenshot:
Savings and Recurring deposit  amount is not fully displaying.(it's 5,000 but showing 5,00)

![collectionsheet](https://user-images.githubusercontent.com/23022667/27674663-3acb99a6-5cc4-11e7-98c3-a10eeefbef69.png)

[2017-06-29 08:55] gkrishnan724 commented on #1919
Hey, @santoshmath I have some questions for the mockups of Loan summary:
![loan summary page](https://user-images.githubusercontent.com/21004514/27679401-3e70a954-5cd6-11e7-97bc-d7f15cdbaa37.png)

About the field `Amount due ( as of dd/mm/yyy):` could you explain me the use case of this please?

[2017-06-29 08:56] gkrishnan724 commented on #1919
Also, in the savings summary what is meant by `savings goal %` and `amount as collateral`

[2017-06-29 09:22] santoshmath commented on #1919
Hi @edcable , Savings Summary  now looks like this. Please give your comments before we close this issue.

![savingssummary](https://user-images.githubusercontent.com/23022667/27680776-929a06de-5cda-11e7-88fc-8dc94bdbcd33.png)

![savingsummary2](https://user-images.githubusercontent.com/23022667/27680793-9c84af6e-5cda-11e7-839c-f23ad1ff147b.png)

[2017-06-29 10:35] santoshmath opened #2341 "After creating Savings account for client 'More' button is moving to next line"
It is because of one more label 'Update Default Savings'(check screenshot). If no savings account for client, 'More' button will be aligned in first line:
![more_alignement](https://user-images.githubusercontent.com/23022667/27683743-be383cac-5ce4-11e7-8279-90337a4efcdc.png)

[2017-06-29 10:43] gkrishnan724 commented on #2341
@santoshmath  https://github.com/openMF/community-app/issues/2325. I believe it will be solved in this issue:
![image](https://user-images.githubusercontent.com/21004514/27684052-e806dc0e-5ce5-11e7-9fd2-d9d6af8ecbf2.png)

[2017-06-29 13:51] gkrishnan724 commented on #2340
@santoshmath could you please mention the steps to reproduce this?

[2017-06-30 06:30] santoshmath commented on #2331
@mbj36 FYI

[2017-06-30 16:50] procoder05 commented on #2340
@santoshmath could you please mention the required inputs too? I am not able to view the collection sheets on random data inputs!

[2017-07-01 10:47] gkrishnan724 opened #2344 "Reskin: New Bulk JLG Loan application dropdown for Loan product not populating"
New Skin:
![loan](https://user-images.githubusercontent.com/21004514/27761417-22d92424-5e79-11e7-83a8-43e4b04107be.png)

Old Skin:
![loan2](https://user-images.githubusercontent.com/21004514/27761420-24939a24-5e79-11e7-9e74-06e416edb393.png)

[2017-07-03 06:02] santoshmath opened #2346 "Improvement Issues in Savings Account Overview of a Client"
1. In stead of INR , Currency symbol should be used for 'Current Balance' and 'Available Balance'(Check Screenshot)

![rupeesymbol](https://user-images.githubusercontent.com/23022667/27779712-7a5e6938-5fe2-11e7-9151-1f9e8f7caffb.png)

2. External Id and Currency Fields are missing in Savings Account Overview:
Old Skin:
![demo](https://user-images.githubusercontent.com/23022667/27779824-0a77804a-5f

[2017-07-03 06:07] santoshmath commented on #2346
Related Pull Request: https://github.com/openMF/community-app/pull/2333

[2017-07-03 06:11] santoshmath opened #2347 "FD & RD account overview should show currency symbol rather than INR or USD"
Check the screenshot:

![reskin](https://user-images.githubusercontent.com/23022667/27780083-8bcf30ba-5fe4-11e7-9ebd-7f272c3923c5.png)

[2017-07-03 06:27] santoshmath opened #2348 "Some of the fields missing in FD account overview."
Check the screenshot:

old skin:
![demo](https://user-images.githubusercontent.com/23022667/27780463-aff5c8a8-5fe6-11e7-8d22-13b95165d3e3.png)

Reskin:
![reskin](https://user-images.githubusercontent.com/23022667/27780469-b70da764-5fe6-11e7-9ea1-7dc12fabd559.png)

[2017-07-03 06:35] santoshmath opened #2349 "Summary of RD account is showing no values"
Check the screenshot:

![reskin](https://user-images.githubusercontent.com/23022667/27780647-cc107230-5fe7-11e7-8c08-ad5855d8f99a.png)

[2017-07-03 06:35] santoshmath commented on #2349
Related Pull Request: #2333

[2017-07-03 06:36] santoshmath commented on #2348
Related Pull Request: #2333

[2017-07-03 06:36] santoshmath commented on #2347
Related Pull Request: #2333

[2017-07-03 07:15] santoshconflux opened #2350 "Previous and Next month calendar dates must be dimmed in selected month"
For example If you select month as July 2017, in this month June and August month dates should be dimmed. This issue exists with all pop-up calendars in application.

old skin:
![demo](https://user-images.githubusercontent.com/23022667/27781816-62c49850-5fed-11e7-899a-b59e3830e8ca.png)

reskin:
![reskin](https://user-images.githubusercontent.com/23022667/27781825-6d04d14a-5fed-11e7-84a5-f9c06724b2

[2017-07-04 18:58] mbj36 commented on #2331
@santoshmath retest and close it

[2017-07-04 20:11] mbj36 commented on #2349
@santoshmath

[2017-07-04 20:11] mbj36 commented on #2348
@santoshmath

[2017-07-04 20:11] mbj36 commented on #2347
@santoshmath

[2017-07-04 20:11] mbj36 commented on #2346
@santoshmath

[2017-07-05 05:10] santoshmath commented on #2349
Tested it on new_reskin branch. This issue is resolved.

[2017-07-05 05:10] #2349 closed

[2017-07-05 05:24] santoshmath commented on #2331
Hi @MexinaD ,
-If client charge is created and nothing is paid, that charge can be deleted.
-If client charge is created and only partial payment is done, the charge is not allowed to be deleted.
-If client charge is created and full payment is done at required due date, the charge gets closed.

All above 3 scenarios are working fine. So, closing this issue.

[2017-07-05 05:24] #2331 closed

[2017-07-05 05:34] santoshmath commented on #2349
Hi @mbj36 make it, for example, $ 400 rather than 400 $ :).   Anyhow, not major issue, reducing it's priority rather than closing it.

[2017-07-05 05:35] santoshmath commented on #2346
Hi @mbj36 make it, for example, $ 400 rather than 400 $ :). Anyhow, not major issue, reducing it's priority rather than closing it.

[2017-07-05 05:37] santoshmath commented on #2347
Hi @mbj36 make it, for example, $ 400 rather than 400 $ :). Anyhow, not major issue, reducing it's priority rather than closing it.

[2017-07-05 05:42] santoshmath commented on #2348
Tested it on new_reskin branch. This issue is resolved.

[2017-07-05 05:42] #2348 closed

[2017-07-05 05:46] santoshmath commented on #2340
@procoder05 , please ping me on Skype. My user id is  santoshmath99.

[2017-07-05 07:08] santoshmath opened #2353 "Reskin: Unable to Create Loan Product and even not throwing any error"
Create a loan product with following simple configuration
Loan product name: lp1
Short name :	lp1
Currency:	US Dollar
Decimal Places :	2
Currency in Multiples Of	0

Terms
Terms vary based on loan cycle :	false
Principal:	10,000   ( Min: , Max : )
Number of Repayments:	12   ( Min: , Max:)
Repay Every:	1  Months
Nominal Interest Rate:	1   ( Min: , Max:)  Per month
Minimum days between disbursal and

[2017-07-05 11:33] procoder05 commented on #2340
Sure, sir!

Dhruv Shrivastava

On Jul 5, 2017 11:16 AM, "Santosh Math" <notifications@github.com> wrote:

[2017-07-05 11:58] santoshmath opened #2355 "Reskin: In 'Create Loan Product' page, multi-disbursal details are getting displayed though it is not checked."
Go to Admin>Products> Create Loan Product.
Scroll down or search for 'Enable Multiple Disbursals'

![multi-tranche](https://user-images.githubusercontent.com/23022667/27863320-402eaeaa-61a7-11e7-80db-81eaeb0e1edf.png)

[2017-07-05 12:47] mbj36 commented on #2347
@santoshmath retest and close it

[2017-07-05 12:49] mbj36 commented on #2346
@santoshmath retest and close it

[2017-07-05 12:53] mbj36 commented on #2344
@santoshmath retest and close it

[2017-07-05 13:05] santoshmath commented on #2347
Tested it on new reskin branch. This issue is resolved.

[2017-07-05 13:05] #2347 closed

[2017-07-05 13:08] santoshmath commented on #2346
Tested it on new reskin branch. This issue is fixed.

[2017-07-05 13:08] #2346 closed

[2017-07-05 13:11] santoshmath commented on #2344
This issues is fixed on new reskin branch.

[2017-07-05 13:11] #2344 closed

[2017-07-07 10:19] mbj36 commented on #2353
@santoshmath retest and close it

[2017-07-07 11:16] mbj36 commented on #2355
@santoshmath retest and close it

[2017-07-07 11:51] santoshmath commented on #2353
Tested it on new reskin branch. This issue is fixed.

[2017-07-07 11:51] #2353 closed

[2017-07-07 11:53] santoshmath commented on #2355
Tested it on new reskin branch. This issue is fixed.

[2017-07-07 11:53] #2355 closed

[2017-07-08 17:39] mbj36 commented on #2022
@santoshmath close it

[2017-07-08 18:01] #2341 closed

[2017-07-11 05:09] santoshmath commented on #2022
Tested it on new_reskin branch. This issue is resolved.

[2017-07-11 05:09] #2022 closed

[2017-07-15 07:43] santoshmath opened #2366 "Reskin: Clicking on Enable or Disable in Client's Address page navigating back to Client's general page"
1. Go to any client's page and click on Address tab.
2. In Address page, click on Add address and provide the inputs and submit it.
3. Then go to address page and click on Enable or Disable button.

[2017-07-15 07:51] santoshmath opened #2367 "Reskin: In new loan application 'Submit' and 'Cancel' button are not within the boundaries"
Go to any client and click on 'New Loan' and then select the loan product and scroll down  and observe the alignment of 'Cancel' and 'Submit' button.

Old Skin:
![newloanapplication_oldskin](https://user-images.githubusercontent.com/23022667/28237584-604a75b4-6960-11e7-8c30-d726e91e4b67.png)

Reskin:

![newloan_application_reskin](https://user-images.githubusercontent.com/23022667/28237585-6826827

[2017-07-17 12:11] santoshmath opened #2368 "Reskin: All pentaho reports are not working"
Check the sample screenshot of client listing report:

![screenshot from 2017-07-17 17-40-22](https://user-images.githubusercontent.com/23022667/28267303-1dad9264-6b17-11e7-9bf5-8c3ef1603bdc.png)
![screenshot from 2017-07-17 17-40-37](https://user-images.githubusercontent.com/23022667/28267304-1db22e8c-6b17-11e7-85af-553327b2d318.png)

[2017-07-17 13:47] mbj36 commented on #2367
@santoshmath can you retest and close it

[2017-07-17 21:16] mbj36 commented on #2368
@santoshmath Now pentaho reports are running but the red error bar is still showing up. You can test this issue and create another minor issue of just red bar showing up.

[2017-07-18 04:53] santoshmath commented on #2368
Tested it on develop branch. This issue is fixed. Waiting for staging server is updated with this fix and retest there before closing it.

[2017-07-18 04:53] santoshmath commented on #2367
Tested it on develop branch. This issue is fixed.

[2017-07-18 04:53] #2367 closed

[2017-07-18 04:56] santoshmath opened #2372 "Reskin: In all reports red strip is appearing(where errors display) though there is no errors"
![screenshot from 2017-07-18 10-27-03](https://user-images.githubusercontent.com/23022667/28301372-bdcc3ffc-6ba3-11e7-955f-e9b30f438af1.png)

[2017-07-18 06:47] santoshmath opened #2373 "Create Client or Loan template is not proper and not properly aligned."
In Demo:
![demo](https://user-images.githubusercontent.com/23022667/28303895-f6a4bb74-6bb2-11e7-9c0e-e04e1b39cdca.png)

In Reskin:
![reskin](https://user-images.githubusercontent.com/23022667/28303905-feefb7e8-6bb2-11e7-83b2-17058ab8507c.png)
![reskin1](https://user-images.githubusercontent.com/23022667/28303904-feca58c2-6bb2-11e7-98da-b54538fd89c3.png)

[2017-07-18 12:34] santoshmath commented on #2368
Tested it on staging. This issue is resolved.

[2017-07-18 12:34] #2368 closed

[2017-07-18 13:40] #2372 closed

[2017-07-18 18:47] anweshknayak commented on #2373
@santoshmath can I take this up ?

[2017-07-18 19:02] mbj36 commented on #2373
Go ahead. This issue exist in develop brsnch

[2017-07-19 02:56] #2366 closed

[2017-07-19 09:58] santoshmath opened #2376 "In new loan application , Interest Recalculation Section is displaying twice"
1. Create a loan product with interest recalculation enabled.
2. Go to client and click on 'New Loan' and select the  loan product.

[2017-07-19 09:59] anweshknayak opened #2377 "npm error"
npm ERR! Linux 3.16.0-77-generic
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "install"
npm ERR! node v6.10.1
npm ERR! npm  v3.10.10
npm ERR! code ELIFECYCLE

npm ERR! phantomjs2-ext@0.0.6 install: `node install.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the phantomjs2-ext@0.0.6 install script 'node install.js'.
npm ERR! Make sure you have the latest version of node.js and npm instal

[2017-07-19 10:00] anweshknayak commented on #2377
cc @santoshmath @mbj36

[2017-07-19 11:55] mbj36 commented on #2377
Fork the repo, clone it and inside community app folder just run three steps
npm install
bower install
grunt serve

[2017-07-19 11:55] #2377 closed

[2017-07-19 18:40] anweshknayak commented on #2373
![screenshot from 2017-07-20 00 07 03](https://user-images.githubusercontent.com/8139783/28383749-e25663f6-6cdf-11e7-8a89-33964e30e617.png)

@mbj36 is this good ?

[2017-07-19 18:44] mbj36 commented on #2373
No. It should be like https://demo.openmf.org/#/createtemplate

[2017-07-20 11:21] anweshknayak commented on #2373
@mbj36 can you tell from which branch it is hosted ?

[2017-07-20 13:22] mbj36 commented on #2373
Develop_oldskin

[2017-07-21 12:17] francisguchie commented on #738
I see all the tests above are at or around disbursments and aprovals , what makes this error come at loan repayment. is it due to the undo and redo mentioned above?

[2017-07-22 16:15] #2376 closed

[2017-07-24 05:52] santoshmath opened #2386 "In Firefox browser moratorium values not displaying properly in New Loan Application"
Open firefox browser, Create a loan product. Go to any client and click on '+New Loan' . Search moratorium(principal, interest,  arrears aging) and enter the vaues.

![moratorium](https://user-images.githubusercontent.com/23022667/28509859-5b763cae-7062-11e7-8558-4d4f7f8322cc.png)

[2017-07-24 11:21] santoshmath opened #2390 "While Editing Teller , 'Description' field is becoming mandatory , but it was not mandatory while creating Teller."
Make 'Description' as non-mandatory while editing teller.

[2017-07-24 11:55] santoshmath opened #2392 "Unable to create cashier, 'Required Field Error' is showing though Date is provided."
When creating cashier under teller, even though  we provide 'From' and 'To' dates, it's still showing 'Required Field' and unable to 'Submit' and create cashier.
And when you again just click on 'From' and 'To' Dates without modifying any date, the required field error  goes off and allows to create cashier.

[2017-07-24 12:04] santoshmath opened #2393 "Multi-tranche loan products are displaying in drop-down menu of Bulk JLG loan application"
1. Create a loan product with multi-disbursal (2 tranches).
2. Go to any group and click on 'Bulk JLG loan application'  and then try to select the product from drop-down menu.
3. Loan products with multi-tranche is getting displayed which shouldn't as tranche details can not be captured in Bulk JLG loan application.
The improvement issue is raised here:
https://issues.apache.org/jira/browse/FINER

[2017-07-24 14:20] santoshmath commented on #2392
Tested it on develop branch. This issue is fixed.

[2017-07-24 14:20] #2392 closed

[2017-07-25 10:18] santoshmath opened #2403 "Unable to Edit and Submit share product"
1. Create a share product.(Admin>Products>Share Products) and click on '+Create a share product'
2. Then in view share product summary , click on 'Edit' share product and just submit it.

[2017-07-25 11:50] santoshmath opened #2406 "While Editing Client 'Select Saving Product' option is displaying"
'Select Saving Product'  option should  be  displayed only  while creating  client but  not editing client. Even now, we try to add saving product in editing client it doesn't  work.

![screenshot from 2017-07-25 17-16-48](https://user-images.githubusercontent.com/23022667/28570816-7b302eb4-715d-11e7-9bd3-65937aa9fd41.png)

[2017-07-25 12:06] santoshmath opened #2407 "Approval page of Recurring Deposit application just showing Interest chart but not other details"
Reskin:

![reskin](https://user-images.githubusercontent.com/23022667/28571235-8e24b358-715f-11e7-9d74-d7d02a4ababc.png)

demo:

![demo](https://user-images.githubusercontent.com/23022667/28571246-9d6e4342-715f-11e7-8b57-36c3bb2e0b57.png)

check it on staging:
https://staging.openmf.org/#/viewrecurringdepositaccount/7

check it on demo:
https://demo.openmf.org/#/viewrecurringdepositaccount/939

[2017-07-25 13:12] santoshmath commented on #2393
Related issue: https://issues.apache.org/jira/browse/FINERACT-449

[2017-07-25 13:12] santoshmath commented on #2393
Tested it on staging.  This issue is fixed.

[2017-07-25 13:12] #2393 closed

[2017-07-28 05:52] santoshconflux opened #2410 "Meeting Details Entries are getting duplicated when you take new JLG loan application for the client"
This issue is not always reproducible but in certain cases this issue is reproducible.

Check the screenshot:

![jlgapplication](https://user-images.githubusercontent.com/23022667/28704255-00c0a31c-7387-11e7-99fb-78ee2cc61e47.png)

You can check it here on demo server:

https://demo.openmf.org/#/newindividualjlgloanaccount/113/274

[2017-07-28 05:58] santoshmath commented on #2410
@mbj36 , Just found that this issue was duplicate of #2016, raised on March 6.  Closing the #2016 and keeping this open.

[2017-07-28 05:59] santoshmath commented on #2016
This issue is raised again here: #2410. And closing this one.

[2017-07-28 05:59] #2016 closed

[2017-07-31 06:00] santoshmath opened #2412 "Charge Fee Frequency is not displaying properly."
1. Go to Admin>Products>Charges and Create Charge
2. Select Loan for "Charge Applies To"
3. Furnish the inputs and select 'Charge Time Type' as Overdue Fees
4. Enable 'Add Frequency' and click on drop-down menu of Charge Frequency.

![overduefee](https://user-images.githubusercontent.com/23022667/28764618-0b02af14-75e4-11e7-95e5-99d36aebe485.png)

Expected: It should just display Days, Weeks, Mont

[2017-08-01 05:20] santoshmath commented on #2412
Tested it on develop branch. This issue is fixed.

[2017-08-01 05:20] #2412 closed

[2017-08-01 05:44] santoshconflux opened #2414 "Need a Notes Field in Savings Deposit and Withdrawal page"
There is no Notes Field while making deposits and withdrawals for savings account. We can see the same for Loan repayments page:

![loanrepayment](https://user-images.githubusercontent.com/23022667/28811031-714f2682-76aa-11e7-86c3-4ec766e3f1bd.png)

Notes Field should be added for both deposit and savings filed.

[2017-08-02 12:21] santoshmath commented on #2403
This issue  is resolved with the release of 17.07.01

[2017-08-02 12:21] #2403 closed

[2017-08-02 12:50] edcable commented on #2269
Per triage on Aug 2, this should be done for both client and loan documents. @gkrishnan724 are you still able to take this up as part of your GSOC work?

[2017-08-03 11:47] #2407 closed

[2017-08-03 11:50] #2325 closed

[2017-08-05 04:18] gkrishnan724 commented on #2406
I believe this has been fixed

[2017-08-05 04:36] mbj36 commented on #2406
@gkrishnan724 I have asked @santoshmath to test this. he will test and close it

[2017-08-07 05:37] santoshmath commented on #2406
this issue is fixed.

[2017-08-07 05:37] #2406 closed

[2017-08-11 15:56] gkrishnan724 commented on #1818
@MexinaD I believe this has already been solved I see the Accounts ordered according to the `glCode` could you please verify?

[2017-08-11 16:53] mbj36 commented on #1818
CC @santoshmath

[2017-08-14 12:37] gkrishnan724 commented on #1843
@santoshmath Could you please inform me  with the column details which should be included in the loan history tab?

[2017-08-14 14:53] MexinaD opened #2419 "Ability to edit and delete a note from Notes in client profile"
For now you can only add a note but after that you can not edit or delete it.
If it happens you want to correct the note you wrote, you will have to write another to correct the previous
![notes](https://user-images.githubusercontent.com/8160209/29277124-74e8e192-8119-11e7-850d-c3ca17a8f62f.png)

It is better to have edit and delete functionality

[2017-08-14 15:13] MexinaD commented on #1818
I can see now, the accounts are arranged according with their GL codes @gkrishnan724

[2017-08-14 16:19] gkrishnan724 commented on #1861
@santoshmath By suspending the jobs, does the job execution process stop? and activating it again would continue from the place where stopped I believe

[2017-08-14 17:26] gkrishnan724 commented on #1818
@MexinaD Then should we close this issue? or would you like to add some changes?

[2017-08-15 10:27] MexinaD commented on #1818
@gkrishnan724  the issue can be closed now

[2017-08-15 16:01] MexinaD opened #2423 "The Payment type has a mandatory sign but it allow to submit when it is empty"
1. Apply a loan to an active client: Client -> New Loan -> submit and approve it
2. There should be no payment types under Admin -> Organization -> Payment Type
3. Click Disburse
4. Fill all the required fields, payment type will have empty drop down
![paymenttype](https://user-images.githubusercontent.com/8160209/29324173-e442cd78-81eb-11e7-9497-710ddea7ce04.png)

When you submit, it will submit

[2017-08-16 10:00] santoshmath commented on #1843
@gkrishnan724 , Waiting for reporters reply here:
https://mifosforge.jira.com/browse/MIFOSX-2789

[2017-08-16 10:55] santoshmath commented on #1861
@gkrishnan724 ,Suspending scheduler job won't stop currently running any jobs. But it won't allow to run next scheduled jobs. When you reactivate it, next scheduled jobs will run , there is nothing like continuous from  the place previously left.

[2017-08-16 12:05] gkrishnan724 commented on #1812
@santoshmath I believe we need to have this implementation in the back-end first just like @Anh3h  suggested

[2017-08-16 12:09] santoshmath commented on #1812
@gkrishnan724 , that's true. That issue is raised here:

https://issues.apache.org/jira/browse/FINERACT-390

[2017-08-17 05:44] gkrishnan724 opened #2426 "Entity Datatable Check workflow for remaining actions."
Currently, we have the entity data tables displayed in the UI for actions like New Loan Account Creation, New savings account Creation, Client Creation, Group Creation (i.e: the datatables would pop up as an additional wizard step when performing these actions).

However, we do not have a proper workflow for the following actions: (i.e: We have to enter the datatable details externally and then pr

[2017-08-17 12:04] Ippezrobert opened #2427 "Implement Tree View for Reports List - Group by Category"
See this example http://jsfiddle.net/eu81273/8LWUc/18/

[2017-08-17 15:28] Nenge1 opened #2428 "Add current password field to prevent unauthorized users from changing password of the current user"
Link,
Mifos dropdown->profile>change password

![image](https://user-images.githubusercontent.com/29059263/29419719-81d3d36a-8378-11e7-9ad4-20074c6627cd.png)

Allowing user to enter only new password increase  vulnerability because the username is visible.

[2017-08-18 13:55] edcable commented on #2414
@gkrishnan724 When you get a chance to complete this fix, we have some more community members requesting it.

[2017-08-18 14:29] gkrishnan724 commented on #2414
@edcable @santoshmath  This needs to be implemented in the back-end first, the platform does not support sending a notes field. CC: @nazeer1100126

[2017-08-18 15:15] gkrishnan724 commented on #1862
@santoshmath @Ippezrobert I believe this also needs to be included in the platform. CC: @nazeer1100126

[2017-08-18 15:44] Ippezrobert commented on #1862
Surely this has to be included but modification at backend is required. I
have been working on it but got some blocker. Can i send the work i have
done and someone picks up from there???

On 18 Aug 2017 18:15, "GopalaKrishnan P" <notifications@github.com> wrote:

[2017-08-18 15:52] gkrishnan724 commented on #1862
@Ippezrobert Sorry, I am not familiar with working on the backend could you please ping @nazeer1100126  or someone who has experience working on the same?

[2017-08-18 16:07] gkrishnan724 commented on #1676
@santoshmath This is a fineract side issue. each command details is retrieved from the API. We could observe the same in controller

`resourceFactory.auditResource.get({templateResource: routeParams.id}, function (data) {
              var obj = JSON.parse(scope.commandAsJson);
                scope.jsondata = [];
                _.each(obj, function (value, key) {
                    scope.jsonda

[2017-08-20 05:11] gkrishnan724 commented on #2427
@Ippezrobert could you please provide some kind of mockup? (i.e: details of the node, what each child should contain? ). This would help me get the idea.

[2017-08-20 05:13] gkrishnan724 commented on #2419
@Mexina I'll work on this

[2017-08-21 04:19] santoshmath commented on #1676
@nazeer1100126, let me know whether it's fineract side issue.

[2017-08-21 05:40] santoshmath commented on #2414
@gkrishnan724 , This issue is raised at back end side https://issues.apache.org/jira/browse/FINERACT-241 and @Ippezrobert has been working on it.(See the comment section)

[2017-08-21 05:50] Ippezrobert commented on #2427
@gkrishnan724 , Each child will the the report name falling under the parent (Report Category) and currently in Mifos X, we have the following Report Categories as Parents

- Clients
- Loans
- Savings
- Funds
- Accounting

Check from this file https://github.com/openMF/community-app/blob/26583a4cea83565093df3fd4a32f1a6877c8ec44/app/scripts/controllers/reports/ViewReportsController.js#L42

Example

[2017-08-23 06:57] santoshmath commented on #2419
@gkrishnan724 , let me know whether it requires fix at Fineract side as well?

[2017-08-23 07:05] santoshmath commented on #2428
@mbj36 , this is one of the much-needed enhancement and let me know whether it requires fixing at the Fineract side as well.

[2017-08-23 11:32] gkrishnan724 commented on #2419
@santoshmath No, I had a look at it. The API for deleting and updating is available. This just needs to be done in the front-end side

[2017-08-23 11:54] mbj36 commented on #2428
@gkrishnan724 Can you check API is available or not ?

[2017-08-24 05:06] MexinaD opened #2432 "Ability to delete an employee"
For now when you create an employee through navigating Admin -> Organization -> Manage Employees
The employee is created and there is only the option to edit him/her.
What if an employee leave the organization? there should be also the button to delete him.
![employee](https://user-images.githubusercontent.com/8160209/29650298-d908212a-88a2-11e7-9727-cca7fb3bca57.png)

This should be after s/he un

[2017-08-25 15:00] gkrishnan724 commented on #2428
@santoshmath @mbj36 I believe this issue should be created at fineract side.

[2017-08-28 05:44] santoshmath commented on #2428
@gkrishnan724 ,

[2017-08-28 05:44] santoshmath commented on #2428
n

[2017-08-28 17:25] Ippezrobert opened #2435 "Make 1st Jan of current year - Default Minimum date value in all datepicker"
Make 1st Jan of current year - Default Minimum date value in all datepicker and set today's date the max date

[2017-08-29 07:41] Agnessy opened #2436 "View Account transfer Detail page is not showing proper labels"
View  Saving  Account transfer Detail page is not showing proper labels after fund transfer
Go to client > Apply saving > Transfer funds > view transaction
Old
![saving 1](https://user-images.githubusercontent.com/13551795/29809593-79d56058-8ca5-11e7-9fd4-d572f1625b5c.png)
New
![saving 2](https://user-images.githubusercontent.com/13551795/29809598-82031162-8ca5-11e7-9ed1-fbed8a773a51.png)

[2017-08-29 15:31] Agnessy opened #2439 "Can not Undo Approval Share Account after adding Note"
Go to Client >> Apply share Account >> Approve >> Undo Approval
Without adding Note it submit successfully
After adding Note it throw error
![share-new](https://user-images.githubusercontent.com/13551795/29829484-3f860734-8ce8-11e7-97d8-a60bc14d2d4d.png)

[2017-08-30 07:16] santoshconflux opened #2440 "Indian Rupee Currency Symbol is not displaying properly in Loan Account overview and savings account overview"
Check the following Screenshots.

Savings Account:

![currencysymbol](https://user-images.githubusercontent.com/23022667/29859717-10ff692a-8d81-11e7-9028-c8a44c1509a8.png)

Loan Account:

![currcysymbol](https://user-images.githubusercontent.com/23022667/29859726-197795f0-8d81-11e7-89c6-3be7a1f1647a.png)

[2017-08-30 07:20] santoshmath commented on #2435
@Ippezrobert , How about dealing with future date pickers like holildays?

[2017-08-30 07:23] santoshmath commented on #2432
@mbj36 , @MexinaD , I think this issue requires to be resolved first at fineract side?

[2017-08-30 08:16] Ippezrobert commented on #2435
@santoshmath , I mean default Min date especially for transactions when books for previous FY has been closed. I think future dates are handled by max

Example

input type="text" datepicker-pop="dd MMMM yyyy"  is-open="opened3" min="minDate" max="'maxDate'" class="form-control"

Where minDate = '01 January 2017' for this year

[2017-08-30 12:28] Agnessy opened #2441 "Asterisk is missing in the field of creation of Share Product to show mandatory field"
1.During the creation of Share Product the form is not submitted without filling **Shares per Client**
2.When editing Share Product, if you remove **Shares per Client** ,there is a thrown error when submitting the form
![share](https://user-images.githubusercontent.com/13551795/29872220-49d8558e-8d97-11e7-8787-4bca982bc352.png)

[2017-08-30 14:27] Agnessy opened #2442 "Viewing a Group Committee"
Go to Group >> Create Committee >> View(Click) that Committee(Eg Abdul A Dhafir)
Currently it direct to the blank page
I think it should direct to the committee profile (Abdul A Dhafir Profile)
![kiongozi1](https://user-images.githubusercontent.com/13551795/29877296-ddcacb4a-8da7-11e7-97c8-427c0e9544ab.png)

Blank Pge
![comm](https://user-images.githubusercontent.com/13551795/29875553-0cfe7ac4-8da

[2017-08-30 15:03] MexinaD opened #2444 "Share to be issued field doesn't show it is mandatory"
Create a share product: Admin -> Product -> Share Product -> Create
but don't fill the field for "share to be issued"
![sharetoissue](https://user-images.githubusercontent.com/8160209/29879311-6525943a-8dad-11e7-9fc4-c5d482e13fd3.png)

It will not submit but also it doesn't give any error
It is the same when you edit the page and empty that field

[2017-08-31 05:29] MexinaD commented on #2432
@santoshmath You are right

[2017-08-31 06:34] Agnessy opened #2445 "Ability to delete Market Price periods in Share Product"
Go to Product >> Create Share Account >> Add Market Price Periods >> Submit
Edit Share Product >> Remove Market Price Periods ..Submit
![market](https://user-images.githubusercontent.com/13551795/29909515-f037b086-8e2e-11e7-813b-55174e81319a.png)
When editing, Market Price periods can be removed but after submitting they are still there
And if you reedit again the deleted one are still there

[2017-08-31 07:11] Agnessy opened #2446 "Fixed Deposit Product should allow future End date"
Go to Product >> Create Fixed Deposit Product >>
You can not set the future **End Date**

![fixed depo](https://user-images.githubusercontent.com/13551795/29910878-63bafa90-8e34-11e7-8b32-4f5687c365fd.png)

[2017-08-31 07:15] santoshmath commented on #2432
It's Finearct side related issue: https://issues.apache.org/jira/browse/FINERACT-494

[2017-08-31 08:46] Agnessy commented on #2332
@santoshmath @mbj36
I Think for any percentage insertion, Filling twenty instead of 20 should throw error like >> See the screen-shot
Create Loan Product  Set **Nominal interest rate** = Twenty
![nominal](https://user-images.githubusercontent.com/13551795/29913592-4038438e-8e3e-11e7-9924-2291daee8754.png)

The Blank message issue appear also in Go to Products >> Floating Rates >>Create Floating Ra

[2017-08-31 09:28] Gurinderkaur opened #2447 "Issue Transfer Clients between Groups"
**Transfer Clients between Groups**

1.From the list of existing groups, navigate to the group you want to transfer clients from.
2.In the Group page, click on Transfer Clients tab.
3.Select the desired clients and click on ">>" button and select the destination group.
4.Click on submit button to transfer the clients to destination group.

Here, the API URL:-

Gives STATUS CODE:- OK but the respon

[2017-08-31 09:46] Agnessy opened #2448 "Waive Loan Charge page is not showing proper labels"
Create Charge with Charge Time Type = Installment Fee
Go to client >> Do loan Application >> Approve >> Disburse >> Add Loan Charge >> Then Click Charges
![charge 0](https://user-images.githubusercontent.com/13551795/29917181-d54f32e2-8e49-11e7-82e3-34827b66fa06.png)
Waive that charge(Click Actions)
![charge](https://user-images.githubusercontent.com/13551795/29917216-f0696db8-8e49-11e7-95e6-1fb16

[2017-08-31 10:31] Agnessy opened #2449 "Asterisk is missing in the field of creation of Loan Product to show mandatory field"
Go to Product >>  Loan Product >> Create but don't fill the field for **Nominal interest rate**
![interest1](https://user-images.githubusercontent.com/13551795/29919001-3b863e4c-8e50-11e7-8923-9b06c6615c2f.png)

Submit,, It throw error
![interest 2](https://user-images.githubusercontent.com/13551795/29919008-43ee54c0-8e50-11e7-8539-ecedb16af8aa.png)

[2017-09-04 15:08] MexinaD opened #2451 "The value field for Collateral should be mandatory"
Now when you create a collateral for a loan through the loan application or through the profile of the loan under more button, you can create a collateral by only the name of the collateral without filling the value and accept to submit
I would suggest for the field of value to be mandatory so that to compare the value of the loan and of the collateral.

[2017-09-06 05:47] MexinaD opened #2453 "Label for delete charge icon is not proper"
1. Apply a loan to an active client but don't approve it
2. Apply a loan charge which is payed during installment fee
3. At the profile of the loan, client the part for charges
![deletelabel](https://user-images.githubusercontent.com/8160209/30096230-fa5ef64a-92df-11e7-9a7e-8de293c72ea4.png)

[2017-09-06 05:57] MexinaD opened #2454 "A label in the client profile to identify if s/he is a staff is not proper"
After creation of a client, when you view the profile, at the right side where there is client's picture there is a text wrote "label.input.isstaff", it should be "is staff?" and should provide if it is Yes/No, True/False
![clientprofile](https://user-images.githubusercontent.com/8160209/30096495-5cdc272e-92e1-11e7-8e26-0a260a7e74f9.png)

[2017-09-06 08:53] #2454 closed

[2017-09-06 09:06] #2448 closed

[2017-09-07 07:51] Nenge1 opened #2459 "Authentication failure persist even if success logged in"
1.Try filling wrong credentials in the login page
![image](https://user-images.githubusercontent.com/29059263/30151348-bcc37526-93b7-11e7-8462-bca68e9393ec.png)
2. Then fill the valid credentials to access the home page
3. When you logout, the authentication failure message still displayed in the login page

[2017-09-07 09:17] Nenge1 opened #2460 "System ignore cases in username field in the login page"
For this case, username: mifos and password: password. The system allow username: MIFOS as valid username.
![image](https://user-images.githubusercontent.com/29059263/30155379-50800862-93c5-11e7-9f4d-79782149af51.png)
In my suggestion, It is not a good practice as this is a credentials, not the name of the user. Thus, the system should test the exact username without ignoring cases.

[2017-09-07 13:34] gkrishnan724 commented on #2460
@Nenge1 This should be reported in the fineract side.

[2017-09-07 15:22] gkrishnan724 commented on #2439
@Agnessy  @santoshmath  I believe there is no support in the platform for adding a note while performing undo approval. However, I wanted to know whether we really need notes for this action since I am not able to find these notes available in the UI.

[2017-09-07 15:28] gkrishnan724 commented on #2332
@Agnessy @santoshmath This should be created at the fineract side since the error messages are returned from the platform.

[2017-09-07 17:49] Nenge1 commented on #2460
Thanks @gkrishnan724, I will do so then

[2017-09-08 04:26] santoshmath commented on #2439
@mbj36 , @Mastermaulik , Will you confirm so that I can create this issue at Fineract side as well?

[2017-09-08 09:03] #2459 closed

[2017-09-08 14:50] MexinaD commented on #2328
@mbj36  i see this issue is fixed on the new release, i guess it can be closed now

[2017-09-08 14:51] MexinaD commented on #2328
@santoshmath you can test it first on your end

[2017-09-11 04:20] santoshmath commented on #2460
Same issue raised at Fineract side: https://issues.apache.org/jira/browse/FINERACT-522

[2017-09-11 06:13] santoshmath commented on #2328
#Fixed.

[2017-09-11 06:13] #2328 closed

[2017-09-11 14:00] Agnessy commented on #2120
@mbj36 @santoshmath  I see Admin > Organisation > Bulk Loan Reassignment icon and Manage Funds icon are still alike .

[2017-09-11 15:30] Agnessy opened #2464 "Payment Details are not fetched when editing Waived Interest Transaction"
Go to Client > New loan > Approve > Disburse > More > Waive Interest
Go to Transactions > View Transaction > Edit/Modify Transaction
Select Payment Type and Fill Other Payments Details > Submit .. View Transaction
![nit1](https://user-images.githubusercontent.com/13551795/30282711-c1d0e9ee-971e-11e7-9fc6-93bacb3f09b0.png)
![int2](https://user-images.githubusercontent.com/13551795/30282739-d1f40d1a

[2017-09-12 08:38] Agnessy commented on #2120
@mbj36 @santoshmath  I see Admin > Organisation > Bulk Loan Reassignment icon and Manage Funds icon are still alike .

[2017-09-12 09:18] MexinaD commented on #2464
@Agnessy  during waiving of interest, payment type is not involved and so even when you want to edit the transaction that's why it is not stored. I think the error here will be "there should not be the field for payment type when editing waive interest transaction"

[2017-09-12 09:54] Agnessy opened #2465 "Redeem Shares Heading"
Go to Client > New Share Account > Approve > Activate >Redeem Shares
 the heading is Apply Additional Shares
 in stead of Redeem Shares
![redeem](https://user-images.githubusercontent.com/13551795/30319768-6de517c4-97b9-11e7-8aba-6d00cdd737dc.png)

[2017-09-12 09:58] Agnessy opened #2466 "Doesn’t fetch loan product number"
Create Loan product with Interest calculation period = Daily , set Is Variable Installments Allowed?
Submit..Go to client > New Loan , submit> More > Edit Repayment Schedule
At the Heading the loan product name should fetch it’s account number inside the brackets.
**Old**
![variable1](https://user-images.githubusercontent.com/13551795/30319889-bf72142a-97b9-11e7-857a-5d78ec7b8433.png)
**New**
![va

[2017-09-12 14:47] MexinaD opened #2468 "When creating a guarantor who is existing client, the place to fill saving is not fetched"
Apply a loan account to a client who has a saving account.
View the loan before approving it, go to More -> Create Guarantor
Leave the 'existing client' selected, fill the name of the same client
The system will display the client details but will not display the place to fill the saving account and amount for guarantee.
![createguarantor](https://user-images.githubusercontent.com/8160209/30332161

[2017-09-13 09:40] Agnessy opened #2470 "Loan Notes Is not well aligned"
Client  > New loan > submit > Notes
**OLD**
![notes1](https://user-images.githubusercontent.com/13551795/30370491-753a45c2-9880-11e7-88a4-88ca99729a76.png)
**NEW**
![notes2](https://user-images.githubusercontent.com/13551795/30370530-9542496e-9880-11e7-95ef-0f475bff816d.png)

[2017-09-13 09:47] Agnessy opened #2471 "Charge creation"
Create Charge and attach Tax Group > Submit
Edit Charge > Edit tax group > Submit
**I suggest**
Either It should allow modification of Tax Group OR
When editing charge the tax group drop down/lists should be disabled.
![tax-charge 2](https://user-images.githubusercontent.com/13551795/30370711-10ff2c70-9881-11e7-8c86-c7a8b751a9e9.png)

[2017-09-13 10:04] Agnessy opened #2472 "Client Identities"
Improper labels in Client > Identities ,,
instead of **Document Type** there is **label.input.document-type**
instead of **Status** there is **Document Type**

**OLD**
![id1](https://user-images.githubusercontent.com/13551795/30371051-0badd734-9882-11e7-9bb0-74517a32a41c.png)
**NEW**
![id2](https://user-images.githubusercontent.com/13551795/30371092-1f52bf48-9882-11e7-8d91-1d029f0ca76c.png)

[2017-09-13 10:06] mbj36 commented on #2472
@mexinaD I am sure you can take this up

[2017-09-13 12:45] MexinaD commented on #2472
@mbj36  Sure

[2017-09-13 13:21] MexinaD commented on #2471
I think to allow modification of tax group can be done in back-end
@santoshmath, what do you think of the other suggestion?

[2017-09-13 19:53] edcable commented on #1919
Hi @gkrishnan724 Sorry I never replied to your comment. Savings Goal is something that doesn't yet exist so that can be ignored.

Amount as collateral refers to the amount of the savings balance that has been pledged as a guarantee for a loan. For now we can leave it out too and re-visit later.

@santoshmath we can mark this issue closed.

[2017-09-14 05:22] #1919 closed

[2017-09-14 18:13] abdugere opened #2474 "Funds transfer"
Please let me know if saving account transactions how to transfer to Ethiopia

[2017-09-15 05:37] Nenge1 opened #2475 "Capital Value never used in share product creation"
Location admin->products->share products
The CapitalValue field seems to be useless in the form. It could be better if it fetches  the product of shares to be issued and the nominal interest when the user fill them
![image](https://user-images.githubusercontent.com/29059263/30467963-fce9bdec-99f0-11e7-9ecc-f3b1900f2dac.png)

[2017-09-15 15:09] abdugere commented on #1919
Savings Goal is something that doesn't yet exist so that can be ignored.

Amount as collateral refers to the amount of the savings balance that has been pledged as a guarantee for a loan. For now we can leave it out too and re-visit later.

[2017-09-18 09:00] MexinaD opened #2478 "When you set max value is not greater than min value in "Is variable installment allowed?",the error is not understandable"
Create a loan product and select "Is variable installment allowed?"
In the fields to fill minimum and maximum values, let it be 0 in both
It gives the error which is not understandable by the normal user
![variableerror](https://user-images.githubusercontent.com/8160209/30534933-fc9557e6-9c68-11e7-8179-4419e2f95153.png)

[2017-09-19 05:36] santoshmath commented on #2466
@mbj36 , @Mastermaulik , please review the PR

[2017-09-19 05:38] santoshmath commented on #2468
@mbj36, this is the major issue , must be addressed soon.

[2017-09-19 05:39] santoshmath commented on #2470
@Agnessy , Loan notes are not displaying.

[2017-09-19 05:41] santoshmath commented on #2470
'Release Version' is getting displayed at next to 'Add' Notes button.

[2017-09-19 05:46] santoshmath commented on #2471
@MexinaD, @Agnessy, I think while editing charge drop/down lists should be disabled.

[2017-09-19 05:55] santoshmath commented on #2474
@abdugere, your question is posted  here: http://mifos.cloud.answerhub.com/questions/2290/fund-transfer.html

[2017-09-19 05:56] santoshmath commented on #2475
@Nenge1 , it is included for future use.

[2017-09-19 14:09] MexinaD opened #2481 "Create Survey is not working"
1. Navigate to Admin -> System -> Manage Survey, fill the basic information and proceed
2. Fill the fields of the "Add question"
3. Click Option and fill the fields and then Add the option
4. And then Add the Question
The system will bring the button for "Add Question" and "Create Survey" and at the right side, the created question
The button to add survey is not working and it doesn't give any er

[2017-09-19 14:12] nazeer1100126 commented on #2481
Already PR is available on surveys https://github.com/openMF/community-app/pull/2433

[2017-09-19 15:05] MexinaD commented on #2481
Does the enhancement include viewing the survey and submit survey when you create on the client profile? @nazeer1100126

[2017-09-21 12:50] Agnessy opened #2482 "Edit Interest Rate Chart"
Go to Products > Fixed Deposit Products  > Create  , , set interest rate chart Submit>
View Product > Create/Edit Interest Rate Chart ,,  then edit .. Period From / To Doesn't seem clearly after insert number
![seem](https://user-images.githubusercontent.com/13551795/30699075-64bc82ce-9eec-11e7-87de-05cc8a093c24.png)

[2017-09-22 07:17] Agnessy opened #2483 "Choosing "Select FD Products" Brings Unknown Results"
Go to Client > New Fixed Deposit > Choose Any product
then Go back to select drop-down(As if you want to change product) , then choose “Select Fixed Deposit Product” ,, it bring unknown product
I think it was supposed to behave like loan application , that after the selection of the product the option of  “Select …...” shouldn't be there  .
![f0](https://user-images.githubusercontent.com/13551795/

[2017-09-22 08:18] Agnessy opened #2485 "Viewing Saving Account"
Go to client A > New Saving > Approve ,Activate > Transfer funds To the saving acc of client B
Go to client B > Saving Account(The one which received the fund) > Transaction > View transactions(Of that Date) > Then Click in View Saving Account
In stead of showing the Saving account of Client B , It show saving account of client A.

[2017-09-22 09:16] Agnessy opened #2487 "Template"
Template > Create Entity = Client , Type = Document , body = {{client.accountNo}}, {{client.fullname}}
{{#client.groups}},  {{/client.groups}} > Submit
![t1](https://user-images.githubusercontent.com/13551795/30736981-8b7733f4-9f8d-11e7-9f78-4d5df81797b6.png)

Client > Client screen reports > open
It only shows client acc no,, other entities are not retrieved
![t2](https://user-images.githubuserco

[2017-09-22 09:42] #2436 closed

[2017-09-22 09:44] #2308 closed

[2017-09-22 09:46] #2453 closed

[2017-09-22 09:49] #2472 closed

[2017-09-22 09:55] #2466 closed

[2017-09-22 10:02] #2390 closed

[2017-09-22 10:03] #2449 closed

[2017-09-22 10:04] #1796 closed

[2017-09-22 10:06] Agnessy opened #2488 "Upload Client ID Document"
Create Client Identities , Upload Client Doc

1. Showing Improper labels , label.anchor.viewclienttranslate should be View Client.

2. Can not Upload document.
**new**
![idd](https://user-images.githubusercontent.com/13551795/30739320-8e26bfe0-9f95-11e7-83ca-2c5c8954c49a.png)
**old**
![ag](https://user-images.githubusercontent.com/13551795/30739358-b0b10dcc-9f95-11e7-8fb7-851148f463b6.PNG)

[2017-09-25 06:35] santoshmath commented on #2487
This issue is already created here:

https://github.com/openMF/community-app/issues/2373

[2017-09-25 06:41] santoshmath commented on #2481
Now, Survey can be created.

[2017-09-25 06:41] #2481 closed

[2017-09-25 06:41] #2474 closed

[2017-09-27 07:14] MexinaD opened #2493 "To fetch the current date when assigning loan officer"
On the page of assigning loan officer [ which is the same page when you change loan officer ]
The field for date should fetch the date of that day like when you unassign the loan officer.
![unassign](https://user-images.githubusercontent.com/8160209/30900405-91a897e4-a36c-11e7-8687-0db339f06a81.png)

![assign](https://user-images.githubusercontent.com/8160209/30900409-950c6fb4-a36c-11e7-86ab-1dccf

[2017-09-28 08:06] Agnessy commented on #1958
@MexinaD @mbj36 @santoshmath  The issue works fine when creating User,
Not yet for user edition. 'Selected Role' doesn't have asterisk
![user](https://user-images.githubusercontent.com/13551795/30954553-4822ce64-a439-11e7-877b-3180adf8e5f5.png)

[2017-09-28 09:26] santoshmath commented on #1958
That's true @Agnessy .  Reopening this issue.

[2017-09-28 09:43] Agnessy opened #2495 "Labels/Parameter names having single radio buttons should not be mandatory"
- Create Fixed Deposit Product

- Create Recurring Deposit Product
Is primary grouping by Amount shouldn't contain Asterisk.
![radio1](https://user-images.githubusercontent.com/13551795/30959890-2808138a-a44a-11e7-8efe-5a7c7c729dfc.png)

[2017-09-28 10:42] Agnessy opened #2497 "Direction buttons in Loan Provisioning Criteria"
Admin >> Organisation >> Loan Provisioning Criteria >> Create > Submit
Then Edit
Direction buttons are alike.
**Old**
![prov1](https://user-images.githubusercontent.com/13551795/30962187-7f2bc6c8-a451-11e7-9918-05ae9d1af8ed.png)

**New**
![prov2](https://user-images.githubusercontent.com/13551795/30962245-adb9677a-a451-11e7-9e4d-0ce815733c35.png)

[2017-09-28 11:25] Agnessy commented on #1969
@santoshmath @mbj36
I think this issue still exist.

[2017-09-29 05:45] Nenge1 opened #2501 "On hold transactions view"
On hold transactions is not well aligned
procedures:

- create loan product with own guarantee requirements
-Apply loan application of the client associated with the product above , Then create guarantor in the loan while checking existing client and select the same client as guarantor.
-Now, view saving of client and click the value of on hold funds.
 The page looks as the image below

![image](h

[2017-09-29 08:13] Agnessy commented on #2487
Hello @santoshmath  ,, I think

-  @2473 issue exist only in new branch while this exist in both old and new.

- @2473 issue was allignment issue , while this is operational issue(on client side).

[2017-09-29 22:13] edcable opened #2503 "View Journal Entries button does not work from individual transaction"
View Journal Entries button (arrow) does not work.

Navigate to any loan account, then go to transactions tab and then attempt to click the arrow for view journal entries for an individual transaction.

It won't click through an go to the journal entry.

[2017-10-01 11:53] luckyman000786 commented on #2503
Can you tell where the function viewloantransactionjournalentries(transaction.id) is called ?

[2017-10-01 12:05] mbj36 commented on #2503
@luckyman000786 There are many functions named viewJournalEntries(), I am not sure for which you are looking, Here is the Github search result - https://github.com/openMF/community-app/search?utf8=%E2%9C%93&q=viewJournalEntries%28%29&type=

[2017-10-02 07:51] luckyman000786 commented on #2503
Can I work on this issue ? @edcable @mbj36

[2017-10-02 08:08] mbj36 commented on #2503
Yes @luckyman000786

[2017-10-02 09:52] abhinavralhan commented on #2493
Hi, I'd like to take this up.

[2017-10-02 09:59] mbj36 commented on #2493
Sure @abhinavralhan

[2017-10-02 12:34] luckyman000786 commented on #2503
@mbj36 @edcable Please review the pull request and merge it.

[2017-10-02 13:03] mbj36 commented on #2503
Be patient.  It will be reviewed

[2017-10-03 18:20] abhinavralhan commented on #2493
So, I was just going through the codebase. Could you confirm where I should be looking at? And, how do I get the same in test mode.
First time working on such a huge codebase
@mbj36

[2017-10-03 18:58] mbj36 commented on #2493
Hi @abhinavralhan Great to hear that, you should be looking here https://github.com/openMF/community-app/blob/develop/app/views/loans/assignloanofficer.html

Have you build the code ? It's just three steps -

`npm install
bower install
grunt serve`

and you can test locally

[2017-10-03 19:10] abhinavralhan commented on #2493
@mbj36 The build is successful.
I wanted to ask, how do I go to the page where I can see about assigning loan officers on localhost. The homepage is login page itself.
I wanted to make changes to the code and see how it responds, locally.

[2017-10-03 19:14] mbj36 commented on #2493
Check out this - http://localhost:9002/?baseApiUrl=https://demo.openmf.org#/assignloanofficer/1591

[2017-10-03 19:20] abhinavralhan commented on #2493
Is this right?

![selection_025](https://user-images.githubusercontent.com/14059638/31144235-b233d286-a89d-11e7-94cc-c3fa4f3ebce4.png)

[2017-10-03 19:25] mbj36 commented on #2493
After signin into app, try the above url

[2017-10-03 21:37] abhinavralhan commented on #2493
@mbj36
So I'm there on the page but I'm getting this error. Basically, it is unable to find data for "To loan officer" field. It appears as below
![selection_026](https://user-images.githubusercontent.com/14059638/31150304-b27edd7c-a8b0-11e7-893b-5fd993b0a6e8.png)

Also how do I find the page which is used to "Unassign Loan officer". what would be the url

[2017-10-04 05:37] mbj36 commented on #2493
We have our demo here - https://demo.openmf.org/#/viewloanaccount/1139

Checkout the screenshot
![selection_065](https://user-images.githubusercontent.com/9936881/31161349-fc740860-a8f3-11e7-8182-fd02a204ecf2.png)

Here you assign the loan officer and then it will be visible in `loan officer` field  which is just below the currency field, if you remove the loan officer from there, it will take you

[2017-10-04 06:09] mbj36 commented on #2503
Fixed

[2017-10-04 06:09] #2503 closed

[2017-10-04 06:31] luckyman000786 commented on #2493
@mbj36 Can I work on it ?

[2017-10-04 06:41] mbj36 commented on #2493
@abhinavralhan Are you working on it?  Feel free to ask if you still have any doubt

[2017-10-04 07:02] luckyman000786 commented on #2493
Can you elaborate the issue ?

[2017-10-04 07:13] luckyman000786 commented on #2470
@mbj36 @therajanmaurya Can I work on this issue ?

[2017-10-04 07:15] mbj36 commented on #2470
Yes

[2017-10-04 07:33] luckyman000786 commented on #2470
@mbj36 Can you tell me the html file of this ?

[2017-10-04 08:09] abhinavralhan commented on #2493
@mbj36
I am working on it. Just had a few classes in the morning. I will get back to you with whatever doubts I have. Thankyou :+1:

[2017-10-04 11:56] abhinavralhan commented on #2493
@mbj36
After making a change to some file locally, I save the file, stop the server. Run grunt serve again. Yet no changes are reflected on the required page. I have tried this on a few pages.
What could I be missing here?

[2017-10-04 12:02] mbj36 commented on #2493
What are your changes ?

[2017-10-04 12:11] #2497 closed

[2017-10-04 12:13] abhinavralhan commented on #2493
@mbj36
Any simple change like just commenting out a block of code in https://github.com/openMF/community-app/blob/develop/app/views/loans/assignloanofficer.html or commenting out code in it's corresponding controller

[2017-10-04 12:17] mbj36 commented on #2493
That's not possible @abhinavralhan. You might be doing some mistake.

[2017-10-05 10:46] luckyman000786 commented on #2468
@mbj36 Can I work on this issue ?

[2017-10-06 06:48] abhinavralhan commented on #2493
@mbj36
Hey, sorry I couldn't fix it. Angularjs is new for me as I'm more used to Angular 4.
I do understand the codebase, and I recognised my mistake in the last step.
I'll look for easier issues and try fixing them. Thanks for all the help regardless :+1:

[2017-10-06 10:22] Agnessy commented on #2493
Hi Can I try to Fix it?

[2017-10-06 17:11] #2493 closed

[2017-10-07 06:48] gkrishnan724 commented on #2468
@MexinaD @santoshmath  According to the docs I found https://mifosforge.jira.com/wiki/spaces/docs/pages/72909221/How+to+Add+Remove+Modify+a+Guarantor+to+a+Loan+Account

I don't see that we need to also include the saving account and amount for a loan guarantor. If those fields need to be added, then this would be an enhancement  and I believe this should be also solved at the fineract side.

[2017-10-07 10:37] luckyman000786 commented on #2447
@mbj36 @edcable Can I work on this issue ?

[2017-10-08 14:17] anand1248 commented on #2488
May I look upon this issue?

[2017-10-08 17:31] mbj36 commented on #2488
@anand1248 Sure! Let me know if you face any problem

[2017-10-08 17:43] mbj36 commented on #2447
Sure @luckyman000786

[2017-10-09 09:52] luckyman000786 commented on #2447
@mbj36 @edcable I am trying to make a [API Request](https://demo.openmf.org/fineract-provider/api/v1/groups?tenantIdentifier=default&pretty=true&name=abcd) but it is getting an empty response. Can you tell me what wrong thing I am doing in this request ?

[2017-10-09 19:16] anand1248 opened #2515 "Incorrect placeholder values."
![bug](https://user-images.githubusercontent.com/25207758/31354363-cd5c3bce-ad53-11e7-8372-7b9d7fa3fd02.jpg)
-  First block should display "Filter display by Name/Client/Staff/Office.

- Second block should display "Find By Name/Mobile/Client/External ID/Identifier".

[2017-10-10 09:42] luckyman000786 commented on #2515
@mbj36 Can I work on this issue ?

[2017-10-10 19:55] mbj36 commented on #2515
@luckyman000786 Sure

[2017-10-11 06:21] MexinaD commented on #1624
There is a link for Fund mapping which when entered go to Adhoc search and there is a link for Adhoc which gives an empty page
![adhoc](https://user-images.githubusercontent.com/8160209/31424813-022661b0-ae65-11e7-806b-3dc626589625.png)

If the Fund mapping functionality is not yet working, is Adhoc search should access the page that is accessed by fund mapping for now?

[2017-10-11 09:48] mbj36 commented on #2515
Fixed

[2017-10-11 09:48] #2515 closed

[2017-10-11 13:26] MexinaD commented on #2468
@gkrishnan724  see the screenshot of the RELEASE 17.07.01
![guarantor](https://user-images.githubusercontent.com/8160209/31442933-a1ef2d90-aea0-11e7-9024-77985a3b86b3.png)

[2017-10-11 15:24] luckyman000786 commented on #2470
I think now this issue can be closed

[2017-10-11 16:29] #2470 closed

[2017-10-11 18:59] #2442 closed

[2017-10-11 19:18] #2485 closed

[2017-10-11 19:20] mbj36 commented on #2471
Fixed

[2017-10-11 19:20] #2471 closed

[2017-10-12 05:08] gkrishnan724 commented on #2468
@MexinaD Oh, then it is probably a bug, could you please provide the exact steps to reproduce the above screenshot? since in most cases, the platform does not return the accountLinkingoptions hence we are not able to see the options for account and amount. This might be a fineract side issue

[2017-10-12 06:39] gkrishnan724 commented on #2445
@santoshmath @Agnessy please report this to the fineract side. I have checked this issue and the form is submitted to the platform correctly. The market price period is deleted while submitting but it seems that the platform is not deleting it.

[2017-10-12 06:51] gkrishnan724 commented on #2423
@MexinaD should the paymentType be a mandatory field?

[2017-10-12 08:37] MexinaD commented on #2468
@gkrishnan724  Apply a loan, then niew the loan profile, go to more and Create Guarantor
Select the existing guarantor, in the field to enter name, enter the name of the client who have an active saving account.
The system installed locally with current release provide the field to enter saving account and amount but demo does not.

[2017-10-12 08:40] MexinaD commented on #2423
@gkrishnan724  I think not necessary

[2017-10-12 08:54] MexinaD commented on #2488
The issue already have a pull request

[2017-10-12 09:03] gkrishnan724 commented on #2441
@Agnessy While creating, Default Shares per client field is mandatory. However, when we are editing and removing it. all the minimum and maximum and default fields are mandatory

[2017-10-13 09:01] MexinaD opened #2523 "The error for o-exist of loans should be on the time of approval"
1. Create two different loan products
2. Go to product mix and choose one and restrict the other; Admin -> Product -> Product Mix
3. Then apply a loan of one of the product to an active client, approve and disburse it
4. Then apply another loan form the other product, approve it
The system allow the loan to be approved and give the error during disbursement
![restriction](https://user-images.githu

[2017-10-13 15:20] fboniphace opened #2525 "Feature to indicate the Advance amount for overpaid Loan"
Hello Devs
I'd like to request an adjustment/feature to indicate the advance amount for overpaid Load, since currently the system show it as a suggested amount when you attempt to transfer the fund for overpaid Loan.
The screen shot bellow indicate the field that show the advance amount for overpaid loan as a suggested amount
![screenshot from 2017-10-13 18-15-32](https://user-images.githubusercon

[2017-10-13 16:41] mbj36 commented on #2525
@fboniphace Can you send this with details on Mifos and Apache mailing list ?

[2017-10-13 16:55] #2482 closed

[2017-10-16 05:57] anand1248 commented on #2444
Is this issue already taken up or may I work on this one?

[2017-10-19 19:54] abhinavralhan commented on #2475
@Nenge1 Could you make this more clear. What should the values be in this case?

[2017-10-20 13:44] MexinaD opened #2528 "Active loans when the client is waiting the transfer to be accepted or rejected"
When you transfer a client to another branch but you have not accepted/rejected the transfer, the client loans which are active/due become inactive but those which are waiting to be approved and those waiting to be disbursed are still active. The same with saving ans shares
![transferclient](https://user-images.githubusercontent.com/8160209/31823739-c053c072-b5b5-11e7-8eda-031811bde4e7.png)

All l

[2017-10-23 07:07] MexinaD opened #2529 "Holidays are not displayed after creation"
When you create a holiday and submit, they are not displayed/listed as they are supposed to
Goto Admin->Organization->Manage Holidays-> Create holiday and submit
![holiday](https://user-images.githubusercontent.com/8160209/31876116-c76de7d6-b7d9-11e7-9d63-9377af37d490.png)

I tested on the local and checked the database, the holiday was stored on database

[2017-10-23 09:38] MexinaD opened #2530 "Field in loan product/account shows it's mandatory while its not"
The field of "Calculate interest for exact days in partial period" in loan product creation and loan application shows it is mandatory while it is not.

For the configuration of the loan which does not require this field to be selected, users get unexpected result and hence it is a problem for new users
![mandatorysign](https://user-images.githubusercontent.com/8160209/31882309-0300d348-b7ef-11e7-

[2017-10-23 14:05] kazacube-hsmaiti opened #2532 "Client Loan reschedule history"
Hi,
When i create a Loan reschedule, and i want the supervisor user to approuve it, i can't see any menu that allow to do so. even if the view is acessable because if i copy the url with the loan id, i can see the demand i just created but can't acess it using menu.

[2017-10-23 15:19] luckyman000786 commented on #2440
@edcable @mbj36 @santoshmath This issue is not only in the community app but also in android client and self service app also and this Currency Symbol is coming from API request, so I think it should be solved in Apache Fineract.

[2017-10-23 15:31] santoshmath commented on #2440
@mbj36 , can you confirm this issue must be raised and fineract  side as well?

[2017-10-23 15:35] santoshmath commented on #2532
Answer is posted here:

http://mifos.cloud.answerhub.com/questions/2358/qustion-by-kazacube-hsmaiti.html?childToView=2359#answer-2359
please continue the discussion there if you have any doubts.

[2017-10-23 15:36] #2532 closed

[2017-10-23 15:39] santoshmath commented on #2529
@MexianD , holidays are office specific. Checking your screenshot you didn't select the office.  Please close this issue, if you found it resolved.

[2017-10-23 16:45] stebby opened #2533 "Report for MIFOS X Closed loans"
There is a need to create a new report on MIFOS X that will show all CLOSED LOANS. Prior to running the Report, the following parameters needs to be supplied

- Office
- From Date and To Date
- Loan Officer
- Loan Product

The report should list the following data;

- Loan Account No
- Name of Client
- Disbursed Loan (Principal)
- Expected Interest
-  Expected Fees
- Paid Interest
- Paid Fees
- Wr

[2017-10-24 01:16] friscomm commented on #2530
has anybody claimed this yet? I'd like to give it a shot if it's available to be worked on

[2017-10-24 06:31] mbj36 commented on #2432
If it's fineract side, then shouldn't it be closed here ? @santoshmath

[2017-10-24 06:34] mbj36 commented on #2488
Fixed

[2017-10-24 06:34] #2488 closed

[2017-10-25 08:53] #2529 closed

[2017-10-25 08:59] MexinaD commented on #2530
@friscomm  It is already worked on, see the pull request referenced

[2017-10-25 09:41] MexinaD commented on #2432
@mbj36 i think it can still be open as after i developed in fineract side, it will have to be developed in community app for user to be able to use the feature

[2017-10-25 16:46] kazacube-hsmaiti opened #2535 "The search field of reschedule loan in the menu Checker Inbox & Tasks not working"
Hi,
In the Left menu **Checker Inbox & Tasks**, when i want to search for a reschedule loan.
i tape the name but nothing changes. i think its not working.
link: [https://demo.openmf.org/#/tasks](https://demo.openmf.org/#/tasks).
here is a screenshot of the search field:

![capture du 2017-10-25 17-52-26](https://user-images.githubusercontent.com/32460729/32044776-6adb1764-ba36-11e7-896e-467b5db5da

[2017-10-25 16:55] kazacube-hsmaiti opened #2536 "Bug: I can't see all the reschedule loan when i want to approuve them."
In the menu **Checker Inbox & Tasks**. when i want to approuve an old reschedule loan, i can't see it.
i have to approuve many loans to finally arrive to the one i want.
i think the probleme here is that the list of loans is limited (to 15 reschedule loan only), and we have to rejecte or approuve a number of reschedules to see the one we want.

here is a screenshot of the view:
![capture du 2017-1

[2017-10-26 12:56] luckyman000786 commented on #2440
@santoshmath @edcable @mbj36 I have raised this issue on the fineract side.

[2017-10-26 13:00] santoshmath commented on #2440
Can you share the fineract side issue link here and this issue link there?

[2017-10-27 10:16] kazacube-hsmaiti opened #2539 "Loan data are not loaded (corrupted)"
Hello,
I have a big probleme. When i want to see a client's loan, i get a view with corrupted data.
here is a screenshot of the view:

![image](https://user-images.githubusercontent.com/32460729/32099435-2d38de96-bb08-11e7-9560-d5147e624280.png)

[2017-10-27 10:27] kazacube-hsmaiti commented on #2539
in the log i got this message:

{timestamp: 1509099806863, status: 500, error: "Internal Server Error",…}
error:"Internal Server Error"
**exception:"org.springframework.jdbc.BadSqlGrammarException"**

message:"**PreparedStatementCallback; bad SQL grammar** [select dd.id as id,dd.expected_disburse_date as expectedDisbursementdate, dd.disbursedon_date as actualDisbursementdate,dd.principal as princi

[2017-10-30 08:05] Agnessy commented on #2423
@MexinaD @gkrishnan724 @santoshmath @edcable
I think this also exist when depositing in Recurring Deposit Account.
![dee](https://user-images.githubusercontent.com/13551795/32159968-c3ea08ec-bd60-11e7-85eb-4c0c8194d424.png)

[2017-10-30 09:58] Agnessy opened #2540 "End Date shouldn't act as a mandatory field when editing teller"
Go to Organization >> Teller/Cashier Management .. New Teller, Set End date .. submit
Edit Teller, empty end date field, submit,, nothing happen
it shouldn't act as a mandatory, since when creating teller it is not mandatory
![tuu](https://user-images.githubusercontent.com/13551795/32164404-7edf6958-bd70-11e7-8a08-eb0a160f2f95.png)

[2017-10-30 10:19] MexinaD commented on #2528
@santoshmath now when am trying to work on this issue, it seems it might be the issue in the platform
Can you help me to check so that i can be sure?

[2017-10-30 10:45] MexinaD commented on #2539
@kazacube-hsmaiti did you add any sql satement in the system before the problem started?

[2017-10-30 10:53] Agnessy opened #2541 "Transaction Details in Recurring Deposit account"
Go to Client >> New Recurring Deposit Application >> Approve >> Activate
Deposit >> Transactions >> Details are not well aligned
![ree2](https://user-images.githubusercontent.com/13551795/32166061-d815a79e-bd75-11e7-87cd-4fedf8033752.png)

I think it suppose to look like when editing/undo that Transaction Details

[2017-10-30 11:50] MexinaD commented on #2536
Am working on this

[2017-10-30 11:56] kazacube-hsmaiti commented on #2539
@MexinaD i fond the problème, it was the version of sql server that i'm using (5.7).
i changed it to version 5.6 and it worked.

[2017-10-30 12:48] Agnessy opened #2543 "Doesn't fetch the specified End date when editing Cashier Notes"
Go to  Organization >> Teller/Cashier Management .. create Teller,
Create Cashier ,  fill description .. submit,, Edit Cashier..

- "To"(End Date) fetch the "From"(Start Date) instead of its specified Date
![cass](https://user-images.githubusercontent.com/13551795/32171178-535f429a-bd88-11e7-9dab-3bd2b0629993.png)

- After Submit, The "To"(End Date)  is not shown..when viewing the list of cashier,

[2017-10-30 14:22] Agnessy opened #2544 "Improper Labels when paying RD and FD Charge"
Go To client > Apply Fixed or Recurring Deposit >> Approve >> Activate
Add Charge with  Charge time type = Specified Due Date
Go to Charge tab >> pay (Under Action column)
![paay](https://user-images.githubusercontent.com/13551795/32175546-580110fe-bd96-11e7-92e0-e5110bd12ac0.png)

[2017-10-30 14:25] #2539 closed

[2017-11-02 05:38] santoshmath commented on #2536
@mbj36 ,  FYI

[2017-11-03 13:49] Agnessy opened #2548 "Wrong Heading when Adding charge in RD account"
Go to client >> New Recurring Deposit > Submit
More >> Add charge
The link was supposed to be  **View Recurring Deposit Account**  not **View Fixed Deposit Account**
![rdd](https://user-images.githubusercontent.com/13551795/32376715-a4b475bc-c0b6-11e7-9d37-e620219fba70.png)

[2017-11-07 14:33] edcable opened #2550 "Correct spelling error in label for "Repayment Scheduling Type""
Navigate to Admin >> Organization >> Manage Holidays.

Click to create holiday, the label for the dropdown, repayment scheduling type, is misspelled:

![screen shot 2017-11-07 at 6 30 08 am](https://user-images.githubusercontent.com/823454/32498800-85c53ebc-c385-11e7-87fe-f130f15ac53d.png)

[2017-11-08 09:29] luckyman000786 commented on #2440
@santoshmath Here it is - [https://issues.apache.org/jira/browse/FINERACT-547](url)

[2017-11-09 05:26] santoshmath opened #2552 "Once holiday is deleted it should not be displayed on holidays list even with 'Deleted' Status"

[2017-11-09 10:11] santoshmath commented on #2530
@mbj36 , please check the  PR for this issue.

[2017-11-09 10:14] santoshmath commented on #2550
@mbj36 , please check the PR

[2017-11-09 10:48] #1818 closed

[2017-11-09 10:50] santoshmath commented on #1857
@mbj36 FYI

[2017-11-09 12:33] santoshmath opened #2554 "Check Mandatory Fields are furnished or not before giving Green colour and Right Tick in Wizard implementation of products and accounts"
Currently, at any step of wizard, if we click 'Next' without furnishing mandatory details, it shows green color with right tick.

It should be done for all the cases of wizard implementation.

[2017-11-09 12:34] santoshmath commented on #2554
Related issues: #1660 , #2299 , #2426

[2017-11-10 16:47] mdew192837 commented on #2446
@santoshmath Is @Anh3h's fix sufficient? If so, we need to remove GCI task. https://codein.withgoogle.com/dashboard/tasks/5731526236962816/

[2017-11-10 16:48] mdew192837 commented on #2530
Have we already created the GCI task for this? We should post here for reference to remember to close the GCI task if this issue is already resolved @santoshmath

[2017-11-10 16:49] mdew192837 commented on #2483
Seems like issue is ready to review? Have we already created GCI issue? We should close that task to prevent confusion for students @santoshmath

[2017-11-10 16:50] mdew192837 commented on #2495
Seems like @Agnessy 's pull request fixes this. Have we already created GCI task? If so, we need to remove it @santoshmath

[2017-11-13 03:54] santoshmath commented on #2446
@mdew192837 , Sure. Let me check and remove the issue.

[2017-11-13 03:56] santoshmath commented on #2530
@mdew192837 , Yes. it is created. We  already shared this issue URL in GCI task. Do you think we should share GCI task link here too?

[2017-11-13 04:08] santoshmath commented on #2483
@mdew192837 , Thank you for catching this. Just checked. Now, I am not able to select FD product. @gkrishnan724 , I think it is created regression.

[2017-11-13 04:10] santoshmath commented on #2495
@Agnessy , @mdew192837 , This issue is not yet resolved.

[2017-11-13 04:13] santoshmath commented on #2530
@MexinaD , Just checked. This issue not yet  resolved.

[2017-11-13 07:08] santoshmath commented on #2446
@Anh3h , @mdew192837 , Tested  this issue.  It can take future date(by copy-pasting the date) but I am not able to pick future date through calender.

[2017-11-13 08:33] MexinaD commented on #2530
@santoshmath  the PR is not yet merged

[2017-11-13 11:01] santoshmath commented on #1657
Duplicate of https://github.com/openMF/community-app/issues/1724

[2017-11-13 11:01] #1657 closed

[2017-11-13 11:10] santoshmath opened #2555 "Unable to attach group while creating center."
1. Create a group under head office or some branch office.
2.  Create a center  under same office and while creating center try to attach group.

[2017-11-13 11:17] #1614 closed

[2017-11-13 14:24] edcable commented on #1820
@nazeer1100126 @mbj36 @santoshmath Is this ready to be closed and merged and shipped with the upcoming point release.

[2017-11-13 14:26] edcable commented on #1820
Is this blocked by merge of https://github.com/apache/fineract/pull/316?

[2017-11-13 16:30] gkrishnan724 opened #2556 "Mifos X web app - Need better Design for product detail pages."
The current page for product details(Loan, Savings, Share , FD , RD)  due to its tabular display, it is often hard to identify and read the data by matching it to the respective column as there are a lot of entries.

It would be great if we could have a better UI/Mockup for the same.

Go to Admin>>Products>>Loan Product and click on any one of the products to see the current UI.

Current Product D

[2017-11-14 04:57] mdew192837 commented on #2555
I can attach existing groups when I create a center. Not sure if this is an issue.

However, if I create a new group, active the new group, the new group does not appear in the selection box when I create a center. Can you verify this @santoshmath . If so, we need to create an issue.

[2017-11-15 10:20] MexinaD opened #2558 "Unable to add a group when you "Manage groups" in a center"
1. Create a group in a certain office
2. Create a center in a same office of the group created.
3. After submission, go to a profile of a center and "manage groups"
System does not fetch the group so as it can be added to the center

[2017-11-15 11:45] MexinaD opened #2559 "Activities not to be seen for a client who is on state of "transfer on hold""
For a client who is in state of "transfer on hold", there are actions which should not be displayed in the profile
![onhold](https://user-images.githubusercontent.com/8160209/32834339-53a9de08-ca13-11e7-933e-35949ecfe6ac.png)

Create standing instruction, Create screen report and Upload client signature

[2017-11-16 05:49] MexinaD opened #2560 "Add fees field when prepay a loan"
When you prepay a loan which has unpaid fees, the transaction amount is different from the summation of Principal and Interest ( which are the only amounts that are shown in the page ). This is because the transaction amount include the unpaid fees but no where it say so.
I was suggesting, the field for fees to be added so as to provide a clear details.
![prepay](https://user-images.githubusercont

[2017-11-17 03:09] mdew192837 commented on #2548
@santoshmath I can mentor this as well

[2017-11-18 01:46] mdew192837 commented on #2559
How do I remove permissions? @MexinaD

[2017-11-18 03:30] mdew192837 commented on #2559
I'm just confused as to how the community-app updates the client status to "Transfer in progress."

I looked at the API call here https://demo.openmf.org/api-docs/apiLive.htm#clients_propose_transfer, but I couldn't find anything.

Also, what do you propose to do this? I don't think we restrict the menu at all currently. @MexinaD

[2017-11-20 10:48] #2552 closed

[2017-11-20 11:11] #2483 closed

[2017-11-20 11:13] #2441 closed

[2017-11-20 11:14] #2444 closed

[2017-11-20 11:18] #2478 closed

[2017-11-20 11:20] #2544 closed

[2017-11-20 11:20] #2541 closed

[2017-11-20 11:21] #2543 closed

[2017-11-22 07:00] santoshmath opened #2562 "Unable to login in https://demo.openmf.org using internet explorer"

[2017-11-22 08:51] #2501 closed

[2017-11-24 04:36] #2299 closed

[2017-11-24 09:52] santoshconflux opened #2567 "Unable to submit share product"
Provide all mandatory fields but don't provide minimum and maximum 'Shares per client'.

Unable to submit loan product, not throwing any validation and even response is  not getting generated.

[2017-11-24 09:52] mbj36 commented on #2567
It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the predictions will become more precise every

[2017-11-24 12:56] #2550 closed

[2017-11-28 18:13] shr33narayan commented on #1721
@santoshmath @avikganguly01  @mbj36  Can you explain the issue more, and which file is this related to. I am willing to take up this issue. ;)

[2017-11-28 19:01] shr33narayan commented on #1958
@santoshmath @mbj36 You can assign me this issue, I'd like to work on it now.

[2017-11-28 19:06] mbj36 commented on #1958
You are free to work on it

[2017-11-29 02:23] santoshmath commented on #1721
@shr33narayan , ping me on Google hangout. (santosh@confluxtechnologies.com). I will show you how to reproduce  the issue.

[2017-11-29 04:18] santoshmath opened #2585 "Employee can be added to an office with joining date earlier than the office opening date."
1. Create an office  with opening date 1 January 2017

2. Create an employee for the same office with 'joined on date' earlier than 1 January 2017.

[2017-11-29 04:23] santoshmath opened #2586 "Able to create branch office having opening date earlier than the opening date of parent office"
Consider Head Office  having opening date 01 January  2009.

Under this Head Office  , create an branch office having opening date earlier than 01 January 2009.

The application is allowing this . It shouldn't allow this and should throw proper validation message.

[2017-11-29 04:39] santoshconflux opened #2587 "In Loan Provisioning Criteria, 'Sub-Standard' row should display just after 'Standard' row"
Go to organization > Provisioning Criteria.

Create a provisioning criteria with days , %age and affected accounts.

When view the provision, it displays as shown here:

![substd1](https://user-images.githubusercontent.com/23022667/33358224-47bd6706-d4ed-11e7-893a-e6e2526053d1.png)
![substd2](https://user-images.githubusercontent.com/23022667/33358225-47f9f310-d4ed-11e7-8f93-a0e5a73dcf02.png)

[2017-11-29 04:39] mbj36 commented on #2587
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @Agnessy.

[2017-11-29 04:47] santoshmath commented on #2559
Hi @MexinaD , Will you comment  on this?

[2017-11-29 07:12] santoshmath opened #2590 "Description Field while creating saving product should not be mandatory"
Go to Admin>Products>Saving Products and click on 'Create Saving Product'.

In create page, Description field is mandatory. It shouldn't  be.

[2017-11-29 07:40] santoshmath opened #2591 "Description Field while creating share product should not be mandatory"
Go to Admin>Products>Share Products and click on 'Create Share Product'.

In create page, Description field is mandatory. It shouldn't be.

[2017-11-29 10:10] shr33narayan commented on #1721
@santoshmath request sent. 👍

[2017-11-30 09:22] santoshmath opened #2601 "Searching for groups while creating center is displaying groups which are already member of other center"
Go to centers and create a center. While creating center search  for existing groups and select the  group which  is already part of other center.

[2017-11-30 09:23] mbj36 commented on #2601
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mdew192837.

[2017-11-30 09:24] #2555 closed

[2017-11-30 09:25] #1958 closed

[2017-11-30 09:40] santoshmath opened #2602 "In New saving application, ticking 'Is Overdraft Allowed' hiding 'Minimum balance."
Go to any client and click on Savings and select any savings product.
In 'Terms' tick on 'Is Overdraft Allowed' and observe that  'Minimum balance which was appearing before gets hidden.

[2017-11-30 09:57] santoshmath opened #2603 "Ticking on Recalculate Interest & Place Guarantee Funds on Hold is not showing required fields related to them"
Go to any client and click on 'New Loan' .Select loan product and try to tick 'Recalculate Interest' or "Place Guarantee funds on Hold". It is going to the next step of workflow

![screenshot from 2017-11-30 15-23-43](https://user-images.githubusercontent.com/23022667/33424798-e032166c-d5e2-11e7-9c17-26c46287adce.png)

[2017-12-01 03:30] gkrishnan724 commented on #2451
@santoshmath  @MexinaD please make this a fineract-side issue, the server seems to accept collaterals without values. for GCI I guess we could make the students solve the front-end part.

[2017-12-01 05:14] santoshmath commented on #2451
@gkrishnan724 , done:

https://issues.apache.org/jira/browse/FINERACT-570

[2017-12-01 09:03] Kanav-7 commented on #2602
@santoshmath Can I work on this issue?

[2017-12-01 09:08] santoshmath commented on #2602
@mbj36 , FYI

[2017-12-01 09:40] shr33narayan commented on #1693
@santoshmath
This happens due to the **reason** that:
Google Chrome by default does not allow javascript to interact with local file systems. The app is using `global-translations/*.json` files, which is by default not allowed to be displayed since we are directly running it and our url starts with `file:///` or 'C:/` or something similar. Chrome requires 'http://` to make this work smoothly due t

[2017-12-01 09:49] gkrishnan724 commented on #2602
@santoshmath, are you sure minimum balance should be there for an overdraft? Since I think there is no point in having a minimum balance if you can overdraft.

[2017-12-01 09:53] santoshmath commented on #2602
Good Catch @gkrishnan724 . Sorry  for not thinking about it. :)

Closing this issue.

[2017-12-01 09:53] #2602 closed

[2017-12-01 09:54] gkrishnan724 commented on #2559
This could be solved in the front-end by just hiding the options. but I'm not sure if there is a security concern? @MexinaD

[2017-12-01 10:01] gkrishnan724 commented on #2603
@santoshmath, the fields come as an additional step to avoid clustering. please take a look at this gif:
![wizard](https://user-images.githubusercontent.com/21004514/33477648-6cdc05b8-d6ac-11e7-82da-d4ff4a73c8d4.gif)

[2017-12-01 18:26] ankit01ojha opened #2618 "Right arrow icon missing"
Right arrow icons are missing :-
![screenshot at 2017-12-01 20 43 45](https://user-images.githubusercontent.com/21126132/33496733-6186594e-d6f1-11e7-98b8-be59f4171539.png)

I am working on it.

[2017-12-01 18:26] mbj36 commented on #2618
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, @Agnessy, and @santoshmath.

[2017-12-02 10:37] gkrishnan724 opened #2621 "Mifos X Web App - Fix broken icons"
When we moved from the old skin to new skin, a lot of icons are missing in buttons and inputs due to switching from `icon` classes to `fa` classes. Many of the classes are spelled incorrectly in the code. For this task, you are supposed to identify at least 10 places where icons are missing and fix them accordingly.

For retrieving the old-skin, you would need to revert back the develop branch bef

[2017-12-02 10:37] mbj36 commented on #2621
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @santoshmath.

[2017-12-02 11:30] ankit01ojha commented on #2587
I think the PR fixes this issue.

[2017-12-02 13:17] ankit01ojha commented on #2587
@santoshmath , I have sorted them as per the category name.

[2017-12-02 14:42] gkrishnan724 commented on #1693
@santoshmath  I don't think this is an issue which we should be concerned about since the app should be run by `grunt serve` it is also not a good practice to test applications by directly opening the HTML page.

[2017-12-02 15:27] #2618 closed

[2017-12-02 15:27] #2603 closed

[2017-12-04 06:15] santoshmath commented on #1693
@gkrishnan724 , That is correct. I faced in one of the scenarios , i am not able to run grunt serve and i had to  open index.html through browser. With Mozilla firefox it's working. Same  is expected for chrome.

[2017-12-04 12:13] santoshmath opened #2630 "'Interest Rate Differential' field and 'Is Floating Rate' with radio button is missing in loan application"
1. Create a loan product with linked floating rate.

![floatingrate_loanproduct](https://user-images.githubusercontent.com/23022667/33552214-2c2b2a92-d91a-11e7-9175-99d383361643.png)

2. Go to client and take 'New Loan' for the client.

It should show similar like this:(Screeshot shared by @Immanuel)

![floating rate_loanapplication](https://user-images.githubusercontent.com/23022667/33552327-9a16

[2017-12-04 12:14] mbj36 commented on #2630
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @Agnessy.

[2017-12-04 12:36] anoited007 commented on #2630
@santoshmath Is this issue only in the latest version?

[2017-12-04 12:41] santoshmath commented on #2630
Yes, try to submit loan application with loan product "lp-floatingrate"

https://staging.openmf.org/#/newclientloanaccount/1

[2017-12-04 18:03] Stevenjin8 commented on #2435
Where are the datepickers?

[2017-12-05 04:23] santoshmath commented on #2435
@Ippezrobert , Will you reply  to @Stevenjin8 ?

[2017-12-05 05:53] anoited007 commented on #2630
@santoshmath I have tried. It has the same issue.  By the way, how do I create the step by step loan creation as the one on staging?
![staging-demo](https://user-images.githubusercontent.com/27229090/33591907-ba167870-d9a1-11e7-95fd-6a3f08758247.png)

[2017-12-05 06:00] santoshmath commented on #2630
Define Base lending rate and differential lending rate in Admin>products>Floating rate

Create a loan product and while creating , link it to floating rate. (you can do it in 'Terms' section)

Take New loan application and try to submit it using this loan product.

[2017-12-05 06:43] anoited007 commented on #2630
I was actually referring to the UI. It seems we are using the same version but some features on the staging server is not available in my version. For example the progress bar and most of the tool tips. Is it something I have to configure first?

[2017-12-05 06:48] santoshmath commented on #2630
Progress bar, tool tips will be available with next release  of Mifos  distribution.  Or fetch  the code  from Community-app develop branch.

[2017-12-05 07:04] anoited007 commented on #2630
Alright. Thank you. So I guess the Floating rate issues will be fixed in that as well. Thank you @santoshmath  Much appreciated

[2017-12-05 15:15] aks681 commented on #2432
If the backend is resolved, can I take up this issue? Looking for a good first contribution.

[2017-12-05 15:29] aks681 commented on #2269
Is this issue still open? I would like to take this up.

[2017-12-05 15:47] mbj36 commented on #2269
Go ahead

[2017-12-05 16:11] aks681 commented on #2269
Ok, thanks

[2017-12-05 19:25] aks681 commented on #2269
Are the client documents always images or are there pdfs also?
All the sample documents in my localhost were all images.

[2017-12-05 21:40] Stevenjin8 commented on #2435
I have the code

`$(document).ready(function() {
    $(function() {
        var d = new Date();
        var y = new Date(d.getFullYear(), 0, 1, 0, 0, 0, 0);
        $( "#datepicker" ).datepicker({
            changeYear: true,
            defaultDate: y,
            maxDate: d,
        });
    });
});`

I'm just not sure where to put it. I can't seem to find where `$(element).datepicker()` is run

[2017-12-05 21:42] Stevenjin8 commented on #2435
oops wrong code
`$(document).ready(function() {
    $(function() {
        var d = new Date();
        var y = new Date(d.getFullYear(), 0, 1, 0, 0, 0, 0);
        $( "#datepicker" ).datepicker({
            changeYear: true,
            minDate: y,
            maxDate: d,
        });
    });
});`

[2017-12-06 01:53] sillywidow commented on #1715
How do I correct the spelling amd grammar?

[2017-12-06 02:27] AkashBhave commented on #1682
I have submitted a pull request which should fix this issue: https://github.com/openMF/community-app/pull/2634

[2017-12-06 03:01] gkrishnan724 commented on #2269
@aks681  The documents could be any type of file pdfs, Images, docs, spreadsheet etc. For now you could focus on displaying PDF or Images.

[2017-12-06 06:26] santoshmath commented on #1682
Hi @mbj36 , @gkrishnan724 , please check the PR by @AkashBhave

[2017-12-06 06:29] santoshmath commented on #1715
Try to edit role name here:

https://staging.openmf.org/#/admin/viewrole/3

username/password -> mifos/password

you can edit permissions but can't role name which is currently branch manager

[2017-12-06 06:29] santoshmath commented on #2435
@gkrishnan724 , @mbj36 , FYI

[2017-12-06 07:03] gkrishnan724 commented on #2630
@santoshmath @mbj36 Fixed the issue please review PR

[2017-12-06 08:19] #2630 closed

[2017-12-06 09:18] gkrishnan724 commented on #1682
@santoshmath This should be reported in fineract side too. Since the back-end does not support this field. @AkashBhave would be dealing with the front-end side. The PR sent should be merged once the back-end has been implemented.

[2017-12-06 09:29] santoshmath commented on #1682
@gkrishnan724 , done:

https://issues.apache.org/jira/browse/FINERACT-573

[2017-12-06 09:53] anoited007 opened #2636 "Report and receipt customization"
@santoshmath Will it be possible to allow clients to customize various reports and receipts? For example, users can have their company logo and some details on receipts issued.

[2017-12-06 09:53] mbj36 commented on #2636
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @santoshmath.

[2017-12-06 10:23] santoshmath commented on #2636
@anoited007 , you can create customized report by writing required sql query(Go to Admin>System>Manage Reports). For advanced design, you can create report using Pentaho report designer and embed it in Mifos.

[2017-12-06 10:31] santoshmath commented on #2636
@anoited007 , Here we only report issues and for Q&A ,we have another channe:

http://mifos.cloud.answerhub.com/index.html

[2017-12-06 10:31] #2636 closed

[2017-12-06 11:33] gkrishnan724 commented on #2587
@santoshmath should the screenshot by @ankit01ojha  be the desired output? and may I know why `SUB-STANDARD` should be after `STANDARD` is it just UI concern or something different?

[2017-12-06 11:36] santoshmath commented on #2587
@ankit01ojha , @gkrishnan724 , it should be just  sorted starting from Standard, Sub-Standard, Doubtful  and Loss.

[2017-12-06 11:48] gkrishnan724 commented on #2587
Thanks @santoshmath, @ankit01ojha Please make the required changes

[2017-12-06 12:01] anoited007 commented on #2636
@santoshmath What I am referring to is the receipts which are generated automatically when a transaction is made. For example when a loan repayment is made. I think if users are able set details like their company name and contact so that it appears on such receipts to be issued to their clients.

[2017-12-06 12:03] santoshmath commented on #2636
yes. Receipts are also type of reports

[2017-12-06 14:54] ankit01ojha commented on #2587
Thanks @santoshmath , @gkrishnan724. I'm working on it.

[2017-12-07 09:58] aks681 commented on #2560
Can I take up this issue?

[2017-12-07 09:59] mbj36 commented on #2560
Hello @aks681 Surely you can take up the issue

[2017-12-07 11:41] #2435 closed

[2017-12-07 11:42] #1669 closed

[2017-12-08 06:20] gkrishnan724 commented on #2621
This is a `GCI` issue.

[2017-12-08 07:48] anoited007 opened #2642 "Access to app without login"
It seems someone can get access to the app interface without login if the person disables some style sheet when using Mozilla. I am sure about other browsers though. Although the user won't be able to manipulate the system, it still poses a risk. You can check the attached screenshots for context.

![login-bug](https://user-images.githubusercontent.com/27229090/33756155-98a3f4a6-dc0d-11e7-912c-7f3

[2017-12-08 07:48] mbj36 commented on #2642
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @santoshmath, and @Agnessy.

[2017-12-08 09:02] gkrishnan724 commented on #2642
@anoited007 It is never possible to access the data without successful authentication in the API, all data are stored in the API and in order to retrieve any data, successful authentication has to be done.

I believe we can only have a security risk if any data is being manipulated or being viewed. In this case, none of it is happening.

Also, Interface of any webpage could be accessed since HTML,

[2017-12-08 09:12] mbj36 commented on #2642
CC - @nazeer1100126 @avikganguly01

[2017-12-08 10:43] anoited007 commented on #2642
@gkrishnan724 I understand that. My concern was not about accessing the data through this means though. Your clarification about storing the data in the API is helpful.

 However, on the issue of accessing any webpage through such means, I am not really aware of that. Still going through the Mifos X project so I guess I might have some gaps. But from my understanding, the HTML, CSS and JavaScript

[2017-12-08 12:25] gkrishnan724 commented on #2642
@anoited007  Yes, It will redirect you to the login page. The reason you are able to see the interface is that the login page itself is not a route or a different template, It is just something which covers up the original template which is inside.

You can always access the loan page directly without having the permissions. This is not a security concern since the user won't be seeing the loan-da

[2017-12-08 14:19] ankit01ojha commented on #2591
@santoshmath , I think its a fineract side issue.

[2017-12-08 17:37] ankit01ojha commented on #2554
@santoshmath, I would like to work on this issue.

[2017-12-08 17:45] mbj36 commented on #2554
Go ahead @ankit01ojha

[2017-12-09 06:12] gkrishnan724 commented on #2554
@ankit01ojha I am already working on this :(, I will be sending a PR soon.

@santoshmath, would this UI do:

When required fields are not filled and we press next, then the indicator turns red.

and once we fill the required fields and press next then only the indicator will become green.

demo:
![firefox](https://user-images.githubusercontent.com/21004514/33793014-66eb7f1a-dcd5-11e7-83b7-c543ef5d

[2017-12-09 06:16] ankit01ojha commented on #2554
@gkrishnan724 , ok, if you already fixed this much, then go ahead.

[2017-12-09 14:23] ankit01ojha commented on #2567
@santoshmath , Should the default value be given in the ```shares per client```. If yes, then the form got submitted, here is the screenshot of the share product form-
![screenshot at 2017-12-09 19 38 32](https://user-images.githubusercontent.com/21126132/33796427-f17606b6-dd19-11e7-8923-f35ea03ad5a9.png)

And, when I don't give any of the fields in the ```shares per client``` (including the defau

[2017-12-10 16:06] ankit01ojha commented on #2601
I am working on this.

[2017-12-11 16:14] anweshknayak commented on #2590
Im taking this up

[2017-12-12 04:38] santoshmath commented on #2554
@gkrishnan724 , It really works great. Go ahead and send the PR if everything is done.

[2017-12-12 04:39] santoshmath commented on #2554
@gkrishnan724 , just make sure you have done the same for all wizard implementation.

[2017-12-12 05:19] santoshmath opened #2649 "Today's Date in drop-down calendar is not displaying properly while taking New share account application"
Please check the drop-down calendar and find Today's Date.

![calender menu](https://user-images.githubusercontent.com/23022667/33868640-26017dae-df2a-11e7-9d5f-0bdfef471a34.png)

[2017-12-12 07:27] ManrajGrover opened #2650 "Show a 404 Not Found page when a user routes to unintended routes"
## Description

Currently, when a user routes to something other than intended routes, it shows a blank view with no message (see screenshot).

![screen shot 2017-12-12 at 12 48 34 pm](https://user-images.githubusercontent.com/5673050/33872197-e2c76ffa-df3b-11e7-8336-8dc665881aba.png)

## Fix

We should add an otherwise method in routes.js where if a route does not match the list of routes in rout

[2017-12-12 07:54] ankit01ojha commented on #2585
I am working on it.

[2017-12-12 10:36] mbj36 commented on #2650
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2017-12-12 13:07] MexinaD commented on #2559
@mdew192837  You can reproduce that by view the client, then "Transfer Client" and choose another office to transfer to.

Am not sure if there is any security concerns, it just that a client who is in "transfer in progress" those actions can be allowed to be operated, i have tested some, they don't work, so why be displayed?

[2017-12-12 13:39] MexinaD opened #2651 "Unnecessary step after "Reject Transfer" of a client"
1. Create a client in a certain office
2. Go to its profile and click "Transfer client"
3. Then click "Reject Transfer"
The system will direct you where you have to undo the transfer. I don't think there is a need for this step as the transfer is already rejected. Undo transfer is another action that can be done after you perform "transfer client"

[2017-12-12 13:44] MexinaD opened #2652 "Error when you accept transfer of client"
1. Create two different offices
2. Create a client in one of the office
3. Go to its profile and click "Transfer client" and chose the other office to transfer and submit
3. Then click "Accept Transfer"
The system gives any error which does not relate to the operation made.
![accepttransfer](https://user-images.githubusercontent.com/8160209/33887701-b226e6c6-df5b-11e7-9124-650dab69ec4f.png)

The s

[2017-12-12 13:57] mbj36 commented on #2651
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @santoshmath.

[2017-12-12 15:06] anweshknayak commented on #2651
@MexinaD where to redirect after "Reject Transfer" ?

[2017-12-12 15:08] anweshknayak commented on #2591
@santoshmath @mbj36 in which branch these changes are to be made ?

[2017-12-12 15:10] mbj36 commented on #2591
`develop`

[2017-12-12 15:17] gkrishnan724 commented on #2559
Thanks @MexinaD I understand now

[2017-12-12 15:20] anweshknayak commented on #2591
@mbj36 it is working fine in develop branch.
![screenshot from 2017-12-12 20 36 30](https://user-images.githubusercontent.com/8139783/33892138-0cb0e19c-df7e-11e7-951a-e5fdedf0f43b.png)

[2017-12-12 15:24] ankit01ojha commented on #2591
@anweshknayak , When you fill all the details and try to submit the form then, you will see that form will not get submitted and will display the error.
![screenshot at 2017-12-12 20 53 18](https://user-images.githubusercontent.com/21126132/33892375-a1c5e980-df7e-11e7-8a11-1eac2f73ddd8.png)

[2017-12-12 15:25] santoshmath commented on #2591
@anweshknayak , there is no asterisk related to 'Description' field , but  if don't fill ,it throws the error as shown in  above screenshot: data integrity issue.
Expected: If description field is not given , it should not throw any error and should allow to create share product.

[2017-12-12 15:28] santoshmath commented on #2651
It should redirect client page which doesn't have any 'undo transfer'.

[2017-12-12 16:10] kazacube-hsmaiti opened #2653 "Trouble in account entries: taxes are not integrated in accounting"
- I made a payment of a charge with taxes pre configurated, but when looking for the account entry i didn't found taxe item.

- to replicate the bug, configure taxes, create a charge and pay it.
- go to accounting and look for account entries: here you will not found the tax entry.

![image](https://user-images.githubusercontent.com/32460729/33894837-df9442f2-df56-11e7-929c-20bf1ffe0755.png)

[2017-12-12 16:10] mbj36 commented on #2653
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @santoshmath, and @Agnessy.

[2017-12-13 05:34] santoshmath commented on #2652
Hi  @MexinaD , just tested on staging. I am able to transfer a client from one office to other office.

[2017-12-13 06:51] santoshconflux opened #2655 "Client Address Issues"
1. Go to System>Configuration and enable "Enable-Address".
2. Go to any client page and click on 'Address' tab which is next to 'General' tab.
3. Click on Add Address. You can see there are already Address lines 1, 2 & 3 , there is no need of 'Street' field. It should be removed.
4. Submit the address for the client.
5. Click on 'Edit' button for the client.

![clientaddress](https://user-images.g

[2017-12-13 07:27] mbj36 commented on #2655
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2017-12-13 12:39] santoshconflux opened #2656 "Unable to upload document for client identities: throwing internal server"
For the following client:

https://staging.openmf.org/#/viewclient/18
(username/password  - mifos/password)
Go to Identities tab (where  driving license already uploaded)

Under 'Actions' tab, click on upload button and try to upload any image or pdf.

[2017-12-14 00:13] AkashBhave commented on #2495
I have fixed this issue with my pull request here: https://github.com/openMF/community-app/pull/2657

[2017-12-14 04:20] santoshconflux opened #2658 "Adding 'Specific Due Date' charge to the loan account when date is not given, is not throwing any validation"
1. Create a loan  Account for a client.
2.  Create a specific due date charge.
3. In Loan account, click on 'Add charge' and select specific due date charge, but don't give date and try to submit it.

'Due date is mandatory field but application is accepting null value for it'

Check the screenshot:

![duedate](https://user-images.githubusercontent.com/23022667/33975386-30104060-e0b4-11e7-805f-d9f

[2017-12-14 06:07] yashasvi13 commented on #2655
@mbj36
As I understood there are 3 issues.
1. Remove fields for street - I removed the fields from front-end but there is a server-side check for that field so should I send a placeholder value or will this be changed from server side as well? Please advise.
2. Dropdowns are not pre-filled when editing an address. I checked the directive for this and it seems that library name chosen-jquery is bei

[2017-12-14 08:12] gkrishnan724 commented on #2655
Hi, @yashasvi13 looking at the issue, I believe we cannot remove the street field yet because the server-side is checking for it as you mentioned, Also Street field is mandatory. So It could be removed after the back-end implementation has been done.

I am not sure whether the dropdowns should be pre-filled, I don't really think that is necessary since the fields aren't mandatory.

About the count

[2017-12-14 10:36] MexinaD commented on #2652
@santoshmath , true. It works in staging but not in demo account

[2017-12-14 15:44] yashasvi13 commented on #2655
Hi @mbj36 @gkrishnan724 It seems that the standard way of making a field visible/hiding it in front-end is implemented on server-side, like this endpoint https://demo.openmf.org/fineract-provider/api/v1/fieldconfiguration/ADDRESS . So will this be taken from the server side as well?

[2017-12-15 13:41] janicek1m commented on #2556
![details](https://user-images.githubusercontent.com/29205437/34044625-b238bf08-e173-11e7-8424-8e93049160c0.png)

[2017-12-15 14:48] aks681 commented on #2446
@santoshmath , can I take up this issue?

[2017-12-15 16:45] mbj36 commented on #2446
@aks681 yes, go ahead

[2017-12-16 07:50] ankit01ojha commented on #2652
@santoshmath @MexinaD , yeah it's not working in the demo. I also got the same error as described in the screenshot.

[2017-12-16 08:00] ankit01ojha commented on #2656
I am working on it.

[2017-12-16 10:35] gkrishnan724 commented on #2556
Hi @janicek1m  Looks good :)

[2017-12-16 16:21] AbhishekAB123 commented on #2556
Hey.So can you provide me with the logo and the icons please.
Can i make this with Adobe XD and can you tell me how to send it to you?

[2017-12-16 17:03] AbhishekAB123 commented on #2556
@gkrishnan724 Can  you also provide me with more details on it

[2017-12-16 18:42] AbhishekAB123 commented on #2556
![product details page with details](https://user-images.githubusercontent.com/18457209/34073390-d4388dda-e2be-11e7-831a-296325b58c74.jpg)
 I have sent the files to Google Code In as task.Hope you approve it.Thanks.Cheers.Bye

[2017-12-16 19:09] AbhishekAB123 commented on #2556
![product details page with info](https://user-images.githubusercontent.com/18457209/34073593-a9ddb67e-e2c2-11e7-8efb-9d81d6e3664b.png)
How's this?
I've sent it as task submission.Hope you liked it and will approve it.
Thanks.Bye

[2017-12-16 19:22] AbhishekAB123 commented on #2556
I thought making the next page icon a bit larger would do good.That's why i did it.
I liked it though.If you did not like it I am ready to edit it and make it small.
All the font colors are uniform.Uniformity is always good.
Thanks

[2017-12-17 04:26] gkrishnan724 commented on #2556
@AbhishekAB123 Looks good!

[2017-12-17 04:57] gkrishnan724 commented on #2601
@santoshmath Please create a fineract side issue for the same, since the platform allows adding groups with existing centers. This issue should be resolved in the front-end for now ( the dropdown won't display groups with existing centers), however if somehow the user manages to modify it, then there should be a platform-side validation as well.

[2017-12-17 05:19] gkrishnan724 commented on #2651
@MexinaD If a transfer is rejected, what should happen with the client. Is it not possible to make it active again?

[2017-12-17 05:35] #2601 closed

[2017-12-17 11:00] yashasvi13 commented on #2540
Hi, @mbj36 @santoshmath This seems to me a server-side error. Please review.
![image](https://user-images.githubusercontent.com/28532515/34078817-7dc4b31e-e347-11e7-8455-271bb6220654.png)

[2017-12-18 04:19] santoshmath commented on #2601
@gkrishnan724 , done:

https://issues.apache.org/jira/browse/FINERACT-589

[2017-12-18 04:21] santoshmath commented on #2652
@ankit01ojha , ping me on Hangout. I will show  you. (My mail id: santosh@confluxtechnologies.com)

[2017-12-18 12:14] Agnessy commented on #2658
Hi @santoshmath ,
I updated my code, i see it works fine..
see a screen-shot..
![adding](https://user-images.githubusercontent.com/13551795/34105583-f0a48878-e405-11e7-8981-5cbb3775e70c.png)
Or ,,  Can you take a look? and correct me

[2017-12-18 13:10] kazacube-hsmaiti opened #2666 "I can't submit a Fixed Deposit Application for a client"
Hello,
when i want to create a Fixed Deposit for a client, the button submit is not working and no exception is raised.
![image](https://user-images.githubusercontent.com/32460729/34107429-15cb58dc-e3f4-11e7-8752-9f53869867d2.png)

[2017-12-18 13:10] mbj36 commented on #2666
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @Agnessy, and @santoshmath.

[2017-12-18 13:11] kazacube-hsmaiti commented on #2666
that was quick, do you confirm its a bug??

[2017-12-19 11:59] #2585 closed

[2017-12-19 12:02] #2586 closed

[2017-12-19 12:18] #2650 closed

[2017-12-19 12:41] Agnessy opened #2668 "Fund behavior"
1.Create Loan Product, select Fund with long name
2.Go to Client Do Loan Application, the fields are not well aligned

![fuund](https://user-images.githubusercontent.com/13551795/34157360-5196a342-e4d2-11e7-9866-e254e3f89a32.png)

The Fund field in Loan application(To a Client) should behave LIKE the fund Field in Loan Product Creation,,{The width of the Fund}
![ff](https://user-images.githubuserc

[2017-12-19 12:41] mbj36 commented on #2668
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @MexinaD.

[2017-12-19 12:56] Agnessy opened #2669 "Viewing Group Closed Savings"
1.Create saving to a group
2.Close that saving
3.View closed savings
**Status** column shouldn't contain date
**Status** column should contain saving status and **Closed date** column should contain date
![jjh](https://user-images.githubusercontent.com/13551795/34157866-6bb757c4-e4d4-11e7-9840-a3a9ac919979.png)

[2017-12-19 13:10] Agnessy opened #2670 "Apply/Redeem Shares"
1.Create share product
2.Apply to a client
3.Apply Additional Share OR Redeem share
Submit Form without filling any field  >> There should be a thrown error since **Request Date** and **Total Number of Shares** are mandatory
When you empty **Request Date** there is no thrown error but when you empty  **Total Number of Shares** there is a thrown error
![ras](https://user-images.githubusercontent.co

[2017-12-19 16:48] ankit01ojha commented on #2669
I am working on it.

[2017-12-19 18:11] anweshknayak commented on #2668
Im on this

[2017-12-19 19:14] ankit01ojha commented on #2670
I am working on it.

[2017-12-20 08:52] Agnessy opened #2673 "List Of Standing Instructions"
1.Go to client , Create Standing Instruction
2.View Standing Instructions
3.From the list of Standing Instructions , View one of them
4. Then on the top click **List Standing Instructions**
It shows unknown page.
![std](https://user-images.githubusercontent.com/13551795/34198526-ba28ecfe-e57b-11e7-8988-c9293a0a9d70.png)

[2017-12-20 08:52] mbj36 commented on #2673
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @santoshmath.

[2017-12-20 09:31] Agnessy opened #2675 "Missing Fields when Editing Charge"
1.Create Charge with **Charges applies to** = Client
2. Fill all necessary fields. Submit
3.Edit Charge
**Charge payment by** field is not there, while it was available during charge creation.
![crc](https://user-images.githubusercontent.com/13551795/34200137-0c9ee9b6-e581-11e7-84ef-5833352d95c9.png)
Edit
![gvb](https://user-images.githubusercontent.com/13551795/34200229-564009a6-e581-11e7-852a-3a

[2017-12-20 09:31] mbj36 commented on #2675
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @MexinaD.

[2017-12-20 11:58] kazacube-hsmaiti opened #2676 "Trouble in Teller/cashier management and transactions"
## Description
- I created multiple tellers and cachiers with different intervalle of times (date start , date end), but when i login with the cachier and make a transaction, all the tellers are updated even if they are **inactive** or they exceeded the date of the transaction.

## Steps to Reproduce
- create 2 or more tellers and allocate a cachier to them with the same employee (with different p

[2017-12-20 11:58] mbj36 commented on #2676
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @santoshmath, and @Agnessy.

[2017-12-20 17:01] ankit01ojha commented on #2675
I am working on this.

[2017-12-21 08:16] gkrishnan724 opened #2677 "Add buttons to upload and delete signature, when viewing client signature"
In the community-app, go to Clients and click on any client. In order to upload a client signature, the user has to click on the More>>Upload Signature, same goes for deleting a signature. It would be much convenient if we had the upload and delete buttons when viewing the signature.

###  ScreenShot:
We could add an upload  & delete buttons in this modal
![sig1](https://user-images.githubusercont

[2017-12-21 08:16] mbj36 commented on #2677
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @santoshmath, and @mbj36.

[2017-12-21 08:16] gkrishnan724 commented on #2677
This would be a GCI task

[2017-12-21 08:45] MYKatz commented on #1658
Looking through the API, I'm fairly certain that the whole process of generating the PDF occurs on the server-side.  Perhaps this issue should be moved to the fineract side?

[2017-12-21 19:35] edcable opened #2679 "Client Status Color Icon should display Tooltip on Hovering"
## Description
For quick reference, the color icons by client name denote the status of the client. For those who don't know what status the color corresponds to, the actual status should be displayed in a tooltip when hovering over, as is the case with the color squares by the loan and savings accounts.

Navigate to any client, when placing cursor over the colored circle by client name, Tooltip s

[2017-12-21 19:42] edcable opened #2680 "Tooltip for Submitted and Pending Approval Should Display above Nav Bar"
## Description
The tooltip for "Submitted and Pending Approval" for loan and savings accounts displays beneath the left hand navigation bar when it should be on top.

## Steps to Reproduce
Navigate to any client, find a loan or savings account in the summary that has yellow/orange icon. Hover over it and see tooltip displayed beneath the lefthand drawer navigation.

## Expected Behaviour

Full too

[2017-12-21 19:42] mbj36 commented on #2680
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2017-12-22 14:46] edcable opened #2682 "Replace Deposit and Withdraw (Left & Right Arrows) Icons with something more intuitive"
## Description
On the client details page, under the Savings Summary, the quick action buttons for Deposit and Withdraw are a left and right arrow.

Left and Right arrows are typically used for navigation which makes this confusing. Ideally representative icons could be chosen for each action but if not, an up and down arrow would make better sense here.

See screenshot.
<img width="765" alt="scre

[2017-12-22 14:46] mbj36 commented on #2682
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2017-12-22 14:49] edcable opened #2683 "Red Tooltip for Loan Account in Client Summary Should be Active in Bad Standing"
## Description
The red square tooltip nearby the loan account name on the client details page reads Active when it should it in fact be Active in Bad Standing.

Please adjust accordingly. See https://mifosforge.jira.com/wiki/spaces/docs/pages/68354078/Loan+Accounts for more on loan cycle states.

See screenshots
<img width="772" alt="screen shot 2017-12-22 at 6 46 48 am" src="https://user-images.g

[2017-12-22 14:49] mbj36 commented on #2683
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2017-12-23 05:08] mbj36 commented on #2656
@santoshmath  Can you retest this and close ?

[2017-12-23 06:14] gkrishnan724 commented on #2675
Hi @Agnessy According to the User-manual  https://mifosforge.jira.com/wiki/spaces/docs/pages/72908813/Charges `Charge payment by` field is only visible for loan charges. I believe the bug is `charge payment by` should not be there for creating client charges.

[2017-12-23 07:48] gkrishnan724 commented on #2683
This seems to be a issue in back-end.

[2017-12-24 07:54] luphieanza commented on #2556
![products details main wireframe](https://user-images.githubusercontent.com/20577131/34325091-550a74c2-e8ba-11e7-9f05-7fbb01a60fd3.png)
![products list main wireframe](https://user-images.githubusercontent.com/20577131/34325092-55464ec0-e8ba-11e7-9baa-97422d2509b5.png)

[2017-12-24 07:58] luphieanza commented on #2556
hello everyone, you can see the user interface is more complete in this link https://drive.google.com/drive/folders/1FGNapP8ZvYToNS3U4Z19dj467urBmWo7 :)

[2017-12-24 14:09] gkrishnan724 commented on #2556
@luphieanza Thanks for your submission !

[2017-12-24 23:51] risingone commented on #2677
@gkrishnan724 I can take up this issue ? Will be my first contribution :)

[2017-12-25 13:49] mbj36 commented on #2677
@risingone  Go ahead

[2017-12-25 17:39] mbj36 commented on #2677
@risingone Sorry for interruption, we are keeping this task reserved for GCI students

[2017-12-25 19:30] risingone commented on #2677
@mbj36 Okay. I already started working on it but its fine.I understand.

[2017-12-25 21:21] Agnessy commented on #2675
Thatc true @gkrishnan724

[2017-12-26 01:22] ankit01ojha commented on #2675
@Agnessy , so, I am sending the PR regarding the new issue ``` charge payment by should not be there for creating client charges.``` . Please rename this issue also. :)

[2017-12-26 08:09] MYKatz commented on #2677
@mbj36 could you please merge PR #2672?  Otherwise I would need to duplicate some methods.  Thanks!

[2017-12-26 13:12] ankit01ojha commented on #2666
i am working on it.

[2017-12-26 16:45] ankit01ojha commented on #2587
@mbj36 , this issue is fixed. It should be closed.

[2017-12-27 14:04] #2679 closed

[2017-12-27 14:04] #2682 closed

[2017-12-27 14:04] #2669 closed

[2017-12-27 14:05] #2554 closed

[2017-12-27 16:39] risingone opened #2692 "Selecting `Hindi`/`हिंदी` in `Change the language` option anywhere on the app isn't working."
## Description
Selecting `Hindi/हिंदी`  in `Change the language` option anywhere on the app isn't working.
All other languages are working fine. The problem is just with selecting Hindi.
## Steps to Reproduce
Just try changing the language to hindi, you'll find nothing happens.

## Expected Behaviour
On changing the language, the page should be translated.
## Actual Behaviour
No translation in cas

[2017-12-27 16:40] mbj36 commented on #2692
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @safiyu.

[2017-12-27 16:41] risingone commented on #2692
@mbj36 I would like to take up this issue ?

[2017-12-27 18:07] anweshknayak opened #2693 "Scrollbar hiding under the header"
## Description
Scrollbar hiding under the header

## Steps to Reproduce
Admin -> Loan Products.

## Expected Behaviour
Scrollbar should start beneath header
## Actual Behaviour

## Settings
- Mifos X version:
- Browser used: Chrome

## Screenshots, if any
![screenshot from 2017-12-27 23 27 08](https://user-images.githubusercontent.com/8139783/34389308-e43d70c6-eb5e-11e7-910e-e3b29e129865.png)

[2017-12-27 18:07] mbj36 commented on #2693
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @santoshmath.

[2017-12-28 03:55] gkrishnan724 commented on #2692
Sure @risingone

[2017-12-28 03:58] gkrishnan724 commented on #2693
@anweshknayak This exists for all lists not only loan products. Nice find though :+1:

[2017-12-28 12:52] #2649 closed

[2017-12-28 13:57] ankit01ojha opened #2696 "Create teller form is getting submitted even if description is not filled."
## Description
When a teller is created, if the description filled is not touched, the form is getting submitted (required mark is missing). Even though the description field is required. And the required mark is missing from the description.

## Steps to Reproduce
Admin>>Organisation>>create teller>> without touching the description field and filling all the required field>> click the submit butt

[2017-12-28 13:58] mbj36 commented on #2696
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @santoshmath, and @mbj36.

[2017-12-28 13:58] ankit01ojha commented on #2696
I am sending PR for this.

[2017-12-28 17:35] AkashBhave commented on #2097
Which design out of the 5 should be used?

[2017-12-29 04:54] gkrishnan724 commented on #2696
@ankit01ojha I don't understand why this is a bug. Please look at the user-manual description field is not supposed to be mandatory. https://mifosforge.jira.com/wiki/spaces/docs/pages/86114424/Teller+Cashier+Management

[2017-12-29 04:58] gkrishnan724 commented on #2696
@ankit01ojha Sorry, I understood the bug now, the problem is description field is acting as mandatory while it is not supposed to be mandatory. So please remove the mandatory validation from the description field instead of making it mandatory.

[2017-12-29 07:56] #2666 closed

[2017-12-29 08:14] #2677 closed

[2017-12-29 08:21] #2560 closed

[2017-12-29 08:23] #2495 closed

[2017-12-29 08:24] #2446 closed

[2017-12-29 08:25] #2423 closed

[2017-12-29 17:03] ankit01ojha opened #2701 "```Submitted on``` field in Shares Application form is neither aligned nor working properly."
## Description
The issue has two parts:-
1. The``` submitted on``` field is not aligned properly.
2. The ```submitted on``` field is not behaving properly. When the date is selected it still shows validation message ``` required field``` ( as shown in the gif below).

## Steps to Reproduce
Client>>select any client>>new share account.

## Expected Behaviour
1. Alignment should be proper.
2. It sho

[2017-12-29 17:03] mbj36 commented on #2701
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @santoshmath.

[2017-12-29 17:04] ankit01ojha commented on #2701
I am working on it.

[2017-12-29 19:50] AkashBhave commented on #2530
This issue should be fixed with my pull request here; https://github.com/openMF/community-app/pull/2702

[2017-12-29 23:29] ShazamDC opened #2703 "the message is blinking again and again even if pointer is not moving"
# Description
the message is blinking again and again even if the the pointer is not moving

## Steps to Reproduce
1.go to clients,create clients.
2.move the pointer to family members button or address button.
3. the starts blinking again and again when the pointer is at the upper part of the button and becomes normal when it is moved to lower part of button
3. the starts blinking again and again

[2017-12-29 23:29] mbj36 commented on #2703
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-01 13:30] AkashBhave commented on #1723
@santoshmath This bug should be fixed with my pull request: https://github.com/openMF/community-app/pull/2706

[2018-01-01 19:22] shubhshrma commented on #2680
This issue can be closed now.

[2018-01-02 06:37] MYKatz commented on #2419
Hi, I fixed this a little while back: https://github.com/openMF/community-app/pull/2641

[2018-01-02 07:29] #2419 closed

[2018-01-02 07:54] shubhshrma opened #2707 "UI bug in "cashiersForTeller" page"
## Description
The row containing the text input field and new cashier button is slightly going down due to text above it.

## Steps to Reproduce
Go to admin > organization > teller/cashier > click on any teller
## Expected Behaviour
The container of the row should adjust height according to content
## Actual Behaviour
The container has fixed height.
## Settings
- Mifos X version: 17.07.01.RELEASE

[2018-01-02 07:54] mbj36 commented on #2707
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-02 09:38] MexinaD commented on #2651
@gkrishnan724  If the transfer is rejected, the client should go back being active on the office he was before. And after the action, the system should be directed to the profile of a client ( who will be active on his original office)

[2018-01-02 12:58] ankit01ojha opened #2708 "Deposit Frequency is mandatory in Recurring Deposit Application"
## Description
Deposit Frequency is mandatory in Recurring Deposit Application.

## Steps to Reproduce
Client>>New Recurring Deposit.

## Expected Behaviour
Mandatory mark should be present in the Deposit Frequency field.

## Actual Behaviour
Mandatory mark is missing in the Deposit Frequency field and is throwing an error.
## Settings
- Mifos X version:17.07.01.RELEASE
- Browser used: Chrome

##

[2018-01-02 13:00] ankit01ojha commented on #2708
@gkrishnan724  @santoshmath , should the ```deposit period``` be also made mandatory?

[2018-01-02 13:11] santoshmath commented on #2708
@ankit01ojha , deposit frequency is mandatory.  You didn't provide deposit frequency so, it's throwing the error. Why did you raise this issue?

[2018-01-02 13:14] ankit01ojha commented on #2708
@santoshmath , the required field mark is missing in the deposit frequency field.

[2018-01-02 16:26] jervis446 commented on #2707
can i work on this?

[2018-01-02 16:28] mbj36 commented on #2707
@jervis446  Yes

[2018-01-02 16:29] #2530 closed

[2018-01-02 16:31] #2703 closed

[2018-01-02 16:32] #2692 closed

[2018-01-02 17:02] #2675 closed

[2018-01-02 17:03] #2708 closed

[2018-01-02 17:04] #2670 closed

[2018-01-02 17:06] #2696 closed

[2018-01-02 17:25] jervis446 commented on #2707
![screenshot-2018-1-2 mifos x client 1](https://user-images.githubusercontent.com/22105326/34493029-07f163c8-f010-11e7-887b-90ff60c04f76.png)

[2018-01-02 18:54] ankit01ojha commented on #2701
@tanmayanand44 This issue has two parts which needs to be fixed. Although I was working on it and since, you have sent the PR, you can work on this issue.

[2018-01-02 20:26] ShazamDC opened #2712 "New loan application"
## Description
the size of the input box is depending on the options . that is why it is going out of the form box.the input box width is given auto.

## Steps to Reproduce
go to clients,click on any client,new loan.

## Expected Behaviour
the input box should not go out of box
## Actual Behaviour
the input box of fund is going out of form box
## Settings
- Mifos X version: 17.07.01
- Browser used

[2018-01-02 20:26] mbj36 commented on #2712
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-02 20:35] risingone commented on #2712
I would be taking this up if its fine.

[2018-01-02 20:45] ShazamDC commented on #2712
i am also taking this

[2018-01-03 03:37] tanmayanand44 commented on #2701
@ankit01ojha Thanks.

[2018-01-03 04:46] tanmayanand44 commented on #2712
I will also try this issue

[2018-01-03 05:21] tanmayanand44 opened #2714 "Menu Icon not working"
## Description
The menu icon does not show the menu items on clicking it.

## Steps to Reproduce
Login>Click on the menu icon

## Expected Behaviour
Should show the entire list of menu items as shown when mouse pointer is dragged to left side.
## Actual Behaviour
The menu items are not shown as the icon is unresponsive.
## Settings
- Mifos X version: Version 17.07.01.RELEASE
- Browser used:Mozilla

[2018-01-03 05:22] mbj36 commented on #2714
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-03 05:23] tanmayanand44 commented on #2714
@mbj36 I will work on this issue.

[2018-01-03 05:58] risingone commented on #2712
@ShazamDC Sure, you can take this up, since you found the bug. When I saw this issue no one had commented so I did.

[2018-01-03 06:14] ankit01ojha commented on #2558
@mbj36 , I am working on this issue.

[2018-01-03 07:59] edcable opened #2717 "Display relevant error messages when attempting to submit wizard for new notifications."
## Description
When attempting to save a new notification of the type scheduled, the wizard doesn't actually proceed to save during final step.

No error message was displayed and it was only when I realized that the "Schedule Date" wasn't after the submission date that I understood why it wasn't being submitted.

Error messages should be displayed reflecting why the wizard is not successfully bei

[2018-01-03 07:59] mbj36 commented on #2717
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @santoshmath.

[2018-01-03 08:07] edcable opened #2718 "Fix Typos in SMS Campaigns Views"
<img width="1157" alt="screen shot 2018-01-03 at 12 00 05 am" src="https://user-images.githubusercontent.com/823454/34512899-148421f2-f01a-11e7-8a15-eb0dd7ab0c0f.png">
<img width="1173" alt="screen shot 2018-01-03 at 12 04 25 am" src="https://user-images.githubusercontent.com/823454/34512900-149c4ba6-f01a-11e7-9c6d-3bb286875319.png">

## Description
There are several very glaring typos  in the SMS

[2018-01-03 08:07] mbj36 commented on #2718
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-03 14:23] ankit01ojha commented on #2558
@santoshmath , I am a bit confused in the search box does it need to display all the groups or only the groups which are in ```Center Member(Groups)```.
![screenshot at 2018-01-03 19 49 22](https://user-images.githubusercontent.com/21126132/34523977-c461b0e4-f0bf-11e7-872c-8d7f9b5a84f0.png)

[2018-01-03 17:46] shubhshrma commented on #2668
@anweshknayak you still working on it?

[2018-01-05 02:54] luphieanza opened #2721 "Bug in user create and edit user - (admin) in available roles and selected roles section"
# Description
<h4>This bug can cause the admin user to create multiple roles that can impact a user can control any roles, this can cause users to cheat an office and staff their part.</h4>

# Steps to Reproduce a Bug
- Go To Mifos Community -app home page ->
- then navigate to Admin Tab ->
- choose Users ->
- click Create User ->
- fill in any identity profile ->
- at the time of filling the Avai

[2018-01-05 02:54] mbj36 commented on #2721
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, @santoshmath, and @Agnessy.

[2018-01-05 03:57] ankit01ojha commented on #2721
I would like to work on it.

[2018-01-05 04:19] ankit01ojha commented on #2721
@luphieanza , https://mifosforge.jira.com/wiki/spaces/docs/pages/67141740/Users#Users-Add/RemoveUserRole . It does not say anything about the restrictions on selecting the number of roles.

[2018-01-05 04:36] luphieanza commented on #2721
yes GCI 2017 (Find And Report Three Bugs Or Usability Improvements In The Mifos X Web App).
try to read the description of the issue, sir.

[2018-01-05 04:58] luphieanza opened #2722 "001 - Suggest usability improvement on all the associated data tables in the mifos web app - (Added Fixed Header)"
## Design better data tables

Data is useless without the ability to visualize and act on it. The success of future industries will couple advanced data collection with a better user experience, and the data table comprises much of this user experience.
Good data tables allow users to scan, analyze, compare, filter, sort, and manipulate information to derive insights and commit actions. This artic

[2018-01-05 04:59] mbj36 commented on #2722
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @ankit01ojha.

[2018-01-05 06:19] ankit01ojha opened #2723 "Incorrect column names in "view closed loans""
## Description
Incorrect column names in "view closed loans" in Loan Account Overview.

## Steps to Reproduce
Client>>Select an active client>>Loan Account Overview>>Click on view closed loans.

## Expected Behaviour
Correct columns names as per the data.
## Actual Behaviour
Incorrect column names as per the data.
## Settings
- Mifos X version: 17.07.01.RELEASE
- Browser used: chrome

## Screensho

[2018-01-05 06:19] mbj36 commented on #2723
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-05 06:20] ankit01ojha commented on #2723
I am working on this.

[2018-01-05 07:02] luphieanza commented on #2722
@santoshmath @gkrishnan724, what do you mean about this issue for GCI 2017 Task "Find And Report Three Bugs Or Usability Improvements In The Mifos X Web App" ? its something wrong?

[2018-01-05 07:31] abhaychawla commented on #2693
@gkrishnan724 Can I work on this issue?

[2018-01-05 08:25] gkrishnan724 commented on #2722
This is a good suggestion @luphieanza  we can keep the headers fixed.

[2018-01-05 09:04] anweshknayak commented on #2712
duplicate of #2668 @mbj36

[2018-01-05 10:41] ankit01ojha commented on #2722
I would like to work on it.

[2018-01-05 10:54] anweshknayak opened #2729 "Edit buttons not aligned properly"
## Description
Edit buttons not aligned properly throughout the webpage

## Steps to Reproduce
Admin->product->Loan Products

## Expected Behaviour
proper padding required

## Actual Behaviour
not aligned

## Settings
- Mifos X version:
- Browser used:

## Screenshots, if any
![screenshot from 2018-01-05 16 14 07](https://user-images.githubusercontent.com/8139783/34606244-aad3d67c-f234-11e7-9b4e-d

[2018-01-05 10:54] mbj36 commented on #2729
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @ankit01ojha.

[2018-01-05 12:18] luphieanza opened #2731 "002 - Suggest usability improvement on all the associated data tables in the mifos web app - (Added Row Style)"
## Design better data tables

Data is useless without the ability to visualize and act on it. The success of future industries will couple advanced data collection with a better user experience, and the data table comprises much of this user experience.
Good data tables allow users to scan, analyze, compare, filter, sort, and manipulate information to derive insights and commit actions. This artic

[2018-01-05 12:18] mbj36 commented on #2731
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @ankit01ojha.

A possibly related issue is #2722: 001 - Suggest usability improvement on all the associated data tables in the mifos web app - (Added Fixed Header).

[2018-01-05 12:52] luphieanza opened #2732 "003 - Suggest usability improvement on all the associated data tables in the mifos web app - (Added Display Density Fiture))"
## Design better data tables

Data is useless without the ability to visualize and act on it. The success of future industries will couple advanced data collection with a better user experience, and the data table comprises much of this user experience.
Good data tables allow users to scan, analyze, compare, filter, sort, and manipulate information to derive insights and commit actions. This artic

[2018-01-05 12:52] mbj36 commented on #2732
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @ankit01ojha.

Possibly related issues are #2722 (001 - Suggest usability improvement on all the associated data tables in the mifos web app - (Added Fixed Header)), and #2731 (002 - Suggest usability improvement on all the associated data tables in the mifos web app - (Added Row Style)).

[2018-01-05 12:57] anweshknayak opened #2733 "Create buttons in Products page not properly alligned"
## Description
Provide a brief overview of the enhancement or issue.

## Steps to Reproduce
Admin -> Products -> Bunch of subgroups

which having create buttons not properly aligned

## Expected Behaviour

## Actual Behaviour
No padding

## Settings
- Mifos X version:
- Browser used:

## Screenshots, if any
![screenshot from 2018-01-05 18 04 27](https://user-images.githubusercontent.com/8139783/34

[2018-01-05 12:57] mbj36 commented on #2733
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-05 13:16] anweshknayak commented on #2733
I'm on it

[2018-01-05 23:05] zapdoss opened #2736 "Non-Uniformity of Clients,Groups,Centers list"
## Description
The three sections under Clients have tables, however the formatting is not uniform.

## Steps to Reproduce
Make the layout of the 3 sub sections uniform by separation of rows. In short making Groups and Centers subsections same as that of Clients, as there in the screenshots below.
## Expected Behaviour

## Actual Behaviour
Non Uniformity in the layout of the tables

## Settings
-

[2018-01-05 23:05] mbj36 commented on #2736
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, @anweshknayak, and @ankit01ojha.

[2018-01-05 23:07] zapdoss commented on #2736
I am working on the issue.

[2018-01-05 23:42] AkashBhave commented on #2097
@santoshmath @mbj36 This issue should be resolved with my pull request here: https://github.com/openMF/community-app/pull/2735

[2018-01-06 05:21] ankit01ojha opened #2737 "Unable to create Client"
## Description
Even after filling the mandatory fields, I am unable to submit the create client form.
## Steps to Reproduce
Clients>>New Client>>Fill all the necessary fields>>Click Submit.
## Expected Behaviour
New client should be created.
## Actual Behaviour
It is showing error as shown in the screenshot.
## Settings
- Mifos X version: 17.07.01.RELEASE
- Browser used: google-chrome

## Screensh

[2018-01-06 05:21] mbj36 commented on #2737
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-06 05:24] ankit01ojha commented on #2737
@gkrishnan724 @santoshmath , Should the family members filed be removed from the new client form.
As in user manual also https://mifosforge.jira.com/wiki/spaces/docs/pages/67895338/Manage+Clients there is no family members field.

[2018-01-06 05:43] santoshmath commented on #2737
@ankit01ojha , Family Members  field should be there and should not be removed. the issue is related to office as explained here:

https://issues.apache.org/jira/browse/FINERACT-590

[2018-01-06 07:17] gkrishnan724 commented on #2737
Family members has not been deployed in the demo platform yet, but the implementation has been done in fineract-side . This is not an issue.

[2018-01-06 12:47] anweshknayak opened #2739 "Proper alignment of buttons in any client"
## Description
Proper alignment of buttons in any client

## Steps to Reproduce
Clients -> choose any client -> Buttons like(View close loans and changes overview needs proper padding

## Expected Behaviour

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used: Chrome

## Screenshots, if any
![screenshot from 2018-01-06 18 02 12](https://user-images.githubusercontent.com/8139783/3463

[2018-01-06 12:47] mbj36 commented on #2739
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @ankit01ojha.

[2018-01-06 12:47] anweshknayak commented on #2739
on this

[2018-01-06 13:15] anweshknayak opened #2740 "Date of Birth of client cannot be edited to the previous date in client"
## Description
Date of Birth of client cannot be edited to the previous date in client

## Steps to Reproduce
Client -> Choose any client -> Edit -> Change date of birth to previous date(cannot do)

## Expected Behaviour
Should be able to change to the previous date
## Actual Behaviour
Cannot edit

## Settings
- Mifos X version:
- Browser used: Chrome

## Screenshots, if any

[2018-01-06 13:26] anweshknayak opened #2742 "Scroll to top button not working"
## Description
Provide a brief overview of the enhancement or issue.

## Steps to Reproduce
Scroll to top button at the right bottom corner doesn't work
Products -> Loan products -> Choose any loan product -> Scroll to top button at bottom doesn't work

## Expected Behaviour
Scroll to top should work wherever it is present

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used: Chrome

[2018-01-06 13:26] mbj36 commented on #2742
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-06 13:26] anweshknayak commented on #2742
Im on this

[2018-01-06 14:10] ankit01ojha opened #2743 "Unable to select Date of Birth of Client before 1/01/2018"
## Description
Unable to select Date Of Birth of Client before 1/01/2018.

## Steps to Reproduce
Clients>>Create Client>>Select Date of Birth.

## Expected Behaviour
Able to select Date Of Birth before 1/01/2018.
## Actual Behaviour
Unable to select Date Of Birth before 1/01/2018.
## Settings
- Mifos X version: 17.07.01.RELEASE
- Browser used: Google-Chrome

## Screenshots, if any
![screenshot at

[2018-01-06 14:11] mbj36 commented on #2743
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-06 14:11] ankit01ojha commented on #2743
I am working on this.

[2018-01-06 16:19] ankit01ojha opened #2745 "Fields not aligned properly in charges of "New Application Loan" form."
## Description
While adding new charges the fields displayed are not properly aligned.

## Steps to Reproduce
Clients>>Select any client>>new loan >>select any product>>In the charges form, select add charges.

## Expected Behaviour
Fields are not properly aligned.
## Actual Behaviour
Fields should be properly aligned.
## Settings
- Mifos X version:  17.07.01.RELEASE
- Browser used: Google-Chrome

[2018-01-06 16:19] mbj36 commented on #2745
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-06 16:19] ankit01ojha commented on #2745
I am working on this.

[2018-01-06 16:32] Jov03 opened #2746 "new user or editing an existing user the available roles and selected roles heading overlap with available options dialog box in Safari."
## Description
While creating a new user or editing an existing user the available roles and selected roles heading overlap with available options dialog box. This issue is present only when we use Safari web browser.

## Expected Behaviour
![screen shot 2018-01-06 at 9 48 57 pm](https://user-images.githubusercontent.com/15383669/34641621-d7789926-f32c-11e7-9de1-a96ec4404b1c.png)

## Actual Behavi

[2018-01-06 16:32] mbj36 commented on #2746
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @ankit01ojha.

[2018-01-06 17:39] tanmayanand44 commented on #2714
@mbj36 I need some guidance.

[2018-01-06 21:25] anu-007 opened #2749 "No validation for existing funds"
## Description
Under organization >> manage funds there is no validation of existing funds i.e. if we edit an existing fund and leave it blank and hit save, then we didn't get any warning.

## Steps to Reproduce
organization >> manage funds edit any existing fund and leave it blank and hit save.

## Expected Behaviour
there should be a warning if we leave an existing field empty.

## Actual Behavi

[2018-01-06 21:25] mbj36 commented on #2749
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-06 21:25] anu-007 commented on #2749
I like to work on this.

[2018-01-06 22:11] anweshknayak opened #2752 "Run report button in Reports section not alligned properly"
## Description
Should be properly alligned

## Steps to Reproduce
Reports-> Run report

## Expected Behaviour

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used: Chrome

## Screenshots, if any

[2018-01-06 22:11] anweshknayak commented on #2752
on it

[2018-01-06 22:46] anweshknayak opened #2754 "Buttons not aligned in Interest Rate charts"
## Description
Buttons not aligned in Interest Rate charts in Products subgroups(Fixed Deposits, Recurring deposits etc)

## Steps to Reproduce
Products ->Fixed Deposit Products -> Choose any product -> Edit Interest Rate charts

## Expected Behaviour
Should be aligned

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used: Chrome

## Screenshots, if any
![screenshot from 2018-01-07 0

[2018-01-06 22:47] mbj36 commented on #2754
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @Agnessy.

[2018-01-06 22:47] anweshknayak commented on #2754
Claiming this

[2018-01-06 22:54] anweshknayak opened #2755 "Overflow of table header in Incentives popup"
## Description
Overflow of table header in Incentives popup

## Steps to Reproduce
Products -> Fixed Deposit-> Products  -> Interest Rate Charts -> Create Interest -> Rate Chart Incentives

## Expected Behaviour

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used:

## Screenshots, if any
![commun](https://user-images.githubusercontent.com/8139783/34644755-a4524f52-f362-11e7-9716-8d

[2018-01-06 22:54] mbj36 commented on #2755
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-06 22:55] anweshknayak commented on #2755
claiming this

[2018-01-06 22:57] anweshknayak opened #2756 "Button alignment in templates subsection and accounting"
## Description
 Button alignment in templates subsection

## Steps to Reproduce
1. Templates -> Choose anyone -> Advance options
2. Accounting ->Accural -> Run periodic accurals
## Expected Behaviour

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used:Chrome

## Screenshots, if any
![screenshot from 2018-01-07 04 18 01](https://user-images.githubusercontent.com/8139783/34644772-0d0

[2018-01-06 22:57] mbj36 commented on #2756
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-06 22:57] anweshknayak commented on #2756
Claiming this

[2018-01-06 23:02] abhaychawla opened #2757 "Popover keeps on flashing in Create User"
## Description
The popover message for Override password expiry policy in create user section keeps on flashing and thus cannot be read properly.

## Steps to Reproduce
Admin -> Users -> Create User -> Hover the mouse over question mark sign for Override password expiry policy

## Expected Behaviour
Popover should be visible on hovering the mouse over question mark sign

## Actual Behaviour
Popove

[2018-01-06 23:02] mbj36 commented on #2757
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @ankit01ojha.

[2018-01-06 23:02] abhaychawla commented on #2757
I am working on this.

[2018-01-07 04:54] ankit01ojha opened #2759 "In Editing Templates, the Template Keys preview is out of bound."
## Description
The template keys in the preview are out of the box.

## Steps to Reproduce
Admin>>Templates>>Select any template(of long template keys)>>Edit Template.
## Expected Behaviour
It should be inside the box.
## Actual Behaviour
Long template keys are out getting out of the box.
## Settings
- Mifos X version: 17.07.01.RELEASE
- Browser used: Google-Chrome

## Screenshots, if any
![screen

[2018-01-07 04:54] mbj36 commented on #2759
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-07 04:55] ankit01ojha commented on #2759
I am working on this.

[2018-01-07 05:25] ankit01ojha opened #2760 "Popover description is not showing the description in settings part of "Create loan application"."
## Description
The popover is not showing proper description in most of the fields of the settings part of "Create loan application".

## Steps to Reproduce
Admin>>Products>>Loan products>>Create loan product>>Go to Settings part>>hover over popover of  Interest calculation period, Interest calculation period, Moratorium etc.

## Expected Behaviour
Should display the description.
## Actual Behavio

[2018-01-07 05:25] mbj36 commented on #2760
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-07 05:25] ankit01ojha commented on #2760
I am working on this.

[2018-01-07 06:39] anweshknayak commented on #2759
duplicate of #2373. You can proceed from there

[2018-01-07 06:51] ankit01ojha commented on #2759
@anweshknayak , thanks :)
Since, #2373 is GCI labeled so it should be fixed after the GCI.
I am closing this issue then.

[2018-01-07 06:51] #2759 closed

[2018-01-07 07:33] ankit01ojha opened #2763 "Form validation missing in certain fields of "Create Fixed Deposit Product" form."
## Description
Form validation is missing from ```Minimum Deposit Term* ```  & ```Valid form Date ``` and ```description``` is not marked required.
## Steps to Reproduce
Admin>>Fixed Deposit Product>>Create Fixed Deposit.

## Expected Behaviour
An error message should be displayed when pressed next on these mentioned fields.
## Actual Behaviour
No error is displayed when pressed next in these ment

[2018-01-07 07:33] mbj36 commented on #2763
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-07 07:34] ankit01ojha commented on #2763
I am working on this.

[2018-01-07 07:55] ankit01ojha commented on #2757
@abhaychawla , Can you please check if this error is present in other places too. If this issue is at other places too then you can change the name of the issue to ```Flashing popover```. And send a PR with a combined fix. Because this issue was same like this one https://github.com/openMF/community-app/issues/2703 .

[2018-01-07 07:56] MYKatz opened #2764 "Create Group screen has redundant/non-functioning buttons"
## Description
On the "create group" screen there are two buttons at the very bottom: next and previous.  The previous button does not work (in my testing) and the next button just functions as a submit button.  These buttons aren't necessary as there already are cancel and submit buttons.

## Steps to Reproduce
Go to clients -> groups -> create new group and scroll down

## Expected Behaviour
Can

[2018-01-07 07:56] mbj36 commented on #2764
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @ankit01ojha.

[2018-01-07 08:01] MYKatz opened #2765 "Ambiguous "buttons" on create template"
## Description
On the "create template" screen, there are pieces of text one can click to add certain variables into a template.  They function fine, but their use is somewhat ambiguous, and may look like a glitch at first glance.

## Steps to Reproduce
Admin -> templates -> create template

## Expected Behaviour
Text should be styled as buttons, or at least have some indication that they are clic

[2018-01-07 08:01] mbj36 commented on #2765
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @ankit01ojha.

[2018-01-07 08:07] abhaychawla opened #2766 "Validation and Popover issue in Floating Rate Section"
## Description
1) Asterisks are missing for fields From Date and Interest Rate which are required fields
2) Question mark help icons for popovers are not properly aligned for Floating Rate Name and Floating Rate Periods
3) Popovers keep on flashing on hovering mouse over the question mark icons of Floating Rate Name, Is Base Lending Rate
4) On creation of a floating rate, label for Is base lending

[2018-01-07 08:07] mbj36 commented on #2766
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @ankit01ojha.

[2018-01-07 08:08] MYKatz opened #2767 "Spelling Mistake on "add client identifier""
## Description
There is a spelling mistake on add client identifier.

## Steps to Reproduce
Go to any client page, then click on the identities tab, then click add.

## Expected Behaviour
First option should be "National ID"
## Actual Behaviour
First option is "Natioanal ID"
## Settings
Mifos X version: 17.07.01.RELEASE (cloned from this repository)
Browser used: Google chrome

## Screenshots, if

[2018-01-07 08:08] abhaychawla commented on #2766
I am working on this issue.

[2018-01-07 08:08] mbj36 commented on #2767
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-07 08:10] ankit01ojha commented on #2764
claiming this one :)

[2018-01-07 08:11] ankit01ojha commented on #2766
@abhaychawla , for popover blinking issue please see the comment in https://github.com/openMF/community-app/issues/2757.

[2018-01-07 08:13] MYKatz opened #2768 "CTRL + Shift + n keyboard shortcut does not work on Google chrome"
## Description
ctrl + shift + n moves the app to the navigation screen in firefox, but this shortcut already exists in chrome, opening up a new incognito tab.  I think that, to increase compatibility, this shortcut could be changed to something that doesn't conflict.

## Steps to Reproduce
Press ctrl+shift+n in chrome.

## Expected Behaviour
Opens up navigation page
## Actual Behaviour
Opens new i

[2018-01-07 08:13] mbj36 commented on #2768
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @ankit01ojha.

[2018-01-07 08:19] MYKatz opened #2769 "Breadcrumb links to nonexistent page in "add charge""
## Description
The breadcrumb when adding a charge links to a 404 error.

## Steps to Reproduce
Go to any client page -> "+ add charge" -> click on "view client" in the breadcrumb.

## Expected Behaviour
Goes back to the client's page (viewclient/[id]), ex: /viewclient/42
## Actual Behaviour
Goes to a nonexistent page, /viewclient/
## Settings
Mifos X version: 17.07.01.RELEASE (cloned from this re

[2018-01-07 08:21] abhaychawla commented on #2769
I will work on this issue.

[2018-01-07 08:23] abhaychawla commented on #2757
@ankit01ojha Sure, I'll check an create a single issue!

[2018-01-07 09:05] anweshknayak commented on #2765
duplicate of #2373

[2018-01-07 12:27] risingone commented on #2768
Would like to investigate this. Thanks.

[2018-01-07 13:40] anweshknayak commented on #2427
Claiming this

[2018-01-07 13:47] anweshknayak commented on #1861
Claiming this

[2018-01-07 13:58] anweshknayak opened #2775 "Button alignment parent thread"
## Description
Button needs alignment

- [ ] Accounting -> Account Closure
- [ ] Collection Sheet
- [ ] Navigation
- [ ] Client
- [ ] Accounting
- [ ] Reports
- [ ] Dashboard

 refer #2756 for an example

## Expected Behaviour

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used: Chrome

## Screenshots, if any

[2018-01-07 13:58] mbj36 commented on #2775
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-07 14:01] anweshknayak commented on #2775
Claiming this

[2018-01-07 14:03] luckyman20 commented on #2768
Ctrl + Shift + I is another keyboard shortcut which is for inspect element in Chrome

[2018-01-07 14:05] anweshknayak opened #2776 "Remove button should be more bold and informative"
## Description
Remove button should be more bold and informative

## Steps to Reproduce
Client -> Create client -> Add family members -> Remove

## Expected Behaviour

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used: Chrome

## Screenshots, if any

![screenshot from 2018-01-07 19 24 00](https://user-images.githubusercontent.com/8139783/34650135-cee192c6-f3e1-11e7-9d9c-0edc2adea6

[2018-01-07 14:05] mbj36 commented on #2776
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @ankit01ojha.

[2018-01-07 14:05] anweshknayak commented on #2776
Claiming this

[2018-01-07 14:28] anweshknayak opened #2777 "Scroll to top parent thread"
## Description
Scroll to top button to be implemented in missing pages

- [x] Report
- [x] Accounting
- [x] Clients

## Expected Behaviour

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used:

## Claiming this
 Yes

[2018-01-07 14:28] mbj36 commented on #2777
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-07 17:35] AkashBhave opened #2779 "When viewing a Client, scroll button does not move in the proper direction"
## Description
When viewing a Client, the list of DataTables does not scroll in the proper direction. Each button should scroll in its corresponding direction, but instead, both the _right_ and the _left_ buttons scroll in the _right_ direction.

## Steps to Reproduce

1. On the top nav-bar, click on Clients > Clients.
2. Select any Client from the list of clients.
3. Right below the Client's name

[2018-01-07 17:36] mbj36 commented on #2779
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-07 18:21] AkashBhave opened #2780 ""Release Version: ... | Mifos X Release Date: ..." link at bottom of page is broken"
## Description
The link at the bottom of all pages that states the _Release Version_ and _Release Date_ of the Mifos X web client is broken. When it is clicked, the user is redirected to a **404 error page**.

## Steps to Reproduce

1. Login to the Mifos X web client
2. Navigate to any page, or just stay on the homepage
3. Click on the link at the very bottom of the page that says "Release Version

[2018-01-07 18:21] mbj36 commented on #2780
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-07 19:19] AkashBhave opened #2781 "Show items in drop-down in top navbar on hover"
## Description
This is a usability improvement. The Mifos X web client would be easier to navigate if the items in a drop-down in the top navbar were shown on hover. That way, a user could simply hover over a drop-down menu, such as "Admin", and select where they want to navigate to.

## Steps to Reproduce
1. Login to the Mifos X web client.
2. Navigate to any page, or stay on the home page.
3. Th

[2018-01-07 19:19] mbj36 commented on #2781
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-07 19:58] MYKatz commented on #2305
@MexinaD I wasn't able to reproduce this issue.  Could you please double-check to make sure it still exists?

[2018-01-07 20:36] shubhshrma commented on #2781
@AkashBhave are you working on this?

[2018-01-07 20:56] shubhshrma opened #2782 "Improve the table in view provisioning entries page"
## Description
The Accounting ->view provisioning entries page has table in which each row has three buttons in which text goes white when you hover which becomes difficult to read. Also the cursor changes to pointer over the whole row which has no use.

## Steps to Reproduce
Go to Accounting -> Provisioning Entries. Hover over rows.

## Expected Behaviour
1. The button text should be visible on h

[2018-01-07 20:57] mbj36 commented on #2782
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-07 20:57] shubhshrma commented on #2782
Working on it.

[2018-01-07 21:00] AkashBhave commented on #2781
@shubhshrma Yes, I am working on this issue at the moment.

[2018-01-07 23:26] Jov03 commented on #2714
can i take up this issue @tanmayanand44 @mbj36 ??

[2018-01-08 04:17] tanmayanand44 commented on #2714
@Jov03 Currently I am working on it.

[2018-01-08 06:02] Jov03 commented on #2714
alright .

[2018-01-08 06:04] ankit01ojha opened #2784 "Form Validation is missing from many fields in the app."
## Description
Form Validation is missing from many fields in the app. Because of that, these fields are not showing ```required fields``` beside them when they are not filled by the user( although they are required).

## List of locations where it is missing:-

- [x]  Create Standing Instructions
- [x]  Create Closure
- [x]  Migrate opening balances
- [x]  Frequent Postings
- [x] Add Journal Entr

[2018-01-08 06:05] mbj36 commented on #2784
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-08 06:06] ankit01ojha commented on #2784
I am working on this.
@gkrishnan724 Would it be nice if I create a single commit and add all the changes or shall I create different commits for different files/forms.

[2018-01-08 09:37] Jov03 opened #2785 "Holiday Table Overflow the content div"
## Description
Holiday table overflow the div with content class.

## Settings
- Mifos X version:17.07.01.RELEASE
- Browser used:Chrome

## Screenshots
![screen shot 2018-01-08 at 2 49 20 pm](https://user-images.githubusercontent.com/15383669/34665234-6dbeb54c-f485-11e7-9881-20636514f78a.png)

[2018-01-08 09:38] mbj36 commented on #2785
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @ankit01ojha.

[2018-01-08 12:51] gkrishnan724 commented on #2784
@ankit01ojha, please create a list of places where this is happening and then start working on this

[2018-01-08 14:17] kazacube-hsmaiti commented on #2653
for your information, it was working on a previous version but not in 17.01.07

[2018-01-08 14:49] abhaychawla opened #2789 "Validation message overlaps with dropdown in Create Entity Data Table Checks"
## Description
The validation messages overlap with the dropdowns while creation of an entity for data table checks.

## Steps to Reproduce
Admin -> Organisation -> Entity Data Table Checks -> Create Entity-Data Table Check
Leaving dropdowns blank press submit.

## Expected Behaviour
The validation messages for required fields should not overlap with the dropdowns.

## Actual Behaviour
The validat

[2018-01-08 14:49] mbj36 commented on #2789
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @ankit01ojha.

[2018-01-08 14:50] abhaychawla commented on #2789
I am taking up this issue.

[2018-01-08 15:25] tanmayanand44 commented on #2756
@anweshknayak Can I assist you on this issue.

[2018-01-08 15:30] tanmayanand44 commented on #2780
@mbj36 @AkashBhave Can I work on this issue?

[2018-01-08 16:02] AkashBhave commented on #2780
@tanmayanand44 Yes, you can work on this issue. I am not working on it at the moment.

[2018-01-08 17:30] tanmayanand44 commented on #2779
@AkashBhave @mbj36  Can I work on this?

[2018-01-08 17:37] tanmayanand44 commented on #2779
@AkashBhave The left and right buttons are working fine.

[2018-01-08 17:39] tanmayanand44 commented on #2779
![scroll](https://user-images.githubusercontent.com/33908900/34683687-cf55a8fe-f4c8-11e7-9bd8-c988dd848385.gif)

[2018-01-08 17:42] tanmayanand44 commented on #2767
@MYKatz @mbj36 Can I work on this issue?

[2018-01-08 17:43] AkashBhave commented on #2779
@tanmayanand44 Interesting. It doesn't work on my end. Maybe it's a browser compatibility issue. If you look at my screenshot, you can see that both buttons go in one direction.

[2018-01-08 17:49] tanmayanand44 commented on #2779
@AkashBhave Yes you are right. Can you recheck it.

[2018-01-08 19:56] risingone opened #2792 "JS code being shown up in title of the app while the page loads up."
## Description
Provide a brief overview of the enhancement or issue.
- When we serve or load the app while loading the language, the title tag shows up the JS code.
- Other fields too show up the respecting labels but not the exact code, which I am not sure we have a way out for. What do you think @gkrishnan724 @mbj36 ?

## Steps to Reproduce
Just reload the app, and observe the title of the app.

[2018-01-08 19:57] mbj36 commented on #2792
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-08 19:58] risingone commented on #2792
I would like to work on this if its an appropriate issue. Thanks.

[2018-01-08 23:09] Jov03 opened #2794 "Create fixed deposit product form does not have numeric value validation."
## Description
Create fixed deposit product form does not have numeric value check validation which allows the user to fill the entire form with alphanumeric characters and when we submit only then error is displayed

## Expected Behaviour
field where numeric values has to be entered should be validated as the user is filling the form.

## Settings
- Mifos X version: 17.07.01
- Browser used:Safari

[2018-01-08 23:09] mbj36 commented on #2794
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-08 23:10] Jov03 commented on #2794
I'll take up this issue.

[2018-01-09 06:46] abhaychawla opened #2795 "User can skip over steps by clicking on progress bar directly which does not validate the data, only clicking on next button does"
## Description
This issue occurs at following places:
- [x] Create Loan Product
- [x] Create Saving Product
- [x] Create Share Product
- [x] Create Fixed Deposit Product
- [x] Create Recurring Deposit Product

A progress bar indicates the operations of the user. While clicking on the next button validates the data on the current page, clicking directly on the progress bar does not. So there is no

[2018-01-09 06:47] mbj36 commented on #2795
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-09 06:48] abhaychawla commented on #2795
I will work on this issue.

[2018-01-09 11:30] #2754 closed

[2018-01-09 11:30] anweshknayak commented on #2756
moving to #2775 closing this

[2018-01-09 11:30] #2756 closed

[2018-01-09 16:59] Shivamkumar4848 opened #2797 "Mifos X Web App - Fix Incorrect icon in Create Group page"
## Description
The icon of Add button in **Create Group** page is incorrect.

## Steps to Reproduce
Navigate to **Groups > Create Group**

## Expected Behaviour
There should be a **Plus(+)** icon in  **Add** Button

## Actual Behaviour
The Add button icon is showing **angle-double-right (>>)** icon

## Settings
- Mifos X version: **17.07.01.RELEASE**
- Browser used: **Firefox (Developer Edition) 5

[2018-01-09 16:59] mbj36 commented on #2797
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @ankit01ojha.

[2018-01-09 17:55] anweshknayak opened #2799 "Remove unwanted errors from grunt validate"
## Description
Exclude unwanted errors for keywords like nbsp and some entities, from grunt validate

## Steps to Reproduce
grunt validate -> unwanted errors

## Expected Behaviour

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used:

## Screenshots, if any
![screenshot from 2018-01-09 23 16 33](https://user-images.githubusercontent.com/8139783/34735125-52c4954e-f594-11e7-98c9-76a8

[2018-01-09 17:55] mbj36 commented on #2799
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-09 18:13] anweshknayak commented on #2799
@mbj36 @gkrishnan724 is this a valid issue ?

[2018-01-09 18:56] 96mohitm commented on #2797
Hi, @mbj36 @ankit01ojha I want to take up this issue.

[2018-01-10 06:42] ankit01ojha commented on #2797
@Shivamkumar4848 i guess its fine to leave it the way it is as when you add a client it shows the added client to right side from the left side display. I guess its not an issue :)
![screenshot_2018-01-10-12-06-58](https://user-images.githubusercontent.com/21126132/34758985-70fa68fc-f5ff-11e7-961d-79d8f56e6664.png)

[2018-01-10 10:00] #2797 closed

[2018-01-10 10:17] Shivamkumar4848 opened #2800 "Fix Add button icon - Mifos X Web App"
## Description
When you view any center, there is an **Add group** button in general section.

## Steps to Reproduce
Navigate to Centres > View any center > General

## Expected Behaviour
In the general section, there should be a **plus (+)** icon in **Add group** button.

## Actual Behaviour
The icon is not showing in **Add group** button.

## Settings
- Mifos X version: 17.07.01.RELEASE
- Browse

[2018-01-10 10:17] mbj36 commented on #2800
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @ankit01ojha.

[2018-01-10 10:39] Shivamkumar4848 opened #2801 "Mifos X Web App - Fix Delete button icon"
## Description
When you view any User, there is an option for delete user details.

## Steps to Reproduce
Navigate to Admin > Users > Click on any User

## Expected Behaviour
There should be an icon of delete in the button.

## Actual Behaviour
No any icon in Delete button.

## Settings
- Mifos X version: 17.07.01.RELEASE
- Browser used: Firefox (Developer Edition)

## Screenshot:
![screenshot 33]

[2018-01-10 10:39] mbj36 commented on #2801
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @ankit01ojha.

[2018-01-10 11:21] Shivamkumar4848 opened #2802 "Notes Field Streching Error - Mifos X Web App"
## Description
When you view any group, there is an option for add notes in the section of notes.
when you stretch it, there is no limit on that.
It can extend over card also.

## Steps to Reproduce
Navigate to Groups > View any group > Notes

## Expected Behaviour
The card should be extended in a limit of field.

## Actual Behaviour
It is extending over card also.

## Settings
- Mifos X version:

[2018-01-10 11:21] mbj36 commented on #2802
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @ankit01ojha.

[2018-01-11 06:27] MexinaD commented on #2305
@MYKatz  This issue has already been fixed though i don't see any PR refered to it

[2018-01-11 08:42] anweshknayak opened #2805 "More responsive for mobile/tablet view"
## Description
Make the website more responsive to mobile/tablet view.

## Steps to Reproduce
Use mobile/tablet size to view the site. Some functionality doesn't work.
Use media queries to solve the problem.

## Expected Behaviour

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used:

## Screenshots, if any

[2018-01-11 08:42] mbj36 commented on #2805
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-11 09:37] anweshknayak commented on #2805
Claiming this

[2018-01-11 11:32] anweshknayak opened #2807 "Integrating angular toast (notifcations)"
## Description
Integrating angular toasts for workflows like
- [ ] create account
- [ ] create loans
- [ ] create product

## Steps to Reproduce
After you create some new data a new notification pops up to show that it has been performed.

Example :
http://tamerayd.in/ngToast/# -> Create a sample toast
## Actual Behaviour

## Settings
- Mifos X version:
- Browser used: Chrome

## Screenshots, if a

[2018-01-11 11:32] mbj36 commented on #2807
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-11 12:14] Agnessy opened #2808 "Share Charge"
**Steps to Reproduce**
Create Charge with Charge Type = Share
Submit
When viewing or edit there is Charge Payment Mode.. And it wasn't there during creation..
And when you edit charge payment mode , after submitting .. it remains the previous value

 **Expected Behavior**
According to user manual, Charge Payment Mode should be available only in Loan Charge.

 **Actual Behavior**
It create Charge P

[2018-01-11 13:17] ankit01ojha commented on #2808
i am working on it

[2018-01-11 16:27] gkrishnan724 commented on #2795
@abhaychawla I don't think we should restrict the user from skipping steps, a user might want to fill the details of the step later. Instead of restricting the user from skipping steps, a better method would be to validate when a user switches steps by clicking on the progress bar.

[2018-01-11 17:53] abhaychawla commented on #2795
Okay I'll work on an update

[2018-01-12 15:46] arthurmoreirarei opened #2812 "dropdowns and automatic content on textbox MISSING"
## Description
I dont to create currency and make some registers...
not information on dropdown menu, and the automatic search for currency not load.

## Steps to Reproduce
create products and currency

## Expected Behaviour
show the content for i can to select options and save the register
## Actual Behaviour

If i click in save on currency register
 field is required
You must select at least one

[2018-01-12 15:47] mbj36 commented on #2812
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-13 17:14] ankit01ojha opened #2813 "Bread crumb missing in Fund Mapping"
## Description
Bread crumb missing in Fund Mapping.

## Steps to Reproduce
Organisation>>Fund Mapping

## Expected Behaviour
Bread crumb should be present.
## Actual Behaviour
Bread crumb is not present.
## Settings
- Mifos X version: 17.07.01.RELEASE
- Browser used: Google-Chrome

## Screenshots, if any
![screenshot at 2018-01-13 22 38 51](https://user-images.githubusercontent.com/21126132/349082

[2018-01-13 17:14] mbj36 commented on #2813
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-13 17:30] ankit01ojha commented on #2813
i am working on it.

[2018-01-13 21:39] ankit01ojha commented on #2764
@MYKatz , Actually these buttons are not redundant. When an entity is created for group these buttons(which are the part of wizard) are used to move to the next form.
![screenshot at 2018-01-14 03 00 07](https://user-images.githubusercontent.com/21126132/34910322-4c12d2fa-f8d8-11e7-8616-804160647646.png)

[2018-01-14 13:17] ankit01ojha opened #2816 "Preview should only be displayed only when the user fills the form."
## Description
The preview should be displayed only when the user fills the form. Right now, it is displayed even if the user does not fill the form and only clicks on the preview from the progress bar.

## Steps to Reproduce
Eg:-
Admin>>Products>>Select any product (eg:- Loan products)>>Create>>click on the preview directly from the progress bar.

## Expected Behaviour
Preview should be displayed

[2018-01-14 13:17] mbj36 commented on #2816
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-14 13:18] ankit01ojha commented on #2816
I am working on it.

[2018-01-14 19:25] ankit01ojha opened #2817 "Number validation is missing in many fields of different forms."
## Description
Number validation is missing in many fields of different forms, because of which if a user inputs something other than a number it does not shows a message to warn user for only numeric values.

## List :-
- [ ] Loan Products
- [ ] Share Products
- [ ] Savings Product
- [ ] Charges
- [ ] Fixed Deposits Products
- [ ] Recurring Deposit Products

## Expected Behaviour
An error message

[2018-01-14 19:25] mbj36 commented on #2817
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-14 19:25] ankit01ojha commented on #2817
I am working on it.

[2018-01-15 11:33] siddharth2010 commented on #2800
I would like to work on this issue.

[2018-01-15 12:10] siddharth2010 commented on #2800
Here it is.
![mifos](https://user-images.githubusercontent.com/32238400/34941754-148b1e48-fa1b-11e7-812c-59110971ec5a.png)

I am sending a pull request regarding this.

[2018-01-15 12:31] siddharth2010 commented on #2801
I would like to work on this issue

[2018-01-15 12:34] siddharth2010 commented on #2801
Here it is:
![final2](https://user-images.githubusercontent.com/32238400/34942658-71fe1622-fa1e-11e7-89fc-4ec8b3076ca8.png)
I am sending a pull request regarding this.

[2018-01-15 12:57] siddharth2010 commented on #2802
I would like to work on this issue

[2018-01-15 12:59] siddharth2010 commented on #2802
@Shivamkumar4848 @mbj36
This is the default size of the notes pane:
![notes](https://user-images.githubusercontent.com/32238400/34943466-cd30acaa-fa21-11e7-8204-da2cd22da98b.png)
I was thinking how about we restrict the resizing of the notes pane to vertical only.
This will solve the issue

[2018-01-15 13:01] luckyman20 commented on #2802
@siddharth2010 We have to restrict on both vertical and horizontal as the user can stretch it to outside of card also.

[2018-01-15 13:03] siddharth2010 commented on #2802
@luckyman20 Thats right. Thanks for pointing it out. I will take care about that as well.

[2018-01-15 13:06] siddharth2010 commented on #2802
@luckyman20 hey, i just noticed, the vertical stretching wont be a problem. look:
![1](https://user-images.githubusercontent.com/32238400/34943725-dc9e7c66-fa22-11e7-88d9-6528a56084a1.png)
![screenshot from 2018-01-15 18-35-16](https://user-images.githubusercontent.com/32238400/34943734-e3fc8976-fa22-11e7-913a-1ce83e58e3e1.png)

[2018-01-15 14:34] abhaychawla commented on #2795
@gkrishnan724 I have updated the PR. Please have a look.

[2018-01-15 14:38] abhaychawla commented on #2817
The issue is similar to #2794

[2018-01-15 18:28] shubhshrma opened #2820 "Icons missing from delete/edit buttons in multiple pages"
## Description
Icons are missing from buttons(mostly from delete but a few edit also).

## Steps to Reproduce
A list of pages that have buttons without icons that I found till now.
1. Accounting: chart of accounts, closing entries, accounting rules

2. System: manage data table, manage roles and permissions, manage hooks, manage reports, scheduler jobs, configurations

3. Products: charges, produc

[2018-01-15 18:28] mbj36 commented on #2820
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-15 18:28] shubhshrma commented on #2820
I'll work on it.

[2018-01-16 11:56] ankit01ojha commented on #2817
@abhaychawla , yes this issue is similar, but in this issue, I have tried to cover all the places where the issue is happening. So, that in a single issue all the fields can be fixed :)

[2018-01-16 13:53] ankit01ojha opened #2821 "Blue colour is not shown when hovered over."
## Description
When hovered over lists in ```manage hooks``` , ```account number prefrences``` and in ```entity to entity mapping```.

## Steps to Reproduce
Admin>>System>>Add Hooks>>Hover over any list.
Admin>>System>>Account number prefrences
Admin>>System>>Entity to entity mapping
## Expected Behaviour
The blue colour of while hovering over the list is missing.
## Actual Behaviour
Blue colour d

[2018-01-16 13:53] mbj36 commented on #2821
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-16 13:53] ankit01ojha commented on #2821
I am working on it

[2018-01-16 16:37] shubhshrma opened #2823 "Breadcrumb missing from AdHocQuery and create AdHocQuery pages"
## Description
The path of browsing is missing from top of the pages in AdHocQuery section of organization.

## Steps to Reproduce
Go to organization -> AdHocQuery

## Expected Behaviour
Breadcrumb should be present.

## Settings
- Mifos X version: 17.07.01
- Browser used: Firefox

## Screenshots, if any

![1](https://user-images.githubusercontent.com/20224346/35000102-7d3345d0-fb09-11e7-9851-abcf

[2018-01-16 16:37] mbj36 commented on #2823
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-16 16:37] shubhshrma commented on #2823
Working on it.

[2018-01-16 17:50] abhaychawla opened #2824 "Incorrect Format of Date in Fund Mapping"
## Description
The date format specified by settings is not being followed in Fund Mapping section of Organisation.

## Steps to Reproduce
Organisation -> Fund Mapping

## Expected Behaviour
The date format specified by settings should be followed.

## Actual Behaviour
The date format as mentioned by settings is not being followed.

## Settings
- Mifos X version: 17.07.01.RELEASE
- Browser used: G

[2018-01-16 17:50] mbj36 commented on #2824
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @ankit01ojha.

[2018-01-16 17:50] abhaychawla commented on #2824
I'll work on this issue.

[2018-01-16 17:57] abhaychawla opened #2825 "Changing the date format in settings does not update the date format at various places containing datepickers in the app"
## Description
On changing the date format in settings, it did not update the date format at places containing date pickers in the app.

## Steps to Reproduce
Mifos -> Settings -> Select any other date format
The date format doesn't get updated in date pickers of the app.

## Expected Behaviour
On changing the date format in settings, it should update the date format in date pickers of the app.

#

[2018-01-16 17:57] mbj36 commented on #2825
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-16 17:57] abhaychawla commented on #2825
I am working on this issue.

[2018-01-16 21:37] Hersan1962 opened #2826 "New version of mifos does not bring the information of the currency by countries"
## Description
New version of mifos does not bring the information of the currency by countries
he currency table is empty and you can not define any product
The Global Settings tables are empty too

## Steps to Reproduce
When trying to register the currency and place the initial letter of the country, it does not bring information because the table is empty

[2018-01-17 07:15] anweshknayak commented on #2826
@Hersan1962 please provide steps to reproduce.

[2018-01-17 13:22] anweshknayak opened #2827 "Input box not properly alligned"
## Description
Input box not properly aligned in Organization
## Steps to Reproduce
Organization -> Manage Holiday -> Create Holiday

## Expected Behaviour

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used:

## Screenshots, if any
![screenshot from 2018-01-17 18 41 45](https://user-images.githubusercontent.com/8139783/35044728-782c33cc-fbb7-11e7-8777-09fab4ef318f.png)

### Claimi

[2018-01-17 13:22] mbj36 commented on #2827
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-17 13:26] anweshknayak opened #2828 "Refactoring existing code"
## Description
Provide a brief overview of the enhancement or issue.

## Steps to Reproduce
- [ ] templateurl
 https://github.com/openMF/community-app/blob/develop/app/scripts/modules/datepicker.js#L212
can be done as follows
 templateUrl: path to html file

## Expected Behaviour

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used:

## Screenshots, if any

[2018-01-17 13:26] mbj36 commented on #2828
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-17 13:26] anweshknayak commented on #2828
Will keep adding more to the list.

[2018-01-18 10:49] sarthak-sehgal opened #2832 "Cursor not changing to hand on links"
## Description
Cursor not changing to a pointer/hand on hovering upon links,

## Steps to Reproduce
Click on user's name on top right > Hover on "Help"
Click on user's name on top right > Hover on "Settings"
Slide in the menu on left > Hover on "Help"

## Expected Behaviour
Cursor should change to a hand on hovering upon a link.

## Actual Behaviour
Cursor is not changing to a hand and is instead

[2018-01-18 10:49] mbj36 commented on #2832
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-19 09:49] Agnessy opened #2833 "Staff Assignment History alignment"
**Steps to Reproduce**
Go to Center  >> More >> Staff Assignment History

**Expected Behavior**
Staff Assignment History should not overlap Release Version Link

![staff](https://user-images.githubusercontent.com/13551795/35152664-5b0612d0-fd34-11e7-88c5-0b7823578890.png)

[2018-01-19 09:49] mbj36 commented on #2833
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-19 13:04] ankit01ojha commented on #2833
@mbj36 duplicate of #2723

[2018-01-19 13:05] ankit01ojha commented on #2833
@Agnessy , I have already created this issue and had sent the PR for this :)

[2018-01-19 13:12] Agnessy commented on #2833
@ankit01ojha Thanks, Let me edit.

[2018-01-19 15:49] abhaychawla opened #2836 "uib-tooltip for displaying Status has not been implemented everywhere in the app"
## Description
uib-tooltip has been used for displaying the status while hovering over the icon in clients and loan products page.
1) The same can be implemented in the groups and centers page, instead of displaying status as text near to the icon.
2) Also in the list of charges, the column 'Active' can be renamed to 'Status' and a similar colour coded icon along with tooltip can be used to denote

[2018-01-19 15:49] mbj36 commented on #2836
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @ankit01ojha.

[2018-01-19 15:50] abhaychawla commented on #2836
I'll work on this issue.

[2018-01-19 21:42] abhaychawla opened #2839 "Redundant Breadcrumb link in Add/Edit Currency Configuration"
## Description
While adding/editing a currency configuration an unnecessary, redundant breadcrumb link is displayed.
The add/edit button should also hide on click.

## Steps to Reproduce
Admin -> Organisation -> Currency Configuration -> Add/Edit
A redundant breadcrumb link is displayed on top left. The add/edit button is still being displayed.

## Expected Behaviour
There is no requirement of dis

[2018-01-19 21:42] mbj36 commented on #2839
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-19 21:43] abhaychawla commented on #2839
I'll work on this issue.

[2018-01-19 22:17] abhaychawla opened #2841 "Redundant Next/Previous Buttons in Share Products, Data Not Completely Showing Up"
## Description
There are redundant next/previous buttons in share products and complete data does not show up on the page even after clicking the buttons.

## Steps to Reproduce
Admin -> Products -> Share Products
(Unnecessary next and previous button are being displayed at the bottom that do not work)

## Expected Behaviour
The complete data should be displayed and the next/previous buttons are n

[2018-01-19 22:17] mbj36 commented on #2841
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @ankit01ojha.

[2018-01-19 22:17] abhaychawla commented on #2841
I am working on this issue.

[2018-01-20 08:22] ankit01ojha opened #2842 "Paging missing"
## Description
Paging missing in these places. Paging should be like present in Clients, Groups etc, so, that user doesn't have to scroll and scroll.

- [ ] Loan Products
- [ ] Savings Products
- [ ] Share Products
- [ ] Fixed Deposit Product
- [ ] Recurring Deposit Product
- [ ] Charges
- [ ] Manage Offices
- [ ] Manage Employees
- [ ] Provisioning Criteria
- [ ] Teller/Cash Management
- [ ] Mana

[2018-01-20 08:22] mbj36 commented on #2842
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-20 08:22] ankit01ojha commented on #2842
I am working on it.

[2018-01-20 08:36] ankit01ojha opened #2843 "Share Products in not showing the newly added share product"
## Description
The list of Share Products is not showing the newly added share product in it.

## Steps to Reproduce
Admin>>Products>>Share Products>> Create new share product(fill all the required details along with the description)>>Check the product in the Share Product list.

## Expected Behaviour
Newly added Share Product should be displayed in the share products list.
## Actual Behaviour
New

[2018-01-20 08:38] ankit01ojha commented on #2843
@santoshmath can you please confirm this.

[2018-01-20 09:06] abhaychawla commented on #2843
@ankit01ojha I already figured that out in #2841 and have worked upon the same.

[2018-01-20 09:10] abhaychawla commented on #2842
@ankit01ojha All sections of products seemed not to have pagination, and the next/previous buttons in share products were non-functional so I removed them and now the complete data is shown on that page. Although you are right there should be pagination can we please confirm form @mbj36 or @gkrishnan724 before you work upon this as I seemed to do totally opposite of that just now after investigati

[2018-01-20 12:23] ankit01ojha commented on #2842
@abhaychawla I guess you should not remove those buttons from Share Products if the list of Share Products is fixed then the newly added Products will be displayed and paging will be needed then.

[2018-01-20 13:24] abhaychawla commented on #2842
Sure, I can add them but as they were not present anywhere else I wanted to wait for a suggestion from one of the mentors about the pagination.

[2018-01-20 15:34] abhaychawla opened #2845 "Unable to load Loan Approval and Loan Disbursal Data"
## Description
While trying to access the data for Loan Approval and Loan Disbursal in Checker Inbox and Tasks, the server returns an error.

## Steps to Reproduce
In the navigation bar present on the left, click Checker Inbox and Tasks -> Loan Approval/Loan Disbursal
Data is not loaded.

## Expected Behaviour
The data should be loaded for Loan Approval and Loan Disbursal.

## Actual Behaviour
The

[2018-01-20 15:34] mbj36 commented on #2845
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-20 15:35] abhaychawla commented on #2845
@mbj36 Is it an issue in the backend?

[2018-01-20 16:03] abhaychawla opened #2846 "Unable to filter data, missing pagination in Reschedule Loan"
## Description
The Filter by Name field isn't working in Reschedule Loan Section of Checker Inbox and Tasks. Also, complete data is not being shown due to missing pagination.

## Steps to Reproduce
In the navigation bar present on the left, click Checker Inbox and Tasks -> Reschedule Loan
Try typing something in the filter by name text field. Data is not filtered.
Complete data is not being shown

[2018-01-20 16:04] mbj36 commented on #2846
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-20 16:04] abhaychawla commented on #2846
I'll work on this issue.

[2018-01-20 17:55] ankit01ojha commented on #2842
@abhaychawla , since it is not present in the Products (but it is present in clients, centers etc), that's why I created the issue and adding them for better UI.

[2018-01-20 18:16] ankit01ojha opened #2847 "Bread crumb missing in Attendance"
## Description
Bread crumb missing in Attendance.

## Steps to Reproduce
Clients>>Groups>>Select any group>>More>>Attendance
Clients>>Centers>>Select any center>>More>>Attendance

## Expected Behaviour
Bread crumb should be present in the attendance.
## Actual Behaviour
Bread crumb is not there in attendance.
## Settings
- Mifos X version:  17.07.01.RELEASE
- Browser used: Google-Chrome

## Screen

[2018-01-20 18:16] mbj36 commented on #2847
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-20 18:17] ankit01ojha commented on #2847
i am working on this

[2018-01-20 21:03] abhaychawla commented on #2842
Okay

[2018-01-21 10:14] tanmayanand44 commented on #2845
@abhaychawla I think an null json is being sent.

[2018-01-22 07:16] iknoorjobs commented on #2821
@ankit01ojha Can I work on this issue?

[2018-01-22 09:57] shubhshrma commented on #2827
Can i work on this?

[2018-01-22 10:06] anweshknayak commented on #2827
sure go ahead

[2018-01-22 19:23] sarthak-sehgal opened #2850 "Error message not aligned"
## Description
The error message displayed, "Please fill out this field", upon logging in with an empty password or username field is not aligned properly.

## Steps to Reproduce
Open the Mifos X webapp > Login with either the username or the password field empty

## Expected Behaviour
The error message should be pointing to the field which is empty.

## Actual Behaviour
The error message is not p

[2018-01-22 19:23] mbj36 commented on #2850
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-22 19:26] sarthak-sehgal commented on #2850
I am working on this.

[2018-01-23 09:04] anweshknayak opened #2851 "Enhance layout for input forms"
## Description
Enhance layout for input forms which are not uniform and responsive throughout pages.

## Steps to Reproduce
Using https://purecss.io/forms/
which in turn will help to make the forms more responsive.
After completing this step #2805 can be done properly.

## Expected Behaviour

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used:

## Screenshots, if any

[2018-01-23 09:04] mbj36 commented on #2851
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-23 09:41] iknoorjobs commented on #2851
@anweshknayak Can I work on this ?
And which form is to be enhanced?

[2018-01-23 14:38] gkrishnan724 commented on #2851
@anweshknayak @iknoorjobs we can start working on this after some more discussion with the community.

[2018-01-23 16:22] sarthak-sehgal commented on #2850
It is an issue by Firefox and not a styling issue of Mifos X platform. Hence, closing this issue.

[2018-01-23 16:22] #2850 closed

[2018-01-24 17:22] iknoorjobs commented on #2792
@risingone Fixed the issue. Kindly check.

[2018-01-25 04:14] gkrishnan724 commented on #2792
@risingone  I guess this is a problem with internet connection, It might take time to apply language filters I guess.

[2018-01-25 04:14] gkrishnan724 commented on #2792
@iknoorjobs That is not a right fix.

[2018-01-25 09:31] anweshknayak opened #2854 "Before moving to next step in application process current mandatory fields should be filled"
## Description
Blocking the move next in application process if mandatory fields not complete in current page

## Steps to Reproduce

## Expected Behaviour
Example : https://qsurvey.mozilla.com/s3/notes
Mozilla org sticks to this guideline
#2807  toast notifications can also be used here if user doesn't fill the mandatory fields and tried to move ahead.

## Actual Behaviour
Can move ahead without

[2018-01-25 09:31] mbj36 commented on #2854
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-26 11:10] ankit01ojha commented on #2464
@Agnessy ,  @MexinaD is correct, it's not fetching the payment type details. So, it's better if the ```payment type``` field is removed.
I am working on this.

[2018-01-26 16:47] sarthak-sehgal opened #2855 "Wrong error message, also showing ng code"
## Description
The error message being displayed upon entering an invalid date in the "Create holiday" section is wrong and is also displaying up Angular code which is not expected to be understandable by the user.

## Steps to Reproduce
Mifos Menu Bar >> Admin >> Organization >> Manage Holidays >> Create Holiday >> Enter name, from date, to date >> Select "Repayment Scheduling Type" as "Reschedul

[2018-01-26 16:48] mbj36 commented on #2855
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mbj36.

[2018-01-26 16:50] sarthak-sehgal commented on #2855
Working on this.

[2018-01-27 18:19] anweshknayak commented on #2855
It is not showing the wrong message. Just it has not been added to https://github.com/openMF/community-app/tree/develop/app/global-translations. Check here.

[2018-01-27 19:32] sarthak-sehgal commented on #2855
@anweshknayak, yes, thanks for the help. Added. 😃

[2018-01-27 20:51] sarthak-sehgal opened #2859 "Future joining dates possible while creating employee"
## Description
In the "Joined on" section which is mandatory to be filled while creating an employee, future dates are disabled on the calendar which pops up but can be manually types and are successfully validated.

## Steps to Reproduce
Mifos Menu Bar >> Admin >> Organization >> Manage Employees >> Create Employee >> Enter all the required fields >> In the joining date, enter a future date manua

[2018-01-27 20:51] mbj36 commented on #2859
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @mbj36, and @ankit01ojha.

[2018-01-28 05:36] ankit01ojha commented on #2859
@sarthak-sehgal , This issue might be present in other places also, it would be nice if you could create a parent issue for missing validations when restricted dates are entered (I found one in ManageOffices).

[2018-01-28 14:55] sarthak-sehgal commented on #2859
@ankit01ojha, thanks for the info. I'll check at other places too (where the same input field validation has been used) and then create a parent issue soon.

[2018-01-28 23:40] anweshknayak commented on #2777
@abhaychawla I have almost done it. Just some few work left. Will send a pr soon

[2018-01-30 11:16] iml-v commented on #2775
@anweshknayak @mbj36  I want to work on  it ,can you assign me .

[2018-01-30 11:23] anweshknayak commented on #2775
@iml-v send a PR for which section you want to do. There are many bugs in each section.

[2018-01-30 15:15] iml-v commented on #2775
Working on it.

[2018-02-01 19:31] anweshknayak commented on #2752
@gkrishnan724
![screenshot from 2018-02-02 01-00-40](https://user-images.githubusercontent.com/8139783/35698960-9de8f2cc-07b4-11e8-92f5-b33638c75c84.png)